[2016-08-10 15:37] jsquyres commented on #2253
Fixed by #2252.

@heartinpiece Github pro tip: you can put the text "Fixes #2252" in the commit message in a PR, and it will auto-close the issue when the PR is merged.

[2016-08-10 15:37] #2253 closed

[2016-08-10 17:50] #2240 closed

[2016-08-10 19:20] supunkamburugamuve opened #2257 "Get the correct endpoint from FI_SHUTDOWN"
For the shutdown event we can read fi_eq_cm_entry. From this how can we figure out the correct fid_ep? I'm using a polling set to get the events.

[2016-08-11 04:41] bturrubiates opened #2260 "Update util poll implementation"
Update the util poll implementation based on discussion in #2240.

[2016-08-11 05:09] bturrubiates opened #2262 "Should there be a timeout associated with an asynchronous AV insertion?"
Currently, there doesn't seem to be a way for a user to configure a timeout for an asynchronous AV insertion. There also doesn't seem to be a way to cancel an asynchronous AV operation. As far as I can tell, `fi_cancel` only operates at the `ep` level.

Should there be some way to specify a timeout or maybe cancel an outstanding operation? Maybe this could be part of a future `fi_av_*` API update

[2016-08-13 00:48] bturrubiates opened #2265 "usnic: EP_RDM and EP_MSG *_size_left functions don't properly handle disabled endpoints"
Recently the size left test was changed in ofiwg/fabtests#543 to check the behavior of the size left functions when called on an endpoint that has not been enabled. The `usNIC` provider invalidly checks if a tx context has been created to determine whether the endpoint has been enabled. This property is allocated during creation, not in the enable code path.

Need to find another property to check

[2016-08-15 14:32] jsquyres commented on #2226
Per https://github.com/ofiwg/libfabric/pull/2261#issuecomment-239242466, @jithinjosepkl said:

Do you have an ETA for this, perchance?

[2016-08-15 14:35] jsquyres commented on #2226
I note, too, that the reproducer only fails *once* out of 128 calls.  If the current sockets provider is not actually freeing slots in the AV, shouldn't (128-32) of the calls fail?

[2016-08-15 16:36] goodell commented on #2262
One option: we could set the timeout via an `fi_control()` operation.

[2016-08-15 18:41] sayantansur commented on #2262
fi_control sounds cool! I think that interface is not as abused (yet).

[2016-08-15 19:29] bturrubiates commented on #2262
Yes, that's one option but that would be more of a general configurable timeout. Is that sufficient, or should there be a per-operation timeout as well?

[2016-08-15 19:39] goodell commented on #2262
I have trouble imagining value in a per-operation timeout (though if someone has a counterexample I'd love to hear it).  The potentially blocking parts of an AV insertion are comparable to a route lookup or an ARP lookup.  For example, on Linux you just configure a system-wide ARP timeout.

Any application written over libfabric that I can imagine writing will at most configure this timeout once b

[2016-08-15 20:37] shantonu commented on #2226
@jsquyres, sockets provider reports error when number of entries exceeds 32 as it was set as <code>count</code> parameter in av attribute. Next time, it grows the av table, and doesn't get into the error. I have started working on cleaning up av entries. I hope to get it done by few days.

According to manpage <code>count</code>"Indicates the expected number of addresses that will be inserted into

[2016-08-15 20:47] supunkamburugamuve commented on #2257
Could someone please answer this question? I'm trying to use this software and there is not much resources available to get answers.

[2016-08-15 21:07] bturrubiates commented on #2257
The first field of the `fi_eq_cm_entry` struct is the `fid` associated with the request:

[code]

This is the first field of the `struct fid_ep` type.

[2016-08-15 22:06] jsquyres commented on #2226
Good question.  I don't know if there is a good answer.  There are many types of applications where the number of peers isn't known ahead of time, and there's currently no explicit API to expand the AV.

My $0.02: providers (including the sockets provider) should treat the expected number as a hint.  But if the caller uses more slots and asked for, if the provider can expand the AV, then do so.  O

[2016-08-15 22:20] shantonu commented on #2226
Yeah, I need to fix the logic. Probably, we can replace the error log to debug log if <code>count</code> attribute is treated as a hint. Again, then the hint becomes obsolete when the provider expands the AV. May be it should be clarified in the manpage.

[2016-08-15 23:20] j-xiong commented on #2226
@shantonu What the man page says ("The provider uses this to optimize resource allocations") is sufficient to suggest that it's not a hard limit. It's a hint for the initial resource allocation -- if the application chooses the value correctly, the provider can minimize the need of expansion while doesn't waste on allocating too much resource. The provider doesn't need to remember this hint after

[2016-08-15 23:35] shantonu commented on #2226
Ok, makes sense. Then the log should be a debug log when insert exceeds the hint.

[2016-08-16 00:18] bturrubiates opened #2271 "sockets: Size left hint behavior"
Noticed this while working on ofiwg/fabtests#547.

I have an example and some code displaying the issue [here](https://gist.github.com/bturrubiates/0b030b6d6d7b15af1ed2f77fa3f6efbd).

To summarize:

1. If I set `hints->tx_attr->size` to `0` before `fi_getinfo`, then `fi->tx_attr->size` is `256`, but when I open it with `fi_endpoint` and call `fi_tx_size_left` I get back `368`.
2. If I set the `hin

[2016-08-16 02:18] shantonu commented on #2271
I think both <code>#1</code> and <code>#4</code> are wrong. There is possible a bug in calculating <code>fi_tx_size_left</code>. I'll update after detailed investigation.

[2016-08-16 03:15] supunkamburugamuve commented on #2257
Thank you @bturrubiates. How should we compare the fid_t entries to figure out the correct one? Should we use the context attribute?

[2016-08-16 17:23] bturrubiates commented on #2257
That wouldn't work, the CM operations do not take a context and one is not returned in the `fi_eq_cm_entry` data structure.

--

If you check out the definition of `fid_t` it's just a pointer to an object of type `struct fid`:

[code]
Here are a couple of ways to handle it:

1. If you have them in some sort of data structure then you can iterate and do a simple comparison:

[code]

2. You can actu

[2016-08-16 17:26] bturrubiates opened #2273 "Document the use of fids and the fid_t data type"
From discussion on #2257, the man pages could be clearer on what the `struct fid`, `struct fid_*`, and `fid_t` data types are. Include some examples of using `container_of` to get from an `fid` to an `fid_*` type.

[2016-08-16 20:16] #2265 closed

[2016-08-16 20:16] bturrubiates commented on #2271
Thanks for looking into it!

[2016-08-16 22:31] shantonu commented on #2271
Does this output look alright now?

./test
############
[tx_behavior.c]:check_size():<52> providing tx size hint: 0
[tx_behavior.c]:check_size():<61> provider returned: 256
[tx_behavior.c]:check_size():<103> tx size left reported: 256
############
############
[tx_behavior.c]:check_size():<52> providing tx size hint: 300
[tx_behavior.c]:check_size():<57> provider rejected hint.
############
[tx_be

[2016-08-16 22:33] bturrubiates commented on #2271
Yeah, that looks correct!

[2016-08-17 14:11] supunkamburugamuve commented on #2257
Thanks @bturrubiates. I used the first approach.

[2016-08-17 14:11] #2257 closed

[2016-08-17 22:23] shantonu commented on #2271
Here is the latest output after the discussion (#2275) on returning more than hint from <code>fi_tx_size_left</code>.

./test
############
[tx_behavior.c]:check_size():<52> providing tx size hint: 0
[tx_behavior.c]:check_size():<61> provider returned: 256
[tx_behavior.c]:check_size():<103> tx size left reported: 368
############
############
[tx_behavior.c]:check_size():<52> providing tx size hint

[2016-08-17 23:11] shantonu commented on #2226
@jsquyres, I have updated sockets provider behavior (https://github.com/shantonu/libfabric/tree/pr/sockets-av) based on @j-xiong's explanation. Now it passes <code>ofi-av_test</code>. I didn't have to add garbage collection as socket provider expands AV.

I can submit a PR that just fixes this bug if you need it right away and submit the implementation of garbage collection in another PR. Let me k

[2016-08-19 20:21] jsquyres commented on #2226
@shantonu FWIW, I think the garbage collection is a Good Thing -- having the table grow without bound containing only stale handles seems bad.  So I think #2277 is fine -- no need for a separate PR just to fix the one thing.

As for that statement in the docs, ...hmmm.  On the one hand, being able to *know* that AV handle/index X is stale and will never be used again is pretty nice for development

[2016-08-19 20:34] shantonu commented on #2226
Thanks Jeff. I'll submit a PR with better wording.

[2016-08-19 20:36] #2226 closed

[2016-08-22 04:58] supunkamburugamuve opened #2280 "Un-predictable performance in fi_msg_stream with file descriptor based waiting"
The performance of the fi_msg_stream example is un-predictable for verbs provider with fd waiting. I was developing a system with this approach and encountered really strange issues where the program works fine sometimes and sometimes it slows down without any reason. So I looked at the example provided and found the same.

Here are some example runs. It seems this program doesn't complete sometim

[2016-08-22 19:10] a-ilango commented on #2280
This seems to happen for smaller sizes (-S 10000), iterations (-I 100) and -c sread as well. I'll take a look. Thank you for reporting this.

[2016-08-22 20:15] supunkamburugamuve commented on #2280
Great let us know what you find. For now I've changed my program to use norma non-blocking completion queue reads.

[2016-08-24 18:57] #2271 closed

[2016-08-25 18:33] #2052 closed

[2016-08-25 21:32] jsquyres opened #2291 "prov/sockets: Under heavy load provider can mis-direct messages"
# Overview

When the sockets provider is under heavy load, messages destined for peer A sometimes end up at peer B.

This problem is seen at the libfabric HEAD as of today (25 Aug 2016): 986d5f47f9435938bb459e8b2569be9288a5a1ce (a.k.a. v1.3.0-662-g986d5f4).

# Reproducer

I have a reproducer that sends and receives messages between multiple "servers" and "clients" using libfabric API calls, specif

[2016-08-25 22:36] sayantansur opened #2292 "fi_ep_bind() one cq/cntr for a particular type of op"
A user just asked the question if they can bind two counters for the same op, (say FI_READ) to the endpoint.

I think the answer is no, but it should be spelled out in the man pages, which are silent on this topic right now.

[2016-08-26 20:51] shantonu commented on #2291
Thanks Jeff for the meticulous description. I'll look into the issue.

[2016-08-26 22:52] jsquyres commented on #2291
@bturrubiates Just had an excellent suggestion to me: remove the call to `fi_av_remove()` in the client.  Guess what?  The problem goes away.

This will likely significantly help narrow down the problem...

[2016-08-26 23:07] jsquyres commented on #2291
I notice that there's no locking and/or reference counting in `sock_av.c`.  Can there be interactions with the progress thread(s) and an av table, potentially resulting in stale information be used by the progress thread?

[2016-08-26 23:29] shantonu commented on #2291
I was also thinking if the garbage collection of the av addresses was causing the problem. There could a synchronization issue here. I guess, if you remove f769012df84b7ad0fe5905a79973a0d0733566e0 commit which adds the garbage collection (without removing fi_av_remove), you won't see the problem.

Now I understand the problem better. Will investigate.

[2016-08-27 00:23] jsquyres commented on #2291
You're right -- reverting https://github.com/ofiwg/libfabric/commit/f769012df84b7ad0fe5905a79973a0d0733566e0 seems to make it work.  This is a little surprising, because I have seen this problem for a little while now -- definitely before https://github.com/ofiwg/libfabric/commit/f769012df84b7ad0fe5905a79973a0d0733566e0.

That being said, when I run this against libfabric v1.3.0, it runs for a lit

[2016-08-29 17:05] #1871 closed

[2016-08-29 20:36] jsquyres commented on #2291
FWIW, I just noticed that my `ofi_av_test` has odd behavior with the current libfabric HEAD.  The test basically does this:

[code]

Here's the output from the test:

[code]

I.e., it counts upward in the returned handles, and starting with the 33rd address inserted, all subsequent returned handles are 0.

Was that intended?

[2016-08-29 20:46] shantonu commented on #2291
This happens when garbage collection is added. In sockets the addresses are just index to the av_table. It keeps inserting to the table until it hits the default size. This happens till insert number 32. Then for the next insert it tries to find the first invalid index which is index 0 in this case, and inserts to that position. That's why after 32th insert add the addresses are inserted at index

[2016-08-29 20:49] jsquyres commented on #2291
That's a little odd -- it seems to be doing 2 behaviors:

1. *Not* garbage collecting (i.e., returning 0, then 1, then 2, ...etc).
1. Garbage collecting (i.e., returning 0, then 0, then 0, ...etc.).

I don't know if that's worth "fixing" (especially if it's a) correct behavior in the table itself, and b) intended behavior 😄 ), but it did catch me by surprise.  Just wanted to throw my $0.02 in...

[2016-08-29 20:56] shantonu commented on #2291
I agree it looks a bit odd, but the first scenario was added just to avoid lookup when count < size.  I'll revisit this issue after this bug.

[2016-08-29 20:57] jsquyres commented on #2291
Awesome sauce; thanks (and no rush -- it's just something I noticed).

[2016-08-30 07:14] bturrubiates opened #2302 "sockets: filtering on domain doesn't seem to work as expected"
This is possibly related to #2248.

Testing with the `fi_info` utility from PR #2300:

[code]

and

[code]

This was found while testing `fi_pingpong`.

@shantonu @jithinjosepkl

[2016-08-30 18:49] a-ilango commented on #2280
In the test, the sender is overrunning the receiver sometimes. When and how often it happens might depend on how long sread or polling might take. In fact, I see this happening sometimes even in the case of polling on the CQ.

The reason the test takes random times to complete depends on the values, the verbs QP attributes, min_rnr_timer and timeout might take. Please look up the definitions of th

[2016-08-30 19:54] shantonu commented on #2302
Thanks for reporting the issue. Looks like sockets provider is missing the filtering on domain name and fabric name. I'll submit a PR.

Just added the domain name filtering. Here is the output-

Before filtering
[code]
After filtering
[code]

Does it look alright?

[2016-08-30 22:13] shantonu commented on #2248
With fabric name filtering I get the following output-

[code]

It should still be able to resolve the address, right? @bturrubiates

[2016-08-30 22:21] bturrubiates commented on #2248
I think this looks correct. Alternatively, you could also play around with the `-f` argument for the changes I made in #2300.

The resolvable portion is just an `fi_av_insert`. So for usNIC if an address is not resolvable or reachable, then the insert fails.

[2016-08-31 23:59] bturrubiates opened #2307 "fi_pingpong compatibility"
I've just finished cleaning up the `fi_pingpong` test.

Please test and let me know if there are issues or check off the appropriate box if it works as expected.
- [ ] gni
- [ ] mxm - deprecating
- [x] psm
- [x] psm2
- [x] rxd
- [x] sockets
- [x] udp
- [x] usnic
- [ ] verbs

@hppritcha @j-xiong @shantonu

[2016-09-01 03:05] #2248 closed

[2016-09-01 03:28] j-xiong commented on #2307
It works fine with the latest psm and psm2 providers.

[2016-09-01 03:44] bturrubiates commented on #2307
Thanks!

[2016-09-01 05:24] shantonu commented on #2302
@bturrubiates, could you please check if this issue is resolved with the master?

[2016-09-01 13:27] goodell commented on #2307
@bturrubiates I wonder if it's clear to all provider maintainers what "works as expected" specifically means?  Do you have a concrete list of arguments/modes with which it should be run?  I haven't been following `fi_pingpong` closely, but I wouldn't know off the top of my head how to verify all the cases for the usnic provider.

[2016-09-01 16:14] supunkamburugamuve commented on #2280
Thanks @a-ilango. The server I developed does post receives in advance. But unfortunately I saw the same behavior.

[2016-09-01 17:35] bturrubiates commented on #2307
By works as expected I just meant that a pingpong test can be launched using any of the following options:
- `p`, provider
- `-d`, domain
- `-e`, endpoint type
- `-S`, transfer size
- `-c`, data integrity checking

So,

1. Can you launch a test with a specific provider (`-p`) and domain (`-d`) with all of the supported endpoint types and does the test have any issues? It should successfully ping a

[2016-09-01 18:25] a-ilango commented on #2307
I see verbs check box ticked already. Did someone verify the test for verbs?

[2016-09-01 18:30] bturrubiates commented on #2307
I think that was me copying from the old,PR. I'll uncheck that.

[2016-09-01 18:37] #2178 closed

[2016-09-01 18:43] bturrubiates commented on #2302
Yep, it's fixed. Thanks!

[2016-09-01 18:43] #2302 closed

[2016-09-01 18:47] shantonu commented on #2302
Thanks!

[2016-09-01 21:16] shantonu commented on #2307
Found an issue with sockets provider while testing ```fi_pingpong``` with domain name filtering. Submitted #2314 to fix the issue. All other tests works fine with sockets provider.

[2016-09-01 21:47] bturrubiates commented on #2307
Thanks!

[2016-09-02 21:33] a-ilango commented on #2307
The test doesn't work with verbs provider as it doesn't pass one of node, service or hints->src_addr/dest_addr (on the server side). Verbs provider uses rdmacm which requires one of those args to be present. I think this restriction doesn't apply to fi_getinfo. So let me fix verbs to handle this.

[2016-09-02 22:02] bturrubiates commented on #2307
Right so this test will first call `fi_getinfo` on the server side and the only hint it may provide is the domain name. Once `fi_getinfo` has returned the usable fabric interfaces, the test just uses the first available interface. The server side then calls `fi_getname` and passes this across to the client via control messaging. The client uses this as a hint in `hints->dest_addr`.

[2016-09-06 12:42] heartinpiece opened #2319 "Providers Feature: Verbs should state cntr is not supported?"
I just found out the hard way that Verbs MSG_EP does not support counters.

As Counters seems to be a big part of Libfabric, I think such lack of functionality should be stated in the provider feature matrices? Or at least a line in the man page?
#2282 has implemented counters for the RDM_EP; however the 'well supported' MSG_EP does not seem to have counter functionality.

[2016-09-06 20:58] a-ilango commented on #2319
I spoke with @j-xiong offline regarding counters in libfabric. At present, counters are an optional feature since there is no native support from all hardware. That's why it isn't listed in the provider feature matrix. Whether counters should be made a mandatory feature or not would have to be discussed with the community.

For verbs MSG_EP, fi_cntr_open would return -FI_ENOSYS indicating that cou

[2016-09-06 21:09] goodell commented on #2319
So long as counters are an optional feature we should expose a capability bit for them as well, like we do with RMA or tagged messaging.

Irrespective of the support detection mechanism, counter support should probably be added to the feature support matrix.

[2016-09-06 21:16] a-ilango commented on #2319
+1. Counters can be added under additional features in the feature matrix.

[2016-09-07 03:18] heartinpiece commented on #2319
So, from an outsider's perspective, I hadn't known that counters were a optional feature.
The three documents on the [libfabric intro](https://ofiwg.github.io/libfabric/) page, as far as I know, does not explicitly give the information.
And naturally for a programmer wanting to use libfabric for another project, we have limited information, and the man pages & matrix are a place we get what limite

[2016-09-07 11:55] heartinpiece opened #2322 "prov/verbs: CQ open fails when cq_attr.size == 0"
According to the `fi_cq` manpage,

However, with verbs having a value of 0 results in an error of the `fi_cq_open` call.
The strerror returns "Invalid argument"

I've checked that the `prov/verbs/src/verbs_cq.c` passes the `cq_attr.size` right onto `ibv_create_cq()` however I couldn't check if `ibv_create_cq()` defines a default value if the `cqe` (or `cq_attr.size`) == 0.

Also, I am not sure of

[2016-09-07 18:11] sungeunchoi opened #2325 "prov/sockets: possible race condition exposed in fi_shared_ctx test"
`fi_shared_ctx -e msg -f sockets` seems to fail periodically (at least in travis testing) with seg fault.

https://travis-ci.org/ofiwg/libfabric/jobs/158221410

FWIW, this is for GNU but I believe the last time I saw it was for Clang.

[2016-09-07 20:31] hppritcha commented on #2325
This snippet from the travis console
[code]

[2016-09-07 20:35] sungeunchoi commented on #2325
@shantonu

[2016-09-07 21:34] #2319 closed

[2016-09-07 21:49] a-ilango opened #2327 "Adding counters to the provider feature matrix"
As per discussion in #2319 I have added counters as a feature in the provider feature matrix v1.4.0. Can other provider developers verify/edit the wiki to indicate whether their provider supports counters?
@j-xiong @goodell @sungeunchoi @shantonu

[2016-09-07 21:52] goodell commented on #2327
@bturrubiates will you handle the usnic update?

[2016-09-07 22:27] bturrubiates commented on #2327
Added it. @a-ilango should we also add this field to the previous versions of the matrix?

[2016-09-07 22:39] j-xiong commented on #2327
The table is right for psm/psm2.

[2016-09-07 22:50] a-ilango commented on #2327
@bturrubiates Yes, I think someone who's using an older version of libfabric would also find the information useful. I'll add the line to feature matrices of previous versions.

[2016-09-07 22:55] a-ilango commented on #2327
I have added the line. Can the provider developers verify/update the provider matrix for older versions too? Thanks.

[2016-09-07 23:02] a-ilango commented on #2322
Thank you for reporting this.

[2016-09-08 00:52] sungeunchoi commented on #2327
Done for gni provider.

[2016-09-08 07:52] iamchanghyunpark opened #2330 "prov/verbs fi_mr_regv error: Function not implemented"
I have a code that works on _sockets_, using `fi_mr_regv`; however the same code returns an error in _verbs_.
The `strerror()` of the `errno` returns "Function not implemented".

Perhaps the _verbs_ version of `fi_mr_regv` is not available?

[2016-09-08 08:00] heartinpiece commented on #2330
in file: `prov/verbs/src/verbs_domain.c`

    static struct fi_ops_mr fi_ibv_domain_mr_ops = {
        .size = sizeof(struct fi_ops_mr),
        .reg = fi_ibv_mr_reg,
        .regv = fi_no_mr_regv,
        .regattr = fi_no_mr_regattr,
    };

Okay, so it seems verbs will not support regv.

**Perhaps we need to add a line in fi_mr_regv, fi_mr_regattr that states that these functions are *optional*

[2016-09-08 13:31] goodell commented on #2330
And/or we need to add a new capability that the app can request indicating it wants/needs support for `fi_mr_regv`.

It looks like currently only sockets and psm/psm2 support `fi_mr_regv`.  I don't think it could be implemented with verbs in user space and we're unlikely to add the necessary kernel support for usnic any time soon.  I have no idea if it's realistic for mxm/gni to implement it.

I t

[2016-09-08 16:22] j-xiong commented on #2330
Lack of fi_mr_regv is something application can work around, so we don't want it be a capability bit for fi_getinfo that may filter out a provider completely.

One possible approach is similar to what verbs is doing -- to have a bit mask for all the API functions (or optional functions only) that the application can query.

[2016-09-08 16:35] #2322 closed

[2016-09-08 17:44] shantonu commented on #2325
Thanks for reporting. I'll try to reproduce the issue in my local Travis environment.

[2016-09-08 19:41] shantonu commented on #2291
@jsquyres, I found an issue with connection lookup after adding garbage collection of av index. We were using an av index map for looking up connection, and it didn't know that the address is removed and the index is being reused. It was returning the previously established connection (which was for peer B). Added a fix that cleans up previous connection and returns a new one for the newly added a

[2016-09-08 21:53] jsquyres commented on #2291
Actually, I get a new failure mode when I run with that branch.

I'm running on 2 nodes, with 8 processes (i.e., 1 "server" process and 3 "client" processes on each node).

After running correctly for a while, no more completions occur -- everyone starts blocking in timeouts:

[code]

From gdb attaching, it looks like the server is waking up due to timeouts from `epoll_wait()` -- it's not waking u

[2016-09-08 22:00] a-ilango commented on #2327
It looks like the field matrix has been updated/verified for all providers. If there are no other changes/comments by end of day, I'll mark this issue as resolved.

[2016-09-08 22:11] shantonu commented on #2291
Hmm, I guess, I didn't run long enough. Will keep digging.

[2016-09-08 22:16] jsquyres commented on #2291
FWIW, it consistently fails for me at about 20 seconds into the run.  Perhaps running on 2 nodes / 8 procs total is some kind of magic combination...?

[2016-09-09 02:29] heartinpiece commented on #2330
@j-xiong Would it be possible to check with the bit masks that does not have the physical verbs provider, but a libfabric that is built with verbs support?

For example if you wish to develop on a system without verbs, and run it on a system with IB?

[2016-09-09 02:55] goodell commented on #2330
@j-xiong I think that depends on how important an application views having the regv functionality.  Some apps will want it filtered, some won't.

But maybe the "optional functions" bit mask would at least be an improvement.  We should probably discuss this on one of the calls at some point.

[2016-09-09 15:39] j-xiong commented on #2330
@heartinpiece If we put the feature info fi_getinfo, that will depend on the provider's capability of returning success when the HW is not present.  Details will need some discussion.

@goodell Yes this can be a good candidate for the topics of the calls.

[2016-09-09 16:56] a-ilango commented on #2280
@supunkamburugamuve are you sure you're not overrunning the receiver? If the sender posts send at a faster rate then we would exhaust the preposted recvs soon and hit the issue again.

[2016-09-12 17:00] #2327 closed

[2016-09-13 17:21] agontarek opened #2334 "man: FI_SOURCE ambiguity in fi_getinfo(3)"
There is ambiguity in the way `FI_SOURCE` is used in the [fi_getinfo(3)](https://ofiwg.github.io/libfabric/v1.3.0/man/fi_getinfo.3.html) manpage for v1.3.0. There is a capability named `FI_SOURCE` and a flag named `FI_SOURCE`. Both have two completely different meanings, and it can be difficult to derive intent.

If used as a capability, `FI_SOURCE` means:

If used as a flag to fi_getinfo, `FI_SOU

[2016-09-13 17:27] shefty commented on #2334
We could define an alias for one of these and use that in the documentation.  I'm leaning to 'renaming' the fi_getinfo flag.  Maybe FI_LOCAL?

[2016-09-13 19:16] a-ilango commented on #2334
I have a related question:

Is one flag enough to determine if it's going to be used with passive endpoints?

Let's say the user specifies just service parameter and FI_SOURCE flag. What should be the behavior?
1. Provider returns a list of all local communication interfaces with info->src_address set to corresponding local interface address and port set to given service parameter.
**or**
2. Provi

[2016-09-13 19:17] shantonu commented on #2291
@jsquyres, I was missing a check in connection lookup. Pushed the fix in https://github.com/shantonu/libfabric/tree/pr/sockets-av. But I get another error ```...but we're already connected``` from ```server.cc``` when ```MSG_CONNECT``` is received. This can happen in the following scenario since there's no ```MSG_DISCONNECT_ACK``` -
[code]
I added ```MSG_DISCONNECT_ACK``` in the reproducer and it

[2016-09-13 19:22] shefty commented on #2334
I would expect the second option -- the use of a wildcard address.  A domain may not be available.

[2016-09-13 20:24] shefty opened #2335 "Should counters be a mandatory or optional feature?"
See #2319.

The original intent was that counters would always be available for all providers (baring missing functionality).  However, as I discovered with the UDP provider, support for counters is non-trivial and can result in a performance hit.  The question is whether we should make it mandatory or allow providers to opt-out of the support, e.g. by adding a new capability bit.

If you squint,

[2016-09-13 20:29] jsquyres commented on #2291
Forgive me if this is a dumb question, but how can the MSG_CONNECT arrive at the server before the MSG_DISCONNECT?  Doesn't the EP_RDM endpoint enforce send/receive ordering?

[2016-09-13 20:43] jsquyres commented on #2291
FWIW, I also tried this patch (*instead* of your disconnect-ack.txt patch):

[code]

but I see the same behavior you mentioned: the client sends DISCONNECT, then CONNECT, and the server somehow gets the CONNECT before the DISCONNECT (or perhaps doesn't receive the DISCONNECT -- can't tell easily because my test aborts when it gets the CONNECT unexpectedly).

[2016-09-13 21:48] shefty commented on #2307
We need to clarify when fi_getinfo can return a wildcard address.  Passive endpoints may not return a usable fi_getname that can be targeted by the client side of a connection.

Proposal: when FI_SOURCE is specified as a flag into fi_getinfo and the node parameter is NULL, the returned source address may contain a wildcard address.  fi_getname documentation should be updated to clarify that a pass

[2016-09-13 22:06] shefty commented on #2291
I'm trying to follow this thread.  Does the original problem still exist?  I.e. the AV is still broken?

[2016-09-13 22:08] jsquyres commented on #2291
I think @shantonu has fixed the original + followup problem.

My latest question is whether EP_RDM is guaranteed to preserve message ordering.  If it is -- or even if I need to specify `FI_ORDER_SAS` (per the patch above) -- then we may have discovered a new bug in the sockets provider...?

[2016-09-13 22:14] shefty commented on #2291
EP_RDM is not supposed to guarantee message ordering unless explicitly requested by the app.  This way individual packets can take separate paths through the fabric, allow for out of order ACK processing, etc.

[2016-09-14 00:49] shefty commented on #2229
If the app really cares about *why* an insertion fails, it can call fi_av_insert in a loop (if we set errno) or use the async version.  On a failure, a provider doesn't know if it should attempt to continue insertions (which could take a significant amount of time) or just abort.

I dislike the idea of passing in an array of status values.  That sort of defeats the advantage of the symmetric inser

[2016-09-14 01:34] shantonu commented on #2291
Sockets provider should receive the messages in order since it's using tcp communication. Sean and I went over the latest issue and got some ideas. I'll update you when I have a fix.

[2016-09-14 02:06] shefty commented on #2229
Option 6:
Add a new flag: FI_ERRNO
When synchronously inserting into an AV, if this flag is set, then the context parameter references an array of integers.  Failures to insert an address into the AV will result in a failure code being written to the corresponding array location.  Successful insertions will be updated to 0.

Upon encountering an error, providers will abort any remaining insertions

[2016-09-14 03:53] goodell commented on #2334
Another option would be to deprecate the `fi_getinfo` call and create a new `fi_getinfo2` call that takes both source and destination node/service parameters.  While we lose the parallelism with `getaddrinfo`, I think such an API would be much more intuitive than the current scheme.  There are some obviously distasteful aspects to such a proposal, but I don't think it should be summarily dismissed

[2016-09-14 03:55] goodell commented on #2334
Oh, also, 👍  for `FI_PASSIVE` over `FI_LOCAL`, so long as we're aping `getaddrinfo`.

[2016-09-14 12:23] jsquyres commented on #2291
@shantonu Sweet; thanks!

[2016-09-14 12:28] jsquyres commented on #2291
@shefty Are you referring to `FI_ORDER_SAS`?  That seems to be the only `FI_ORDER_*` flag that refers to send semantics (that are unrelated to RMA semantics).

[2016-09-14 16:16] shefty commented on #2291
I was simply stating that RDM endpoints do not guarantee any ordering unless specified (e.g. FI_ORDER_SAS).  The sockets provider may always guarantee ordering based on how it's implemented however.

We've identified an issue with the sockets provider that I think will result in messages being sent to the wrong peer.  Shantonu is working on developing a fix.

[2016-09-14 16:41] shefty commented on #2334
I agree that we should consider fi_getinfo2 as a possible alternative.  There may still be an open issue on this.

[2016-09-14 17:10] shefty commented on #2330
Any provider that supports memory registration should be able to support fi_mr_regv and fi_mr_regattr.  I think we need to add an fi_domain_attr::mr_iov_limit field.

[2016-09-14 17:24] goodell commented on #2330
@shefty You mean "support" it by exposing `mr_iov_limit=1`?

[2016-09-14 18:11] jsquyres commented on #2291
@shefty Ah, I misunderstood the above comment, then.  Are you saying that your inspection found (another) place where a message sent to A could mistakenly be sent to B instead of C?  I ask because I interpreted the comments above to mean that that you were fixing an out-of-order issue (which, admittedly, is surprising because of the use of TCP for the transport, but I suppose it could happen if th

[2016-09-14 19:38] shefty commented on #2262
I agree with using fi_control to modify the default timeout used by the provider, if an app ever requests control over the timeout value.  Though I would rather see the timeout controlled by the provider, with a possible global configuration parameter.  I have a hard time imagining what an app could want with this, versus giving control to an admin.

[2016-09-14 20:14] shefty commented on #2291
Yes

I'm not sure if out-or-order is actually occurring, versus the peers receiving data that wasn't intended for them, which we're interpreting as out-of-order messages.

[2016-09-14 22:21] shefty commented on #2330
Yes - mr_iov_limit = 1

[2016-09-14 22:23] bturrubiates commented on #2262
I'm fine with `fi_control`, that sounds reasonable.

[2016-09-14 23:06] shefty commented on #2260
The util_poll_run() call looks correct to me.  What semantic change is being requested to fi_poll?

[2016-09-14 23:43] bturrubiates commented on #2260
I think the decision we ended up making in that decision was the the `last_cntr_val` value should be updated in both the set/read functions.  The provider is effectively keeping track of the last value that the application has seen in order to know when to notify.

So in the situation:

1. Counter value is last read via poll at 497
2. Counter is set back to 495
3. Counter is incremented to 497
4.

[2016-09-14 23:51] shefty commented on #2260
I'm assuming in steps 1 & 2 that these changes were initiated by the app, and step 3 was the result of a completion.  In that case, the provider should signal a change, as the last value should be what was set in step 2.  I.e. the last value is whatever was last read/set by the app.

[2016-09-14 23:58] bturrubiates commented on #2260
Okay, that's what I expect as well. Does the util providers poll implementation handle this correctly?

I haven't read the utility provider fully, but it seems as if an app were using poll to determine if a counter has changed, then it would miss those two events.

[2016-09-15 00:05] shefty commented on #2260
The util provider doesn't implement counters that I know of.  It defines a structure and some calls use them, but it doesn't actually increment/decrement/set them.

[2016-09-15 00:21] bturrubiates commented on #2260
I'm not sure if this is actually a problem, or if it can be fixed if it is. Here are the lines in question:

https://github.com/ofiwg/libfabric/blob/master/prov/util/src/util_poll.c#L101-L103

Notice that `last_cntr_val` is only updated here in this function. This makes sense since the utility provider implements the poll routine but does not implement the counter logic. This would mean that if an

[2016-09-15 00:32] shefty commented on #2260
Ok - I see the problem now.  The last cntr value is stored with the fid_entry, not the util_cntr structure.  Thanks.

[2016-09-15 11:06] tschuett opened #2336 "fi_getinfo on Ubuntu/Debian"
I ran in an issue with fi_getinfo with the master branch. 1.3.0 does not show this issue.
I am looking for the sockets provider, but it returns "No data available".
[code]
The issue is an entry in /etc/hosts:
[code]
The getaddrinfo call in sock_node_matches_interface returns 127.0.1.1 which matches neither eth0 nor lo. The reason for the 127.0.1.1 line is explained here:
https://www.debian.org/doc

[2016-09-15 15:18] sayantansur commented on #2319
I would prefer a domain attribute that lists the number of counters supported. Even on hardware that supports counters, there would be a limit on how many are supported (like completion queues).

[2016-09-15 15:43] sayantansur commented on #2335
My vote is for them to be optional, with support being indicated by a domain attribute that lists the number of counters supported. The reasoning is that it will be useful to declare limits for providers that do support counters.

[2016-09-15 19:36] bturrubiates opened #2340 "meaning of domain attribute cq_cnt"
While looking at ofiwg/fabtests#550, I realized that the usNIC provider always provides `0` as the value for `domain_attr->cq_cnt`. After looking over the man page, I have determined that it would be most useful to instead set it to the limits imposed by the hardware. In the case of emulated endpoints, is it better arbitrarily pick a size, set it to the maximum value for the integral data type use

[2016-09-15 19:39] shefty commented on #2319
We don't have attributes for other maximums (max_eps, max_cqs, max_mrs, etc.).  I wouldn't add a max counter value for the same reason.

[2016-09-15 19:44] shefty commented on #2340
An application may not be able to successfully create cq_cnt CQs.  This depends on the implementation and whether CQ resources are shared with other resources, such as EPs.  However, I would claim that if all the app does is allocate CQs of the optimal size, then it should be able to allocate cq_cnt -- not that we have a great way to report what the optimal size is...

[2016-09-15 19:50] bturrubiates commented on #2340
Okay so assuming a single domain with the size hint set to `0` and the other hints set to `_UNSPEC`, then opening `cq_cnt

[2016-09-15 20:38] sayantansur commented on #2319
fi_domain_attr::ep_cnt, cq_cnt, etc? Aren't those the max limits the user can open?

[2016-09-15 20:44] shefty commented on #2319
Yes, we could add cntr_cnt.  But the counts may be optimal limits, not maximums.

[2016-09-15 20:50] sayantansur commented on #2319
But that is strange, since the other values are indeed max values.

[2016-09-15 21:19] jsquyres commented on #2336
@jithinjosepkl @shantonu Can you have a look?

[2016-09-15 21:28] shefty commented on #2158
Yes, please exclude from the build.  Can you update and repush PR #2126?

[2016-09-16 04:52] shefty commented on #2340
To your first question, I vote yes.  The app should be able to open at least cq_cnt CQs.

I would consider cq_cnt of 0 to be a bug.  Though we can define it as no limit (or limit is dependent on available system memory).  I'm leaning to making it have some value, so a resource manager might be able to depend on it.

[2016-09-16 04:56] shefty commented on #2335
If we make them optional, then the utility framework must handle this case and export counters to the user.

[2016-09-16 05:09] shefty commented on #2229
Note that if we go with option 6, no API update is needed.  The behavior of the current interface is simply changed when the new flag is provided.

[2016-09-16 05:16] bturrubiates commented on #2340
Awesome, that's the assumption I was making when contributing my last PR to `fi_cq_test`.

Alright, I guess providers will have to figure out some way to define a value. The `udp` provider is in a similar case as our emulated endpoints because it isn't really dependent on any hardware.

I suppose the provider could always impose some arbitrary restriction (say a maximum `cq_cnt` of `8192`).

[2016-09-16 05:22] shefty commented on #2223
Is there a use case for creating an alias that changes both the send and receive flags?

The intent was to inherit the base EP flags.  Note that fi_ep_alias may alias a tx or rx context, and not necessarily an ep that supports both sets of flags.

[2016-09-16 05:41] shefty commented on #2182
I want to avoid application source changes, so one of these options seem best:

    struct fi_fabric_attr {
        uint32_t version;

or

    struct fi_fabtic_attr {
        struct fi_info *info;

    struct fi_info {
        uint32_t version;

I'm thrilled about neither

[2016-09-16 08:40] hoopoepg commented on #2158
I created another PR: #2342
could you close #2126 for now? it is possible that wait objects will be required in CH4 later for RMA operations.

thank you

[2016-09-16 15:42] sayantansur commented on #2223
I don't remember if there was a use case that we thought of at that time. Updating the man page to be more clear as to what happens might be sufficient. Currently, it doesn't speak of the inheritance of the flags that we didn't set, and implies otherwise. Specifically, this line may have sparked the confusion.

[2016-09-16 19:01] shefty commented on #1975
Based on discussions of the fabric name reported by the sockets provider, I think we agree that none of the attributes indicate reach-ability.  An argument can be made that the loopback fabric is simply limited to the local node.  So, I don't think we _need_ to do anything special for handling a loopback provider.

As a recommendation, we may want to define and document a well-known fabric name fo

[2016-09-16 19:10] a-ilango opened #2344 "Clarify connected endpoints' behavior on fi_connect failure"
Connected endpoints on receiving an error on fi_connect, should not be used to connect again.

Handling connection failure and resetting the endpoint's internal state to prepare to send a connection request again is not trivial in some providers (e.g. verbs). So add a note in man page that apps should not use a connected endpoint after receiving an error on fi_connect. It has to create a new endpo

[2016-09-16 19:26] shefty opened #2345 "layered providers create circular dependencies"
As we bring up the utility framework, we have the potential for layered providers to layer over each other endlessly.  For example, the RXM (RDM over MSG EP) provider can get picked up by the MXR (MSG over RDM EP) provider, which could result in an infinite loop.  (This particular case is avoided today because the RXM provider requires a mode bit that the MXR provider does not set.)

We must come

[2016-09-16 19:36] sayantansur commented on #2344
It would be useful if you could add what the difficulty in verbs is (it is not readily apparent to me). Will help in the future when reading this issue.

[2016-09-16 20:20] shefty opened #2346 "Behavior of outstanding ops not defined for AV removal"
If an AV entry is removed while there are active operations, we should document that the behavior is undefined.

[2016-09-16 20:44] a-ilango commented on #2344
Sure. Verbs uses rdmacm which doesn't support reusing the communication id and queue pair once a connect call on it fails. So if we have to handle this in the verbs provider, we would have to keep track of any CQs bound to the endpoint, receives posted to the endpoint and redo it once the connect call fails.

As per discussion with @shefty, it seems a connection failure is reported from rdmacm/ibc

[2016-09-16 21:46] shantonu commented on #2336
I looked at the issue. In sockets provider to get the list of local interfaces by calling ```getifaddrs```. But in Debian ```127.0.1.1```  is not returned by ```getifaddr```. We have to add ```127.0.1.1``` manually where ever we call ```getifaddrs```.

I discussed this with @shefty and we decided to add a wrapper call ```ofi_getifaddrs``` which will add ```127.0.1.1``` in the list of local interfa

[2016-09-16 22:23] j-xiong commented on #2345
We could introduce a provider property identifying if it's an "terminal" provider and provide an option for only allowing layering over such providers.

On the other hand, it might also useful to allow certain level of nested layering. That would be an interesting feature at least for testing the implementations.

[2016-09-16 22:31] jsquyres commented on #2336
This doesn't sound like a good solution -- you're putting a one-off comparison in for a system that chose to do something really weird.

It does highlight the difference between hostnames and resolvable names, however.  I.e., it clearly delineates that the hostname does *not* correspond to a specific interface (i.e., it's only convention on many other systems where the hostname just happens to cor

[2016-09-16 22:31] shefty commented on #2345
Yeah, I'm not sure we want to avoid all nesting -- MSG over RDM over DGRAM might be the way we want to support MSG over DGRAM

[2016-09-16 22:42] shefty commented on #2336
Well the system is doing a hack, so a hack in libfabric to work with it isn't too inappropriate.

I didn't follow your meaning.  Are you suggesting that the failure be the correct behavior?

[2016-09-16 22:46] j-xiong commented on #2345
I can think of two ways to avoid endless layering. The first one is to pass down the current layering information to the internal getinfo calls to avoid any circle in the chain. The second one is control the allowed number of layers. The second one is simpler but doesn't exclude circle.

[2016-09-16 23:17] shefty commented on #2340
Closing, as I think this question has been answered.

[2016-09-16 23:17] #2340 closed

[2016-09-17 00:01] shefty opened #2347 "prov/sockets: build warnings on 32-bit system"
prov/sockets/src/sock_progress.c: In function 'sock_pe_process_rx_read':
prov/sockets/src/sock_progress.c:667:6: warning: passing argument 3 of 'sock_mr_verify_key' from incompatible pointer type [enabled by default]
      FI_REMOTE_READ);
      ^
In file included from prov/sockets/src/sock_progress.c:60:0:
./prov/sockets/include/sock.h:1039:17: note: expected 'uintptr_t *' but argument is of type

[2016-09-17 00:01] shefty opened #2348 "prov/util: build warnings on 32-bit system"
prov/util/src/util_mr.c: In function 'verify_addr':
prov/util/src/util_mr.c:80:22: warning: cast from pointer to integer of different size [-Wpointer-to-int-cast]
     uint64_t start = (uint64_t)item->mr_iov[i].iov_base;
                      ^

[2016-09-17 00:02] shefty opened #2349 "prov/rxm: build warnings on 32-bit system"
prov/rxm/src/rxm_attr.c:52:2: warning: large integer implicitly truncated to unsigned type [-Woverflow]
  .max_msg_size = UINT64_MAX,
  ^

[2016-09-17 00:03] shefty opened #2350 "prov/rxd: build warnings on 32-bit system"
prov/rxd/src/rxd_attr.c:56:2: warning: large integer implicitly truncated to unsigned type [-Woverflow]
  .max_msg_size = UINT64_MAX,
  ^
  CC       prov/rxd/src/src_libfabric_la-rxd_init.lo
  CC       prov/rxd/src/src_libfabric_la-rxd_fabric.lo
  CC       prov/rxd/src/src_libfabric_la-rxd_domain.lo
  CC       prov/rxd/src/src_libfabric_la-rxd_av.lo
  CC       prov/rxd/src/src_libfabric_la-rxd_cq.

[2016-09-17 00:03] shefty opened #2351 "util/pingpong: build warnings on 32-bit system"
util/pingpong.c: In function ‘pp_ctrl_sync’:
util/pingpong.c:678:4: warning: format ‘%lu’ expects argument of type ‘long unsigned int’, but argument 7 has type ‘size_t’ [-Wformat=]
    PP_DEBUG(
    ^
util/pingpong.c:692:4: warning: format ‘%lu’ expects argument of type ‘long unsigned int’, but argument 7 has type ‘size_t’ [-Wformat=]
    PP_DEBUG(
    ^
util/pingpong.c: In function ‘pp_ctrl_txrx_

[2016-09-17 00:08] a-ilango commented on #2345
We could pass provider nesting information to internal getinfo call. For example, the calling provider could add its name to a list that would be passed down. A provider can walk through the list and if finds a provider it doesn't want to support, it can return -FI_ENODATA. (e.g. mxr -> rxr ->rxm (rxm finds mxr in the list and returns -FI_ENODATA)).

[2016-09-17 00:49] shefty opened #2353 "prov/sockets: RMA fails on 32-bit systems"
It looks like every RMA test fails on 32-bit platforms.

fi_rma_bw -e msg -o write -I 5 -f sockets:              Fail
fi_rma_bw -e msg -o read -I 5 -f sockets:               Fail
fi_rma_bw -e msg -o writedata -I 5 -f sockets:          Fail
fi_rma_bw -e rdm -o write -I 5 -f sockets:              Fail
fi_rma_bw -e rdm -o read -I 5 -f sockets:               Fail
fi_rma_bw -e rdm -o writedata -I 5 -f

[2016-09-17 11:47] jsquyres commented on #2336
I'm suggesting that perhaps we shouldn't be relying on a hostname, because technically, the hostname has nothing to do with a resolvable interface name.

[2016-09-19 17:51] #2351 closed

[2016-09-19 18:19] shantonu commented on #2336
I think we added the logic in sockets provider if a hostname matches a particular network interface to resolve the issue #2146 (where a resolvable address is given as source address, which doesn't match any local interface e.g. google.com). The problem with Debian is ```getifaddrs``` doesn't return ```127.0.1.1``` as local interface and when user specifies ```127.0.1.1``` as ```node``` parameter i

[2016-09-19 23:02] #2346 closed

[2016-09-19 23:03] #2344 closed

[2016-09-20 16:28] sayantansur opened #2357 "when can atomicvalid outputs change?"
@jdinan brought up the question of whether middleware should be querying each endpoint (created off the same info structure) can have a different output of atomicvalid lengths, ops and what not.

Currently, the man pages don't guarantee that they won't change, leaving the user to the conclusion that every endpoint it creates needs to re-check if the atomicvalids changed or not.

It might be useful

[2016-09-20 16:37] shefty commented on #2335
We could expose counters as optional using cntr_cnt (new domain attribute), but this may not capture all use cases for how a counter may eventually be used.

[2016-09-20 16:46] shefty commented on #2345
Proposal: use internal flags to indicate which EP type each provider handles.  If an EP type is set, then a provider fails the getinfo call.  Basically, the bits become a short history of layering.

[2016-09-20 20:37] shantonu opened #2359 "Travis-CI: OSX build failure at autogen.sh"
I am seeing the following failure in OSX which is unrelated to the PR #2358. Not sure if it because of any change in Travis's OSX environment. Any idea?

[code]

[2016-09-21 02:18] jsquyres commented on #2359
This might be a problem at Travis and/or in our `.travis.yml` file.  See #2360.

[2016-09-21 02:26] jsquyres opened #2361 "Warnings in sockets provider"
From Travis OS X builds:

[code]

[2016-09-21 11:08] #2361 closed

[2016-09-21 18:34] shantonu commented on #2291
@jsquyres, I have updated the my branch (https://github.com/shantonu/libfabric/tree/pr/sockets-av) based on the discussion with @shefty. I think there's no mis-directed message now. But still I see the following error from the reproducer-
[code]
But I think this can happen with current workflow of the reproducer. Here's the scenario-

1. client1 sends MSG_DISCONNECT to server1
2. client1 calls fi_

[2016-09-21 20:40] shefty commented on #2359
Travis is still reporting failures for OS X.  I've tried re-starting Travis on the opened PR, with the results being the same.  Travis is reporting delays processing OS X, but no other status.

[2016-09-21 20:52] shantonu commented on #2359
I think the PR needs to be rebased with master. If it doesn't have Jeff's patch, it will fail.

[2016-09-21 20:55] jsquyres commented on #2359
@shefty Are you seeing this on *new* PRs (that we created after I submitted the Travis fix last night)?  Or only on PRs that were created before the Travis fix from last night?

...heh, @shantonu just beat me to the comment.  😄

FWIW, however, I *may* have seen behavior before that implied that Travis may be caching the .travis.yml file *when the PR is created*, such that even if you rebase and ge

[2016-09-22 15:47] shefty commented on #2359
I'm seeing this on old PRs that I just tried restarting the build on.

It looks like PR #2364 worked, except maybe for the part where it was merged before the test could finish running.

[2016-09-22 18:05] jsquyres commented on #2359
Ok.  Closing this issue, then.

[2016-09-22 18:05] #2359 closed

[2016-09-22 18:44] shefty opened #2366 "Request for new threading model"
There's a request to support a threading model that maps better to using shared transmit context -- something between FI_THREAD_ENDPOINT and FI_THREAD_DOMAIN.  There's an app that uses shared transmit contexts, but serializes access to the shared context.  With FI_THREAD_ENDPOINT, the provider will still need synchronization around the shared context, but the app does not require this.

[2016-09-22 19:15] jsquyres commented on #2336
If we're requiring a local *interface* and someone gives us a *hostname* that does not resolve to a local interface, I'd call that an error.

That being said, I agree that while hostnames are not *technically* the same thing as interface names, most users think that they are.  And what Debian/Ubuntu is doing here is downright weird / contrary to most conventions.

When failing to resolve a name to

[2016-09-22 19:23] shefty commented on #2336
So I think the sockets provider could change its special handling of addr == 127.0.0.1 to something like addr & 0x7f000000 == 0x7f000000 (using proper constants, endianess, etc.)

[2016-09-22 19:35] jsquyres commented on #2336
@shefty Are you proposing the following compromise: if the name resolves to a 127.0.0.0/8 address, then assume that the user is asking for the loopback interface?

If so, I could probably agree to that.  It probably is the least astonishing to the user.  It would be good, however, to emit a verbose log message when the name specified did not correspond to an interface, and libfabric defaulted to/a

[2016-09-22 19:37] shefty commented on #2336
Yes - that sounds good.

[2016-09-22 19:53] shantonu commented on #2336
Sounds good to me!

[2016-09-22 20:43] tschuett commented on #2336
The solution is surprising to users, because the code above is not portable (Debian vs non Debian).

Will there be any advice to users on how to work around this issue? I was looking for `info->src_addr` for off-node communication and now I am going to end up with the loopback device. Should I call `getifaddrs` to get an IP address from an ethX device and call `fi_getinfo` with this IP address? Sh

[2016-09-22 20:49] jsquyres commented on #2336
@tschuett Are you saying that users expect to specify `myhostname` and have it map to some non-loopback interface on their machine?  If so, how do we know which one it should be?

[2016-09-22 20:54] jsquyres commented on #2291
Yes, you are right -- the client needs to wait for the send completion of MSG_DISCONNECT before calling fi_av_remove.  When I fixed that, the problem goes away.  Yay!

I'm seeing a memory leak on the server side of my abuse program.  I'm not yet sure if it's a bug in my test program or if it's a leak in libfabric / the sockets provider.  Regardless, that is not related to this issue, so I think yo

[2016-09-22 20:59] shantonu commented on #2291
Great! Thanks a lot for verifying! I'll submit the PR then :)

[2016-09-22 22:21] jithinjosepkl commented on #2347
Looks like this one is fixed in #2362

[2016-09-23 08:04] tschuett commented on #2336
Would you expect `myhostname-ib0` to point to a loopback device?

I am saying that you should query the DNS server for the IP of `myhostname` instead of looking at `/etc/hosts`. The IP will map to the correct device.

With the current solution, I have to pass an IP address to `fi_getinfo`when I use `FI_SOURCE`. Using a hostname is not portable.

[2016-09-23 11:13] jsquyres commented on #2336
@tschuett I think you misunderstand the proposal.  Here's what we're proposing for when a local address is required:

1. Resolve the provided name.
    * I haven't looked at the specifics of the sockets provider, but it's most likely calling `gethostbyname()`, or something similar.
    * Such functions will directly convert a string containing a numeric IP address to binary form.  E.g., if the str

[2016-09-23 11:18] tschuett commented on #2336
Thanks for the explanation. That makes sense now.

[2016-09-23 17:34] #2349 closed

[2016-09-23 17:35] #2353 closed

[2016-09-23 17:35] #2350 closed

[2016-09-23 17:42] shefty commented on #2357
I think it's fair to claim that the atomic support from EP to EP with the same attributes will also be the same.

[2016-09-23 18:32] sayantansur commented on #2357
By endpoint attributes, do you mean to encompass the endpoint caps as well?

[2016-09-23 18:41] shefty commented on #2357
Yes

[2016-09-23 18:54] shefty commented on #1807
While this is nice to have, I don't consider it a requirement for the 1.4 release.  Removed milestone

[2016-09-23 18:55] shefty commented on #1945
This affects internal prefixes only.  Removed milestone, as it is not a requirement for a release.

[2016-09-23 19:00] sayantansur opened #2372 "FI_DBG_TRACE?"
Currently, we have this in fi_log.h that allows liberal usage of FI_DBG throughout with the assurance that for non debug builds this will be compiled out.

[code]

We also have FI_LOG_TRACE, which is intended to be used to trace API calls, etc. but needs to be compiled out for a non debug build. If we had the following we could enable/disable trace from within a debug build. Otherwise, using FI_TR

[2016-09-23 19:02] shefty commented on #1946
I don't see these as requirements for a release.  Removing milestone.

Enhancing the documentation would be nice, but I don't see a compelling reason to move data structures around, or separating them from the APIs that use them.

docs/providers is intended to provide pointers and necessary documentation.  It doesn't need to be exhaustive.  Can you please provide specific details on what should be

[2016-09-23 19:10] shefty opened #2373 "prov/util: Disable utility providers prior to 1.4 release"
The providers are not ready for prime time.  Disable them for the release.

[2016-09-23 19:11] shefty commented on #2273
Removing milestone.  I don't view this as a requirement for a release.

[2016-09-23 19:53] shefty commented on #2372
I'm okay with FI_DBG_TRACE

[2016-09-23 19:53] #2348 closed

[2016-09-23 19:54] #2347 closed

[2016-09-23 23:14] #2372 closed

[2016-09-23 23:14] #2373 closed

[2016-09-24 11:31] #2291 closed

[2016-09-26 17:49] jithinjosepkl commented on #2325
In the shared ctx example, we expect the CM events sequentially.  ie,
1. FI_CONNREQ for EP1
2. FI_CONNECTED for EP1
3. FI_CONNREQ for EP2
4. FI_CONNECTED for EP2

But the CONNREQ for EP2 can appear before the CONNECTED event of EP1. The current error handling in the test calls both fi_shutdown() and fi_reject() (for same EP), which was causing the random segfault.

PR #2384 adds error checking in

[2016-09-26 17:57] jsquyres commented on #2336
@bturrubiates and I were reading through the back-story of this issue (i.e., going back and reading the Debian docs, which point back to older posts on the Debian devel mailing lists, etc.).  Here seems to be the original suggestion where the 127.0.1.1 idea came from:

https://lists.debian.org/debian-boot/2005/06/msg00938.html

From this mail, it sounds like they really wanted the hostname to *not

[2016-09-26 18:13] shantonu commented on #2336
So the current behavior seems to be correct for Debian. Right?

[2016-09-26 18:21] jsquyres commented on #2307
@shefty You seem to be saying 3 things:

1. What to do if the name of a PEP contains a wildcard?
    * Do you have a suggestion here?  E.g., how do we even know if the name we got from `fi_getname()` contains a wildcard?
1. We need to add this to testing.
    * Which testing are you referring to?  `make test`?
1. This pingpong is too complicated.
    * We actually trimmed out a whole lot from the

[2016-09-26 18:22] bturrubiates commented on #2307
@hppritcha @sungeunchoi: Could you check if this works with the GNI provider?

@a-ilango: How is the verbs support going? Are there still issues?

@shefty: Could someone at Intel test this with MXM?

[2016-09-26 18:27] bturrubiates commented on #2260
I'm still not sure this is a solution, there would need to be a way for the utility provider to reset it's `last_cntr_val` to `0` when the actual implementation sets it to `0` in `fi_cntr_set`.

[2016-09-26 18:28] jsquyres commented on #2208
I'm assuming this can't be done in time for v1.4.0.

Provider authors: please check off your provider if you support `FI_THREAD_SAFE`.

[2016-09-26 18:30] jsquyres commented on #2207
This should be easy enough to do in time for v1.4.0.

[2016-09-26 18:32] jsquyres commented on #1947
@evgeny-leksikov Did you ever have a chance to look at this?
@hppritcha Do you know if this is this still happening?

[2016-09-26 18:36] bturrubiates commented on #1810
The `util_buf_pool` is not a good solution for this issue. The size left functions may be disappearing in a future release, we'll re-evaluate this at a later time.

[2016-09-26 18:36] #1810 closed

[2016-09-26 18:42] bturrubiates commented on #1039
This happens because we do not have an internal data structure tracking the data being handed out upon `fi_av_insert`. All associated resources are removed in a call to `fi_av_remove`, but not upon `fi_av_close`. This can be fixed by adding a data structure to track inserted items. Fix coming for 1.4.

[2016-09-26 18:48] jsquyres commented on #946
This *might* get done in time for v1.4.0, but it's low priority.

[2016-09-26 18:48] shefty commented on #2260
The user of the utility code (e.g. rxd provider, udp provider, ...) would reset it to 0.  The current issue is that there's no way for a user of the utility code to access the last_cntr_val field.

[2016-09-26 18:51] shefty commented on #2307
I think the test needs to be restructured to handle this.  fi_getname should be allowed to return a wildcard address, otherwise, all listens will be limited to a single network/IP address.

Yes - make test

I would drop inject handling, for example.  I would need to look deeper into the code to see if anything else can be dropped.

[2016-09-26 18:51] bturrubiates commented on #941
For receive side it looks the only flag we can actually support is `FI_MORE`. This is supported in the `recvmsg` variety, but not in `fi_recv` with `FI_MORE` configured on the endpoint.

[2016-09-26 18:52] shefty commented on #2307
We plan on deprecating the mxm provider, as Mellanox is moving away from it.  So I don't think we care about mxm working with the pingpong test.  (I'm not sure MXM supports anything other than tag matching.)

[2016-09-26 19:23] jsquyres commented on #2307
@shefty Outside of the context of this issue, do you need to add some verbiage to README / whatever about the deprecation of MXM?  Do you plan to remove it in whatever the next libfabric release is after v1.4.0?

[2016-09-26 19:26] shefty commented on #2307
Yes, we need to add some sort of documentation about deprecating mxm.  This topic only came up to me late last week.  The intent is to remove it from v1.5.

[2016-09-26 19:27] jsquyres opened #2386 "Deprecate MXM in v1.4.0 release"
Per https://github.com/ofiwg/libfabric/issues/2307#issuecomment-249671405, add some text in appropriate places (README, man page, web page) that the MXM provider is being deprecated because Mellanox is moving away from it.  The plan is to remove the MXM provider in the release after v1.4.0.

[2016-09-26 19:29] jsquyres opened #2387 "Remove MXM provider"
Per #2386, after v1.4.0:
- [x] Remove the MXM provider
- [x] Remove MXM from README
- [x] Remove the MXM man page
- [x] Remove MXM from the web page
- [x] Remove MXM from anywhere else not listed above

[2016-09-26 20:03] a-ilango commented on #2307
@bturrubiates I'm working on it. It should be ready soon.

[2016-09-26 20:24] bturrubiates commented on #2307
Cool, thanks.

[2016-09-26 21:32] bturrubiates opened #2389 "what is the ep_per_node field of fi_av_attr for?"
While reading the `fi_av.3` man page, I noticed the `ep_per_node` field of the `fi_av_attr` structure. It is defined as:

It doesn't look like any providers support this. The description doesn't make much sense to me. What is this for?

@shefty

[2016-09-26 21:34] shefty commented on #2307
These are the simplifications that I would make to the pingpong test:

- remove data verification
- remove data alignment code
- only support a single transfer size, with a (small) default
- have a fixed number of transfers, with a small default
- use fi_tostr to print fi_info data
- drop using the socket interface, use libfabric communication only
- use fi send/recv calls only

Really, this shoul

[2016-09-26 21:39] shefty commented on #2389
This allows a provider to optimize its address storage.  For example, suppose an address consists of a 4-byte network address, followed by a 2-byte transport address.  The typical case would result in consuming 6-bytes (or possibly 8 due to alignment) per endpoint.  However, if the provider knows that there will be 128 EPs per node, it can store the network and transport addresses separately.  Usi

[2016-09-26 21:43] jsquyres commented on #2336
@shantonu Do we do any special handling for 127.0.0.0/8 addresses at all in the current sockets provider?

But with the rationale from what I posted a few hours ago, I think the behavior should be: if a name is given that does not match a local IP interface, then we should return an error.  If this is the behavior we already have, then I think that is correct behavior.

[2016-09-26 22:26] shantonu commented on #2336
@jsquyres, nothing special is done for ```127.0.0.0/8``` except we report it at the end of the list-of-available-network-interfaces when fi_getinfo is called without any src_addr (required for SHMEM).

Currently, if ```/cat/hosts``` has the following line -
[code]
and ```fi_getinfo(..., "myhostname", ...,FI_SOURCE, hints, &info)``` is called, sockets provider returns
```-FI_ENODATA``` which was re

[2016-09-27 17:54] evgeny-leksikov commented on #1947
@jsquyres  Not yet but I recently got access to the slurm installation, so I'll check soon. Anyway, I'm not sure I have enough time to fix it in this release if it's still reproducible. I think the milestone can be changed for 1.5.
@hppritcha could you check the current state? there were several fixes for init/finalize phases.

[2016-09-27 21:36] jsquyres commented on #2307
@shefty I guess we had different goals.  We weren't looking to create a dirt-simple pingpong; we had reasons for most of the items you listed:

* Data verification: an important use case of fi_pingpong is to verify that the fancy-schmancy high speed network you just bought is actually working.  Data verification is quite important for that.
* Data alignment: another important use case is to verify

[2016-09-27 21:47] j-xiong commented on #2307
It's not a startup delay issue, it's that in order to resolve peer "node" passed to fi_getinfo, the peer has to start the name server first (that happens when the domain is created). The use of socket to create a synchronization point before calling fi_getinfo was exactly the reason caused the issue. It was later resovled by exchange the address info via socket instead of resolving via fi_getinfo.

[2016-09-27 21:53] shefty commented on #2307
I agree we have different goals.  I don't want to duplicate functionality that already exists in fabtests in another repository.  This isn't stressing all aspects of the API -- RMA and tag matching in particular don't show up -- probably because the usnic hardware doesn't do it.  So, the test is severely lacking in many respects, yet does far more than it needs to in order to answer the question i

[2016-09-27 22:34] sayantansur opened #2398 "endpoint av binding rules"
Does an endpoint have to be bound to an AV before enable is called on the endpoint?

The man pages seem to be unclear on this topic.

[2016-09-27 23:43] shefty commented on #2389
@bturrubiates - please close if this sufficiently answers your question

[2016-09-28 00:23] bturrubiates commented on #2389
Yeah that sufficiently answered my question, thanks.

[2016-09-28 00:23] #2389 closed

[2016-09-28 09:08] evgeny-leksikov commented on #2208
verbs/RDM is not thread safe now, it can't be done for 1.4, probably for 1.5.

[2016-09-28 17:01] shefty opened #2402 "figure out what fi_pingpong is supposed to do"
it's a copy-paste of 2000 lines of code from a far more complete set of tests...

[2016-09-28 17:02] #2398 closed

[2016-09-28 18:06] jsquyres commented on #2307
This program is basically a libfabric analog of `ibv_rc_pingpong` and `ibv_ud_pingpong`.  We decided to do DGRAM, RDM, and MSG in a single program, but they could be split up if people want to.  If we want an RMA-based pingpong, great -- that can be added, too.

The point: this pingpong is a *sysadmin tool*, not an *API testing tool*.  That is, sysadmins use `ibv_devinfo` and `ibv_*_pingpong` to v

[2016-09-28 22:41] shefty commented on #2307
Yeah, I pretty much hate this test at this point.

[2016-09-29 00:12] jsquyres opened #2405 "v1.4.0 release checklist"
## Make a perfect tarball
- For libfabric:
  - [x] Update the version numbers in `include/rdma/fabric.h`:
  - [x] Update the shared library version number(s) in `Makefile.am` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
  - Update all documentation files (especially including dates and version numbers),

[2016-09-29 21:09] shefty commented on #2336
It appears that the current behavior is correct and intended.

[2016-09-29 21:09] #2336 closed

[2016-09-29 21:09] #2386 closed

[2016-09-29 21:51] shefty commented on #2260
The utility code has been disabled for this release.  Dropping the milestone.

[2016-09-30 00:04] bturrubiates commented on #946
I don't think there is sufficient time to implement and test this thoroughly. Deferring until the 1.5 release.

[2016-09-30 17:19] shefty opened #2417 "Counters: there is no way to reset the error count"
The main counter value can be manipulated, but the error count cannot.  We need to determine if this is necessary, and if so, add that functionality.  This is a potential API change.

[2016-09-30 22:05] #2260 closed

[2016-09-30 23:45] shefty opened #2421 "Share hardware resources across libraries"
Some applications may access libfabric through 2 or more middleware libraries, such as MPI and SHMEM.  Because hardware resources may be limited, relative to the number of processes on the system, there is a request to be able to share the hardware resources, even though different 'instances' of libfabric is being used.

One suggestion is to use source addressing to indicate that 2 allocated endpo

[2016-10-03 21:36] shefty opened #2423 "prov/rxd: build warnings"
These were reported on my system while running make distcheck.  I haven't investigated -- just noting for now.

../prov/rxd/src/rxd_ep.c: In function \u2018rxd_tx_pkt_acquire\u2019:
../include/fi_mem.h:247: warning: dereferencing pointer \u2018mr.62\u2019 does break strict-aliasing rules
../prov/rxd/src/rxd_ep.c:354: note: initialized from here
../prov/rxd/src/rxd_ep.c: In function \u2018rxd_ep_en

[2016-10-03 22:35] bturrubiates opened #2424 "return values for errors / unsupported features"
There are several error values encountered in Libfabric that can be used to signify that something is erroneous or not supported: `FI_EINVAL`, `FI_EOPNOTSUPP`, `FI_ENOSYS`,  and`FI_ENODATA`.

Do these have specific meanings associated with them?
- Is `FI_ENODATA` reserved for use in `fi_getinfo()`?
- Is `FI_EOPNOTSUPP` reserved for transport operations?
- Does `FI_EINVAL` imply that that an argume

[2016-10-03 22:48] shefty commented on #2424
I wouldn't say it's reserved, but it may not be used outside of that call.

This appears to the case.  The help text (from errno) is "Operation not supported on transport endpoint"

Either?  Though I think of it more with respect to the API in general.

I would allow ENOSYS for partially implemented interfaces as well.  For example, I can see it being used for fi_control.

ENOSYS is preferable IMO

[2016-10-04 17:36] #2423 closed

[2016-10-04 17:40] shefty commented on #2424
Btw, we should update the fi_errno man page as we define error codes in more detail.

[2016-10-05 07:19] bturrubiates opened #2431 "usnic: FI_EP_MSG and FI_EP_RDM never report flags on completions"
The `FI_EP_MSG` and `FI_EP_RDM` never return any flag information on completions. They should at least return `FI_MSG` and `FI_SEND`/`FI_RECV` for transmit and receive operations.

[2016-10-05 18:22] bturrubiates commented on #2424
Alright, I think this is already the usNIC behavior. @j-xiong want to update the psm provioder?

Okay, but in general things that are not supported by the provider can return `-FI_ENOSYS` (such as `FI_READ`/`FI_SYMMETRIC` flags or `FI_AV_TABLE`) and things that are programmatic issues (invalid sizes) are actually `-FI_EINVAL`.

Sounds good to me.

Good idea.

Oh, I think `-FI_ENODEV` is a good fit

[2016-10-07 19:00] agontarek opened #2448 "non-static global variable named init"
In [fabric.c](https://github.com/ofiwg/libfabric/blob/master/src/fabric.c), there is a non-static global variable named `init`:

`int init = 0;`

The reason it is non-static is because [var.c](https://github.com/ofiwg/libfabric/blob/master/src/var.c) relies on it. It is trivial for a statically linked application that defines its own symbol named `init` to collide with the one being exported by li

[2016-10-07 19:31] goodell commented on #2448
I don't think this is an actual issue.  Libfabric is built with its symbols not visible by default (`-fvisibility=hidden`), we have to specifically opt-in each symbol that we want to be visible in the resulting library (`__attribute__((visibility ("default")))`).

`nm` seems to support this (lowercase 'b' means it's a local-only symbol in the BSS):

[code]

Please reopen the issue if I've misunder

[2016-10-07 19:33] shefty commented on #2448
The issue referred to static linking

[2016-10-07 19:34] goodell commented on #2448
Yep, I just realized that as I re-read the question.

[2016-10-07 20:25] #2448 closed

[2016-10-07 23:02] shefty commented on #2402
I spoke with Jeff, and I think we have an agreement on how to handle this.

[2016-10-07 23:02] #2402 closed

[2016-10-10 17:37] sayantansur commented on #2448
Ironically, I think this makes it more likely to have a namespace collision. I have seen code using libfabric to use ofi_* in their network API dependent code.

[2016-10-10 17:41] shefty commented on #2448
Okay - we use 'ofi' everywhere, with the intent of expanding its usage for all internal functions.

[2016-10-10 18:28] bturrubiates opened #2454 "usnic: getinfo extension in v1.3.0 and above is not compatible with older releases"
PR #1866 added version 2 of the `fi_usnic_info` extension that improved upon version 1 by providing extra information about Cisco usNIC hardware. Although versioning precautions were taken, there were mistakes in the implementation of the original extension as well as the updates made in version 1.3.

1. The structure were not declared using the `__attribute__ ((packed))` extension. This means tha

[2016-10-11 00:12] shefty commented on #1255
I've started looking at how to implement this.  My proposal of adding fi_cq_attr to fi_info has issues, in part because Rx and Tx contexts could go to separate CQs, requests may be configured to not generate completions, counters may be used instead, etc.

Is there a real application requirement driving this request?

[2016-10-11 20:10] #1264 closed

[2016-10-11 20:11] #1450 closed

[2016-10-11 20:17] shefty opened #2459 "deprecate size_left calls"
The size_left call isn't used by applications (to the best of my knowledge), as it is impossible or exceedingly difficult to implement for some providers.  The best course is to remove this wart (my term) from the API and have apps rely on the EAGAIN return value.

Note that not all providers support this call today, so backwards compatibility is provider specific.

[2016-10-11 23:39] bturrubiates commented on #2459
I have an application currently using this, but could just as easily make it a provider specific extension.

[2016-10-11 23:43] shefty commented on #2459
The calls are still there.  Their use just generates a compiler warning now.  (And the app won't work with all providers, but that's true today.)

[2016-10-12 01:36] #2454 closed

[2016-10-13 17:34] #2431 closed

[2016-10-13 18:37] sayantansur opened #2461 "atomicvalid() with iovecs"
The current definition of atomicvalid() doesn't let an application query if IOVECs are supported in the atomic interface.

e.g. iovecs for fi_atomic() might be supported, but not for fi_fetch_atomic() or fi_compare_atomic().

How should this restriction be conveyed up to the application?

[2016-10-13 18:51] shefty commented on #2461
Egads.  How is an app supposed to use the atomic interface at all if every single call may or may not be supported with varying degrees of options?  The atomic valid calls are already horribly complex.

I vote the provider needs to document this limitation in their man page.

[2016-10-13 18:54] sayantansur commented on #2461
Good enough for me. I just wanted to know what we should do (if anything). Agree about the explosion of options here.

[2016-10-13 18:54] #2461 closed

[2016-10-14 17:55] jsquyres commented on #1947
@hppritcha Did this get resolved via the coll/sync module?

[2016-10-17 22:56] shefty commented on #2223
I have an update to the man page, which I will add to my abi 1-1 PR.  I'm hesitant to add a new wrapper to support changing both the tx and rx flags at the same time, mostly because I'm not seeing a strong use case for having that functionality.  Is there even a strong case for changing the Rx flags?

[2016-10-17 23:42] sayantansur commented on #2223
I think your man page update should be good enough for now.

[2016-10-18 16:07] bturrubiates commented on #1039
Fixed by #2397.

[2016-10-18 16:07] #1039 closed

[2016-10-19 17:25] tonyzinger opened #2473 "fi_atomic man page has both fi_atomicvalid and fi_atomic_valid"
In the name section, the api is fi_atomic_valid, fi_fetch_atomic_valid and fi_compare_atomic_valid.
In the synopsis section, the api is fi_atomicvalid, fii_fetch_atomicvalid and fi_compare_atomicvalid.

[2016-10-19 18:19] shefty opened #2475 "fi_info address format may differ from AV address format"
See PR #2474.  The PSM providers require using a different address format for AV insert operations, than what it can return from the fi_getinfo call.  Technically, InfiniBand can have a similar problem.  The native transport/network address that would be used with AV insert is not known until after an EP has been allocated.  As a result, what is stored in fi_info are either an address that require

[2016-10-24 19:09] tonyzinger opened #2476 "fi_cq man page 'len' completion field clarification"
The fi_cq man page states for the 'len' completion field only applies to completed receive operations.
What does "receive" mean?

For example, if the data is transferred from the remote instance using the fi_writedata API, does it mean that when the receiving side processes this CQ event, this field will be filled in?

Or does it mean that when the receiving side is using a "receive", i.e. fi_recv

[2016-10-24 20:47] shefty commented on #2476
This field applies to completions for fi_recv, fi_trecv, and related calls.  It represents "how many data bytes were actually placed into the associated receive buffer".  It is for message transfers only (send, tsend), not RMA or atomics.

[2016-10-24 21:58] #2476 closed

[2016-10-24 21:58] #2334 closed

[2016-10-24 21:58] #2473 closed

[2016-10-25 21:23] #2158 closed

[2016-10-25 21:25] #2044 closed

[2016-10-27 19:05] jsquyres opened #2485 "How to stringify -> unstringify an endpoint address?"
Over on the Open MPI side of the world, @anandhis and @rhc54 have approached me with a use case that we can't seem to handle in libfabric yet.  Namely:
1. Open an endpoint in a "server" process
2. Call `fi_getname()` on that endpoint
3. String-ify the name obtained from `fi_getname()` and pass it as a CLI option to starting a remote client (e.g., if we're starting that remote client via `ssh`)
4.

[2016-10-27 19:16] j-xiong commented on #2485
The simplest way I can think of is a function that does the inverse of fi_av_straddr(): converting the string back to the address recognizable by the provider. Something like this:

int fi_av_addr_from_str(char *string, void *addr, int *addrlen)

[2016-10-27 19:23] jsquyres commented on #2485
This would be a new downcall into libfabric, and would likely need to rely on a provider to handle it (e.g., I would be against putting a GNI or PSMx convertor out in the core).  That would imply that a provider name should be included in the string -- perhaps a URI of the form `PROVIDER://ADDRESS`.

[2016-10-27 19:24] shefty commented on #2485
fi_av_straddr requires an AV because the conversion is a provider specific function, so any reverse function would need that as well.  I don't know that the address returned from fi_getname can necessarily be converted back into a simple <node, service> string pair.

Jianxin added a decent string format for the psm providers.  Such a format could be adopted by other providers.  We would need to ag

[2016-10-27 19:24] jsquyres opened #2486 "fi_getinfo(3) "Addressing Formats" section does not list FI_ADDR_GNI"
@sungeunchoi @hppritcha I noticed today that the "Addressing Formats" section of `fi_getinfo(3)` lists all the `FI_*` address type constants, but does not list `FI_ADDR_GNI`.

[2016-10-27 19:45] j-xiong commented on #2485
Having the provider name / address type name in the address string indeed sounds like a good idea. we could has addresses like "sock://<node>:<port>",  "psm://<epid>", "psm2://<epid>:<vl>", "iface://<type>:<unit>:<port>".

[2016-10-27 20:15] jsquyres commented on #2485
Are there apps out there today that rely on the specific string output format of `fi_av_straddr()`?  I.e., are we affecting backwards compatibility by changing the output format of those strings?

[2016-10-27 21:04] j-xiong commented on #2485
I am not aware of any. If such application exists today, it must have assumed socket address. For the sake of backward compatibility (if that is an issue), we could assume socket address when the address type / provider name is missing.

[2016-10-27 21:05] shefty commented on #2485
I'm not aware of any apps that rely on the output from fi_av_straddr.

In any case, I was considering adding a new call

fi_straddr(struct fid_fabric *fabric, blah blah)

in order to avoid needing to create an AV.  (I can't think of a reasonable way to make this work with fi_tostr).

[2016-10-27 21:32] rhc54 commented on #2485
This sounds good to me. Just to further clarify the motivation: we are trying to make a significant reduction in the startup time for mpirun. When mpirun launches a daemon on a non-PMIx enabled system, the daemon has to "phone home" as that is the only contact point it can know, so mpirun passes that initial contact info on the cmd line.

Once the initial contact is established, we can do the usua

[2016-10-27 22:27] #2486 closed

[2016-10-28 02:22] danghvu opened #2489 "`fi_write` with offset instead of address ?"
Taken from the [man page](https://ofiwg.github.io/libfabric/master/man/fi_rma.3.html)

However, as I tested and check with the test at: https://github.com/ofiwg/fabtests/blob/master/simple/rdm_rma_simple.c#L68

This "address" seems to be an offset to the remote address registered with the key instead of the actual address? Maybe there is document somewhere that i have missed, otherwise this name i

[2016-10-28 18:13] bturrubiates opened #2491 "debug symbols are included in all builds"
Due to [this](https://github.com/ofiwg/libfabric/blob/master/Makefile.am#L26) line in `Makefile.am`, debug symbols are included independent of whether the library is configured with `--enable-debug`.

On one hand, it's useful to have this information when helping users with issues, but it also increases the library size.

Should this be left as-is, or fixed for the 1.5 release?

@jsquyres @shefty

[2016-10-28 18:54] jsquyres opened #2492 "libfabric.pc really shouldn't add -L/usr/lib or -L/usr/lib64"
Right now, libfabric.pc unconditionally does this:

[code]

which will end up including `-L/usr/lib` or `-L/usr/lib64` if the prefix is `/usr`.  This is Bad.  Instead, it should read something like this:

[code]

Then:
- If `$libdir` is `/usr/lib` or `/usr/lib64`, leave `PKGCONFIG_LIBDIR` blank
- Otherwise, set `PKGCONFIG_LIBDIR` to an expanded version of `$libdir`

[2016-10-28 19:03] shefty commented on #2491
If this has always been like this, we should leave it for 1.4 and decide whether to keep it for 1.5.

[2016-10-28 19:10] bturrubiates commented on #2491
Yeah, I figured it's too close to 1.4 to fix now. I believe it's always been like this.

[2016-10-28 19:38] shefty commented on #2405
I can't verify mxm, but I wouldn't worry about that provider, since it'll be removed shortly, and I don't even know how well it runs with fabtests.

[2016-10-28 22:33] shefty opened #2494 "prov/verbs: RDM does not support loopback address"
runfabtests fails for rdm endpoints when using the loopback address.

[2016-11-01 14:13] evgeny-leksikov commented on #2494
@shefty it works if define corresponding interface: FI_VERBS_IFACE=lo
loopback address is excluded by default because of impossibility to use this address for AV in real use cases.

[2016-11-02 18:24] jsquyres commented on #2405
v1.4.0 release is now complete.

[2016-11-02 18:24] #2405 closed

[2016-11-04 21:27] kseager opened #2502 "prov/gni: atomic performance"
message rate performance needs some tuning for the atomics pathway: notably int add/increment.

refer to the following test from Sandia SHMEM-OFI for investigation purposes:
(will need to configure SOS with --enable-lengthy-tests to build test suite)

https://github.com/Sandia-OpenSHMEM/SOS/blob/master/test/performance/shmem_perf_suite/shmem_bw_atomics_perf.c

[2016-11-04 21:34] #2502 closed

[2016-11-07 19:15] jnthsmth opened #2504 "AV insertion, removal, and reinsertion causes FI_ADDR_NOTAVAIL"
Problem discovered in libfabric 1.1.0 on 10/31/2016

For reasons tangential to the problem at hand, I wish to send a message from one unconnected endpoint to another using the address vector in a “insert, send, remove” pattern.

After performing one insert, send, remove iteration, the second fi_av_insert causes the sockets provider to throw a debug message saying that the sockets address given is

[2016-11-07 19:36] jsquyres commented on #2504
Which provider are you using?

If you're using the sockets provider, can you try again with Libfabric v1.4?  There were some AV bugs fixed in the sockets provider for v1.4.

[2016-11-07 22:56] jnthsmth commented on #2504
I upgraded to 1.4.0 and updated my application accordingly, and the issue was resolved. Thanks!

[2016-11-07 22:56] #2504 closed

[2016-11-09 21:52] shefty commented on #2491
Looking into this, I'm not sure that we want to keep the --enable-debug option, but instead require the user to specify the correct CFLAGS as part of configure.

[2016-11-09 22:14] bturrubiates commented on #2491
What's the reasoning behind removing the option?

[2016-11-09 22:27] shefty commented on #2491
Several posts I read indicated that the debug options were compiler specific.  But it looks like there is a standard to use -g for any c99 compliant compiler.  So I ended up keeping it.  See #2512.

[2016-11-09 22:35] shefty commented on #2489
What provider did you run this against?

[2016-11-09 22:37] shefty commented on #2489
Okay - I think I see.  That test uses FI_MR_SCALABLE, which treats the address as an offset.  The address is a virtual address if FI_MR_BASIC memory registration mode is used.

[2016-11-09 23:37] shefty commented on #2485
Here are some options.  All involve defining a common address string format:

"prov://field1:field2:field3..."

Option 1
fi_getnamestr(ep, char *buf, size_t *len);

The app retrieves the address of the EP directly as a string.  The fi_getinfo() call remains unchanged and simply checks for the new address string format.

Option 2:
fi_getname2(ep, void *addr, size_t *addrlen, uint64_t flags);

More

[2016-11-09 23:46] #2491 closed

[2016-11-09 23:49] #2489 closed

[2016-11-09 23:54] #2387 closed

[2016-11-09 23:56] #2424 closed

[2016-11-10 00:48] j-xiong commented on #2485
For option 3, do we have a way to let the provider use more than one address format, i.e. let the string address be a supplement format instead of the only format?

[2016-11-10 00:53] shefty commented on #2485
I'm not sure I understand the question.  This is what I currently have as a patch description:

    Define FI_ADDR_STR.  This indicates that the application will
    use a string format for all addresses.  The string format is
    provider specific, but follows this format:

    format://field1[:field2[:field3...]]

    Format may be a well known format, such as "sock", or a provider
    name, suc

[2016-11-10 01:05] j-xiong commented on #2485
That actually answered my question. I was not sure if a provider can use a different format most of the time but use string format when needed. It is clear to me now.

[2016-11-10 01:16] shefty commented on #2330
@a-ilango - can you please update the verbs provider to support the missing calls?  Just restrict the call to an iov limit of 1.

I will craft a proposal to update the API.

[2016-11-10 01:34] rhc54 commented on #2485
Is there a concern here that this might become too restrictive? My original question wasn't intended to impose a sweeping mandate that all providers must have string addresses. I was only asking for a way to obtain a string-like address from those providers that can provide one. All other providers can still exchange binary address info during normal startup procedures.

Personally, I'd prefer a s

[2016-11-10 17:28] shefty commented on #2485
We already have a call that requires all providers to convert their native address into some sort of string.  It's just associated with an AV, which isn't friendly for some apps to use.  (This is the original problem called out by Jeff.)  Combining this requirement with the requirement that all providers need to parse the <node, service> parameters from fi_getinfo, and we're almost at option 3.

W

[2016-11-10 17:48] anandhis commented on #2485
Think the original request was to provide a way to convert the string back to a binary address (by the provider).
Something like below added
fi_strtoep(char *buf,size_t *len, ep)
(or)
fi_strtoav(char *buf, size_t *len, av)

The string format like you mentioned in option-3 is an extensive solution.

Thanks,
Anandhi

From: Sean Hefty [mailto:notifications@github.com]
Sent: Thursday, November 10, 201

[2016-11-10 18:04] shefty commented on #2485
This is a proposed solution, not the actual problem/requirement as I understand it.

There are a couple of issues with the existing API.  First, a binary address cannot generically be converted into a string without using an AV.  This is mostly a nuisance to apps.  Second, there is a disconnect between the address string and having the ability to use it with the fi_getinfo call.  This is more chal

[2016-11-10 19:17] #2330 closed

[2016-11-10 19:29] jsquyres opened #2516 "usnic provider segv on failed fabric open"
If `usdf_fabric_open()` fails (e.g., if the call to `pthread_create()` fails), it jumps to a `fail` label, which then tries to close the fabric by calling `usdf_fabric_close()`.  However, something in the sequence / guard values isn't right, because it will abort deep in `usdf_fabric_close()`.

[2016-11-11 00:59] #2494 closed

[2016-11-15 22:05] shefty opened #2529 "job key support"
Several HPC applications make use of job keys to restrict communication between parallel running jobs.  There is currently no mechanism in libfabric to support such a feature and would need to be handled out of band.  We need to analyze job key support and determine what, if any, changes will be needed to support it.

The request as far as I understand it so far is that each application may be ass

[2016-11-15 22:46] shefty commented on #1275
It turns out that most of the existing providers do not need this functionality.  The savings of moving the implementation into the framework is fairly small (and could add overhead, since it would need to provide locking).

[2016-11-15 22:46] #1275 closed

[2016-11-16 00:11] shefty commented on #1568
Read operations require a response from the peer, so the buffer must remain valid until the operation completes.  FI_LCOAL_MR can be used to determine if the local buffer must be registered.

[2016-11-16 00:11] #1568 closed

[2016-11-16 00:12] shefty commented on #40
No applications have jumped forward to request this feature, and no providers support it anyway.  Closing

[2016-11-16 00:12] #40 closed

[2016-11-16 01:26] shefty commented on #2366
There is no FI_THREAD_DOMAIN.  There's FI_THREAD_FID.  Apparently I captured the notes for this request wrong and need to determine why FI_THREAD_FID does not work.

[2016-11-16 16:00] ztiffany opened #2530 "Clarify use of fi_recv() with unconnected MSG endpoint"
It looks like all the fabtests using FI_EP_MSG endpoints use fi_recv() before the endpoint is connected.  This seems strange to me and I couldn't find anything in the man page that clarified whether this was allowed.  There is this about fi_send():

"The local  endpoint  must  be connected to a remote endpoint or destination before fi_send is called."

With that, I assumed that fi_recv() was simil

[2016-11-16 19:05] shefty commented on #2530
The behavior of fabtests is correct.

There is this statement in fi_endpoint.3:

"Once an endpoint has been activated, it may be associated with an address vector.  Receive buffers may be posted to it and calls may be made to connection establishment routines."

We should add more information to fi_msg.3 about pre-posting receive buffers.

[2016-11-16 20:00] shefty opened #2531 "Possible new mode bit: FI_LOCAL_RMA_MR"
The current API exposed an FI_LOCAL_MR mode bit.  When set, this requires that send, receive, and RMA buffers be registered before being used.  With MPI, it can easily register memory when posting RMA operations, but send and receive buffers come directly from the application. Supporting a new mode bit that only requires registering RMA buffers fits better with MPI for providers that do require re

[2016-11-16 20:01] shefty commented on #2531
@evgeny-leksikov @a-ilango - hopefully this captures the problem correctly

[2016-11-16 21:11] a-ilango commented on #2531
@shefty Looks fine to me. So with this change, only for large send/recvs we would incur additional latency due to memory registration of the send/recv buffers.

[2016-11-16 21:38] shefty commented on #2531
Correct, larger send/recv would use rendezvous protocol of rdma read.  The registration could be done per operation or cached.  Caching has problems and requires hooking all memory allocation calls, so registering/unregistering would be safer, though less performing.  We may want to get input from MPI developers on the best implementation techniques.

[2016-11-16 22:20] a-ilango opened #2532 "rxd provider fails rma_bw and rma write data streaming test"
Opening this issue to track the following test failures (when running runfabtests.sh) for rxd provider:

fi_rma_bw -e rdm -o write -p rxd:                       Fail
fi_rma_bw -e rdm -o read -p rxd:                        Fail
fi_rma_bw -e rdm -o writedata -p rxd:                   Fail
fi_rdm_rma -o writedata -p rxd:                         Fail

[2016-11-16 23:59] shefty commented on #1124
At some point this was added to the man pages for long double atomics:

[code]
which is as good as any solution that we have discussed.

[2016-11-16 23:59] #1124 closed

[2016-11-18 01:52] shefty commented on #1001
Attempting to define something that works with the AV is causing issues, since the EPs that should be associated with the multicast address may not be known at the time the address is inserted.  Anyway, here's my latest thoughts that I will work from (writing them down in case I get distracted before I can complete the patch):

FI_MULTICAST is a capability bit.
Add CM::join()/leave() operations.
J

[2016-11-18 05:41] shefty opened #2534 "Determine proper definition for domain caps/mode"
PR #2444 contains a patch that adds domain caps and mode bits.  The proposed definition meets a specific requirement; however, the ofiwg should determine if that definition is complete, or should be expanded.  For example, the domain caps could report any cap supported by the domain, unrelated to the fi_getinfo call itself.  If the definition is expanded, we would need to ensure that it doesn't br

[2016-11-18 17:39] evgeny-leksikov commented on #2531
@shefty I do not see the problem for verbs compatible HW to hide the registration inside fi_read/fi_write calls.
Moreover, the verbs provider supports fi_write_inject which uses the local preregistered buffer. The same may be done inside fi_read/fi_write calls for optimizations purposes.
@hoopoepg please add or correct me if I missed something.

[2016-11-18 17:50] shefty commented on #2531
I have a patch that adds this mode bit, but it's easy enough to drop it.  We still need to discuss all proposed API changes.

I thought you mentioned that MPI can register source RMA buffers as part of window creation.  If that's the case, we could be better off with this mode bit, than registering and unregistering inside each fi_read/fi_write call.  What I need to understand is how MPI will use

[2016-11-18 19:35] jsquyres opened #2535 "build: Allow creation of provider DL packages"
I received a request:

Yes, this is do-able.  Filing an issue here to track it.

[2016-11-18 19:41] evgeny-leksikov commented on #2531
Window creation does memory registration regions on targets and key exchange. Originator may work with new buffer every time to read/write from/to remote window. In addition, as I understand, upper level, such as MPI, is able to register local memory even if it's not required by FI_LOCAL_MR flag if the memory will be used many times. Then, for example, verbs provider just may check desc for valid

[2016-11-18 19:53] shefty commented on #2531
Thanks - this is helpful and leads me to believe that my current proposal isn't quite what we want.

[2016-11-18 20:13] shefty commented on #2531
After more offline discussion, this approach will not help and only complicates the API.  Closing the request, and I will drop the patch from my PR.

[2016-11-18 20:13] #2531 closed

[2016-11-18 22:13] shefty commented on #2529
@j-xiong @sayantansur @sungeunchoi @hppritcha @jeffhammond @pkcoff -- To assist in defining this, I need to understand better how job keys are used currently, along with other details.  First, are there any problems with the description for this issue?  Second, would a 64-bit key be sufficient for all existing networks?

[2016-11-18 22:16] sayantansur commented on #2529
I know that Omni-Path defines a 16-bit job key. I'm OK with the description.

[2016-11-18 22:42] jeffhammond commented on #2529
The former seems like an unnecessary overhead.  Associating these keys with endpoints makes sense.

@pkcoff should talk to Venkat about this.  We should also invite feedback from e.g. ADIOS folks.  These I/O and/or analysis folks seem to have nontrivial usage models for this type of feature.

[2016-11-18 23:03] j-xiong commented on #2529
The 16 bit OPA-1 job key is managed by the driver and serves as a way to prevent cross traffic between different users. We can ignore that for PSM2. The real job separation in PSM2 is through the UUID, which is 16 bytes.

From: Sayantan Sur [mailto:notifications@github.com]
Sent: Friday, November 18, 2016 2:16 PM
To: ofiwg/libfabric <libfabric@noreply.github.com>
Cc: Xiong, Jianxin <jianxin.xiong@

[2016-11-21 18:45] jshimek opened #2538 "EQ, CQ, CNTR fi_*_sread/from fi_cntr_wait man page request for clarification"
I am requesting clarification on what error codes the providers should return if an invalid WAIT_OBJECT type is being used when an cq, eq, or cntr is used with fi_cq_sread/from, fi_eq_sread/from, or fi_cntr_wait.

The man pages for these functions specifically state that:
It is invalid for applications to call this function if the counter/cq/eq has been configured with a wait object of FI_WAIT_NON

[2016-11-21 19:09] shefty commented on #2538
My oriningal thinking on this is that I do not want to force providers to insert checks in the wait calls, especially if wait support would always be there whether the application requested it or not.

That said, I think returning FI_ENOSYS is a good choice, as that allows the provider to use the current enosys version of all calls.  I do not think providers should implement no wait object support

[2016-11-21 20:13] shefty commented on #2538
I did a quick check of the providers for fi_eq_sread.
* util, usnic, bgq - return FI_ENOSYS
* gni - busy wait, but I think that's the only wait support it has.
* verbs, sockets - implement an eq using an fd, so call poll.
Providers could trap for no wait object during initialization and set sread=fi_no_eq_sread.

[2016-11-21 20:50] jshimek commented on #2538
Manipulating the ops table is perfectly workable when not using FI_DIRECT, but currently when using FI_DIRECT at least with the gni provider it bypasses all the ops tables and does a direct mapping to the underlying gni functions. In that case we would need to put the checks into the underlying provider functions anyway, or require extra checks in code that currently just does a quick pass-through

[2016-11-21 21:10] shefty commented on #2538
I'd prefer to avoid forcing providers to keep this state and process checks on every call. I'd rather use assertions to trap for this, as this is a coding error that can't be fixed at run time by the app.  At least the sockets provider should trap for this as it's intended to be used for debugging.  If a provider does want to trap for this they can, but I'd rather not mandate it.

[2016-11-21 21:12] bturrubiates opened #2539 "rxm compiler warnings"
Building using GCC 4.8.4:

[code]

[code]

@a-ilango could you take a look?

[2016-11-23 00:38] #2539 closed

[2016-11-23 19:38] shefty commented on #2529
For a job key to work, doesn't it need to be carried in the message protocol?  What does psm2 do with a 16B UUID?

[2016-11-23 22:06] shefty commented on #2529
The psm2 code is large and difficult to follow, but it appears that it uses a 16-bit job key.  The 16-byte value passed in through the API and labeled as a "job_key" isn't an actual job key.  I'm not sure what it is.  I see a job key hashed to an 8-bit value, 16-bit protocol fields, uses for a 32-bit value, and a uuid...  But I'm not sure it matters.

I can think of a couple of ways that a provide

[2016-11-24 00:25] sayantansur commented on #2529
Sounds good to me.

[2016-11-24 01:25] shefty commented on #2345
Another option.  Add a 'char *prov_stack' field to fi_fabric_attr.  This field would list all layered providers.  Example:

prov_name: "usnic"
prov_stack: "rxd/usnic"
protocol: FI_PROTO_RXD

The protocol field becomes relative to the provider stack, rather than the provider.  The fabric and domain names remain unchanged (as set by usnic in this example).  This proposal would meet Cisco's requireme

[2016-11-28 18:37] sayantansur commented on #2345
A random comment. A while ago, someone told me (forgot who), that FABRIC_DIRECT was broken with the layered provider approach. If I remember right, it wasn't clear where the FABRIC_DIRECT def'd part of the header files would be installed from. Suppose should have filed the bug then.

In any case, if this problem could be avoided when using layered providers that'd be great. I'm mainly looking to a

[2016-11-28 22:31] jswaro opened #2547 "MR Notifications from KDREG may be consumed by the wrong domain"
In the multi-domain case, KDREG notifications could be consumed by the wrong domain if the notification on the top of the stack does not belong to the calling domain.

@sungeunchoi @ztiffany

[2016-11-28 22:43] jswaro commented on #2547
Wrong repo.

[2016-11-28 22:43] #2547 closed

[2016-11-29 18:59] mblockso opened #2548 "Extend memory region modes to enable hardware acceleration"
Continuing discussion from #2444

The current memory region modes bundle two distinct attributes in their definition. The first is whether the key may be specified by the user or whether the key is generated by the provider and the user is required to exchange these keys with remote processes. The second is whether the remote memory is addressed using an offset or a virtual address.

The `FI_MR_SC

[2016-11-29 19:28] sayantansur commented on #1394
One minor wrinkle is that at CQ creation time, we still don't know whether this CQ will be associated with EPs that will have operations using FI_CONTEXT or not. That means, the CQ poll routines that get set during fi_cq_open() need to be able to deal with both situations, and then at run time check the type again.

This is obviously micro-optimization, but it would be nice if we could deduce duri

[2016-11-29 19:53] shefty commented on #1394
A CQ can defer setting function pointers until the first EP is bound to it.

I'm still looking at how to associate the CQ attributes with fi_info, but that's ending up as a non-trivial link.  I've also thought about adding mode/cap bits to the CQ attributes, but that has compatibility problems that would need to be addressed.  (The api_version may work for that.)

One problem I see is that the pro

[2016-11-29 20:02] sayantansur commented on #1394
That's great, solves the problem I was talking about. Maybe it needs to be clarified in the man pages though, currently, there is no such restriction. I can submit a PR.

I'll think about the FI_RESTRICTED_COMP further to see if there are better ideas.

[2016-11-29 21:56] sayantansur commented on #1142
Just clarifying, unless FI_RMA_EVENT is set, we don't have to set any flags at all, other than FI_REMOTE_CQ_DATA and FI_MULTI_RECV?

[2016-11-29 22:17] shefty commented on #1142
Yes, see https://github.com/ofiwg/libfabric/pull/2444/commits/a14a6876f58f1205b9f35b59671d95bd4a220d61

[2016-11-29 23:07] sayantansur commented on #1142
👍 I also want 🍟 with that!

[2016-12-01 00:09] shefty commented on #2548
With the proposed raw memory region support, a provider should be able to support FI_MR_BASIC and convert.  This would introduce additional overhead in RMA operations -- the key would be used to convert an address into an offset, but it is also an option.

Which feature does bgq support?  Offset based addressing or user provided key? What is the key size used by bgq?

The MR mode implies one more

[2016-12-01 00:13] jswaro commented on #2529
What level of exclusivity are you planning for these keys? Should EPs be allowed multiple keys, or only a single key ?

[2016-12-01 00:41] shefty commented on #2532
adding this failure as well

*** Error in `fi_av_test': double free or corruption (out): 0x083e2408 ***
fi_av_test -g 192.168.10.1 -n 1 -s 127.0.0.1 -p ofi-rxd:      Fail

[2016-12-01 00:55] shefty commented on #2532
on virtual box over udp provider:

fi_poll -t queue -p ofi-rxd:                            Fail
fi_rdm -p ofi-rxd:                                      Fail
and nearly everything else is listed as notrun... so let's just say that the provider isn't baked yet.  :) These are the only tests that passed:

fi_dom_test -n 2 -p ofi-rxd:                            Pass
fi_eq_test -p ofi-rxd:

[2016-12-01 01:01] shefty commented on #2529
Each endpoint would be allowed a single key.  An app would need to use multiple endpoints if they needed to use multiple keys.  The app would have access to multiple keys through the fabric structure.  See the initial proposal at:

https://github.com/shefty/libfabric/commit/492c72bd47dce0aae1cb491a9ef90ad8baf7cb04

Adding multiple keys per endpoint would essentially make the keys a per operation i

[2016-12-01 02:48] mblockso commented on #2548
The bgq hardware would use a provider-supplied key that must be exchanged between all peers (as in `FI_MR_BASIC`) and would use offset-based addressing (as in `FI_MR_SCALABLE`).

All memory is pinned and backed by physical memory.

If you must know the nitty gritty details, the key will contain the base physical address of the memory being registered and actually only needs 42 bits to store this i

[2016-12-01 12:47] JoZie opened #2556 "fi_info doesn't show the verbs rdm provider"
I'm developing an application that uses a RDM endpoint. Now I want to test it on our HPC-System.
Therefor I wanted to check the existing providers with the `fi_info` tool. But the output showed only the verbs `FI_EP_MSG` provider.

I did a little debugging [(output)](https://gist.github.com/JoZie/2928142eb0789f5656bcf93cb99552d6) and discovered that there is a missmatch of ip addresses in `fi_ibv_

[2016-12-01 16:52] jswaro commented on #2529
I thought so. I just wanted to clarify.

[2016-12-01 17:03] sayantansur opened #2557 "offload collectives: need a send atomic function"
As discussed in previous OFIWG meetings:

It is very convenient to implement offload MPI collectives using the tag-matching API. In the MPI reduction collective, there is a need to perform an accumulate operation on the remote side. Some algorithms may want to support multiple senders that are atomically accumulating at the target.

A send_atomic function w/ tag matching would be very useful. I di

[2016-12-01 17:07] sayantansur opened #2558 "offload collectives: completion counter per triggered op"
As discussed in previous OFIWG meetings:

In order to support collective algorithms, it is required to know (and therefore trigger) a given message, provided some other specified message completes.

Currently, the triggered ops bump the counter associated with the endpoint when they complete, therefore it is impossible to distinguish *which* message completed.

An initial proposal was to add a com

[2016-12-01 17:11] sayantansur opened #2559 "offload collectives: triggered counter increments"
As discussed in OFIWG meetings:

In order to chain independent sets of triggered operations to form a composite set, we need a triggered operation that just bumps a counter (instead of initiating a message). The idea is that then you could trigger another set of messages when this composite set completes.

An initial proposal was to add a trig_inc/trig_set function to the struct fi_ops_cntr.

[2016-12-01 19:06] a-ilango commented on #2556
@evgeny-leksikov can you please take a look?

[2016-12-01 20:27] shefty commented on #2548
I agree that the raw proposal would add more overhead, and I would not list it as my top option for this.

I *think* you could make use of Mr. Basic if you used:

key = base virtual address - base physical address
offset = virtual address passed into read/write call - key

The key is set when registering, and the offset is calculated at the peer.  The overhead is trivial.

It's possible to convert

[2016-12-01 20:47] shefty commented on #2548
I missed answering one of your questions -- once a key has been mapped, the raw data can be deleted.  The provider isn't even required to store anything unless it needs to.  Note that there is an open issue that came out of the ofiwg discussions related to how an app indicates that it no longer needs a raw key, so that the provider knows it can free any internal allocations.

[2016-12-01 22:12] jswaro commented on #2529
So this has been a hot topic with the GNI provider.

From the perspective of the GNI provider, the proposal seems fine. There are a few things that raise issues:

The domain seems to be the appropriate level for this type of API. A domain would represent the entirety of a job's partition of the network. Additional domains could use different protection keys, creating a different partition of the f

[2016-12-02 00:16] shefty commented on #2529
I selected per endpoint, as that minimizes the changes to the existing interfaces, and will likely provide better performance for most use cases.

I placed the full set of keys with the fabric, but maybe a domain is a better match.  This needs more discussion.

I added the authorization key to the memory registration request.

We can, but I'm really wanting to start reducing the number of options

[2016-12-02 16:43] ztiffany commented on #2529
Two thoughts for now after looking at shefty@492c72b :

1. One auth key per domain seems like a better fit to me.  That way, MRs, CQs, and other domain objects are protected by the auth key without any further API changes.  It's not clear to me how allowing an auth key per EP will enable better performance for a given HW.

2. Most jobs will probably be able to initialize with an auth key in the li

[2016-12-02 16:48] sayantansur commented on #2529
One auth key per domain seems unnecessarily restrictive. There could be use cases where one domain object is used to connect multiple jobs. For example, in MPI dynamic job connection, the MPI library can keep one Completion queue, but have different endpoints per inter-communicator. If we have just one domain key, MPI is forced to create multiple completion queues and poll them.

I think similar a

[2016-12-02 16:56] jswaro commented on #2529
@shefty You quoted the original text with some of your responses.

Would there be much, if any, change if this were per-domain rather than per-endpoint?

What use cases are you envisioning? I've discussed this issue with the IO/ADIOS folks in the past so I have some context for the use cases that can occur with this type of feature.

Are you talking about the list that you've proposed in the fabri

[2016-12-02 17:20] jswaro commented on #2529
Whether we use the domain as the logical splitting point (by embedding the auth key), or use the authorization key as a separate logical splitting point seems to be the crux of the discussion.

What should the domain be used for? Is it meant for splitting resource groups locally, or globally?

That inter-communicator for the external parallel job represents a completely disjoint subset of resource

[2016-12-02 17:41] sayantansur commented on #2529
I'm also not fond of polling a dozen CQs unnecessarily. It hurts performance. It is not just a matter of a CQ, but all the objects that are associated with a domain will need to get replicated.

If the provider supports only one key, it can do so by indicating the number of keys it actually supports.

[2016-12-02 17:47] mblockso commented on #2529
FYI .. some hardware does not support job keys or protection domains at all. This proposal should have a way to expose this fact to the application... :)

[2016-12-02 17:53] sayantansur commented on #2529
Yup :) you can set the count of supported keys to 0 in Sean's proposal.

[2016-12-02 17:55] shefty commented on #2529
Re-posting this issue to the ofiwg mailing list to get broader discussion.

[2016-12-02 22:20] ztiffany commented on #2529
That is a downside, but is it a major performance concern?  Are there issues with other domain objects?  It might help to list the pros/cons on each domain object of associating auth keys with the domain vs. the EP (am I missing other domain objects?):

|  Object | Domain Keys | EP Keys
|---|---| ---
CQ/CNTR | Con: Must use unique completion objects for each auth. domains.  A process can still pol

[2016-12-02 22:38] shefty commented on #2529
Con for domain: Disallows interactions, such as triggered operations, between different keys.

Pro for EP: keys seem more naturally associated with an EP or part of the transport protocol.

Pro for domain: Protections, such as MR keys, are currently associated with domains.

[2016-12-02 22:41] sayantansur commented on #2529
We can alleviate the Con of the API change by introducing appropriate flags such that only apps who are interested in using security keys need to change. If I'm reading right, Sean's proposal allows apps to ignore the key (by setting index 0), or using older ABI, in which case the library will ignore the key for you.

Polling CQ is only one thing I picked on. @ztiffany pointed out that not sharing

[2016-12-02 22:51] shefty commented on #2529
I'm not sure that the AV is an issue.  You need 1 AV entry per peer EP, independent of using keys.  So I don't think splitting the AV would cause duplications of addresses.

If anything, reducing the AV size would mean allowing multiple keys per EP, which makes the key a per operation parameter. :/

[2016-12-02 22:55] sayantansur commented on #2529
True, scratch the AV memory size issue. I got carried away :)

[2016-12-04 23:32] rhc54 commented on #2485
Hi folks - I see @shefty referenced this a few days ago. Any prognosis and/or ETA?

[2016-12-05 07:36] evgeny-leksikov commented on #2556
@JoZie Thanks for reporting. Currently, the verbs/rdm does not have any intelligent recognition of available interfaces. It takes first match by "ib" name and works with that. Using FI_VERBS_IFACE parameter is right way for definition of desired interface in current version.
Could you share initialization config files from your system (for RHEL, they are placed in /etc/sysconfig/network-scripts/if

[2016-12-05 09:03] JoZie commented on #2556
@evgeny-leksikov
Thanks for your answer. Even though I uploaded the two [config files](https://gist.github.com/JoZie/e4c6e2532426c24a202d9e2b6651cf36) from our login nodes, the rest of the system is configured similary.
I tried to use the FI_VERBS_IFACE parameter with the correct interface name (`ib0`) but this doesn't work, there is still no verbs-rdm provider available. The debug output looks ba

[2016-12-05 09:41] evgeny-leksikov commented on #2556
@JoZie Thanks! Yes, you are right, FI_VERBS_IFACE works as a prefix and, in your case, both start from ib0 but ib0:0 is matching first.
@hoopoepg please prepare a fix for strong matching when it's available in the system.

[2016-12-05 16:36] shefty commented on #2485
The intent is to have a solution by the next release.  We'll eventually discuss my proposal in an ofiwg call, possibly as soon as tomorrow (12/6), but it could come 1-2 weeks after as we work through all staged changes.

[2016-12-05 17:04] jswaro commented on #2529
Agreed. However, depending on where is this exposed, it can be done by software if we wanted to support it. Sockets could easily take part in this by rejecting during connection setup if the auth key from the other socket doesn't match.

In general, that is intent by design. Authorization keys are supposed to prevent interaction between objects utilizing different keys, so I would think this appli

[2016-12-05 17:42] hoopoepg commented on #2556
@JoZie could you try this PR: https://github.com/ofiwg/libfabric/pull/2570
we bit updated initialization scheme which allows exact matching of specified interface

thank you

[2016-12-05 18:03] sayantansur commented on #2529
I didn't understand this. What is being searched here? Every completion has its own context, so it is easy to find what completed and what part of the application it belongs to by dereferencing the context.

Let's keep in mind that the application can just as easily assign a separate CQ for the external job. i.e. adding auth_key to EP does not take any flexibility away.

Looking from MPI down:

(1

[2016-12-05 18:32] jswaro commented on #2529
Address vectors.
Indirect references to objects. (memory registrations on keys longer than what is represented by 64 bits)
Internal data structures when resolving objects that aren't fully covered by what is provided by libfabrics. (tag matching)

While MPI can make a good reference argument, we need to consider non-MPI cases, especially for the IO domain that is likely to make use of this.

MPI c

[2016-12-05 18:34] shefty commented on #2529
These were the thoughts behind my proposal:

The fabric is associated with multiple auth keys.  The thought behind this was to support the app talking with different groups of peers; each group with its own key.  By putting the keys with the fabric, the app could make use of separate domains, where each domain represents a NIC.  That is, the keys are being assigned to the application, not a specif

[2016-12-05 19:25] sayantansur commented on #2529
Good questions.

Can you give an example where this would lead to a problem?

All operations that initiate communication are on the endpoint, so any TX operation that matches an RX operation gets checked with the keys. Whether or not the -completion- of these operations are reported on shared objects, or the network address is taken from a shared object doesn't seem like an issue to me.

Also, an

[2016-12-05 19:36] jswaro commented on #2529
To be clear, are you talking about a mapping to a virtual NIC(software construct), or a physical device?

[2016-12-05 20:02] jswaro commented on #2529
First Example:
MPI has a habit of calling aborting whenever it believes the sky is falling. Suppose the out-of-band job dies unexpectedly. Do we provide enough information or context to understand that only one of the channels has died as opposed to a dreadful general failure, whether currently or in the future?

Second example:
Suppose we are running a large job (4K PEs or larger). We have large

[2016-12-05 20:19] shefty commented on #2529
A domain is abstract, so it could map to a virtual or physical NIC.  I was referring to a physical NIC, but I don't know that it matters.  I am viewing the authorization key as defining communication boundaries between applications, not a hardware isolation mechanism.

[2016-12-05 23:23] shefty commented on #2532
FYI - I'm debugging these issues.  I have a fix for the AV issue, and I'm working on the other failures.

[2016-12-06 16:07] sdvormwa commented on #2548
Actually more than two--in addition to the addressing and key, there is also a distinction of "registration occurs on allocated data buffers" vs "registration occurs on memory address ranges".  A provider can't currently support user-defined keys and offset-based addressing if they don't also support memory regions with "holes" (eg. unmapped pages in the region) and on-demand paging (eg, the clien

[2016-12-06 20:14] jswaro commented on #2529
I think this is an important topic. There is very little difference here and that's going to make a difference for some providers. For the GNI provider, we use hardware isolation mechanisms in the form of protections keys. Those protection keys are ingrained in our communication domains, which are ultimately tied to a virtual NIC, which are tied to the endpoint and memory registrations. This has t

[2016-12-06 21:52] shefty commented on #2529
My understanding is that psm/OPA provider enforces job keys as part of the transport.  Incoming messages are dropped unless they carry the correct key.  A secure process/kernel agent is responsible for assigning which keys a process can use.

With IB, nodes can be limited in their communication through the use of pkeys, but those map to ports, not NICs.  And each port can be assigned multiple keys

[2016-12-07 16:43] JoZie commented on #2556
@hoopoepg Thanks for your help!
I tried your PR and it brought back the verbs RDM provider but unfortunately with the wrong device.
The value of the FI_VERBS_IFACE variable had no influence anymore because the verbs provider always returned the information from the last interface found. On our system the order is `ib0` `ib0:0`.

To fix the issue myself I had prevent assigning the wrong source addr

[2016-12-07 16:46] jswaro commented on #2529
Thoughts?

I am not saying they should be directly exposed. That would be directly in conflict with making this an abstraction for the various providers. I'm saying that an auth key would be analogous to hardware isolation mechanisms for some providers.

[2016-12-07 16:57] sayantansur commented on #2529
This is overly restrictive, since the process that owns the various objects under domain, such as CQ, Counters, AVs, etc. clearly possesses all the authorization keys. To me, it makes no sense to isolate local accesses to them based on a key.

The key is meant for the -remote- side where it is used to determine whether the incoming operation matches the authorization key that the receiving process

[2016-12-07 16:58] hoopoepg commented on #2556
@JoZie
it seems I uploaded non-complete fix :)
thank you for investigation. I added your patch into my version of fix, could you try it https://github.com/ofiwg/libfabric/pull/2570 ?

unfortunately we have no system where your configuration can be reproduced.
let me know about results

thank you

[2016-12-07 19:24] shefty commented on #2529
The MR inline calls can support EPs, since they just take a fid as input, and not a domain.  (This was intentional to support MR <-> EP bindings in the future).  The defined API (MR associated with domain) supports the behavior of IB, iWarp, and RoCE hardware, and is necessary for connection-oriented applications.

Adding registration calls to an EP is possible, but the resulting behavior needs to

[2016-12-07 19:46] JoZie commented on #2556
@hoopoepg

TLDR;
There is a bug with a missing null-terminator at line 1110.
It still doesn't work correctly because of effects from `fi_ibv_retain_info` and `fi_ibv_getifaddrs`.

---
I just tried your version and it triggers a bug so that the `strncmp` doesn't return a correct "exact match".
The bug is that  the `iface` string might not have a null-terminator. That's because `strlen(iface_tmp)` i

[2016-12-07 20:09] ztiffany commented on #2529
On MR per EP:

@shefty I think your last comments further point out the fact that we lack a libfabric object that represents a job protection domain.  Until this discussion I kind of assumed that the libfabric domain was that object.  I think that's what @jswaro was trying to point out also.  I don't think it's a deal breaker that we don't have an object that closely maps to a protection domain, b

[2016-12-07 20:31] sayantansur commented on #2529
Good point on the dynamic auth key. In my survey of usage models, I didn't come across a strong desire to have that support. Taking the MPI example, I found that users were willing to start a job with all the possible keys they are required to support later.

The job, when launched has all the authorizations it needs. This ties into the implementation of the keys as well, as keys can't just be mad

[2016-12-07 20:46] shefty commented on #2529
The domain is intended to be a resource domain.  We don't have a job protection domain object.  Figuring that out, if it is even needed, is part of this issue.

I associated an endpoint with a single authorization key.  This association is made at EP creation, because that seems the time that is most easily supportable by different implementation choices.  EP creation takes as input an fi_info str

[2016-12-07 21:36] a-ilango commented on #2556
This is probably not right behavior on part of fi_ibv_getifaddrs. Perhaps the function should insert an additional fi_info struct corresponding to the virtual interface.

[2016-12-07 21:38] jswaro commented on #2529
This differs from our environment slightly. Not all of the keys available to the fabric will be available at the start of the job.

Applications are authorized to use the network and communicate with other ranks of the same application using the key that was provided at the start of the job. However, if requested, the application can request additional keys through a secure process and share those

[2016-12-07 21:52] jshimek commented on #2529
There are use cases for when applications are long running you might start a application separately that needs to gain access, the long running application wouldn't want to share its internal communication key, but set up a separate auth key with the new application. This key could also be revoked. Take a long running data generator application, where a separate visualization component could be st

[2016-12-07 22:33] sayantansur commented on #2529
@jswaro, @jshimek - thanks for the clarifications. Looks like adding support for keys that are discovered dynamically might be useful.

@shefty - just a thought, would it work if we just took the auth_keys and auth_keys out of the struct fi_fabric attribute, and just made it part of the endpoint? To be clear, just this:

[code]

How the application discovers the key is left outside of the scope of

[2016-12-07 22:55] jsquyres opened #2583 "Problem with MXM and MPICH builds"
From Martin Cuma on the mailing list (http://lists.openfabrics.org/pipermail/libfabric-users/2016-December/000145.html):

-----

Now, I have another potential quirk with libfabric. I configured it to add Mellanox MXM, as:

[code]

All built fine, the libfabric tests work, but, when building MPICH with the ch4:ofi device, the make was complaining about missing /libmxm.la. After some hunting, I have

[2016-12-07 22:57] jsquyres commented on #2583
@shefty `git blame` says that you're the main culprit behind the MXM provider.  Can you have a look at this user question?

[2016-12-07 23:11] shefty commented on #2583
I did the merge for mxm, but that was it.  @alexander-sannikov is showing as the last committer prior to it being removed.  Comparing the psm2 and mxm providers, I don't see this equivalent in mxm Makefile.include:

src_libfabric_la_DEPENDENCIES += libpsmx2.la

[2016-12-07 23:25] shefty commented on #2529
Yes - that should work.

[2016-12-08 23:51] jsquyres opened #2586 "Is the sleep(10) in the sockets provider necessary?"
I see a `sleep(10)` in the sockets provider before it retries when it fails to `connect()`. (see https://github.com/ofiwg/libfabric/blob/master/prov/sockets/src/sock_conn.c#L490)

That seems a bit excessive -- doesn't that block the entire progress thread?  (or is that progress that exclusive to that connection attempt?)

[2016-12-09 03:21] jsquyres commented on #2586
Ah, I see with a closer examination that this is not in the progress thread, but rather in the downcall (E.g., through `fi_send()`) in the calling thread (I think you might have mentioned this to me before...?).

Regardless, `sleep(10)` seems a bit excessive.  Perhaps this time could be adjustable, and default to a lower value...?

[2016-12-09 05:30] shefty commented on #2586
Sleep calls anywhere seem like a hack to me.  If this is in the fi_send call, rather than sleeping, that call could return EAGAIN and let the app retry on the next send attempt.

[2016-12-09 11:22] jsquyres commented on #2586
It's the bottom of all the `fi_send*()` calls (before it hits the sockets progression thread).  See https://github.com/ofiwg/libfabric/blob/master/prov/sockets/src/sock_conn.c#L490.

The `sleep()` is in the middle of the retry logic if the `connect()` fails.  I'm ok with the sockets provider re-trying a few times -- even if there's no sleep of any kind between attempts (and potentially returning `

[2016-12-12 01:04] hppritcha commented on #2529
For purposes of clarification, is it expected that the address of two EPs which differ only by their authorization key would have the same address? Or said differently, would it be expected that ```fi_getname``` would return the same address for EP_DGRAM/RDM endpoints differing only by the authorization keys they are using?

[2016-12-12 11:07] HonggangLI opened #2593 "Failed to compile libfabric with gcc '-finstrument-functions' enabled"
Hi,
 I'm not sure that is an issue. It maybe failed just because some functions can't be instrumented.

[code]

If remove '-finstrument-functions' from configure command line, everything works as expected. I attached the rpmbuild log as "rpmbuild.txt
[rpmbuild.txt](https://github.com/ofiwg/libfabric/files/645746/rpmbuild.txt)
".
thanks

***EDIT*** Made the middle section use Github verbatim markdo

[2016-12-12 15:09] wesbland commented on #2529
My understanding is that this would be true. Otherwise, it would make keeping track of lots of addresses a big memory problem. If we can map back to a single location, it's not so bad.

[2016-12-12 17:39] shefty commented on #2529
No - they are still different endpoints with different addresses.  The alternative is to have the key be a per operation parameter, which everyone has rejected as necessary so far.

[2016-12-12 18:31] wesbland commented on #2529
Ugh. In that case, I'm definitely less in favor of this version. If we have to duplicate each endpoint for each job key, this could be a big deal if we use a lot of MPI dynamic processes. I realize that there are currently very few apps that use this, but it could become problem for memory usage if that model starts to become more popular.

Would this be compatible if we attached the job key to th

[2016-12-12 18:40] shefty commented on #2529
The trade-off is memory versus a latency hit on every operation. Placing the job key with the domain makes the memory impact even larger.

[2016-12-12 18:45] sayantansur commented on #2529
@wesbland I'm not sure if I understand that this is the right question to ask. Two endpoints obviously have different addresses, with or without job keys.

In the dynamic process management case, you will have a new endpoint address for a new remote peer you added. But that doesn't mean the existing processes addresses change.

[2016-12-12 18:49] wesbland commented on #2529
I'm thinking through this a little more and it probably is fine as is. For some reason, I was thinking that we'd need to add job keys to some endpoint that represents the local process (which is a thing that doesn't exist). This isn't right though since the job keys will only be attached to outgoing endpoints.

You're right @sayantansur and I withdraw my objection.

[2016-12-13 05:22] HonggangLI commented on #2593
--- ./prov/verbs/src/ep_rdm/verbs_utils.h.old   2016-12-12 06:22:46.266014249 -0500
+++ ./prov/verbs/src/ep_rdm/verbs_utils.h       2016-12-12 06:23:37.136681676 -0500
@@ -50,7 +50,7 @@
  defined(__x86_64__)
 #include "xmmintrin.h"
 #define FI_IBV_PREFETCH_ADDR(_addr) {                    \
-        _mm_prefetch((const char *)(_addr), _MM_HINT_T0);\
+        __builtin_prefetch((_addr), 0, _MM_HINT

[2016-12-13 13:13] jsquyres commented on #2593
@HonggangLI Github pro tip: to render lines in verbatim mode in Github issues, surround them by lines of 3 single tick marks.  See https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2016-12-13 14:35] hoopoepg commented on #2556
there is no way to find matching between IB device and configured IP interface, that is why we have to implement hint-based logic to select proper IP interface

I updated PR https://github.com/ofiwg/libfabric/pull/2570 where issue should be fixed (we reproduced issue on our side and it works at least on our side :) )

[2016-12-13 17:26] mblockso commented on #2548
With the addition of domain capability and mode bits (#2534) could we change this 'mr_mode' enum into equivalent domain mode bits?

For example:
- FI_MR_MODE_ADDR_OFFSET | FI_MR_MODE_ADDR_VIRTUAL
- FI_MR_MODE_KEY_EXCHANGE | FI_MR_MODE_KEY_DIRECT
- FI_MR_MODE_PAGING

(change these names as you wish - they are just placeholders)

[2016-12-13 20:50] plebioda opened #2596 "verbs: multiple endpoints from one fi_info"
Looks like after this commit 06a92ac6a33a4588b9485df432e96042384fafd1 it is not possible to establish multiple connections using the same `fi_info`. The problem is that filling the source address forces binding the address for each and every endpoint created from given `fi_info` structure. Creating the second endpoint fails with `EADDRINUSE`. It works on sockets provider.

[2016-12-15 21:16] jsquyres commented on #2583
@shefty Will the MXM provider exist in libfabric 1.5?

[2016-12-15 21:29] shefty commented on #2583
No - the code has already been stripped out of the repo.  A mlx provider has replaced it.

[2016-12-15 21:35] jsquyres commented on #2583
Ok.  I think Martin already has a workaround, so let's go ahead and close this.

[2016-12-15 21:35] #2583 closed

[2016-12-20 14:35] mblockso opened #2604 "FI_DIRECTED_RECV - missing analog to 'fi_rx_addr' and 'rx_ctx_bits'"
The FI_DIRECTED_RECV capability requires the user to specify the source address of the message to be matched. This address must come from the address vector, but the address vector only contains **destination** addresses, not **source** addresses. This is generally not a problem when only a single endpoint with a single rx context and single tx context is used.

Yet with scalable endpoints a singl

[2016-12-20 16:59] shefty commented on #2604
The AV stores endpoint addresses, and each EP has only a single address.  The context bits can be viewed as additional steering bits to select a specific queue with the EP, but the address itself is unchanged.  There is no exposed concept of different transmit queues having different addresses.  All tx contexts from the same EP are considered the same, with no way to distinguish them at the receiv

[2016-12-20 18:59] mblockso commented on #2604
Ok .. let me condense and replay what you've said, then you tell me what I still don't understand. :)

All tx contexts from the same endpoint have the same address, which is the endpoint's address, and therefore you can not match a specific tx context when using FI_DIRECTED_RECV. This is by design.

Applications should not be using `fi_rx_addr()` to obtain the `fi_addr_t` that is a parameter for t

[2016-12-20 19:26] sayantansur commented on #2604
I'm trying to mind read here a bit, and assuming that you meant the usage of scalable endpoints for per-communicator queues.

I think that usage is fine, since the per communicator queues really require match ordering on the RX context.
@wesbland

[2016-12-20 19:53] mblockso commented on #2604
I think I'm worried about MPI ordering between threads. :)

Usually there is no MPI ordering between threads, right? So you can imaging two threads each targeting the _same_ remote rx context and each using different tx contexts. One thread issues messages "A', "B", and "C". The other thread issues messages "X", "Y", and "Z". The MPI messages can match in any order (for example, "AXBYZC").

_Howev

[2016-12-20 19:53] shefty commented on #2604
Correct.  It sounds like this design decision is what needs to be discussed.

Correct - fi_rx_addr is only used with transmit calls, which, depending on your point of view, means that the name sucks.

Correct

[2016-12-20 20:14] sayantansur commented on #2604
All MPI two-sided operations need to use the same TX or RX context per communicator. Even without threads. Otherwise, there is no ordering provided across contexts.

MPI one-sided operations, however, can use multiple TX contexts. Within one thread (e.g. round-robin), or with multiple threads with each thread using its own context. This is because MPI does not define Put or Get ordering.

I *think

[2016-12-20 20:43] mblockso commented on #2604
Ok .. so I guess I was looking for an optimization in ofi for multiple tx contexts to support an optimization in MPI that is disallowed by the MPI standard? uhg.

[2016-12-20 20:47] sayantansur commented on #2604
haha, if you put it that way 😃

[2016-12-20 20:49] mblockso commented on #2604
I swear .. sometimes I feel like I am just wasting my time with all this messaging crap.

[2016-12-20 20:51] sayantansur commented on #2604
Good news is that @jdinan is pushing for changes to the MPI standard to relax ordering. It might not hurt to implement the proposed changes in MPI and map to multiple TX contexts.

[2016-12-20 21:56] jdinan commented on #2604
All parts of the proposal cleared first voting.  Should be ratified at the February meeting.  Woot!

Details here: mpi-forum/mpi-standard#14

[2016-12-20 23:25] shefty commented on #2548
Before discussing _how_ to expose this, I think we need to determine if we _want_ to expose this additional complexity to the application.  I'd really like to come up with ways to simplify life for the application developers, while still providing mechanisms to support a broad set of implementations.  For example, raw memory region support expands implementation support by providers, without compl

[2016-12-21 00:05] shefty commented on #2557
A straightforward solution for this is to define an FI_TAGGED flag to all atomic operations.  When set, the 'key' parameter is treated as a 'tag' parameter, with the atomic operation targeting a tagged receive buffer, rather than an RMA buffer.  This potentially allows all atomic operations to target tagged messages without API changes.

In order to use this approach, I would add a new atomic vali

[2016-12-21 00:14] sayantansur commented on #2557
Seems reasonable to me.

[2016-12-21 01:09] shefty commented on #2559
I think this needs more discussion.  Conceptually, the proposal associates an asynchronous work queue of some sort with a counter.  The triggered add/set calls chain together counters, with the chained request becoming a queued operation that generates its completion by modifying the indicated counter.  It's not clear how errors can be handled.  And the counter work queue is limited by the type of

[2016-12-21 14:22] mblockso commented on #2604
Closing this issue .. thanks for the fun conversation everyone!

[2016-12-21 14:22] #2604 closed

[2016-12-21 16:09] sdvormwa commented on #2548
What is simplifying for some users can make things a lot more complicated for others, particularly where memory management (registration, addressing, etc) is concerned.  As a potential user, my preference would be for more options rather than fewer, as historically the chosen fewer options aren't the ones that are going to benefit my use case...

I'm not following this.  As far as I understand the

[2016-12-21 17:34] mblockso commented on #2548
+1

In my experience with MPICH, the code that creates the memory regions is already separated from the code that uses the memory regions (I believe a similar code structure is also used in Sandia OpenSHMEM). Right now the setup pseudo code is like this:
[code]
... and it is used at runtime as in the following pseudo code:
[code]

*My point is* that one only needs to replace those ifdefs appropria

[2016-12-21 17:47] hppritcha commented on #2548
I like this approach.  I don't think it adds undue complexity to libfabric consumer applications, as @mblockso illustrated in the previous comment.

[2016-12-21 18:32] shefty commented on #2548
This still feels like it is being completely driven by the provider up, rather than application down -- and for a system that is no longer produced.  Not every app re-compiles every time it changes provider.  So far, apps have only asked for FI_MR_SCALABLE support.  Everything else is just exposing provider implementation restrictions that the app needs to code around.  For the specific problem th

[2016-12-21 19:01] sdvormwa commented on #2548
As an "app" developer, at least in the sense of being a libfabric user, I would love FI_MR_SCALABLE if I had any confidence whatsoever that providers would actually implement it efficiently enough to warrant using it.  Unfortunately, the more functionality that is tied to it, the more likely it is that at least one piece will make it difficult for a provider to implement efficiently.  If the funct

[2016-12-21 19:16] sayantansur commented on #2548
The intention is supposed to be that as the app developer, you express the semantic we need, and the provider implements it in the most efficient manner possible on the platform. Therefore no net wasted work, and simpler apps.

The discussion we should really be having is WHY it is faster for the app to do all the legwork vs. the provider just implementing the semantic.

So far, I haven't really h

[2016-12-21 19:42] shefty commented on #2548
I separate remotely accessed MRs into two categories based on whether the app must exchange data or not.  It was arguably a mistake to change how the remote buffer was addressed based on whether data was exchanged or not (i.e. virtual address versus offset).

The biggest issue we've hit is that in the data exchange case, the data is too limiting.  You only get a 64-bit key.  The raw MR support pat

[2016-12-21 19:57] sdvormwa commented on #2548
That's nice in theory.  In practice, *if the provider implements it at all* (supporting FI_MR_SCALABLE isn't mandatory after all...), it is likely to be done quickly as a check-off item unless an important client pushes for it.  Otherwise there is no business case justifying spending the development time to make it work well as opposed to simply working at all.

On many networks, there isn't a sin

[2016-12-21 20:33] sdvormwa commented on #2548
How do you expect this to work in the case of a region created with fi_mr_regv() and more than one segment?  If the underlying network treats the sections as a single contiguous buffer, then the "key" it transmits to the remote side is going to have to include a complete map of VA->offset to properly interpret the VA the user passes in.

[2016-12-22 06:51] shefty commented on #2548
These are the attributes that I'm aware of that are related to RMA-able MRs based on all hardware that I'm aware of:

- The MR may be aligned/sized on byte or page boundaries.  Other alignment may be possible, but I'm not aware of any.
- The MR may result in pages being pinned or not, depending on whether the provider has access to the OS page tables.
- For pinned pages, pages may be pinned only f

[2016-12-22 14:33] sdvormwa commented on #2548
An important follow-up on this one is whether the MR is automatically updated when a VA it covers becomes backed by physical pages or if the user needs to initiate the update...

Okay, what about this.  Have a single additional mode in addition to basic and scalable: FI_MR_PROVIDER.  If a provider supports this mode, its behavior is completely defined by the provider--addressing can be VA or offse

[2016-12-22 17:44] shefty commented on #2548
I removed my 'raw mr' patch from the abi 1.1 series to update/replace it, and was also thinking of a adding a third mode (FI_MR_RAW) that would essentially replace BASIC.  But even that needs some level of definition, but the intent is to cover the case where the app must exchange data.

We already have the provider name exposed, which apps can use to key on for provider specific behavior.  So if

[2016-12-22 18:39] sdvormwa commented on #2548
Let me dive into a more concrete example.  The GNI API has two features that together allow the client to create something usefully between FI_MR_BASIC and FI_MR_SCALABLE for my use case.  By using the VMDH functionality (see section 3.7.1.1 of [this document](http://docs.cray.com/books/S-2446-5202/S-2446-5202.pdf) for details), the need to exchange data can be obviated as it is with FI_MR_SCALABL

[2016-12-22 18:45] shefty commented on #2558
This is conceptually equivalent to controlling completions on a per operation basis.  That is, each operation would need to specify which completion queue or counter that the completion should be reported to.  This is a significant deviation from the current completion model.

[2016-12-22 20:15] sungeunchoi opened #2616 "Confusing use of the word "free" when referring to the FI_MULTI_RECV buffer"
Both the fi_msg and fi_endpoint man pages say that the multirecv buffer is freed, but I don't think that's what is meant.

- fi_endpoint: "Defines the minimum receive buffer space available when the receive buffer is automatically freed "
- fi_msg: "The buffer will be freed from the endpoint when the available buffer space falls below the network’s MTU size (see FI_OPT_MIN_MULTI_RECV)"

Also, the

[2016-12-22 20:52] shefty commented on #2616
Free could be better worded as returned or released by the provider.

Yes, please feel free to submit a PR with improved wording.  :)

[2016-12-22 21:43] sungeunchoi commented on #2616
Actually while we're on the topic, what error code should be returned in the error CQE if the last message delivered to a multirecv buffer is truncated?  Is this supposed to be provider-specific or should it be specified in the man page.

[2016-12-22 22:17] shefty commented on #2616
I can't easily find a consistent value used by the providers for this.  There's FI_ETRUNC as an error code that would work well, but that may have been added after providers selected some other value.  But if we can update all providers to use this value, it would be ideal.

[2016-12-23 00:07] #2182 closed

[2016-12-23 00:07] #1001 closed

[2016-12-23 00:07] #1240 closed

[2016-12-23 00:07] #1394 closed

[2016-12-23 00:07] #1723 closed

[2016-12-23 00:07] #1975 closed

[2016-12-23 00:07] #2223 closed

[2016-12-23 00:07] #2292 closed

[2016-12-23 00:07] #2335 closed

[2016-12-23 00:07] #2417 closed

[2016-12-23 00:07] #2459 closed

[2016-12-23 00:07] #2475 closed

[2016-12-23 00:07] #2485 closed

[2016-12-23 00:07] #2530 closed

[2016-12-23 00:07] #2534 closed

[2016-12-23 00:07] #2345 closed

[2016-12-23 00:07] #2529 closed

[2016-12-23 00:14] shefty opened #2618 "Update providers to report source addresses"
Providers that will support ABI 1.5 need to be updated to support 461306ffe67cca27c57fb2e6a7ede450335e78cb.

- [ ] bgq
- [ ] gni
- [ ] mlx
- [x] psm
- [x] psm2
- [ ] rxd
- [ ] rxm
- [ ] sockets
- [ ] udp
- [ ] usnic
- [ ] verbs

[2016-12-23 00:15] shefty opened #2619 "Add implementation for socket endpoints"
Need implementation to verify definition of socket EPs in f1f3c34d33922ac0cc3a9bd4f540c10b6bd527a7

[2016-12-23 00:19] shefty opened #2620 "Update providers to report number of counters"
For providers that support counters, update new domain attribute field. d670d791714b25907fb247bc9313b2cbe3194648

- [ ] bgq
- [x] gni
- [x] mlx
- [x] psm
- [x] psm2
- [x] rxd
- [x] rxm
- [x] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:21] shefty opened #2621 "Update providers to support FI_SYNC_ERR for AV insertion"
See 380660902cd95c95fcacb338319214651e1ba7df.  Providers either need to support the new flag or at least fail any call that attempts to pass it in.

- [ ] bgq
- [x] gni
- [ ] mlx
- [x] psm
- [x] psm2
- [ ] rxd
- [ ] rxm
- [ ] sockets
- [ ] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:22] sayantansur commented on #2548
This reminds me of the way MPI Dynamic windows work. Need to understand GNI better, but if it is indeed a direct 1:1 map with MPI, then an additional call to "make real pages available" for FI_MR_SCALABLE sounds reasonable. We should also inspect SHMEM and see if it can provide this additional call.

[2016-12-23 00:24] shefty opened #2622 "Providers should determine if they want to use FI_NOTIFY_FLAGS_ONLY mode bit"
This is a new mode bit, so no changes are required.  But providers may want to require it.  See 0f793fb6150756d1af19252001b81bdfc0d70eac

- [ ] bgq
- [x] gni
- [ ] mlx
- [x] psm
- [x] psm2
- [x] rxd
- [x] rxm
- [x] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:26] shefty opened #2623 "Providers and core may want to support new address string format"
See 08f174f23061077d8db84f23729c5b2a78c5df68.  Providers can opt into supporting the new string format.  If necessary, the core may assist with parsing such strings (existing parsing functionality may already exist or just need to be expanded).

- [ ] bgq
- [ ] gni
- [ ] mlx
- [ ] psm
- [ ] psm2
- [ ] rxd
- [ ] rxm
- [ ] sockets
- [ ] udp
- [ ] usnic
- [ ] verbs

[2016-12-23 00:27] shefty opened #2624 "Providers need to report new domain MR IOV limit field"
See 599c89b5c7dccb2113ea17d582e5b59ee0f0f2d7.  This is a new field and just needs providers to initialize it.

- [x] bgq
- [x] gni
- [x] mlx
- [x] psm
- [x] psm2
- [x] rxd
- [x] rxm
- [x] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:28] shefty opened #2625 "Providers that support counters need to set new cntr methods"
See 0f59e702474259f6e48fffec3d91b171e02badbd.  Add/set error functions were added.  ENOSYS versions are needed and providers that set counters should set these calls.

- [ ] bgq
- [ ] gni
- [x] mlx
- [x] psm
- [x] psm2
- [x] rxd
- [x] rxm
- [ ] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:31] shefty opened #2626 "Providers need to handle new domain caps/mode fields"
From 0404fdb3f40a85caef2242a074d6d79a3c0e9dcd, 49ff5ec5999c6e09c3dd8e201a8e239215d3bc11, 27302412ef2a2c9f8eb85b20ce34269f553f2c4f, c40bc47928b464ebd2f1cd00f72ad90a0df47da5.  Values need to be set/checked as needed.

- [ ] bgq
- [x] gni
- [ ] mlx
- [x] psm
- [x] psm2
- [ ] rxd
- [ ] rxm
- [ ] sockets
- [ ] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:33] shefty opened #2627 "Need at least one provider to support new multicast interfaces"
The more the merrier! 979537dacb8fd7ba489551896745eef360026d20.  At least the UDP provider should be updated to verify the interfaces.

- [ ] bgq
- [ ] gni
- [x] mlx
- [x] psm
- [x] psm2
- [x] rxd
- [x] rxm
- [x] sockets
- [ ] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:35] shefty opened #2628 "Providers need to set the comp_list fabric attribute"
See bfbb27f9e7d9598899af40488bb492654edcdf13.  The util providers need to make use of this to avoid circular dependencies.  There may be help that the core layer can provide as part of fi_getinfo,

- [ ] bgq
- [ ] gni
- [ ] mlx
- [ ] psm
- [ ] psm2
- [ ] rxd
- [ ] rxm
- [ ] sockets
- [ ] udp
- [ ] usnic
- [x] verbs

[2016-12-23 00:36] shefty opened #2629 "Providers should handle authorization key field"
See eeab626bce61dbdbe5a192b36770383959a79e87.  Providers should support the new field or verify that it is not set.

- [ ] bgq
- [x] gni
- [ ] mlx
- [x] psm
- [x] psm2
- [ ] rxd
- [x] rxm
- [ ] sockets
- [ ] udp
- [x] usnic
- [x] verbs

[2016-12-23 00:51] #2616 closed

[2016-12-23 01:10] shefty commented on #2548
This issue is mixing separate requests.  For the original issue, a data exchange between peers is required.  What's needed is the most generic (but usable!) way for that to be defined such that it covers as many of the different attributes listed above as possible.

[2016-12-23 14:33] sdvormwa commented on #2548
First, why are you so focused on an *MR exchange* between peers?  Is there any app-driven requirement for this (outside legacy applications that only do it because the api they were using required it...)?  You can't argue that the address/offset is the app-driven reason because that is potentially needed with FI_MR_SCALABLE (eg, to communicate which offsets are valid), and potentially not needed w

[2016-12-23 14:54] sdvormwa commented on #2548
I'm not very familiar with MPI Dynamic windows, but given how practical the MPI committee is, my expectation is they noticed that it is really hard for discrete network hardware to automatically update memory regions in response to page table updates since they can't use the processor's page table directly (unless the network vendor controls the processor as well...).  Network vendors could in the

[2016-12-23 17:33] shefty commented on #2548
Because there are literally millions of adapters in the marketplace that require this, and all of them are OFA members.  That's why BASIC exists at all.

[2016-12-23 19:26] mblockso commented on #2548
I agree with @sdvormwa in that requirements for this aspect of OFI should be more provider-driven than application-driven.

Why would any application choose FI_MR_SCALABLE when both are "supported" by a provider? FI_MR_BASIC is, um, *not* scalable at all on large systems. A single memory region exchange for a full size BGQ job (Mira) would consume 200MB on each node (assuming shared memory) - and

[2016-12-23 20:41] shefty opened #2630 "Triggered support proposals"
Related to #2558 and #2559.  Starting a new issue to discuss triggered operations in general, as I'm not convinced that the current definition is 'correct' and should be expanded.  (I'm referring to expanding the current definition, not expanding triggered operations or collective support as a concept).

I'm trying to define a foundation of what triggered operations are, and came up with this list

[2016-12-23 20:42] shefty commented on #2630
@sayantansur

[2017-01-03 16:27] jswaro opened #2631 "prov/util: -FI_EINVAL being returned in lieu of -FI_ENOKEY"
Using scalable MR, the sockets provider returns -FI_EINVAL if the key already exists in the red black tree. According to the man page, this should be FI_ENOKEY.

[2017-01-03 16:32] jswaro commented on #2631
See https://github.com/ofiwg/libfabric/blob/master/prov/util/src/util_mr.c#L121

[2017-01-03 16:50] shefty commented on #2548
I believe we can come up with more abstract solutions that can cover a broader range of implementations.  The linux kernel went down the path of exposing provider specific registration primitives to the apps.  The result was that apps implemented 5 different ways of handling registration.  Keep in mind that the linux kernel _only_ has verbs devices!  The fix for this was to completely re-work the

[2017-01-03 17:39] shefty commented on #2548
Cray - allocates page table entries, then app re-freshes which pages are in the table.

[2017-01-03 17:50] shefty commented on #2548
Possible solution - just return UNSPEC back for provider specific, or return PROVIDER_SPECIFIC

[2017-01-03 19:12] shefty opened #2632 "Authorization key for target memory regions"
There is still an outstanding need to restrict what memory region an inbound RMA or atomic operation can target.

[2017-01-03 22:42] #2631 closed

[2017-01-04 18:11] sungeunchoi opened #2634 "Need clarification about shared context attributes"
From the SHARED CONTEXT section of the fi_endpoint man page (under fi_stx_context):

A similar statement is made for fi_srx_context.

I don't quite see how it's the "opposite" requirement.  Does that mean that for the contexts for scalable endpoints, the attributes *cannot* be a subset?  The man page section on contexts for scalable endpoints says that they can be configured with fewer attributes

[2017-01-04 18:46] sungeunchoi opened #2635 "Need better way to tell if per context attributes are supported"
It seems the only way to tell if a provider supports per tx/rx context attributes is by inspecting the returned context:

(similar for receive contexts).

As a client, this means that if I set up my initial scalable endpoint with the minimal common set of attributes and wanted to add to those with each context, the only way for me to tell if the provider did not support this is to set up the endpo

[2017-01-04 18:56] shefty commented on #2634
Here's what it's trying to convey:

Scalable EPs: The *context* has a subset of the (scalable) *EP* capabilities.
Shared Contexts:  The *EP* has a subset of the (shared) *context* capabilities.

This is the 'opposite' being described.  But I can see how someone would associate the scalable EP with the shared context, as they are both created first, which leads to the confusion.

For a scalable EP,

[2017-01-04 19:04] shefty commented on #2635
The intent is that all contexts associated with a scalable EP either support the requested subset of attributes or all attributes that the scalable EP has.  For example, if the scalable EP has FI_SEND + FI_RMA, and the user opens a context asking only for FI_SEND support, the returned context may actually support FI_SEND + FI_RMA.

This is done to give the provider greater flexibility in how they

[2017-01-04 19:44] sungeunchoi commented on #2635
Okay that makes more sense.  Given a couple of us read it the other way, mind if a take a whack and fixing up in the wording in the man pages?

[2017-01-04 20:30] shefty commented on #2635
Please feel free to update the man pages to make them more understandable.

[2017-01-05 21:56] jswaro opened #2637 "prov/util: verify_addr doesn't appear to iterate the iov structure"
See https://github.com/ofiwg/libfabric/blob/master/prov/util/src/util_mr.c#L93-L96

It looks to me that it will compare (iov_base, iov_base + iov_len) of iov index 0 against the mr range for iov_count times, without changing the iov range.

I'm guessing it was meant to be something closer to the following:
[code]

Is it incorrectly written, or am I misunderstanding the purpose of the function?

[2017-01-05 22:04] shefty commented on #2548
I'm still working on defining this, but I think we may need to go with something close to what Mike proposed early in the thread and convert mr_mode into equivalent 'mode' bits.

[2017-01-05 22:39] sayantansur commented on #2630
Thanks, I'll think more in detail about this, but it seems like we really need to rethink how we exposed triggered as you suggest.

[2017-01-06 23:17] sungeunchoi opened #2638 "prov/sockets: fi_close of scalable endpoint should return -FI_EBUSY if there are open contexts"
As per the man page.

[2017-01-09 18:11] #2634 closed

[2017-01-09 18:11] #2635 closed

[2017-01-10 03:40] shefty commented on #1890
The original issue mentioned different sizes for normal operations versus triggered ops.  There will be an update soon on how triggered ops are exposed to the apps, which will effectively increase the context size for those level of operations.  Is a larger size context for normal operations still needed?

[2017-01-10 03:41] #1393 closed

[2017-01-10 03:43] #1771 closed

[2017-01-10 03:48] #1399 closed

[2017-01-10 19:08] shefty commented on #2637
This entire file and surrounding code needs to be cleaned up.  It doesn't follow the coding style and its correctness looks questionable in a couple of other places.

[2017-01-10 23:11] jsquyres opened #2643 "Question about RM behavior"
In reading the "Resource Management" section of https://ofiwg.github.io/libfabric/v1.4.0/man/fi_domain.3.html, I have some questions:

* "Receive overrun" is not defined.  Later in the page, it says "Unmatched receives and receive overruns deal with the processing of messages that consume a receive buffers.", and it goes on to define "unmatched receives."  But it does not define "receive overrun."

[2017-01-10 23:31] shefty commented on #2643
Receive overrun should be clarified as 'receive buffer overrun'.

The error entries are intentionally vague to give the provider more leeway in the implementation.  It is an error and the behavior is undefined.  The provider _may_ catch such errors, in particular EAGAIN to avoid overrunning the tx/rx queues.  But since the app has disabled RM, it may not want the overhead of these checks, so the p

[2017-01-10 23:50] shefty commented on #2643
FYI - I'm working on an update to this.  Hope to have it shortly.

[2017-01-10 23:52] jsquyres commented on #2643
Thanks @shefty

[2017-01-11 16:09] mblockso commented on #2627
@pkcoff

[2017-01-11 16:09] mblockso commented on #2629
@pkcoff

[2017-01-11 16:09] mblockso commented on #2626
@pkcoff

[2017-01-11 16:10] mblockso commented on #2624
@pkcoff

[2017-01-11 16:10] mblockso commented on #2620
@pkcoff

[2017-01-11 16:10] mblockso commented on #2618
@pkcoff

[2017-01-11 16:11] mblockso commented on #2625
@pkcoff

[2017-01-11 16:11] mblockso commented on #2622
@pkcoff

[2017-01-11 16:12] mblockso commented on #2621
@pkcoff

[2017-01-11 16:12] mblockso commented on #2628
@pkcoff

[2017-01-11 16:12] mblockso commented on #2623
@pkcoff

[2017-01-11 22:57] #2637 closed

[2017-01-12 02:18] pkcoff opened #2648 "prov/bgq: Make MPI3 MPICH-CH4-OFI beta release 0.1 available to BGQ users at Argonne"
Here is what we have left to do before make a beta release of MPI3 MPICH-CH4-OFI (beta in that CH4 will not have its first production release until summer and we're still missing some core optimizations for which I will make another issue) available to BGQ users at Argonne on all 3 systems (Mira, Cetus and Vesta).

1.) Some code-cleanup / optimization to remove branching related to remote CQ Data

[2017-01-12 02:33] pkcoff opened #2649 "prov/bgq: Hardware accelerate RMA operations"
The current plan for RMA hw acceleration is as follows:

1.) Switch from FI_MR_SCALABLE to FI_MR_BASIC and use the suggestion from Sean in issue #2548:

I think you could make use of Mr. Basic if you used:
key = base virtual address - base physical address
offset = virtual address passed into read/write call - key
The key is set when registering, and the offset is calculated at the peer. The overh

[2017-01-12 02:41] pkcoff commented on #2649
Optimistic target dates and assignment as follows:

Paul drive effort on line items 1-3 Jan 23-Feb 10th.
Mike drive effort on line item 4 have done by Feb 10th.
Paul drive effort on line item 5 Feb 13-Feb17
Paul do scaling testing and debug Feb 20 - March 3

[2017-01-12 18:30] mblockso commented on #2648
Might want to add a "documentation cleanup" step.  I don't think the current documentation is 100% accurate.

[2017-01-13 01:47] #2229 closed

[2017-01-13 19:20] pkcoff commented on #2648
4.) Documentation cleanup.
5.) MPICH Jenkins build integration.

[2017-01-13 19:21] pkcoff commented on #2648
Line item 1 has been resolved, involving mpich and libfabric fixes.  I'll create a pr for this release in mpich and libfabric git repos.

[2017-01-13 20:43] janos32783 opened #2655 "fi_cq man page: FI_REMOTE_READ and FI_REMOTE_WRITE have the same explaination"
In the fi_cq man page, both completion flags FI_REMOTE_READ and FI_REMOTE_WRITE have the same explanation.

[code]

[2017-01-13 22:27] #2655 closed

[2017-01-17 16:59] shefty commented on #2366
Dropping 1.5 milestone.  Adding new threading models is trivial, so no special API/ABI handling is required

[2017-01-17 18:59] #2596 closed

[2017-01-18 00:58] #2643 closed

[2017-01-18 17:21] jswaro opened #2662 "prov/sockets: provider is dependent on close order of objects"
I am modifying an internal GNI provider test to use other providers for the purpose of verifying operational correctness of new features. However, when I run this test with the sockets provider, it crashes during teardown. I'm guessing that this occurs due to teardown ordering of specific FI objects in the sockets provider, because the GNI provider uses reference counting to do asynchronous teardo

[2017-01-18 17:59] shefty commented on #2662
I believe the man pages state that objects must be closed in order.  I'm not sure if all objects are documented, or only a few.  My expectation is that close will fail if a reference is held on an object.  E.g. attempting to close a CQ while an EP is still attached should fail.  Otherwise the application could be exposed to events for objects that they have closed.

[2017-01-18 18:30] jswaro commented on #2662
Would you at agree that even with out-of-order closure of objects, fi_close should return an error code in this case?

[2017-01-18 18:48] shefty commented on #2662
Yes - the crash should not happen.  I consider that a bug in the socket provider.

[2017-01-18 22:43] shefty commented on #2632
See #2664.  @jswaro

[2017-01-19 22:54] hppritcha commented on #2618
We're looking at how to implement this functionality in the GNI provider and have hit a problem.  Namely the GNI address can't fit into the 64 bits of the ```err_data`` field, which means we'd have to allocate memory somewhere else and have this field point to that memory, but then how would we free it?    The way the psm2 provider is handling it, it looks like there can only have one outstanding

[2017-01-19 23:52] shefty commented on #2618
There are a couple ways to handle this, but this is a general work-able flow:

1. Each CQ has a single err_data pointer.
2. When writing an error to the CQ, allocate a data buffer for the error data.  The CQ entry should somehow point to the error data buffer.
3. Return EAVAIL when the app attempts to read the error entry using cq_read
4. On cq_readfrom, if cq.err_data is not NULL, free it.  Set t

[2017-01-20 18:10] hppritcha commented on #2618
I don't see how this would work reliably for ```FI_THREAD_SAFE``` thread safety mode.

[2017-01-20 18:56] shefty commented on #2618
I'm not sure I understand your concern.  If you're concerned about an app reading the CQ from multiple threads, the man pages state:

"The err_data field, if set, will reference an internal buffer owned by the provider. The contents of the buffer will remain valid until a subsequent read call against the CQ."

So, this is something that the app would need to handle, by serializing access to the CQ

[2017-01-20 21:10] a-ilango commented on #2628
@shefty I'm assuming this feature would have to be implemented only by the utility providers; the core providers need not set this string. But the man page update is pretty generic about this indicating that the core providers can also add strings:
"The component list is a comma separated set of string identifiers, each corresponding to a **specific core** or utility provider or **feature**" (emph

[2017-01-20 21:14] shefty commented on #2628
The core providers probably don't need to set anything here.  I left the possibility open, so that a core provider could add to the string to indicate a specific implementation choice had been made.  For example, a core provider that makes use of shared memory for loopback communication might list that here.

[2017-01-21 00:27] shefty commented on #2662
@jswaro - Can you tests PR #2666, to see if it fixes the crash?  I didn't see that the CQ reference count was being used by the socket provider.

[2017-01-21 00:42] shefty commented on #2638
sock_ep_close() has this code:
[code]
Based on a code inspection, it looks like num_*x_ctx is incremented/decremented correctly based on opening/closing a context.  Do you have a test that is failing?

[2017-01-23 18:00] shefty opened #2668 "Define mechanism needed to support FI_MR_MMU_NOTIFY"
See PR #2659.  MMU_NOTIFY needs additional details on how the notification is accomplished.

[2017-01-23 18:03] #2662 closed

[2017-01-23 18:52] mblockso commented on #2649
FYI .. mr_mode is being converted into mr bits (#2659).  This should allow bgq to hardware accelerate rma operations.  Need to integrate this change with mpich.

[2017-01-24 17:44] sungeunchoi commented on #2638
Sorry I mis-reported this.  I'll close an open a different issue.

[2017-01-24 17:44] #2638 closed

[2017-01-24 20:59] jswaro opened #2672 "Embed requested version in fabric to do appropriate API conversions as needed by provider"
See the final comments of ofiwg/libfabric#2664

[2017-01-24 21:00] jswaro commented on #2672
Wrong repo

[2017-01-24 21:00] #2672 closed

[2017-01-25 01:01] sungeunchoi opened #2673 "prov/sockets: accidentally binding RX CQ with FI_TRANSMIT results in confusing failure"
The setup runs without hiccup:
[code]
But then the close fails with -FI_EBUSY:
[code]

[2017-01-25 04:45] shefty commented on #2673
IMO - this should be a failure.  I'll look at updating the socket code.

This is the new and now correct behavior (added to fix a crash).  The CQ must be closed prior to closing the EP, since the EP is bound to the CQ.

[2017-01-25 17:14] sungeunchoi commented on #2673
Correct.  I'm trying to close the CQ in the line above.

[2017-01-25 17:17] shefty commented on #2673
Sorry - I wrote that backwards.  The EP must be closed before the CQ.  Otherwise completions from the EP have no where to go.

[2017-01-25 17:36] sungeunchoi commented on #2673
Interesting.  In my same test program, I was able to close the TX CQ before the endpoint.  I'm assuming that's a bug, then?

[2017-01-25 17:41] shefty commented on #2673
I added referencing counting late last week to the socket provider to fail CQ close calls if there is an opened EP associated with it.  Have you tried with the latest upstream code?

[2017-01-25 17:53] sungeunchoi commented on #2673
Hang on a sec.  Are we talking about the SEP or the tx/rx contexts?

[2017-01-25 17:56] shefty commented on #2673
I added reference counting for the rx/tx contexts.

[2017-01-25 18:00] sungeunchoi commented on #2673
But are you saying that the SEP must be closed before the CQs, or are you saying that the tx/rx contexts must be closed before the CQs?  My test code does the latter.  From reading the man page, it seemed that the SEP shouldn't be closed until all of the above are closed.

[2017-01-25 18:31] shefty commented on #2673
The rx/tx contexts should be closed before closing the CQs or SEP.  The order between the CQ and the SEP shouldn't matter.

[2017-01-25 18:39] sungeunchoi commented on #2673
Okay, then my example above seems like it shouldn't fail on close of the RX CQ (of the CQ that was accidentally bound with FI_TRANSMIT).  I guess that problem goes away if the error with the flags returns failure, but seems like there might be some strange logic in there somewhere.  FWIW, if I open the TX CQ with FI_RECV, the same thing happens (close of tx_cq returns -FI_EBUSY).

[2017-01-25 20:11] sungeunchoi opened #2674 "prov/sockets: tx_ctx_cnt/rx_ctx_cnt fields ignored"
From the fi_endpoint man page on the tx_ctx_cnt field in the endpoint attributes:

With a similar statement for rx_ctx_cnt.

For scalable endpoints, if I pass in 0, I am still able to get the max number of contexts via calls to fi_tx_context or fi_rx_context.

[2017-01-25 21:48] chuckfossen commented on #2673
Reading through these comments, it sounds like only rx/tx contexts have the restriction of closing before the CQ is closed - not endpoints. Do I have that correct? The man page states: "When closing the CQ, there must be no opened endpoints, transmit contexts, or receive contexts associated with the CQ."

[2017-01-25 22:18] shefty commented on #2673
Normal (i.e. non-scalable) endpoints must be closed before closing the CQ.

[2017-01-25 22:21] chuckfossen commented on #2673
Does the sockets provider enforce this?

[2017-01-25 22:34] shefty commented on #2673
I'm not sure.  I added referencing counting to the sockets provider late last week, which may cover non-scalable EPs

[2017-01-25 22:58] sungeunchoi commented on #2673
Regardless, this isn't clear from the man pages and should be document.

[2017-01-25 23:52] sungeunchoi opened #2675 "Can you get tx/rx contexts with the same index multiple times?"
I don't see anything in the man pages that says that calling fi_*_context with the same index twice is allowed.  If it is, I think it should be explicitly stated.  Otherwise, maybe return -FI_EBUSY when that happens.  FWIW, you can do so using the sockets provider.

[2017-01-26 15:22] tonyzinger opened #2676 "prov/socket segfaults in sock_ep_connect() when it tries to dereference dest_addr"
The socket provider segfaults in sock_ep_connect() when it tries to dereference the dest_addr field of the sock_ep_attr structure.

The endpoint type is FI_EP_MSG.
The dest_addr field was NULL.

The gdb back trace information from the core files is:
Program terminated with signal 11, Segmentation fault.
#0  0x00007ffff78923e8 in sock_ep_connect (ep_attr=0x64fdc0, index=0) at prov/sockets/src/sock_

[2017-01-27 06:07] pkcoff commented on #2648
Line item 2 has finally been resolved.

[2017-01-30 12:16] #2556 closed

[2017-01-30 20:31] jsquyres opened #2682 "usnic provider fails to compile with new libibverbs"
Apparently libibverbs changed its `kern-abi.h` recently, and that is causing libfabric's usnic provider to fail to compile.

Bug initially filed upstream: http://bugs.openfabrics.org/show_bug.cgi?id=2614

[2017-01-30 22:06] agontarek opened #2683 "Clarify use of fi_read()/fi_write()/fi_send() with use of unconnected endpoint"
The [fi_rma(3)](https://ofiwg.github.io/libfabric/v1.4.0/man/fi_rma.3.html) and [fi_msg(3)](https://ofiwg.github.io/libfabric/v1.4.0/man/fi_msg.3.html) manpages state the following property for fi_read()/fi_write()/fi_send():

The msg variants fi_readmsg()/fi_writemsg()/fi_sendmsg() state:

Is the intent here really to only allow the use of the msg variants with connectionless endpoint types such

[2017-01-30 22:25] shefty commented on #2683
All calls support connected and unconnected endpoints.  RMA operations require reliability as well.  The endpoints must be in the enabled state, and connection-oriented endpoints must be fully connected.

The connection comment under fi_send() should be ignored (and will be removed).

[2017-01-31 19:15] jsquyres opened #2688 "v1.4.1 release checklist"
## Make a perfect tarball
- For libfabric:
  - [x] Make a v1.4.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the version numbers in `include/rdma/fabric.h`:
  - [x] Update the shared library version number(s) in `Makefile.am` [per the GNU Libtool shared library version number rules](https://www.gnu.org/software/libtool/manual/html_node/Updating-version-info.html)
  - Upd

[2017-01-31 19:46] shefty commented on #2688
Yes - I was thinking ASAP.  I'll see if there are any other fixes to bring it, but I'd like any to be really, really simple and small.

[2017-01-31 20:13] jsquyres commented on #2688
Ok.  Waiting for Travis at this point to merge some PRs to master before cherry-picking them to the v1.4.x branch.  Also still discussing with Jason G on #2684 what the Right solution should be.

[2017-01-31 21:16] e-harvey commented on #2625
@shefty We can't tell from the man page, do triggered operations apply to error counters?

[2017-01-31 21:26] shefty commented on #2625
As currently defined, no, only the success value.

[2017-01-31 21:28] jswaro commented on #2625
@shefty The documentation isn't terribly clear about that detail. Could it be amended?

[2017-02-01 00:49] jsquyres opened #2690 "Cherry pick usnic fixes to v1.4.x branch for v1.4.1 release"
Omnibus issue to list the commits to cherry pick to v1.4.1 for the usnic fixes:

* PR #2685: 2a3f5b0bd56296e41729b56bb70eaa94439848cc
* PR #2684: 134e54f5998a4be5fc1137ffd9f5d584c8f8335a cff189ecf7a2c4c4d05869eaa1fb93cd14441dc0 4cf476c81239fcbfedbc31f66d3cbcbb80f9a2d6
* PR #2693: b11f6f48d4123ae4fc43fa2ec99857ac517e3405

[2017-02-01 06:18] hoopoepg commented on #1947
@hppritcha
hi, could you check this issue on latest master? we bit updated finalization of EP and it should not hang now

thank you

[2017-02-01 16:19] shefty commented on #2688
There are are few fixes to pull into 1.4.1.  I'll try to get those merged in today.

[2017-02-01 18:25] shefty commented on #2688
I pushed 5 fixes to the psm/psm2 providers into the v1.4.x branch that were cherry-picked from master.  My remote was set to 'ofiwg' rather than 'shefty' so the push went directly into the ofiwg repo, rather than my personal repo, where I intended.  So no PR for the fixes ended up being created.

[2017-02-01 19:33] sayantansur commented on #2675
👍

[2017-02-01 22:57] #2682 closed

[2017-02-02 00:21] jsquyres opened #2696 "v1.4.1: Update PSM/PSM2 entries in NEWS.md"
Intel needs to do this.

[2017-02-02 00:29] jsquyres commented on #2688
@shefty We're making a fabtests v1.4.1, too, right?

[2017-02-02 00:41] shefty commented on #2688
I can go either way on fabtests.  There have been some fixes, and I don't see anything related to the ABI update.  So it may be okay to form 1.4.1 from the head.

[2017-02-02 18:15] #2696 closed

[2017-02-02 18:36] jshimek opened #2700 "fi_cntr_wait error return code clarification"
The man page for fi_cntr_wait currently states the following:

This section does not state the error that should be returned if fi_cntr_wait unblocks due to cntr_err incrementing. A quick look at the sockets provider sees that it returns -FI_EAVAIL but this is not explicitly called out in the man. Should we update the fi_cntr_wait man to state that on error or other, -FI_EAVAIL will be returned.

[2017-02-02 19:55] shefty commented on #2688
@a-ilango is out until next Monday.  I've scanned the verbs provider for fixes, but I think we want to wait for input from Arun and the other verbs developers.

The sockets provider is more difficult, since we've lost any maintainer.  I've made a list of socket provider fixes, but I'm still trying to decide if any are important enough for this release.

[2017-02-03 22:10] jsquyres commented on #2690
Fixed by #2694.

[2017-02-03 22:10] #2690 closed

[2017-02-05 19:52] hppritcha commented on #1985
closed via #2692

[2017-02-05 19:52] #1985 closed

[2017-02-06 16:08] a-ilango commented on #2688
Verbs provider doesn't have any critical fixes that needs go into 1.4.1

[2017-02-06 17:02] mblockso opened #2704 "fi_cntr_read() and FI_THREAD_* modes"
Say we have multiple tx contexts bound to a single counter and we want lock-free access to these tx contexts by multiple threads (perhaps the tx contexts are pinned to a thread, etc), yet these threads need to know when the shared counter has reached a certain value.

Can these threads concurrently invoke `fi_cntr_read()` without forcing the domain into `FI_THREAD_SAFE` or some other onerous threa

[2017-02-06 17:54] shefty commented on #2688
I think we're good to do.  The changes to the socket provider fix problems that have been there since forever.

[2017-02-06 17:57] shefty commented on #2688
@jsquyres - Are we just needing to create the tarballs and validate them at this point?  I'd like to verify this with the OFED release as part of the testing, but they will need a package.  Did you want to go with an rc for this, or just jump to the release?

[2017-02-06 18:13] shefty commented on #2704
I think FI_THREAD_FID meets the requirements, as long as the app adds synchronization around fi_cntr_read().  My guess is that if the app doesn't lock around fi_cntr_read(), the code is likely to work correctly for most provider implementations of counters.

Maybe we can document that fi_cntr_read() must always be thread safe.  I'd need to see if this would cause a burden on any reasonable impleme

[2017-02-06 18:30] mblockso commented on #2704
It would be great if we can do this .. thread-safe counter read is all we really need.

[2017-02-06 18:35] mblockso opened #2705 "fi_cntr max?"
Are there provider-specific limitations on the number of counters that can be allocated/opened? Is there any way to query these limits instead of just "opening until fail"? Maybe something similar to the `fi_ep_attr::tx_ctx_cnt` attribute?

[2017-02-06 19:12] shefty commented on #2705
See fi_domain_attr::cntr_cnt, recently added for ABI 1.1

[2017-02-06 19:39] jsquyres commented on #2688
Yes, all we need to do is the verification.

Let me make a pair of tarballs: an rc and a final.  I'll publish the rc's so that you can test them.  Then, if we're good, the final tarballs will be available as well (that were made at the same time, from the same hash, ...etc.).

[2017-02-06 19:50] shefty commented on #2688
Sounds good - thanks

[2017-02-06 19:58] jsquyres commented on #2688
rc tarballs posted here: http://openfabrics.org/downloads/ofi/

[2017-02-06 20:06] mblockso commented on #2705
thanks sean .. closing

[2017-02-06 20:06] #2705 closed

[2017-02-07 13:29] gladkovdmitry17 commented on #2676
under investigation by @gladkovdmitry17

[2017-02-07 14:36] chuckfossen opened #2706 "Add fi_no_join to fi_ops_cm"
Commit [979537d](https://github.com/ofiwg/libfabric/commit/979537dacb8fd7ba489551896745eef360026d20) seems to be missing a corresponding fi_no_join() for providers to return -FI_ENOSYS.

[2017-02-08 15:47] jswaro opened #2707 "Default authorization key for domains"
So my current proposal is this:

2 new fields in the domain attributes:
	- default_auth_key: uint8_t *
	- default_auth_key_len: size_t;

If default_auth_key_len is zero, the provider obtains a key in the same manner that they do today (if they obtain one at all). Otherwise, the key used is the one provided by the application, obtained by provider specific instructions for network/authorization key

[2017-02-08 15:51] jswaro commented on #2707
I should mention that this isn't an echo of our prior discussions, but an alternate take on them. With default keys, it only changes what authorization key is associated with a resource if one isn't actively provided by the application in the call to fi_endpoint, or fi_mr_regattr.

[2017-02-08 19:40] jswaro opened #2711 "retrans tests are failing to release resources when injecting errors"
Without reading the CQ errors in the retrans tests, the test will hold onto resources indefinitely until end-of-test when resources are forcibly released.

This affects resource bound modes such as MDD sharing off, or FI_MR_SCALABLE. The tests should be modified to read the CQ error then go back and progress until the tx is complete. This causes the TX to enter the end-of-life states naturally and

[2017-02-08 20:09] jswaro commented on #2711
Wrong repo.

[2017-02-08 20:09] #2711 closed

[2017-02-09 16:26] gladkovdmitry17 commented on #2676
Should work in #2714

[2017-02-10 00:26] sungeunchoi opened #2718 "prov/sockets: fi_write operation does not progress even with call to fi_cq_read"
When using manual data progress, if I do an fi_write and then repeatedly read the CQ bound to that ep, the write operation does not progress and the program hangs.  This can be even be seen in a single process job using 2 domains with an endpoint each and fi_write operations to each other.

I have not tried it with fi_read.

[2017-02-14 17:16] pkcoff commented on #2648
Going with my github fork for mpich and ofi Release 0.1 available to users at Argonne and being tried by 1 project already, will submit pull request once I have the hw accelerated rma working.

[2017-02-14 17:16] #2648 closed

[2017-02-14 17:22] pkcoff commented on #2649
line item 1 coded and working, Sean's idea for the key seems to be working in that I can obtain the physical address using the virtual-key, line item 2 almost working, but also need this line item now:

2.5) Add physical address version for emulated models.

Since not all operations will be hw accelerated (basically all atomic ops will still be emulated) and we can't have both the mr_scalable offs

[2017-02-14 17:35] hppritcha opened #2720 "need to update manpages for cases where serialization of access is needed"
Per comments in #2618, certain libfabric calls, in particular ```fi_cq_readerr```,  need to be treated as serialization points by applications.  This is currently not reflected in the libfabric man pages.

[2017-02-14 18:07] pkcoff commented on #2618
On the call today Sean mentioned BGQ needs to sign off on this, however I don't think this applies to us since we've implemented FI_DIRECTED_RECV and we are sending the source address in the packet header and not looking it up in the address vector

[2017-02-14 18:38] shefty commented on #2618
The issue is how to handle reporting the source address (FI_SOURCE) in a completion when the address is not in the AV.

[2017-02-15 00:25] sungeunchoi opened #2722 "prov/sockets: fi_read allowed on endpoints opened without FI_READ"
The caps flag in the info struct returned from fi_getinfo() does not have FI_READ set.

I have not tried this with fi_write() and an endpoint opened without FI_WRITE.

I have a test program I can send if someone gets to this.

[2017-02-15 00:26] sungeunchoi commented on #2718
I confirmed that the same problem exists for fi_read.  I have a test program if anyone is interested.

[2017-02-15 23:14] #2632 closed

[2017-02-16 20:00] shefty opened #2730 "Need 'enable' functionality for MRs"
We still need a way to finish support for FI_MR_MMU_NOTIFY.  Additionally, we may also need a way to defer MR setup until after the MR has been associated with a counter if FI_RMA_EVENT is supported.

[2017-02-16 20:02] #2557 closed

[2017-02-16 20:02] #2558 closed

[2017-02-16 20:02] #2559 closed

[2017-02-16 20:02] #2630 closed

[2017-02-17 19:43] #2707 closed

[2017-02-17 23:53] #2548 closed

[2017-02-19 22:08] #2730 closed

[2017-02-20 20:22] jsquyres commented on #2688
@shefty Did the OFED people confirm that this fixed their issue?  Should we release v1.4.1/final?

[2017-02-21 00:20] shefty commented on #2688
I have not seen where they confirmed things work.  But they released an OFED package with 1.4.1 and I haven't seen any complaints either.  I requested that they update the bugzilla report with the test results.  I'm 99% convinced that everything is fine.

[2017-02-21 14:13] agrippa opened #2735 "prov/gni: ioctl(GNI_IOC_MEM_DEREGISTER) returned error - Invalid argument at line 612 in file mem_registration.c"
On Edison with the SoS fork at https://github.com/jdinan/sandia-shmem and using the 'contexts' branch, running many PEs per node consistently causes the following error:

Warning: GNI_MemDeregister: ioctl(GNI_IOC_MEM_DEREGISTER) returned error - Invalid argument at line 612 in file mem_registration.c

I'm using an OFI installation provided by Howard Pritchard, he can add more details on its config

[2017-02-21 14:14] agrippa commented on #2735
@hppritcha @sungeunchoi

[2017-02-21 17:34] hppritcha commented on #2735
Its possible this is may be fixed by
https://github.com/ofi-cray/libfabric-cray/pull/1195.

[2017-02-21 17:54] shefty commented on #2688
OFED confirmed that 1.4.1 works for them.  BUT.... Intel MPI is reporting a crash in verbs.  I'm trying to find out if that crash is an issue with libfabric or a problem with libibverbs itself.  I think the latter.

[2017-02-21 22:22] shefty commented on #2668
@jswaro @hppritcha - I need assistance ensuring that we get the proper solution for this.  Based on my current knowledge, I'm proposing adding the following operation:

[code]

I don't think any parameters are needed, but I'm not sure.  (I may add a void * and flags for future extensibility, but I'm not sure if I'll do that either.)  The intent is that an app must call refresh any time there is a

[2017-02-21 22:29] jswaro commented on #2668
I would recommend the following definition:

fi_mr_refresh(domain, mr, flags);

I like the idea of keeping flags in the definition for future proofing the function.

[2017-02-21 22:33] sayantansur commented on #2668
@shefty do you mean that the unnamed MR mode bit will indicate that this MR will be "refreshed" in the future?

[2017-02-21 23:03] shefty commented on #2668
@sayantansur - Let's call the new mode bit FI_MR_STATIC.  When set, then any changes to the MR attributes or bindings require that the app call fi_mr_refresh() to update them.  The definition of refresh is the same as above.  I.e. the MR is implicitly disabled/enabled. (Alternatively, any update automatically results in the MR being refreshed.)  Something like this anyway.

[2017-02-21 23:09] sayantansur commented on #2668
OK, thanks, yes, that works.

[2017-02-21 23:24] shefty commented on #2668
My intent was to wrap fi_mr_refresh around the MR fi_control interface.  So, we have this as the interface into the provider: control(mr, command, arg).  Arg would be reserved and NULL.  Command FI_REFRESH.  I'll work on a patch for further discussion.

[2017-02-21 23:30] #2706 closed

[2017-02-22 17:32] tonyzinger opened #2740 "prov/sockets fi_fetch_atomicv fails with invalid parameter dst_len != src_len (sock_atomic.c line 219)"
When sending a multiple source iov on the fi_fetch_atomicv API, an invalid parameter error is returned from the function sock_ep_tx_atomic() in sock_atomic.c at line 219, when it is comparing the source buffer length against the destination buffer length.

The log error message, that is displayed, with logging set to warn is:
  libfabric:sockets:ep_data:sock_ep_tx_atomic():219<warn> Buffer length

[2017-02-22 17:40] shefty commented on #2688
The other problem does not appear to be related to libfabric.  We can go ahead and publish the previously made releases.  Thanks!

[2017-02-22 18:00] jsquyres commented on #2688
Cool; I can probably do this tomorrow.

[2017-02-22 19:30] jswaro commented on #2668
Actually, we may need additional parameters other than what I specified above. Depending on the provider, some update functions may require only the changed pages when refreshing a memory registration, not the entire range of pages. It would be beneficial to have address and length fields added to the parameter list.

[2017-02-22 19:51] shefty commented on #2668
I just pushed up a commit with my current proposal.  I included a void * parameter as input into fi_mr_refresh().  That parameter is currently reserved.  We can expand the proposal to define some sort of data structure to pass into that call.  The closest existing structure we have is this:
[code]

If we can re-use this, great, though I'd like to define something like this:
[code]
Thinking beyond

[2017-02-22 20:05] epaulson10 opened #2741 "prov/psm2: With FI_THREAD_FID, polling while posting an FI_MULTI_RECV causes heap corruption"
This issue is cropping up in GASNet while running its multithreaded tests. GASNet has an FI_MSG and an FI_RMA endpoint. There are two CQs, one for outgoing operation completion (both RMA and messages) and one for incoming messages. The implementation is using FI_MULTI_RECV for incoming messages and is using FI_THREAD_FID with individual locks around most of the objects.

What I see is heap corrupt

[2017-02-22 20:07] jswaro commented on #2668
Interesting. **What would the new definition look like?**

The mr_iov could cover the range to be updated, and iov count to determine the number of regions.

I wouldn't expect the access/offset/requested_key/contexts to change unless we want to support true re-registration capabilities, or unless a provider supports capability/attribute changes in live registrations.

I don't think auth_keylen and

[2017-02-22 20:56] shefty commented on #2668
Just to be clear, I only mention fi_mr_attr because it's an existing structure.  The refresh call itself is documented as disabling/enabling the MR, so support for live updates aren't required.  I'm still trying to figure out the best option here...  What if we tried this?

[code]
In the future, additional control commands could be used to modify other aspects of the MR.

[2017-02-22 21:41] sungeunchoi commented on #2735
@jswaro Is looking at this.

[2017-02-22 22:44] jswaro commented on #2668
I think I could be OK with this definition. I'm going to give it some more thought tonight to make sure I haven't missed anything.

[2017-02-22 22:44] shefty commented on #2668
See #2729 - just updated about 1 minute ago.

[2017-02-23 00:09] pkcoff commented on #2649
Line item 2 is working, line item 2.5 has been implemented and working, line items 3-5 abandoned as the RGet is adequately performance using sw emulation as the pami hw accelerated code.  Done.

[2017-02-23 00:09] #2649 closed

[2017-02-23 01:50] shefty commented on #2740
Can you see if PR #2743 fixes the problem for you?  Based on looking at the code, it looks like the iov handling was off in a few places, and the fix for sock_ep_atomic_readwritev() specifically looked more involved.

[2017-02-23 16:11] tonyzinger commented on #2740
With the proposed fixed, my test case successfully executes using the fi_atomic, fi_atomicv, fi_atomicmsg, fi_fetch_atomic, fi_fetch_atomicv, fi_fetch_atomicmsg, fi_compare_atomic, fi_compare_atomicv and fi_compare_atomicmsg APIS.

[2017-02-23 18:15] jsquyres commented on #2688
v1.4.1 has been released.  Closing the issue.

[2017-02-23 18:15] #2688 closed

[2017-02-23 19:24] #2740 closed

[2017-02-23 19:35] #2720 closed

[2017-02-24 05:28] shefty opened #2750 "travis CI is taking forever to run"
Adding an issue to track if this is a temporary issue or some other problem.  Of note, this change:

https://github.com/ofiwg/libfabric/commit/494f80eacd5c45c18be27c9f717e87fbf57366f3

was recently added which affects the travis build.

[2017-02-24 17:28] shefty opened #2753 "Providers: Update to support EQ error reporting"
See 9a39e432ac0b1ba346671ed9c45eca42ca194d1e.  Application can provide error buffer for fi_eq_readerr.

- [ ] bgq
- [ ] gni
- [ ] mlx
- [ ] psm
- [ ] psm2
- [ ] rxd
- [ ] rxm
- [x] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2017-02-24 17:30] shefty opened #2754 "Providers: Update to support CQ error reporting"
See 547f56678eae56becef4378e04095619a5eaf3e2.  Application can provide error buffer for fi_cq_readerr.

- [ ] bgq
- [ ] gni
- [ ] mlx
- [ ] psm
- [ ] psm2
- [ ] rxd
- [ ] rxm
- [x] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2017-02-24 20:50] #2676 closed

[2017-02-24 20:50] #2668 closed

[2017-02-24 21:14] #1641 closed

[2017-02-24 21:14] shefty opened #2755 "Providers: Support domain query_atomic operation"
See fi_atomic_query() definition.

- [ ] bgq
- [ ] gni
- [ ] mlx
- [ ] psm
- [ ] psm2
- [ ] rxd
- [ ] rxm
- [x] sockets
- [x] udp
- [ ] usnic
- [x] verbs

[2017-02-24 21:24] shefty commented on #1890
Bringing the topic of having a larger fi_context back up, so we can close on this.  The triggered ops (aka deferred work requests) were modified, so I'd like to remove those from the discussion.  I need to know if there is a provider need for moving from a 4-pointer sized context to 8.

[2017-02-24 22:24] j-xiong commented on #2741
@epaulson10 I have some questions: (1) do you use multiple multi-recv buffers? (2) if yes, do you have any assumption on the order the multi-recv buffers being used for each message?

[2017-02-24 23:13] epaulson10 commented on #2741
Yes, multiple multi-recv buffers are being used. But no, there is no assumption on order.

[2017-02-24 23:31] shefty opened #2757 "Providers: Update support for mr_mode domain attribute"
See new definition of domain_attr::mr_mode.  Mr. Basic and Mr. Scalable were replaced with MR mode bits.

Providers:
- [ ] bgq
- [ ] gni
- [ ] mlx
- [ ] psm
- [ ] psm2
- [ ] rxd
- [x] rxm
- [ ] sockets
- [ ] udp
- [x] usnic
- [x] verbs

Util:
- [x] util_mr.c

Edit: Added checkbox for util_mr. Added it here to keep related updates together instead of opening a new issue.

[2017-02-25 16:12] hppritcha opened #2759 "automate generation of provider matrix"
Per item on the mail list
http://lists.openfabrics.org/pipermail/ofiwg/2017-February/001354.html
it would be nice to have an automated way to generate the provider matrix.

[2017-02-25 16:13] hppritcha commented on #2759
@jsquyres just so you know I opened an issue so we don't forget.