[2017-12-04 18:57] tonyzinger opened #3583 "prov/gni fi_cq_read does not receive source cq from fi_readv"
In the test case that fails, I am doing a loop of 1000 transfers using the fi_readv api.  After each fi_readv call, I process the source cq using the fi_cq_read api with count value of 1.

This test case uses 2 ranks.  One of the ranks will send 1000 transfers and receive 1000 cq events.  The other rank will hang in the fi_cq_read call waiting for a cq event.

The more debug information I enable t

[2017-12-04 18:59] tonyzinger commented on #3583
I have the test case on jupiter in the directory: /home/users/ajz/issue_3583

[2017-12-04 22:02] sydidelot commented on #3557
@davidozog, I think I have finally found the issue (sorry @shefty, it was effectively due to one of my patch).
Can you please cherry-pick the following patch and check that it fixes your issue with SOS?
https://github.com/ofiwg/libfabric/pull/3584
Thank you!

[2017-12-05 20:37] epaulson10 opened #3589 "prov/psm2: Provider doesn't support 1.5 mr_mode bits correctly"
I have an application that tries to be able to run over both psm2 and verbs, and thus it supports the following mr_mode bits: `FI_MR_LOCAL | FI_MR_VIRT_ADDR | FI_MR_ALLOCATED | FI_MR_PROV_KEY`.

My application sets these bits and, based on what bits are cleared after fi_getinfo(), sets a global variable to either do the Mr. Scalable-style registration of the entire virtual address space or to fall

[2017-12-05 22:38] epaulson10 commented on #3589
You know what, this might be the result of me using both an MPI that uses OFI plus my own OFI application.

[2017-12-05 23:03] epaulson10 commented on #3589
@j-xiong I just confirmed this is because the MPI I was using was using OFI/psm2 for its communication. Do you know if there has been or will be a fix to psm2 to allow you to use it from multiple libraries?

[2017-12-05 23:28] j-xiong commented on #3589
What you want is the ability to open separate domains. Currently although fi_domain() can be called multiple times, the same domain object is returned.

This feature is planned, but it will be a while before it will be worked on.

[2017-12-05 23:45] #3589 closed

[2017-12-06 16:15] #3557 closed

[2017-12-07 17:18] hppritcha opened #3599 "prov/gni: several criterion tests periodically fail"
Two of the GNI provider criterion tests periodically fail.  They have been disabled for now so as not to generate false positive failures for PRs involving code outside the GNI provider.

The two tests are
rdm_rma_basic, trigger
and
rdm_rma_stx_basic, trigger

[2017-12-07 19:55] shefty opened #3601 "Release checklist v1.5.3"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - Update the version numbers

[2017-12-07 20:56] tonyzinger opened #3603 "prov/gni assertion in __desc_lkup_by_id()at prov/gni/src/gnix_nic.c:335"
I get an assertion in __desc_lkup_by_id()at prov/gni/src/gnix_nic.c:335, the line looks like:
       assert((desc_id >= 0) && (desc_id < nic->max_tx_desc_id));

  From the core file, I see:
        (gdb) p desc_id
       $1 = 2047
       (gdb) p nic->max_tx_desc_id
      $2 = 2047

[2017-12-13 23:41] j-xiong opened #3619 "travis-ci clang linux build is failing with usnic"
All recent PR checkings are failing due to this error:

[code]

[2017-12-14 00:05] shefty commented on #3619
@bturrubiates @jsquyres -- I'm guessing travis updated clang versions or something that's showing this warning now.

[2017-12-15 04:40] bturrubiates commented on #3619
Huh, yeah I haven't seen this error before. I can check which version of Clang it's using and try to see if I can get a fix tomorrow.

[2017-12-15 17:30] shefty commented on #3619
I believe it's clang 4.0 or newer that causes this.

[2017-12-16 20:51] chuckcranor opened #3628 "shared libs: master uses older shared lib version number than branch"
If you compile libfabric on the v1.5.x branch with shared libs enabled, it installs as:

$prefix/lib/libfabric.so.1.9.3

if you switch to master from a v1.5.x branch install, and recompile/install it installs as:

$prefix/lib/libfabric.so.1.9.0

But because the old 1.9.3 lib is present in the $prefix/lib directory, the install does
not update the $prefix/lib/libfabric.so.1 symbolic link, so it sti

[2017-12-17 14:27] jsquyres commented on #3628
I confirm that you are correct.

This is mainly because we really don't update the shared library version numbers until right before release.  The v1.5.x series is the latest set of releases, and therefore has the latest shared library version number (in `Makefile.am` on the v1.5.x branch, it's `--version-info 10:3:9`; on master, it's `--version-info 10:0:9`).  It hasn't been updated on master yet

[2017-12-18 14:17] chuckcranor commented on #3628
This isn't getting installed in a production location.  We've been tracking down a Cray GNI problem that shows differently in 1.5.x and master, so as part of our debugging we've been switching between the branch and master (or at least we've been trying to, but this unexpected bug prevented us from getting the correct library when switching from 1.5.x to master until we figured out what the libfab

[2017-12-18 17:34] a-ilango commented on #3628
@chuckcranor Keeping the installation directory of v1.5.x and master different should fix this problem. It seems in your case it's the same and that's why the libfabric.so.1 symlink might point to the library with wrong version.

[2017-12-18 21:35] hppritcha opened #3632 "prov/gni: xpmem path seems to be broken"
Not sure when it happened, but the XPMEM path within the GNI provider appears to be broken based on output when FI_LOG_LEVEL is set to warn.

[2017-12-19 02:42] songweijia opened #3634 "Does libfabric support on-demand-paging(ODP)?"
I want to port our application from ibverbs API to libfabric. One feature we need for ibverbs API is [ODP](https://community.mellanox.com/docs/DOC-2898), which allows accessing to the whole virtual address space of application from the RDMA device without pinning physical memory pages in advance (ibv_reg_mr). Does libfabric support ODP now? I tried as follows but no luck.

I had a libfabric test p

[2017-12-19 08:07] gladkovdmitry17 commented on #3634
@songweijia  Currently the verbs provider with FI_EP_RDM endpoint type supports Explicit ODP feature for large message transfer (Rendezvous protocol) of messages >= `FI_VERBS_RDM_BUFFER_SIZE=<positive integer value>` run-time parameter value. We are using Explicit ODP + Relaxed access (lazy de-registration of MRs on IB verbs library level), but it corrupts memory in some cases. The feature is disa

[2017-12-19 16:46] songweijia commented on #3634
@gladkovdmitry17 Thank you very much for the reply. It's good to know that explicit ODP on verbs/MSG is under development! And yes, ideally, I want to use implicit ODP. I agree that the implicit ODP does not improve throughput or latency (It actually introduces some overhead because you have to anyhow have the physical memory pages prepared before data transfer). However, implicit ODP allows RDMA

[2017-12-19 18:05] KenBirman commented on #3634
Just to add to what @songweijia said, a benefit of implicit ODP is that if you have an application running at a fairly "high level" (like a program doing some sort of machine learning task), it probably will talk to RDMA through a library layer that has to handle marshalling and similar tasks.  With implicit ODP, an RPC or some other form of message send can completely avoid marshalling and copyin

[2017-12-19 18:25] gladkovdmitry17 commented on #3634
@songweijia Thanks a lot for providing details of your usage.

Yes, I'm going to put some efforts and implement ODP asap for you. It shouldn't take longer, but can help you gain performance.

Your scenarios are OK for us. I'm going to take this activity when my current tasks will be done.

 @KenBirman Many thanks for great explanation of possible case that can be applied with the Implicit ODP. It

[2017-12-19 18:30] songweijia commented on #3634
@gladkovdmitry17 That's very exciting to hear! Thank you very much for this support! We can now confidently continue to move on to libfabric!

[2017-12-19 18:47] KenBirman commented on #3634
Our plan is to port [Derecho ](http://www.cs.cornell.edu/ken)to run on libFabrics rather than directly on Mellanox RDMA.  The platform is entirely [open source](https://GitHub.com/Derecho-Project), but to use it, people have needed to have the hardware, and we get complaints about that right now.  Once we are on libFabrics we should have way better portability and this specific feature will also i

[2017-12-19 18:59] gladkovdmitry17 commented on #3634
@songweijia @KenBirman Thanks!
Please, keep this issue open. It's necessary to follow up this activity

[2017-12-19 23:41] jsquyres commented on #3619
Should be fixed in #3627.

[2017-12-19 23:41] #3619 closed

[2018-01-03 19:17] tonyzinger opened #3660 "prov/gni __gnix_nic_prog_thread_fn() GNI_CqVectorMonitor does not process CQs for a which value of 0"
The GNI_CqVectorMonitor() call can return a GNI_RC_SUCCESS status with a which value of 0.
This can mean 2 things.  The first meaning is that CQ associated with the index, which value, of 0 has a CQ event available.  The second meaning is that there is a DLA CQ event that needs to be processed.  In the second case a call must be made to GNI_CqGetEvent() to process the DLA CQ.

From the function do

[2018-01-03 20:37] hppritcha commented on #3660
Are you seeing indications that the  CQE's are getting dequeued from the tx_cq_blk?  Looking at line
609 to 613 of gnix_nic.c it looks like CQEs are being dequeued.

[code]

[2018-01-03 20:42] tonyzinger commented on #3660
Here is the debug output from libfabric, when it hangs trying to do a fi_cntr_open()
2: libfabric:gni:cq:gnix_cntr_open():433<trace> [15239:1]
2: libfabric:gni:cq:__verify_cntr_attr():65<trace> [15239:1]
2: libfabric:gni:core:_gnix_ref_init():254<debug> [15239:1] 0x650298 refs 1
2: libfabric:gni:core:gnix_cntr_open():463<debug> [15239:1] 0x605690 refs 5
2: libfabric:gni:eq:gnix_cntr_set_wait():96<

[2018-01-03 20:54] hppritcha commented on #3660
I think I'll need a reproducer to try and figure out what's going wrong here.

[2018-01-03 21:12] tonyzinger commented on #3660
There is a README file and a test case on jupiter in the directory /home/users/ajz/issue_3660

[2018-01-03 22:43] hppritcha commented on #3660
thanks I"ll take a look once I get my secureid resync'd.  my cray accounts were disabled prior to the holiday shutdown.

[2018-01-04 15:54] tonyzinger commented on #3660
I have created a simpler test case.  This test case creates a libfabric environment, tears it down and then creates a second libfabric environment.

This test case executes successfully using the sockets provider.

Here is the output from my test case using the gni provider without libfabric debug:
srun -l --exclusive --ntasks=1 --ntasks-per-node=1 -t 2 /home/users/ajz/issue_3660/hang_test -P gni

[2018-01-05 18:13] hppritcha opened #3663 "prov/gni: Memory leak in gnix_domain_open from mr_cache_info alloc"
The memory allocated for mr_cache_info in `gnix_domain_open()` is not released in `_domain_destruct()`. See report below:

[code]
Thanks to @soumagne for reporting

[2018-01-05 19:02] #3663 closed

[2018-01-11 19:40] jsquyres opened #3677 "verbs provider fails to compile with gcc 4.4.7 (RHEL 6 default compiler)"
This is master head as of 2018-01-11:

[code]

[2018-01-11 23:11] a-ilango commented on #3677
It seems the gcc diagnostic pragma is not available in version 4.4.7. I'll prepare a patch to check for the version before invoking this. This pragma basically disables a warning so if we disable the pragma we'll get the warnings again.

[2018-01-11 23:19] a-ilango commented on #3677
I meant the push/pop pragma. If we don't use them, I think the warning would remain disabled for the rest of the code.

[2018-01-12 18:27] j-xiong opened #3682 "TX only endpoints?"
Is there a way to create TX only endpoints?  Setting "rx_attr->caps" or "ep_attr->rx_ctx_cnt" to 0 only means default value are to be used.

TX only endpoints can be useful to save resource for certain applications, especially for providers that can support shared TX context but not shared RX context.

[2018-01-12 20:25] shefty commented on #3682
The app should be able to request this by adding FI_SEND or FI_WRITE to the info->caps.  E.g. info->caps = FI_SEND | FI_MSG requests the ability to only send messages.  Leaving the tx/rx_attr->caps = 0 indicates that the info->caps are used instead.

[2018-01-12 20:56] #3682 closed

[2018-01-13 07:06] #3677 closed

[2018-01-16 17:12] jswaro opened #3687 "GNI: CI failure in rma inject writedata path"
[----] prov/gni/test/rdm_dgram_rma.c:1961: Assertion failed: Data mismatch
[FAIL] dgram_rma_basic::inject_writedata: (0.00s

[----] prov/gni/test/rdm_dgram_stx.c:1633: Assertion failed: Data mismatch
[FAIL] dgram_rma_stx_basic::inject_writedata: (0.00s)

@hppritcha Have we had any recent changes to this?

[2018-01-16 17:19] jswaro commented on #3687
Specifically, it seems to occur in the CI system with the ofiwg/master as of today.

[2018-01-16 19:36] a-ilango opened #3688 "v1.5.x: build error due to warning in usnic provider"
The travis CI build fails for v1.5.x branch with the following error:

[code]

e.g. https://travis-ci.org/ofiwg/libfabric/jobs/328299369

@bturrubiates

[2018-01-17 17:34] jswaro opened #3694 "prov/gni: Inject path is experiencing intermittent failures"
From within the jenkin's job directory, the following occurrences of failed tests within the last 30 days or last 25 builds.

grep -R "\[FAIL\]" . 2>&1 | grep -v "No such file" | awk '{print $2}' | sort | uniq -c
      1 dgram_rma_basic::inject_writedata:
      5 dgram_rma_scalable::inject_write:
      5 dgram_rma_scalable::inject_writedata:
      2 dgram_rma_stx_basic::inject_write:
      6 dgram

[2018-01-17 18:23] gladkovdmitry17 opened #3695 "prov/gni provider fails to create EP"
fi_endpoint() fails with the following output:

[code]

Here is a [log file](https://github.com/ofiwg/libfabric/files/1640145/mpirun_fi_debug.log) that is collected with `FI_LOG_LEVEL=warn`.

[2018-01-17 18:55] bturrubiates commented on #3688
Oh, I think the changes from PR #3627 need to be cherry picked over to the v1.5.x branch.

[2018-01-17 20:20] #3687 closed

[2018-01-17 20:22] #2865 closed

[2018-01-17 20:23] #3264 closed

[2018-01-17 21:57] a-ilango commented on #3688
Thanks. Would you be opening a PR for that?

[2018-01-17 23:01] jsquyres commented on #3688
Filed #3697.

[2018-01-25 15:46] jswaro opened #3726 "prov/gni: failure in send/recv alignment test"
[----] prov/gni/test/rdm_sr.c:691: Assertion failed: Bad recv count
[FAIL] rdm_sr::send_alignment: (0.00s)

This occurred with git hash 3e1303d853ad6e88700a90537d6f0aa4e430b6e2, with the debug build.

[2018-01-25 15:46] jswaro commented on #3726
@hppritcha  In case you are interested.

[2018-01-25 18:24] epaulson10 opened #3727 "prov/psm2: Configuring provider is dependent on numactl-devel"
Trying to compile the psm2 provider fails at the configuration step with this command line:
`./configure --enable-psm2 --with-psm2-src=/path/to/the/psm2/source --prefix=/my/prefix/destination.`

config.log shows the error as:
` /usr/bin/ld: cannot find -lnuma `

This is a new requirement for the psm2 source code to compile.

On my system, I have a /usr/lib64/libnuma.so.1, but no symlinked libnuma.

[2018-01-26 16:36] shawnccx opened #3732 "prov/sockets: max_ep_stx_ctx = 0"
For sockets provider, we got `max_ep_stx_ctx = 0` from `fi_info()`. According to man page of domain attributes:

[code]

Does `max_ep_stx_ctx = 0` imply that shared transmit context is not supported in sockets? I think we are still using it and works fine in sockets provider for us.

[2018-01-26 18:47] #3732 closed

[2018-01-29 19:02] epaulson10 commented on #3727
This was fixed by PR #3729

[2018-01-29 19:02] #3727 closed

[2018-01-31 05:36] j-xiong opened #3751 "fi_tag_bits() and fi_tag_format() work incorrectly?"
These two functions may be working incorrectly:

[code]

My intuitive understanding of the intention of algorithm is that the `ffsll(htonll(x))` part tries to find the location of the most significant "1". However, the function `ffsll()` only finds the least significant "1". The call to `htonll()` swaps bytes on little endian machines, but that doesn't affect bits order within the byte, and it has

[2018-01-31 05:36] j-xiong commented on #3751
@shefty

[2018-01-31 17:19] shefty commented on #3751
I think you're correct.  This looks wrong.

[2018-02-01 21:44] #3751 closed

[2018-02-02 20:44] #3601 closed

[2018-02-02 20:45] shefty opened #3769 "Release 1.6.0"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [ ] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - Update the version numbers

[2018-02-02 23:06] hppritcha commented on #3660
@tonyzinger I still don't have access to jupiter.  Could you email me the test or put in a gist where I can access?  SecureID died and don't have a replacement yet.

[2018-02-02 23:08] hppritcha commented on #3695
How are you running this test?  It looks like you're not running on a compute node or if you are, you don't have the right RDMA credentials.

[2018-02-03 00:03] hppritcha commented on #3726
I'm not seeing this sha it in my up to date workarea:

hpp@cori12:~/libfabric> (master)git show 3e1303d
fatal: ambiguous argument '3e1303d': unknown revision or path not in the working tree.

I'm also unable to reproduce this error.

[2018-02-03 00:08] hppritcha commented on #3599
closed via a series of PRs

[2018-02-03 00:08] #3599 closed

[2018-02-03 19:24] #3603 closed

[2018-02-05 16:24] tonyzinger opened #3777 "prov/gni hangs in fi_cntr_open() when creating and destroying libfabric environment multiple times"
This test case creates a libfabric environment, tears it down and then creates a second libfabric environment.  It then hangs trying to do a fi_cntr_open() call.

ajz@jupiter bin $ srun -l --exclusive --ntasks=1 --ntasks-per-node=1 -t 10 /home/users/ajz/ofi-cray/INSTALL/bin/hang_test
0: *** start: iteration: 1
0: calling fi_allocinfo: iteration: 1
0: success fi_allocinfo: iteration: 1
0: calling f

[2018-02-05 16:26] tonyzinger commented on #3660
Howard,  I am creating a new issue for the fi_cntr_open() hang problem.
I inadvertently combined 2 problems in this issue.

The new issue that I created is: #3777

[2018-02-05 17:56] #3688 closed

[2018-02-05 17:59] bturrubiates opened #3778 "Build error if linux/hw_breakpoint.h is not available"
[code]

@shefty

[2018-02-05 18:09] shefty commented on #3778
Thanks -- I'll see if I can add a build check for this.

[2018-02-05 18:55] shefty commented on #3778
I don't see why that include file is needed.  Removed in PR #3773.

[2018-02-06 09:18] hppritcha commented on #3583
@tonyzinger are you still observing this problem?  If so, could you post the test here?

[2018-02-06 09:53] #3777 closed

[2018-02-06 15:32] hppritcha commented on #3660
@tonyzinger fix for the ```fi_cntr_open``` has been merged in to master.  could you check this test now?

[2018-02-06 19:26] #3778 closed

[2018-02-06 21:39] #3632 closed

[2018-02-07 12:52] #3295 closed

[2018-02-07 13:29] tonyzinger commented on #3660
My test case for the fi_cntr_open hang when creating, destroying and then re-creating a libfabric environment works successfully.

Thanks, Howard.

[2018-02-07 16:09] tonyzinger commented on #3694
In my test case, I am using the fi_tinject API.

For example, if I do 6 transfers of 192 bytes with a max_inject_size of 64.  This will cause me to do 18 tinject transfers of 64 bytes.  The threshold counter value that I need to get my data to land successfully is 24 (6 transfers * (192 / 64) + 6 transfers).  I would have expected my threshold counter to be 18 (6 transfers * (192 / 64)).

In anoth

[2018-02-08 01:01] hppritcha commented on #3726
not able to reproduce on master.  closing.

[2018-02-08 01:01] #3726 closed

[2018-02-08 09:37] hppritcha commented on #3660
So can we close this issue as well?  Or was there another problem that was contributing to the failure of the test at /home/users/ajz/issue_3660 on jupiter?

[2018-02-08 09:49] hppritcha opened #3793 "prov/gni: an SOS multi-threaded test deadlocks using GNI provider"
See SOS issue Sandia-OpenSHMEM/SOS#596

[2018-02-08 14:11] tonyzinger commented on #3660
When I was trying to track down a hang problem in one of my tests, I must have turned on debugging and noticed the GNI_CqVectorMonitor call.  Then I noticed that CQ events were only being processed for a which value of 1.  I did not follow the code sequence after this point.  So if _gnix_nic_progress() processes the CQ that is associated with which of 0.  Then there probably is not a problem.

The

[2018-02-08 18:09] tonyzinger opened #3797 "prov/gni fi_trecvmsg intermittently fails to write data to the correct location"
I am executing a multi-threaded test using the FI_TSENDMSG/FI_TRECVMSG APIs.  This test fails intermittently because the data does not get written to the correct receive buffer location.

This particular test is using 3 ranks with 4 pthreads per rank.
Rank 0 Pthread 0 will will send data to Rank 1 Pthread 4 and receive data from Rank 2 Pthread 8
Rank 0 Pthread 1 will will send data to Rank 1 Pthre

[2018-02-09 01:26] hppritcha commented on #3660
thanks for the explanation.  Currently we are getting "lucky" with 0, although I'll at least add a comment about this observation.  Closing this issue.

[2018-02-09 01:26] #3660 closed

[2018-02-09 01:27] hppritcha commented on #3695
closing this issue.  likely user error.  you can't run a GNI provider test with either
- using the job launcher
- using DRC (which requires extra work in your application)

[2018-02-09 01:27] #3695 closed

[2018-02-09 01:29] hppritcha commented on #3797
Could you provide a test showing the problem?

[2018-02-12 23:47] j-xiong opened #3813 "OFIWG Bot not working?"
The last time  nroff-generated man pages got updated was on Jan 8. There have been several man page updates since then.

[2018-02-12 23:48] j-xiong commented on #3813
@shefty @jsquyres

[2018-02-13 15:29] jsquyres commented on #3813
Yoinks.  I'll have a look.

[2018-02-13 15:50] jsquyres commented on #3813
Mmm... I see the problem: the required DCO check is failing when the ofiwg bot is pushing to github.com.  Meaning: pushing automated changes like this now requires a PR (i.e., it's not sufficient to just have the bot sign off its commits, it must also go through a PR so that the DCO status check can be completed successfully).

The obvious answer is to disable DCO as a required check on master.  B

[2018-02-13 15:57] shefty commented on #3813
I push directly to github master for the final release commit.   That works okay.

[2018-02-13 16:45] jsquyres commented on #3813
I'll bet you haven't done that since we made the DCO check required.

[2018-02-13 17:00] shefty commented on #3813
I _think_ I did it for 1.6.0rc1, which was just over a week ago.

[2018-02-13 17:34] jsquyres commented on #3813
I think that was #3773.

[2018-02-13 18:02] shefty commented on #3813
That PR was closed with a direct push.  So, there was a PR open on it; I just didn't merge it.  But the DCO check ran.

[2018-02-15 18:34] shefty opened #3828 "MPI spawn tests failing"
During OFI 1.6rc1 testing, our test team discovered failure of two MPICH tests – spawn/disconnect_reconnect and spawn/disconnect_reconnect2

This is regression against 1.5.3 release
I’ve found that the breakage was introduced in the PR - https://github.com/ofiwg/libfabric/pull/3761

NOTE: the PR referenced was to fix spawn tests with MPICH...

[2018-02-15 18:39] shefty commented on #3828
I've been looking at the socket code, and I think I'm starting to see a problem.  There are 3 basic structures of concern here.

AV
This stores the list of peer addresses.  An address can be inserted multiple times, with only some of them later removed.  The AV is a fancy array with addresses referenced by index.

AV Index Map (av_idm)
This is a per endpoint array that mirrors the AV.  That is, th

[2018-02-19 01:58] hppritcha commented on #3793
Test passes if one sets yet another OFI env. variable.  The GNI provider wait object stuff doesn't work well:
[code]

[2018-02-19 03:29] hppritcha commented on #3793
This appears to be a problem with an SOS test that has multiple threads trying to invoke ```fi_cntr_wait``` on the same wait object.   The GNI provider doesn't support this.

[2018-02-19 03:29] #3793 closed

[2018-02-19 03:34] hppritcha commented on #3583
I'm not seeing a problem running this test case on jupiter using libfabric configured with the following options:
[code]

[2018-02-19 14:20] hppritcha commented on #3797
@tonyzinger could you point me to a test case that demonstrates this bug?

[2018-02-19 16:00] jsquyres opened #3837 "rxm compiler warnings"
With this morning's HEAD (d7a9a14a0996c3a0729371c52c6ddae353ad9c66), I see the following compiler warnings in rxm with gcc 7.3.0:

[code]

[2018-02-19 16:09] gladkovdmitry17 commented on #3837
Thanks.
This will be addressed here - #3822

[2018-02-19 21:21] #3813 closed

[2018-02-20 15:55] tonyzinger commented on #3583
I built libfabric from the tip of github.  I then used these libfabric libraries from my build with the latest version of my test and I did not see this problem.

So this issue can be closed.

[2018-02-20 16:01] #3583 closed

[2018-02-20 16:20] tonyzinger commented on #3797
On Jupiter in the directory: /home/users/ajz/issue_3797 there is a test case.
The README file contains the command to execute the test.  You might need to execute the test multiple time before it will fail.

The test command will write debug output information into the User's Home directory.  Looking at these files will be easier than looking at the information that is displayed in stdout.  Each o

[2018-02-21 14:29] #3837 closed

[2018-02-23 19:04] #3828 closed

[2018-02-24 00:31] bturrubiates opened #3865 "prov/usnic: CQ FD handling is broken"
Haven't been able to track this all the way to the source of the problem, but it looks like this happens with newer versions of `usnic_verbs` as a result of incompatibilities between `usnic_direct` and `usnic_verbs`.

[2018-02-24 00:36] shefty commented on #3865
Nearly all of the API is asynchronous, soooooo.... are you saying that everything is broken?

[2018-02-24 00:44] bturrubiates commented on #3865
Oops. Anything that requires waiting on a CQ FD. So `fi_cq_sread` and waitsets and things like that.

[2018-02-24 00:45] bturrubiates commented on #3865
@shefty we didn't realize at first because we had been testing with our Open MPI BTL which only uses polling.

[2018-02-26 20:15] bturrubiates commented on #3865
This turned out to be a bug in a recent commit on the `usnic_verbs` kernel driver. No fixes are necessary for our provider.

[2018-02-26 20:15] #3865 closed

[2018-02-26 20:24] bturrubiates opened #3871 "prov/usnic: Provider fails one of the MR mode tests."
See debug output here:

[code]

The problem is that we're returning more hints than the test passed us. I've narrowed it down to this interaction:

[Here](https://github.com/ofiwg/libfabric/blob/master/prov/usnic/src/usdf_ep_dgram.c#L568-L569) we check the hints that were passed in using a core function. Since the core function returns that they are compatible, we don't change the defaults (we ass

[2018-02-26 21:01] shefty commented on #3871
VIRT_ADDR and PROV_KEY only apply to RMA/atomic operations.  So, if the app isn't wanting RMA, there's no need for it to support those bits or the provider to require them.  The core function that you reference is clearing these bits in that situation, so the app can work with a provider that it may not otherwise be able to use.

From the provider's perspective, it is supposed to set those bits th

[2018-02-26 21:57] bturrubiates commented on #3871
I see, I think we misunderstood those mode bits originally. I can open a PR that reduces our requirements.

[2018-02-27 18:20] #3871 closed

[2018-03-02 01:16] mshiryaev opened #3886 "prov/sockets: hang with scalable endpoint"
Hello,

I faced with hang on sockets provider trying to utilize SEP feature although PSM2 provider works well. The reproducer is attached ([mep_reproducer.zip](https://github.com/ofiwg/libfabric/files/1773307/mep_reproducer.zip))

Here is the description of reproducer. Test is single-threaded and has simple pingpong pattern where each side send/recv multiple messages per iteration. Test works with

[2018-03-05 23:57] shefty commented on #3886
I'm still debugging this.  I've tracked a problem down into sock_progress.c::sock_pe_read_hdr().  In that call is a check that a message queued on the receive socket is for the receive context being monitored.
[code]
This check is failing, which leads to the hang.  Because sockets emulates scalable endpoints, traffic for different tx/rx contexts go over the same tcp connection.  It looks like a me

[2018-03-06 01:39] shefty commented on #3886
See PR #3897 for a possible fix.  This PR has only been lightly tested at the moment.  It passes fabtests and the reproducer.

[2018-03-06 13:14] mshiryaev commented on #3886
Hi @shefty, I verified your patch fixed test-case with current message sizes.
size_t msg_sizes[] = { 256, 512, 8388608 };

But when I modified sizes I got hang again. For example, with the following message sizes:
size_t msg_sizes[] = { 16384000, 4000, 67108864, 16384, 150994944, 16384, 1769472, 1024, 2654208, 1536, 3538944, 1536, 1228800, 1024, 139392, 384 };

[2018-03-06 19:26] shefty commented on #3886
I updated the PR to progress the tx contexts as well.  I was able to run the reproducer with the message sizes that you mentioned.

[2018-03-06 23:57] #3886 closed

[2018-03-12 12:46] mshiryaev commented on #3886
Thanks, this fixed the hang.

[2018-03-13 22:28] shefty opened #3910 "core/av: Allow optimization when all peers have matching AV entries"
Simplifications can be made to utility providers if they know that all peers will have matching AVs.  This avoids the need to exchange 'connection' setup data, for example, or maintain peers that may not have been inserted into the local AV.

MPI typically uses this model, especially at scale.

[2018-03-14 22:58] #3769 closed

[2018-03-15 00:04] shefty opened #3911 "Enhance order that fi_info are reported to better utilize hardware"
All providers currently scan for local hardware and report what's available to applications without any deviation to the returned data.  The fi_info's are sorted by provider only.  The result is that all processes may use the first fi_info in their returned list, which may map to the same NIC.  Other NICs, though available, may go unused.  Processes on one CPU may end up using NICs across hardware

[2018-03-15 01:20] PHHargrove opened #3912 "New libpsm2 requirements in 1.6?"
I am trying to update from libfabric-1.5.1 to 1.6.0 on a system with OmniPath.
While I had no problem building the psm2 provider in 1.5.1, configure in 1.6.0 complains:

[code]

I see nothing in the NEWS.md indicating a minimum supported version of libpsm2.
Assuming the failure I observed is the expected behavior, can somebody please let me know the minimum libpsm2?

The system I am using (not man

[2018-03-15 16:51] shefty commented on #3912
@j-xiong - Do you know the new minimum requirement?

[2018-03-15 16:55] j-xiong commented on #3912
10.2.235 and later.

[2018-03-15 17:08] epaulson10 commented on #3912
@PHHargrove There is a new configure flag where you can specify libpsm2's source code and it will be compiled directly into the provider, which can be useful if you don't want to try to get whoever owns that system to upgrade.

--with-psm2-src=<some dir>

[2018-03-15 17:33] shefty commented on #3912
I'm adding a note to the news, or would putting this in the man page be better?
Btw, what sort of bizarre numbering scheme are they using?  10.2.235?

[2018-03-15 17:43] j-xiong commented on #3912
I think news is a better place than man page.

Yes, the PSM2 numbering scheme is not intuitive. The first and second numbers are related to IFS version (but not the same). The third number is probably increased with each commit.

[2018-03-15 23:59] PHHargrove commented on #3912
@j-xiong
Is`https://github.com/01org/opa-psm2/`  the proper place to get the source code for an up-to-date version?

[2018-03-16 14:55] j-xiong commented on #3912
@PHHargrove yes.

[2018-03-16 15:27] hppritcha opened #3921 "need to implement cancel method for SEPs in GNI provider"
The mercury application would like to be able to cancel posted receives on GNI provider SEPs.

[2018-03-16 23:09] #3912 closed

[2018-03-19 17:23] pombredanne opened #3934 "Fix license typos"
There are a few typos that sneaked in the license notices of some files. Since the BSD-2-clause license with an MIT warranty disclaimer is already a rather odd license, it would make sense to fix these to avoid other variations.

Some files include
- `waitailable` instead of `available` in
  - prov/psm/src/psmx_wait.c
  - prov/psm2/src/psmx2_wait.c
- `AWV` instead of `AND` in
  - prov/gni/test/run

[2018-03-19 19:26] pombredanne commented on #3934
In rdma-core-master/providers/rxe/rxe_queue.h `fileA`

[2018-03-19 21:14] pombredanne commented on #3934
in libfabric-master/prov/gni/src/gnix_xpmem.c a missing c in `opyright notice`

[2018-03-19 21:42] pombredanne commented on #3934
* in openib/libfabric-master/include/ofi_atomic.h: *      - `Redistibutions` of source code must retain the above
* in the kernel
  * linux-4.13/drivers/infiniband/sw/rxe/rxe_queue.c: *	- Redistributions in binary form must `retailuce` the above
  * linux-4.16-rc4/drivers/infiniband/sw/rxe/rxe_queue.c: *	- Redistributions in binary form must `retailuce` the above

* in libfabric-master/prov/psm/sr

[2018-03-19 22:41] pombredanne commented on #3934
Here we have many many typos:
* linux-4.13/drivers/infiniband/core/cm_msgs.h: *     withmodification, are permitted provided that the following
* linux-4.16-rc4/drivers/infiniband/core/cm_msgs.h: *     withmodification, are permitted provided that the following

[2018-03-19 22:41] pombredanne commented on #3934
More `AWV` instead of `AND`

dma-core-master/ibacm/src/acm_util.c: * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AWV
rdma-core-master/ibacm/src/acm.c: * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AWV
rdma-core-master/ibacm/src/libacm.h: * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AWV
rdma-core-master/ibacm/src/libacm.c: * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AWV
r

[2018-03-20 01:30] ct-clmsn opened #3935 "msvc++ designated initializer compile issue"
compilation with msvc++ /std:c++17 breaks due to the use of [gcc style designated initializers](https://gcc.gnu.org/onlinedocs/gcc-4.1.2/gcc/Designated-Inits.html). More specifically, the following style of struct initializer `struct foo f = { .d = 4 };` isn't something the msvc++ compiler supports. An example in libfabric of this issue is in the following file: [fi_domain.h](https://github.com/of

[2018-03-20 01:39] ct-clmsn opened #3936 "vcpkg support?"
[vcpkg](https://github.com/Microsoft/vcpkg) is similar to bsd-ports or Gentoo's portage system for windows; provides a nice interface for distributing software.

[2018-03-20 17:16] shefty commented on #3935
We can update the exported headers to compile cleanly.  I doubt there are too many places where this is used in the headers.

[2018-03-20 17:20] ct-clmsn commented on #3935
@shefty thanks!

[2018-03-20 17:26] shefty commented on #3935
@ct-clmsn - can you tell me if this code in fi_mr_refresh() compiles?
[code]

[2018-03-20 17:31] shefty commented on #3936
We don't actually create a package for windows, but should look at doing this.

[2018-03-20 17:40] shefty commented on #3936
The ND provider needs the ND headers.  I've thought about including those headers in the git tree (mostly for convenience), but I'm not sure if we want to add Microsoft header files directly into the tree.  I don't know what license those files are under for including them as part of our source tree or package.  I'm not familiar with mala (other than google search telling me to look at https://git

[2018-03-20 17:42] gladkovdmitry17 commented on #3936
@ct-clmsn Yes, this is nice point. I know about vcpkg tool.
I tried to find the information how to do hermes as a vcpkg dependency for msvc++, but I didn't find any information about that :(
Should it be updated in the VS project file?

[2018-03-20 18:30] ct-clmsn commented on #3936
@shefty [mala](https://github.com/Microsoft/mala) and [GSL](https://github.com/Microsoft/GSL) are dependencies pulled from git by hermes ([file](https://github.com/Microsoft/hermes/blob/718643927ff44d8db18d3a59b12840d13ad39665/GetDependencies.bat)). mala strikes me as a "boost::io_service" tool - software that manages asynchrony. GSL is a support header file library. I suspect getting the ND heade

[2018-03-20 18:33] ct-clmsn commented on #3936
@gladkovdmitry17 yep. hermes provides ND and ND is *the* libfabric dependency. maybe hermes isn't worth getting into vcpkg if there's an easier way to get ND into vcpkg?

[2018-03-20 22:18] ct-clmsn commented on #3935
@shefty the code sample was missing an identifier (variable name)

[code]
that line compiles well with msvc++ /std:c++17

[2018-03-20 22:24] shefty commented on #3935
Okay, then I think #3937 fixed this (just merged).  I didn't see any other problems in the header files based on visual inspection.  Let me know if you hit other issues.

[2018-03-20 22:26] ct-clmsn commented on #3935
@shefty awesome! thanks!

[2018-03-23 16:22] michael-chuvelev opened #3950 "debug: gcc error unrecognized command line option '-fstack-protector-strong'"
gcc version 4.4.7 20120313 (Red Hat 4.4.7-18) (GCC)

here's the excerpt from config.log on attempt to ./configure --enable-debug

configure:4065: checking whether the C compiler works
configure:4087: gcc -g -O0 -Wall -Wundef -Wpointer-arith -Wextra -Wno-unused-parameter -Wno-sign-compare -Wno-missing-field-initializers -fstack-protector-strong    conftest.c  >&5
cc1: error: unrecognized command li

[2018-03-23 16:27] michael-chuvelev opened #3951 "prov/verbs: fi_dgram test fails in fi_av_insert() shortly after 1.6.0"
v1.6.0 works fine (client side):

libfabric:core:core:ofi_register_provider():200<info> registering provider: verbs (1.0)
libfabric:core:core:fi_param_define_():223<info> registered var rxd_enable
libfabric:core:core:fi_param_get_():272<info> variable rxd_enable=<not set>
libfabric:core:core:ofi_register_provider():193<warn> no provider structure or name
libfabric:core:core:ofi_register_provider()

[2018-03-24 11:11] #3950 closed

[2018-03-25 19:49] miharulidze opened #3958 "libfabric 1.6.0 fails to compile with icc 13.0.1"
libfabric 1.5.3 builds fine with icc 13.0.1, but 1.6.0 and current master

**./configure CC=icc  CFLAGS="-g -O0" --enable-g=all --disable-shared && make && make install**

fails with

[code]

[2018-03-26 16:39] shefty commented on #3958
@vkrishna - Can you look into this?  It looks like these calls are used by the tcp provider.

[2018-03-26 16:45] vkrishna commented on #3958
Yes. I will check. Thanks

[2018-03-26 19:35] #3951 closed

[2018-03-26 23:27] vkrishna commented on #3958
From the full log, It seems that the issue is not tcp specific but actual problem is that ICC can't find __cpuid_count.

To reproduce this issue, I could not find ICC v13.0.1 (if you have a link to download handy, please point me to it). So I tried to reproduce with v18.0.1. I ran into different issue. I didn't run far enough to reproduce this issue with 18.0.1.

[2018-03-27 10:37] miharulidze commented on #3958
@vkrishna ICC 13.0.1 has compatibility with GCC 4.3.0. So, you can try to reproduce this issue with GCC. I tried and compilation also fails with same errors.

[2018-03-27 19:11] michael-chuvelev opened #3967 "prov/verbs: subsequent fi_av_insert creates a new address that is not supposed to be created"
The following plot works for 'udp' (and other providers) but not for 'verbs':

1. Start server, get address with fi_getname()
2. Start client, pass the server address to.
3. Client calls fi_av_insert() first time with server address, gets server's fi_addr
4. Client gets his address with fi_getname() and sends it to fi_addr, while server receives it from FI_ADDR_UNSPEC
5. Server calls (once) fi_av_

[2018-03-27 22:43] shefty opened #3969 "AV: need to handle/define duplicate address insertions"
From email posted to mailing list:

MPI is hitting into an issue that is the result of inserting the same address into an AV more than once.  There is no defined behavior for what a provider should do in this case.  At least one provider allows the duplicate insertion, and at least one fails the call... and neither work with MPI when this occurs.  :/

There are a couple of problems trying to defin

[2018-03-27 22:47] shefty commented on #3969
Briefly talked about this during the ofiwg.  Some ideas for handling this were tossed out.  MPI maybe should handle this and not insert duplicates.  Perhaps add a flag when opening an AV that duplicates may be inserted and need to be handled according to some yet to be defined standard.

FWIW, patches were submitted upstream to allow MPI to work until a workable solution is found.  Those patches d

[2018-03-27 23:58] shefty commented on #3934
PRs have been opened to fix the libfabric and fabtests typos.  Note that rdma-core is a separate project that apparently doesn't allow the reporting of issues directly to github.  No one tracking rdma-core will look into this project for issues against the core.

This issue will automatically close once the libfabric changes are merged.

[2018-03-28 00:06] #3935 closed

[2018-03-28 02:56] pombredanne commented on #3934
@shefty Thanks ++ for following up on this as I raise the issue but did not had the time to work on a proper patch yet!
I guess that for rdma-core, the way is a proper patch to the linux-rdma mailing list?

[2018-03-28 02:58] pombredanne commented on #3934
Note that this will be the way for anything related to Linux too. I tried to cast a wide net on the specific "openib/openfabrics" licenses and where they are used primarily here, in the kernel and rdma.

[2018-03-28 03:00] pombredanne commented on #3934
@shefty there could be a few similar issues in the other ofiwg repos. I will try to run some scans on these too and report the issues where appropriate

[2018-03-28 03:03] pombredanne commented on #3934
@shefty Actually https://github.com/linux-rdma/rdma-core/pulls is accepting PRs too

[2018-03-28 09:14] gladkovdmitry17 commented on #3958
I checked #3970 with GCC 4.1.0, GCC 4.3.0 and ICC 13. This works fine.

[2018-03-28 12:38] miharulidze commented on #3958
@shefty, @gladkovdmitry17 I checked #3970 and everything compiles fine both with ICC 13 and GCC 4.3.0.
Thank you!

[2018-03-28 15:15] shefty commented on #3934
The best option for rdma-core (user or kernel) is to post to the linux-rdma mailing list.  You can open a PR for the user space, you just can't open an issue to track it.

[2018-03-28 21:43] #3934 closed

[2018-03-30 19:27] soumagne opened #3979 "Segfault in socket provider with SEP and progress set to FI_PROGRESS_MANUAL"
I was not getting that segfault before but it seems that since some recent commits that segfault appeared. Here is the backtrace:

[code]

[2018-03-30 19:30] soumagne commented on #3979
This is with latest master a672d8210d9c00d479251880a65112d46cda716f

[2018-04-02 17:23] shefty opened #3982 "compile failure with gcc 4.8.5 (RedHat 7.3)"
From email report:

I experienced compilation problem in libfabric using Intel compilers (18.0.1.163 Build 20171018) interfaced to the default gcc 4.8.5 20150623 (Red Hat 4.8.5-11) in the "Red Hat Enterprise Linux Server release 7.3 (Maipo)" platform. Switching to load gcc 6.3.0 module in the same platform could, however, compile successfully. Jeff Hammond suggested me to post the problem here, an

[2018-04-02 20:46] #3982 closed

[2018-04-02 22:53] shefty commented on #3979
@soumagne - Do you know if the 1.6 release works for you?  There were some significant changes to the socket provider that went into master immediately after 1.6 was published.

[2018-04-02 23:01] soumagne commented on #3979
1.6 release does not work for me either. Actually I can confirm now that ba4645d0d169ae6acf46ebc49a312ea99fdaf420 is the culprit. Before that commit it works fine, after it no longer does.

[2018-04-02 23:09] shefty commented on #3979
Thanks!  That helps a lot.

[2018-04-03 07:04] gladkovdmitry17 commented on #3979
@soumagne @shefty Intel MPI hits this problem on Windows as well.
[This](https://github.com/ofiwg/libfabric/blob/ba4645d0d169ae6acf46ebc49a312ea99fdaf420/prov/sockets/src/sock_progress.c#L2451) is NULL on Linux when `i` go beyond the boundaries of the `rx_array`/`tx_array` array. But this isn't a NULL on Windows.

Folks, We will prepare fix today.

[2018-04-03 20:31] #3979 closed

[2018-04-04 19:56] shefty opened #3995 "compiler error with icc 17.0.4.196"
I am writing to report another building problem of libfabric. Intel Compiler 17.0.4.196 Build 20170411 failed to build libfabric at the linking stage, regardless of the backend gcc versions of default 4.8.5 or 6.3.0 in the Red Hat Enterprise Linux Server release 7.3 system. Error messages follow,

[code]

[2018-04-04 20:42] shefty commented on #3995
From the config.log (sent via email to the libfabric-users

configure:14828: checking whether __builtin_ia32_rdpmc is declared
configure:14828: icc -std=gnu99 -c -fvisibility=hidden -O2 -DNDEBUG -Wall -Wundef -Wpointer-arith  conftest.c >&5
configure:14828: $? = 0
configure:14828: result: yes

[2018-04-05 19:44] #3995 closed

[2018-04-17 18:17] shefty opened #4018 "fi_mr_raw_attr - does not specify who allocates the raw_key"
The intent is to match fi_getname, but this isn't documented in the man pages.

[2018-04-17 21:39] #4018 closed

[2018-04-18 05:03] #3967 closed

[2018-04-25 23:00] michael-chuvelev opened #4038 "prov/verbs: closing endpoint causes segfault in some occasions (EP_DGRAM)"
There's some weird scenario:
1. server sends a message to client and expects a reply, got a reply (2 times), then waits for client to exit
2. client receives a message from server and send a reply back (2 times), then close fabric resources and exit.
3. server is trying to close resources and failed on closing the endpoint.

Below is some debug trace:

[nnlmpibdw01:0] Before fi_close(&tsp.ep->fid)

[2018-04-27 00:14] nrspruit opened #4040 "prov/sockets: Segfault given NULL msg_iov with iov_count =0"
In the sockets provider, when one calls any of the TX *msg APIs (ie fi_sendmsg, fi_writemsg, fi_tsendmsg.. etc)

Each call performs the following:

	sock_tx_ctx_write_op_send(tx_ctx, &tx_op, flags,
			(uintptr_t) msg->context, msg->addr,
			(uintptr_t) msg->msg_iov[0].iov_base,
			ep_attr, conn);

If a user sets iov_count = 0 and sets the msg_iov to NULL, then this will segfault since there is no

[2018-04-28 17:30] #4038 closed

[2018-05-03 21:50] mohanasudhan opened #4048 "RxM AUTO Progress engine"
This is mostly a question to the community, rather an issue. Correct me if this is wrong place for such questions

I am currently digging in RxM utility provider to understand more on how it implements FI_PROGRESS_AUTO. As i dig in, I see RxM doesn't use separate thread for its progress, It implements fi_cq_sread and some tweak large message w.r.t progress (Refer https://github.com/ofiwg/libfabric

[2018-05-03 22:27] shefty commented on #4048
I'm not certain if rxm adheres to auto-progress, but the act of using cq read to complete an operation doesn't necessarily indicate manual progress.  What matters is if the action is something that an application would need to do anyway -- i.e. will the app hang waiting for an operation to complete.  RxM mostly targets verbs devices, which offload transport functionality.  So RMA and message trans

[2018-05-04 20:21] dmitrygladkov opened #4054 "psm2 compile warnings"
[code]

[2018-05-08 17:21] jsquyres opened #4063 "Intel 2018 compile issue with libfabric v1.6"
I got a customer-reported bug today:

[code]

[code]

I'm waiting for my Intel 2018 licenses to come through, so I can't test this out myself at the moment.

@shefty is there anyone there at Intel who can provide an assist here?

[2018-05-08 18:25] shefty commented on #4063
Can you try 1.6.1rc1?

See

https://github.com/ofiwg/libfabric/commit/818243e89a6a5c2e4a3aa775d9897513fba2cbc9

- Sean

[2018-05-08 19:16] jsquyres commented on #4063
I've asked the customer to test.

[2018-05-08 20:03] dmitrygx opened #4066 "util/av: Scalability issue"
When running ofi_rxm provider with MPICH/CH4 (and CH3 as well) for overall number of ranks > 1024, it leads to ABORT signal for 1025th rank and so on.
So, both CH3 and CH4 doesn't set `fi_av_attr::count` value to optimize handling of addresses at the provider level. This is just expected value (and OFI doesn't require to set it) of addresses that will be inserted.
In this case, util/av uses defaul

[2018-05-08 20:33] gladkovdmitry17 commented on #4066
@jsquyres Thanks. Hmm, good question.

It can be set when initializing OFI netmod without any problems.
But how much this should value be? `MPI_COMM_WORLD` size?
But when initializing OFI netmod, we don't know about spawned processes and therefore we don't have a chance to predict the proper `fi_av_attr::count` value

[2018-05-08 21:00] jsquyres commented on #4066
Are the issues:

1. The AV size is fixed and cannot be grown after creation.  Hence, how would you know what size to use?
1. Does MPICH need to keep AV entries in the table?  Or are connections made, and then AV entries can be removed?  (this may be a naive question, but my transport only supports DGRAM, so I am not wise in the ways of RDM and MSG...)

[2018-05-08 21:08] shefty commented on #4066
So, this hits me as an application problem, but adding new env variables seems like the least sucky solution to support the broken apps.  Do we need each provider to have this variable, or could we use a single library wide value, that providers can support or not?

[2018-05-08 21:14] sayantansur commented on #4066
I agree this is an application problem. MPI should be able to provide the 'count'. @gladkovdmitry17 I have a design update pending to the MPICH team to avoid them using the AV in a boundless fashion. I want intercommunicators to be their own AV and intercomm merge to result in creation of a new AV. This makes AVs static.

BTW, even in the presence of spawn, they could technically provide the value

[2018-05-09 16:32] shefty commented on #4066
Independent of the reason, the proposed changes allow using an environment variable to override a hard-coded value.  That seems reasonable to me and does align with other use cases for environment variables

[2018-05-09 17:28] jsquyres commented on #4066
So I guess that's the crux of it: fi_av(3) says that count "Indicates the expected number of addresses that will be inserted into the AV. The provider uses this to optimize resource allocations."  It does *not* state that it is a maximum number of entries in the AV.

I.e., is our documentation of this interface not sufficient, and MPICH (and apparently Open MPI) reasonable in their assumptions tha

[2018-05-09 17:36] shefty commented on #4066
I don't think it's safe to assume that an AV will grow or will not grow.  A hardware based AV, or even a software based one that might make use of a hash table for FI_SOURCE, could be restricted.  An AV that is shared between processes may also have a fixed maximum.

At the same time, the av::count is not defined as a maximum, because it may not be.  A provider could grow the AV, and I didn't want

[2018-05-09 17:40] jsquyres commented on #4066
I hear what you're saying, but it feels weird to have to say:

1. If you run with <=X MPI processes, everything works fine out of the box.
1. If you run with >X MPI processes, you have to set this magic environment variable to a magic value.

(especially if X is a fairly low number, like 1024)

[2018-05-09 18:03] shefty commented on #4066
Well, that's saying the truth, even if it does feel weird in today's political spectrum.  :)  I guess the more complete truth is:

1. If MPI doesn't specify X, then the provider developer pick a hard-coded value.
2. If you run with <= X ranks, things work.
3. If you run with > X ranks, it doesn't work.
4. If we add this magic value, we can adjust the value of X.

Along this line, I just had a side

[2018-05-09 23:38] jsquyres commented on #4063
I got my own Intel 2018 license and tried to compile the HEAD of the libfabric v1.6.x branch and got oodles of warnings.  [See this gist](https://gist.github.com/jsquyres/1cff01c34cfd7c418b405b48fbfcf25b).

The main warnings are like this:

[code]

[2018-05-09 23:40] jsquyres commented on #4063
(BTW, this happens on master, too)

It's probably important to note that I'm on RHEL 6.5 (the customer cited RHEL 6.9).

[2018-05-09 23:44] jsquyres commented on #4063
I should also point out that all these warnings occur on both `ofi_atom.h` lines 267 and 268, i.e.:

[code]

These are gigantic macros for atomic things.  Can someone smarter than me about the libfabric atomics have a look at this?

[2018-05-10 11:32] gladkovdmitry17 commented on #4066
@sayantansur Do this mean that each communicator will contain its own AV?
But we still need to maintain AV for MPI_COMM_WORLD communicator. And we have to insert the addresses of spawned processes into AV of MPI_COMM_WORLD, i.e. we still have AV that should be expand dynamically.

[2018-05-10 14:07] sayantansur commented on #4066
@gladkovdmitry17 Ideally, we don't want AVs to expand dynamically. That doesn't work very well with things like "instant-on" schemes. i.e. you can do that from MPI if you must, but you might lose out on system/provider level optimizations. I was talking with Sean to have the libfabric APIs allow dynamic binding of EPs to multiple AVs. Therefore every MPI_COMM_WORLD could be its own static AV.

[2018-05-10 16:15] gladkovdmitry17 commented on #4066
@sayantansur I see. Thanks for the explanation. OFI AVs are mapped very well to MPI communicators in that case.

[2018-05-11 20:53] thananon opened #4086 "prov/sockets: provider always return FI_MR_UNSPEC with new mr_mode bits."
In sockets provider:

sock_ep.c:
[code]
From this part of code, if the new mr_mode flags are given, the provider will just blindly return 0 (`FI_MR_UNSPEC`). This creates problems later as the user will use the flags to register memory with `ofi_mr_map_insert()` which calculates the address offset based on the flag.  (and with the wrong offset, we read the wrong address on later stages)

[code]
Sh

[2018-05-12 00:15] shefty commented on #4086
The new mr_mode are flags, so 0 is valid.  Prior to 1.5, mr_mode was an enum (UNSPEC, BASIC, SCALABLE).  A new mr_mode = 0 is basically the older version of SCALABLE.  The address is 0-based, the user selects the key.

[2018-05-14 15:58] thananon commented on #4086
Thank you for the answer Sean.

I think I know what happened. In my code, everything on the registration is fine.
[code]

Without FI_MR_VIRT_ADDR, `ofi_mr_map_insert()` stores the offset as the address.
[code]

So when I retrieve it, the offset is the address.
[code]
And `ofi_mr_verify` is trying to validate the address by getting iov address + offset. It gets some out of bound address and return

[2018-05-14 16:17] shefty commented on #4086
What you described above sounds fine to me.  With FI_MR_VIRT_ADDR = 0, the app should use a 0-based address.  The MR key identifies the region, with the app providing an offset into that region where the transfer should occur.  For example, an RMA write to the region would specify key = BLAH and remote address = 0.  The target would write the data starting at the base address of the memory region.

[2018-05-14 16:29] thananon commented on #4086
io_addr is what the application requested address. Now I understand.
Thank you Sean. This turns out to be a non-issue. I will close this right away.

[2018-05-14 16:29] #4086 closed

[2018-05-29 18:43] philip-davis opened #4135 "Missing format specifier in GNI provider"
https://github.com/ofiwg/libfabric/blob/2cb5088c77b30dd6f216d782ca2c13b35ecd5a6b/prov/gni/src/gnix_rma.c#L1475

rc is not printed because there is no format specifier for it.

[2018-05-31 21:49] wckzhang opened #4141 "Using the tcp provider"
Hello, I noticed the new TCP provider on the most recent commit and wanted to try using it. However, running fi_info or fi_pingpong on it doesn't seem to work, returning fi_getinfo: -61. Is there a particular flag I have to enable or code I have to delete in order to test the provider?

[2018-05-31 22:57] vkrishna commented on #4141
You should be able to test as-is. Just make sure you are enabling the tcp provider when you run configure. Which OS are you trying it on?

[2018-05-31 23:31] wckzhang commented on #4141
Is the flag --enable-tcp (I ran this one on configure). Running it on Amazon Linux.

[2018-05-31 23:41] wckzhang commented on #4141
Ah I cleaned my install directory and tried again and it seems to have worked. fi_info displays the tcp provider, though fi_pingpong is getting a segmentation fault. "[error] util/pingpong.c:546 : fi_getname didn't return length
Segmentation fault"

[2018-06-01 17:46] wckzhang commented on #4141
Thanks for your help!

[2018-06-01 17:46] #4141 closed

[2018-06-05 12:13] JoZie opened #4153 "prov/gni: Dynamic Process Connection"
I want to connect 2 MPI applications. Therefor I wrote a libfabric communication library. For the "Job Connection" feature I did the initial implementation on my local machine with the `sockets` provider. This works just fine. But when I'm switching to our Cray HPC system with the `gni` provider the processes of the two aprun instances won't connect.
The log for one of the processes (0) states tha

[2018-06-05 14:35] jswaro commented on #4153
The jobs must have the same auth key. If this is a two distinct job scenario, they must share a common auth key. If this is within the same job, they must share a common auth key OR the default auth key.

[2018-06-05 14:45] jswaro opened #4154 "contrib/rpmBuild: Cannot find spec file"
The script errors pretty early on with the following line:

It seems to want to copy the .spec file out of the tarball but the spec file doesn't exist until after configure has been run.

Is that file only meant to be used with release versions of libfabric?

[2018-06-05 14:45] jswaro commented on #4154
@shefty Any idea?

[2018-06-05 15:29] jswaro commented on #4154
@bturrubiates  Thoughts?

[2018-06-05 18:08] jswaro commented on #4154
I just needed to do 'make dist-bzip2' to create the tar for the current build. Problem solved.

[2018-06-05 18:08] #4154 closed

[2018-06-05 21:10] jlbyrne-hpe opened #4158 "Behavior of FI_MR_UNSPEC in version 1.5 or later"
The current fi_domain man page has the following to say about FI_MR_UNSPEC.

*FI_MR_UNSPEC*
: Defined for compatibility -- library versions 1.4 and earlier.  Setting
  mr_mode to 0 indicates that FI_MR_BASIC or FI_MR_SCALABLE are requested
  and supported.

From this, the expectation is that passing in FI_MR_UNSPEC (zero) would result in returning FI_MR_BASIC (one) or FI_MR_SCALABLE (two). However

[2018-06-05 21:34] shefty commented on #4158
This is the intent:

The definition for FI_MR_UNSPEC is meant only to apply to version 1.4 and earlier.  That is, FI_MR_UNSPEC will return either FI_MR_BASIC or FI_MR_SCALABLE for the 1.4 version of the library. FI_MR_UNSPEC is not supportable for 1.5 and later.

Both FI_MR_BASIC and FI_MR_SCALABLE are supported for all library versions.

We want applications to move away from using FI_MR_UNSPEC/B

[2018-06-05 22:31] jlbyrne-hpe commented on #4158
Understood, but all three of FI_MR_UNSPEC, FI_MR_BASIC, FI_MR_SCALABLE begin with
"Defined for compatibility -- library versions 1.4 and earlier." Two of them work with API version >= 1.5, one doesn't. I find that confusing and worthy of clarification in the man page.

Something like:

FI_MR_UNSPEC:
Defined for compatibility -- library versions 1.4 and earlier, but not supported for versions 1.5 o

[2018-06-07 20:43] thananon opened #4166 "prov/sockets: hang with scalable endpoint."
I took a look at #3886 but it seems to be a different problem.

I initialize sockets provider and create a scalable endpoint with just 1 tx context and it hang on `fi_read()`. The log shows that the peer is trying to process the same entry (read) over and over.

[code]

After some debugging I found the fail point here:
[code]
op_type is `SOCK_OP_READ` (valid) and `rx_ctx->is_ctrl_ctx` is 1.

The c

[2018-06-07 22:35] shefty commented on #4166
It sounds like a bug.  But probably not one that I'll fix, since we're trying to move away from the sockets provider in favor of the tcp provider.  We can at least document this in the man page

[2018-06-07 22:37] shefty commented on #4166
To clarify, if the fix is easy, we can do it.  Along this line, if you remove lines 1606-1607 mentioned above, can you see if that works for you as well (with rx context disabled again)?

[2018-06-07 22:45] thananon commented on #4166
Yes, it works but I'm not sure if it breaks something else. XD

[2018-06-07 22:47] shefty commented on #4166
I can make the same change and check our CI.  :)  It may be a (wrong) sanity check, rather than something that's necessary.

[2018-06-11 16:43] thananon commented on #4166
I think this is somewhat resolved. I'm closing this issue.

[2018-06-11 16:43] #4166 closed

[2018-06-12 15:27] jswaro commented on #4153
So, when trying to use the GNI provider between two different jobs, DRC is necessary for the allocation of authorization keys.

See: https://cug.org/proceedings/cug2016_proceedings/includes/files/pap108s2-file1.pdf

The authorization key must be built by the user application, but one of the elements of the fi_gni_auth_key is a protection key which you can read from the DRC credentials. drc_get_fir

[2018-06-12 23:50] AddyLaddy opened #4186 "fi_pingpong test hangs with verbs provider"
I'm a 'newbie' to OFI and want to try running the fi_pingpong test over IB verbs. I've compiled the latest libfabrics version (1.6) and I can get it to work over sockets, but it hangs when I try the verbs provider using the msg endpoint. Any tips on getting it working?

[2018-06-13 17:07] JoZie commented on #4153
Thank you! I managed to create an auth_key with `apmgr pdomain ...`.

To get the connection finally working I had to tweak the calls to `_gnix_auth_key_lookup` within `__create_slab` and `__nic_setup_irq_cq`. Those calls still take `GNIX_PROV_DEFAULT_AUTH_KEY` as arguments, which will not work with a user defined key. I just took the cookie from the `gnix_nic` struct and created a key.

I will ope

[2018-06-13 18:49] tonyzinger opened #4190 "prov/verbs;ofi_rxm Initiating a data transfer seg faults in rxm_ep_rma_common() at line 308"
When doing a RMA transfer using fi_write(), it seg faults in rxm_ep_rma_common() at line 308.
When doing a Message using fi_send() or a Tagged Message using fi_tsend(), it seg faults in rxm_ep_send_common() at line 1089.

It appears that the handles_av entries in the rxm_ep->util_ep.cmap are NULL.

I am including as supporting documentation, gdb information that I have collected from a dump for th

[2018-06-13 19:02] jswaro commented on #4190
@shefty @gladkovdmitry17

I've been looking over some of this with Tony but I'm not seeing anything that jumps out to me other than he requested a table and seems to have a map (when I looked at the core dump).

[2018-06-13 20:37] gladkovdmitry17 commented on #4186
Could you collect a console output with `FI_LOG_LEVEL=debug` set and provide me a callstack of client and server processes (for instance, from gstack), please?
I have the following question to figure out what is going wrong:
Did you set "-e msg -p verbs" as an argument for the fi_pingpong?

[2018-06-13 21:43] AddyLaddy commented on #4186
Yes I ran `fi_pingpong -p verbs -e msg -v` on the server and `fi_pingpong -p verbs -e msg -v host` on the client. They connected over sockets and the verbose output got as far as

[code]
But then it hangs.

[2018-06-13 21:46] AddyLaddy commented on #4186
Server gstack

[code]

Client gstack

[code]

[2018-06-13 22:14] AddyLaddy commented on #4186
Didn't see anything too interesting with FI_LOG_LEVEL=debug. Tried recompiling with --enable-debug and still not much to see. I've just pasted the last few lines of output for now. Is there something in particular we should be looking for?

Server
[code]

Client
[code]

[2018-06-14 16:17] shefty commented on #4186
Are you able to run any of the fabtests?  E.g. fi_msg.

[2018-06-14 17:14] #4135 closed

[2018-06-14 18:58] a-ilango commented on #4186
I do see the hang on my setup with fi_pingpong. I'll look into it. fabtests should work just fine. @AddyLaddy Please try running fi_msg or fi_msg_pingpong test (from https://github.com/ofiwg/fabtests/).

[2018-06-14 21:36] AddyLaddy commented on #4186
Ok thanks for looking in to this. I did manage to get the fabtests fi_msg and fi_msg_pingpong to work, but only when I used the IP over IB network interface name for the host. Using the Ethernet IP address fails;

`FI_LOG_LEVEL=debug ./fi_msg_pingpong -p verbs -d mlx5_0 gc01`

[code]

With the IP over IB hostname;

`FI_LOG_LEVEL=debug ./fi_msg_pingpong -p verbs -d mlx5_0 gc01-ib0`

[code]

[2018-06-14 21:40] a-ilango commented on #4186
Yes, the verbs provider would work only with IPoIB interface name/address. It resolves the route and establishes connection based on this address.

[2018-06-15 09:30] dmitrygladkov commented on #4190
[code]
There are two ways to fix the issue:
- move an allocation of a connection map from fi_enable(ep) call to fi_ep_bind(av, ep) -- this allows an insertion of addresses into AV before EP is turned to ENABLE state. Feel free to try this fix from `cmap` branch in my fork ([dmitrygladkov/cmap](https://github.com/dmitrygladkov/libfabric/tree/cmap))
- change your application sequence in your applica

[2018-06-15 16:19] dmitrygladkov commented on #4186
@AddyLaddy Could you verify  #4196, please? It should solve the issue

[2018-06-15 19:17] shefty commented on #4190
The man pages don't document that there's any AV <-> EP state that needs to be maintained prior to inserting addresses into the AV.  I can envision an application inserting addresses into an AV even prior to the EP being associated with it.  So, my current preference is to provide a fix for the problem within the provider and not require the application to change.

But, I'm going to look into the

[2018-06-15 20:56] dmitrygladkov commented on #4190
@shefty Thanks! Let me know if you find anything. I'll prepare a PR to fix this issue.
@jswaro @tonyzinger Could you test the possible fix from my GH fork, please?

[2018-06-16 13:55] #4186 closed

[2018-06-18 15:17] jswaro commented on #4190
@dmitrygladkov We can do that.

[2018-06-19 03:23] wckzhang opened #4203 "Layering multiple providers (More than 2) causes unintuitive behavior."
Since the addition of commit a170446d, libfabric has allowed the ability to layer more than 2 providers, which causes an unintuitive user issue.

When running Open MPI with OMPI_MCA_mtl_ofi_provider_include="tcp;ofi_rxm;ofi_mrail", the core provider utilized by libfabric is not tcp. It appears that the sockets provider is taking precedence over the tcp provider. I investigated the Open MPI code, a

[2018-06-19 15:13] #3921 closed

[2018-06-19 16:27] shefty commented on #4203
I consider this a bug.  I'll see if Arun can look into this.

[2018-06-19 17:12] a-ilango commented on #4203
I did some digging and the issue seems to be in mrail provider. I don't see a straightforward fix at this time. :/

OpenMPI calls fi_getinfo without specifying any provider name in the hints and later filters fi_info based on the provider name passed by the user. mrail provider limits fi_info list to just one entry if there were multiple fi_info returned from the underlying provider. This is to ke

[2018-06-19 19:05] soumagne opened #4205 "prov/gni Expose internal file descriptor from completion queue"
The following operations are currently not supported by the GNI provider:

    cq_attr.wait_obj = FI_WAIT_FD; /* Wait on fd */
    ....
    rc = fi_control(&ctx->noc_cq->fid, FI_GETWAIT, &fd);

In the context of mercury, being able to retrieve the internal GNI file descriptor that gets signaled when something is pushed to the completion queue would be useful in order to add it to a higher level ep

[2018-06-22 11:23] dmitrygx opened #4215 "Enable CI testing for tcp;ofi_rxm"
@shefty @vkrishna I think the current versions of tcp and RxM are ready to be integrated in our CI.
We will ensure better quality of both RxM and tcp.

It's necessary to integrate it to both CI testing systems:

- [x] Travis CI -- Linux/OSX testing (full test set)
- [ ] Appveyor CI -- Windows (test set that makes it passing)

[2018-06-25 18:22] jswaro commented on #4190
@dmitrygladkov Did you have a PR for us to look at?

[2018-06-25 18:43] dmitrygladkov commented on #4190
Sorry, I'm waiting the results of test from you.

I suggested to verify this fix. I'll prepare a PR as soon as you confirm that this works for you.

[2018-06-26 14:17] jswaro commented on #4190
@dmitrygladkov Sure, but what branch contains the fix you mentioned above?

[2018-06-26 14:53] dmitrygladkov commented on #4190
@jswaro Right, this is cmap branch - https://github.com/dmitrygladkov/libfabric/tree/cmap

[2018-06-26 15:02] jswaro commented on #4190
Ok, We'll get that tested and let you know. Thanks!

[2018-06-26 19:35] thananon opened #4225 "sockets: crash in teardown."
This is in Open MPI. btl/ofi.

Sockets provider progress thread segfault in tear down. This only happens in FI_PROGRESS_AUTO. Our workaround is sleep(1) in the main thread but that's not pretty. Is there any suggestion for this?

We mentioned it here:  https://github.com/open-mpi/ompi/pull/5205/files#diff-de8180e3bc9df3cf80c68423064da637R85

our closing order here (just in case):
[code]

[2018-06-27 19:18] wckzhang commented on #4203
@a-ilango I have some ideas about what to do. I will look into this bug and send out a PR if I make progress. You can assign this issue to me.

[2018-06-27 20:48] tonyzinger commented on #4190
Dmitry's fix has solved this problem.  I am now able to do some data transfers successfully.

[2018-06-27 20:59] a-ilango commented on #4203
@wckzhang I didn't get time to come back to this. Please go ahead if you want to work on it.

My preliminary thoughts are the following:

Calling fi_getinfo for each rail would give us:
[code]
We need to create a "header" mrail_info for similar fi_info from each rail. For example, if `info0` corresponds to `sockets;ofi_rxm;ofi_mrail` and `info1` corresponds to `tcp;ofi_rxm;ofi_mrail`, then we crea

[2018-06-27 22:40] dmitrygladkov commented on #4190
Thanks for testing this. I'll prepare an appropriate PR with those changes soon.

[2018-06-28 16:09] tonyzinger opened #4232 "prov/verbs;ofi_rxm: Assertion in prov/rxm/src/rxm.h line 653 during shutdown after doing a fi_read()"
Executing a test using the fi_read() API, during the cleanup/shutdown of the application, an assertion was encountered.  The assertion message was:
prov/rxm/src/rxm.h:653: rxm_tx_buf_release: Assertion `(tx_buf->type == RXM_BUF_POOL_TX_MSG) || (tx_buf->type == RXM_BUF_POOL_TX_TAGGED) || (tx_buf->type == RXM_BUF_POOL_TX_ACK) || (tx_buf->type == RXM_BUF_POOL_TX_LMT) || (tx_buf->type == RXM_BUF_POOL_

[2018-06-28 16:19] tonyzinger opened #4233 "prov/verbs;ofi_rxm: test using fi_read() API does not get CQ events on the initiator side"
When executing a test using the fi_read() API, the initiating side does NOT receive any CQ events.
When executing a test using the fi_wrtie() API, the initiating side does receive CQ events.

Debug output for the fi_read() test:
[cn1, Rank:  0] DEBUG: do_api: FI_READ(1): dt: UINT32, xfer: 1, flags: 0x0000000000000000, len: 8, user cntx: 0x1000001, ep: 0x1c61330, local: 0x1cb8940, num: 1, fi_addr:

[2018-06-28 16:33] dmitrygladkov commented on #4233
I suppose this is version from my GitHub fork, right?

[2018-06-28 16:53] tonyzinger commented on #4233
Yes, the libfabric library that I was using has Dmitry's fix for cmap.

[2018-06-28 19:47] tonyzinger opened #4236 "prov/verbs;ofi_rxm: Are counters supported?"
When using the verbs;ofi_rxm provider, the counter values are not incremented after using the fi_read() or fi_write() APIs.

For example is some debug output from a fi_write() test:
[cn1, Rank:  0] DEBUG: sft_reset_counter, fi_cntr_read(): current cntr: 0
  :
  :
[cn1, Rank:  0] DEBUG: do_api: FI_WRITE(1): dt: UINT32, xfer: 1, flags: 0x0000000000000000, len: 8, user cntx: 0x1000001, ep: 0x2535330,

[2018-07-03 10:46] sydidelot opened #4247 "prov/tcp fails to properly progress network messages in blocking mode"
While testing the TCP provider in blocking mode, I figured out an issue which prevents the provider to correctly progress the incoming network messages.
I've found a workaround for that issue but I'm not 100% confident the workaround is correct. That's the reason I would appreciate some help from the community :-)

In a nutshell, my network polling thread includes a code similar to the one below (

[2018-07-03 16:12] vkrishna commented on #4247
Thanks for finding this. Yes I see that there is an issue here with pending TX messages. When we block on sock fds, we only wait for incoming messages events (FI_EPOLL_IN). When you have only pending TX messages, then blocking on fds would not help, and I believe that the try function should progress them.

As per the receive part, we should be able to catch the fd events and progress RXs as we cu

[2018-07-03 16:44] vkrishna commented on #4247
Please go ahead. I think we should be fine without rx part below

[2018-07-03 17:08] sydidelot commented on #4247
I've tested without the RX part you mentioned (TX part sill there), but my testing application still hangs.
It look like both TX and RX changes are required to fix the progression issue.

[2018-07-03 17:38] vkrishna commented on #4247
I think this requires little more thought. It is possible that a send would come while app thread is waiting on blocking cq read. And assuming there is no rx message in progress, app would still hang since app thread won't wake up (as we are not signaling it in this case).

[2018-07-03 19:33] sydidelot commented on #4247
Oh Indeed, you are right -- we need to signal the app polling thread for every TX/RX queued into the lists.
I'll rework my patch to address this issue as well.

[2018-07-03 19:57] shefty commented on #4247
I'm not sure the proposed fix is correct.  It doesn't allow blocking even in the case where the socket is unable to make progress.

Doesn't the tx_queue simply mean that there's application data ready to be sent?  If that's the case, we don't want to spin waiting for the socket to become ready.  Likewise, cur_rx_entry doesn't mean that there's data waiting to be read.

[2018-07-03 20:23] #4153 closed

[2018-07-03 21:20] shefty commented on #4247
I'm not sure what the proper fix is.  :/

I agree with @vkrishna that we shouldn't need a receive side check.  If there's data waiting to be read on the socket, poll/select should return immediately.  Maybe there's a bug in how epoll is being used?

I *think* if we add EPOLLOUT when the tx queue is non-empty as you suggest would work for the transmit side.

[2018-07-09 22:39] wckzhang commented on #4203
@a-ilango My thoughts so far would be to change what happens inside of mrail_get_core_info so that it creates an array of lists (will probably use a hashmap of lists in v2). Each element in the array will be an info list corresponding to a different provider. Each following element in a list will be a different rail for the provider. The info list returned to the application will be the modified h

[2018-07-10 00:33] a-ilango commented on #4203
This sounds like a reasonable approach.

Yes, I think mrail_info_vec can be used here. We could do something like the following:
[code]
It may also be possible to avoid caching fi_info for every invocation of fi_getinfo. We could have a fabric name based on the provider and the rails used and have it as a key into a hash table of cached fi_info lists. For any domain or endpoint open call, we could

[2018-07-11 23:39] wckzhang commented on #4203
Hmm, I was looking into mrail_info_vec and mrail_get_info_cached, and it doesn't seem like what it should be doing. As far as I can tell, it looks for mrail_info_vec[index]->fabric_attr->name compared to the fabric_attr->name passed into mrail_fabric_open. If they match, it uses the mrail_info_vec[index] struct. However, it looks like the mrail_info_vec[index]->fabric_attr->name will be identical

[2018-07-12 00:04] shefty commented on #4203
My general expectation is that there would be a list of lists of fi_info's.  Each fi_info corresponds to a single rail.  If needed, a fi_info can be duplicated to appear as more than 1 rail.  Each fi_info list has some sort of mrail fi_info 'header'.  That is what gets reported to the app.  (I'm guessing this is the case today.)

The 'header' src_addr can be a vector of the src_addr values in the

[2018-07-12 23:42] wckzhang commented on #4203
@a-ilango What were your goals for mrail_info_vec and mrail_get_info_cached? The implementation will need to be changed to fall in line with the new design. If you give me a good idea of what you would like/use cases, I can design and implement the changes.

[2018-07-13 01:46] a-ilango commented on #4203
The fabric open call accepts only a fi_fabric_attr. So we cache the fi_info list during fi_getinfo time so that we can get back to it later using fabric name. Future work was to append an index to the fabric name so that we fetch the right fi_info.

Alternatively, making the fabric name a concatenation of rail fabric names which can be used as the key to search in a list or a hash map sounds bette

[2018-07-13 03:20] shefty commented on #4203
I think creating some sort of concatenated fabric name will be needed in cases where the underlying names differ.  It would be nice to be able to open the underlying fabrics when the mrail fabric is opened, but we could technically defer the work until the domain is opened.  Your pseudo-code looks reasonable, though we can figure out the actual name format.

I have not defined ADDRV yet, but I was

[2018-07-13 23:34] a-ilango commented on #4203
This would make it simpler but caching rail infos still has some other benefits like avoiding additional fi_getinfo calls during domain and endpoint creation. Especially with layered providers, there's a lot of fi_getinfo calls.

One thing we have to make sure is the "header mrail info" is representative of the rails infos. For uniform rails, this is not a problem. Otherwise the header has to summ

[2018-07-13 23:52] shefty commented on #4203
I agree with storing the fi_info list.  I'm just suggesting that if we can't pick the right list using only the fabric attributes, then we could wait until we have the full fi_info structure when the domain is opened.  Ideally, I'd like to pick it when the fabric is opened, as I think that will be easier.  Heck, we may only end up with 1 option anyway.

I don't know that it will be that much work

[2018-07-14 00:00] rajachan commented on #4203
@a-ilango #2 on your list might be more restrictive than you'd want. Multiple rails could be used for either performance or fault-tolerance, and in the latter case, you could very well have rails that don't belong to the same fabric despite belonging to the same provider; primarily to isolate fault domains.

[2018-07-14 00:14] a-ilango commented on #4203
For # 2 the restricted case is only for default behavior (when config is not specified using say FI_MRAIL_ADDR_STRC). We wouldn't want to surprise users by clubbing rails that are not supposed to be clubbed. If the user wants something like fault tolerance (which requires rails across fabrics), then they need specify it explicitly. Otherwise we won't know which rail/fabric is primary and which one

[2018-07-14 00:21] a-ilango commented on #4203
We would want to support the common use case of providing higher bandwidth without any config required from user. e.g. On nodes that have only one fabric, we can by default expose all rails as a group.

[2018-07-17 09:00] ael-code opened #4271 "custom psm2 install path is not honored"
I've an old version of psm2 library installed under `/usr/lib64` and a newer one on `/build/psm2/usr/lib64`.

If I've configured with the `--enable-psm2="/build/psm2/usr"` flag.

From the verbose output I can see that the folllowing compilation flags are properly used:
[code]

But then if I use ldd on the generated `libfabric.so.1.9.14` I find out that the system wide one is actually used instead

[2018-07-17 09:09] ael-code commented on #4271
I found a temporary solution.
If I force the following compilation flags:
[code]
The newer psm2 library is actually used and ldd upon `libfabric.so.1.9.14` returns:
[code]

[2018-07-17 16:30] jsquyres commented on #4271
@matcabral can you have a look?

[2018-07-21 08:07] dmitrygladkov opened #4278 "How about to remove verbs/RDM?"
What we have:
1. libfabric uses RxM/verbs/MSG as a default
2. RxM/verbs pass all MPICH tests with MPICH/IMPI. And as far as I know, well tested with OpenMPI.
verbs/RDM has too much bugs and not stable.
3. RxM/verbs (latest one form master branch) shows better performance numbers and scalability

@shefty @a-ilango what do you think? If you agree, I'd remove verbs/RDM's code from libfabric in 1.7 re

[2018-07-23 05:19] shefty commented on #4278
Go for it.

[2018-07-24 15:31] a-ilango commented on #4278
👍

[2018-07-24 20:26] rajachan opened #4282 "fi_cq_readfrom() semantics"
Reading through the man page and past issues on the topic, I take it that applications calling `fi_cq_readfrom()` are responsible for the lifecycle of an AV that gets returned in this call. In the case where an application gets a message from a peer it has not seen before (hence, not called `fi_av_insert()` on), providers are going to send up a `-FI_EAVAIL` and send a completion error of type `FI_

[2018-07-25 18:58] jswaro opened #4283 "verbs;ofi-rxm regression: cq completion error"
Here is the error.
[code]

[code]
test.sh
[code]

**42ca5f1285639b0bf9e0bd3e12c3900dfffd8b99 is the first bad commit**
[code]

@a-ilango Do you know what might have changed here?

[2018-07-25 19:43] shefty commented on #4283
Please tell me this is really using the socket provider and not verbs.  Because if this is going through verbs, the performance looks.. interesting.

[2018-07-25 20:13] jswaro commented on #4283
This is verbs. See https://github.com/ofiwg/libfabric/blob/master/contrib/cray/Jenkinsfile.verbs#L117

Fortunately, I know it is using verbs;ofi_rxm as that is the only permutation of verbs + utility providers that can satisfy MPICH3.3rc2.

[2018-07-25 20:15] jswaro commented on #4283
It would probably also help that the error about the CQ entry is being directly reported from the infiniband driver.

[2018-07-25 20:32] a-ilango commented on #4283
@jswaro if the error is being reported by infiniband driver, it would be helpful to get the verbs error code.  I think fi_cq_readerr should get that information. There isn't much info in the backtrace. Would you be able to get warning / debug logs? Does the issue happen with lower number of processes (say 2 or 4)?

[2018-07-25 20:39] jswaro commented on #4283
131072                685.32            676.04            694.09         100
262144               1289.89           1279.27           1295.07         100
524288               2695.39           2672.63           2712.05         100
mlx5: cn10: got completion with error:
00000000 00000000 00000000 00000000
00000000 00000000 00000000 00000000
00000002 00000000 00000000 00000000
00000000 00008813 1001

[2018-07-25 20:50] jswaro commented on #4283
I was able to reproduce this with 8 ranks, 2 ranks per node.

[2018-07-26 21:14] shefty commented on #4282
@rajachan - Please see https://github.com/ofiwg/libfabric/pull/4285 and let me know if that clarifies the behavior.

[2018-07-26 21:46] rajachan commented on #4282
Yes, that's much more explicit and clear now, thanks!

[2018-07-27 16:47] #4282 closed

[2018-07-27 17:04] #4283 closed

[2018-07-27 18:44] jswaro opened #4291 "verbs;ofi-rxm regression: Barrier failure using tagged inject."
Using 3edea3d8b09fb38dc0b0078ff5aadc33b2f66fd4 , the following test fails early in our tests.

[code]

Debugging messages:

[code]

@a-ilango @shefty @dmitrygladkov  Any ideas?

This regression presented itself after updating master with the following changes that were merged to master on July 26th

[code]

[2018-07-27 18:48] a-ilango commented on #4291
Was the test passing before 3edea3d  was merged?

[2018-07-27 18:55] jswaro commented on #4291
Yes, the test was passing in master until our run on July 27th. Our jenkins pipeline did not run on the 25th or 26th, and then ran on the morning of the 27th when the batch of commits above was introduced. Prior to that run, those tests were passing, but then later failing in our pipeline with the error that was fixed by 3edea3d.

I'm in the middle of running a git bisect on the test to see which

[2018-07-27 18:57] jswaro commented on #4291
According to git bisect:
[code]
test.sh
[code]

[2018-07-31 19:17] jswaro commented on #4291
@a-ilango  @dmitrygladkov Shall we close this since the change has been reverted?

[2018-08-01 16:34] a-ilango commented on #4291
Yes, closing it now. Hmm, I thought issues were closed automatically when the PR where it's mentioned gets merged.

[2018-08-01 16:34] #4291 closed

[2018-08-01 16:47] shefty commented on #4291
I think you need to have a comment like "Fixes #blah", versus simply referencing it.

[2018-08-02 13:31] jswaro opened #4300 "stale data in mmap'd buffers for GNI provider"
In certain cases, mmap'd data could be stale, and it is assumed that these buffers should be zero'd when they are given to the underlying comm library, uGNI.

[2018-08-04 18:25] #4300 closed

[2018-08-08 18:45] jswaro opened #4310 "RXM utility provider does not pass FI_ATOMIC flag from core provider to application"
@shefty @a-ilango @dmitrygladkov
Is this expected behavior? If so, why?

We are attempting to run an fi_atomic test using verbs;ofi_rxm, and the messaging endpoint used with ofi_rxm supports FI_ATOMIC, but the ofi_rxm layer doesn't seem to allow the capability to be set.

[2018-08-08 19:04] sydidelot commented on #4247
@vkrishna addressed the issue in #4305. We can now close it.
Thanks again!

[2018-08-08 19:04] #4247 closed

[2018-08-09 15:26] jswaro commented on #4310
So if this wasn't verbs that we were discussing, rather it was a provider with full (or close to full) support for atomics -- would this still be expected behavior of the RxM provider?

**Opinion:** _A utility provider shouldn't artificially limit the set of functions that should be exposed to the application **without good reason**_.

In this specific case, RxM should be able to use the same set

[2018-08-13 22:25] mohanasudhan opened #4319 "Stale content while using ofi_recvwin_get_next_msg"
We were noticing stale content while retriving next item from [ofi_recvwin_get_next_msg](https://github.com/ofiwg/libfabric/blob/master/include/ofi_recvwin.h#L90) in recvwin. On digging in we noticed recvwin is not clearing the content during ofi_recvwin_get_next_msg call.

e.g. Let's take recvwin of size 1024, as recvwin is implemented as circular queue msg_id 10 and 1034 will land in same slot.

[2018-08-16 16:50] sydidelot opened #4326 "mlx provider doesn't compile anymore on master (cddcb137)"
Compiling libfabric with the mlx provider turned on throws the following compilation errors:

[code]

I'm not particularly interested in this provider (I've enabled this provider by mistake in my local installation), but maybe someone should probably have a look.

[2018-08-17 12:26] #4326 closed

[2018-08-17 12:51] sydidelot commented on #4326
@dmitrygladkov Thanks for this quick fix!

[2018-08-17 17:33] dmitrygladkov commented on #4326
Sure! Thanks for discovering the issue

[2018-08-23 13:08] tonyzinger opened #4340 "Prov Verbs: inserting addresses into an AV table fails with FI_ENOSPC"
When inserting 4 addresses into an AV table, the Verbs provider fails with FI_ENOSPC.  It appears that when it is trying to insert the last address is when the failure occurs.  This does not fail every time.  If I rerun my test case about 20 times it will fail at least once.

I am attaching the debug log messages from one of these failures.
[github_of_insert_address_log.txt](https://github.com/ofi

[2018-08-23 16:34] j-xiong opened #4342 "AWS-ci always using latest fabtests, even for libfabic v1.6.x?"
Got AWS-ci failure for a v1.6.x PR, the error message was like this:

09:14:15 unit/eq_test.c: In function ‘main’:
09:14:15 unit/eq_test.c:574:3: error: ‘FI_BUFFERED_RECV’ undeclared (first use in this function)
09:14:15    FI_BUFFERED_RECV;
09:14:15    ^
09:14:15 unit/eq_test.c:574:3: note: each undeclared identifier is reported only once for each function it appears in
09:14:15 make[1]: *** [uni

[2018-08-23 16:44] rajachan commented on #4342
The CI framework does not take branches into account yet. The intent with using master was that fabtests itself will do the necessary FI_VERSION checks where appropriate to maintain backward compatibility at runtime. But I agree, that does not help with missing symbols like in this case.  Assign this issue to me, and I'll go take a look at what we can do here.

[2018-08-23 20:14] shefty commented on #4319
Can we increase the queue size by 1 extra slot?

[2018-08-23 20:50] shefty commented on #4342
FYI - fabtests only tries to work with the latest version of libfabric in order to minimize maintenance costs.

[2018-08-23 20:52] shefty commented on #4342
Requested @rajachan with reader access, to assign requests.

[2018-08-23 20:55] shefty commented on #4340
@a-ilango @dmitrygladkov - please take a look at this when you get a chance.

[2018-08-23 23:13] mohanasudhan commented on #4319
Can you pls elaborate on it ?

[2018-08-23 23:53] shefty commented on #4319
The problem says that id's 10 and 1034 land on the same slot because the queue size is 1024.  Can we either increase the size to 1025 or reduce the number of usable slots to 1023, so that there's always an unused slot in the queue?  Two id's should not be able to land into the same slot.

Or maybe I'm not understanding the issue, which is very possible.

[2018-08-24 00:00] rajachan commented on #4342
Alright then, will clone fabtests from the branch that a PR is targeted for. Will close this issue once the changes have been made.

[2018-08-24 00:56] rajachan commented on #4342
This has been taken care of.
(I don't have permissions to close the issue)

[2018-08-24 15:51] j-xiong commented on #4342
Thanks. I am closing the issue.

[2018-08-24 15:51] #4342 closed

[2018-08-24 20:08] rashikakheria commented on #4203
How are we approaching detecting different NICs for a given provider (without FI_MRAIL_ADDR_STRC)? Given that a NIC can have multiple address formats attached to it and/or could be loopback?

[2018-08-24 21:37] a-ilango commented on #4203
From fi_getinfo perspective, different NICs for a given provider would be similar to multiple ports on the same NIC: an fi_info would be generated for each NIC. If a NIC has multiple addresses configured, I think that would result in multiple fi_infos as well. So without a configured FI_MRAIL_ADDR_STRC, you would not have control as to which fi_infos would form the individual rails.

Loopback addr

[2018-08-29 17:16] hhoffstaette opened #4355 "psm2 CPU detection causes erroneous Makefile creation"
Trying to build libfabric 1.6.1 on Gentoo running on a SandyBridge CPU causes a confused
Makefile to be generated:

[code]

I traced this to psm2's 'prov/psm2/configure.m4' which says:
[code]
On my box `uname -p` results in `Intel(R) Core(TM) i7-2600K CPU @ 3.40GHz`,
all of which is then happily interpolated into configure & the resulting Makefile,
whitespace and all.
It seems to me the right thin

[2018-08-29 20:19] j-xiong commented on #4355
Fixed via #4356

[2018-08-29 20:19] #4355 closed

[2018-09-04 21:38] shefty opened #4375 "release v1.5.4"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2018-09-04 21:38] shefty opened #4376 "Release v1.6.2"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2018-09-08 14:35] germanafro opened #4392 "Visual Sutdio 2017 community 15.3 retargeting solution pops "Collection was modified" Error"
- cloned a fresh copy
- opened with VS 2017 CE
- right click a projekt
- Select Retarget Projects
- choose any Option
- Error prompt

coudl this be a reason? :

reason for retargeting is :

edit:
on a closer look, do i actually need to use the C++ Compiler XE 15.0 build tools ? can I use them with VS2017? if not I find that severly limiting. Google is certainly not on my side today trying to resol

[2018-09-10 09:09] dmitrygladkov commented on #4392
libfabric has 6 VS solution configuration:
* 1-2: Debug/Release ICC (restricted support for Intel Compiler XE 15.0 only)
* 3-4: Debug/Release v140 (VS 2015 tool set)
* 5-6: Debug/Release v141 (VS 2017 tool set)

You may switch to Debug/Release v140 (VS15) and v141 (VS15 (backward compatibility mode) and VS17) configuration to build libfabric using VS compiler.

E:\workspace\c++\libfabric\Libfabric

[2018-09-10 14:17] germanafro commented on #4392
ohh ty I didnt see anything about that in the readme.
I managed to compile now, but might I add, that I also had to snoop out a basically hidden readme file inside the prov/netdir which told me where to get the headers that were missing.

I can imagine other people searching for hours or days to find what i had been stumbling over by accident. maybe I'll draft a more clear and complete readme for

[2018-09-10 14:38] #4271 closed

[2018-09-10 15:00] dmitrygladkov commented on #4392
It would be great. But we will do our best to improve support of fabric interfaces on Windows. And user experience to work with libfabric on Windows is our primary task here, because this is not straightforward thing right now.

[2018-09-11 14:24] jswaro opened #4401 "Failure to compile libfabric after fabtest merge"
[code]

What is the magic that goes at the end of configure now with fabtests being in the same repository?

[2018-09-11 14:29] jswaro commented on #4401
Nevermind, seems like the issue is only in certain commits in the history while I was doing a git bisect to find an issue. tip of master is fine, but some of the historical commits won't work.

[2018-09-11 14:29] #4401 closed

[2018-09-11 14:46] jsquyres commented on #4401
Are you sure?  I just tried this at libfabric HEAD:

[code]

Seems like fabtests' `configure` script is not automatically checking to find `libfabric.la` in the same git tree.

Is this desired behavior?

[2018-09-11 15:38] jswaro commented on #4401
Well, that could be an issue. However, I was stumbling on just doing the libfabric part. The libfabric aspect seems fine. I wouldn't think that fabtests would look for a libfabric.la within the working tree, but continue the same behavior of searching in common locations as it did before. It should either have a working installation of libfabric in a well known location, or fabtests configure shou

[2018-09-11 17:12] shefty commented on #4401
The build trees are still separated.  Building fabtests requires that it find an installed libfabric version.  IMO, this is desirable and why I originally had the repos separated.  I want to be able to build fabtests against any libfabric version, not just the latest in tree one.  This makes it easier to verify that libfabric hasn't broken the build against apps coded to older versions.

[2018-09-11 19:00] jswaro opened #4403 "prov/verbs: abort during OSU bandwidth test"
OSU bandwidth seems to fail with an abort at 128k message sizes. This seems to occur first at commit 0f08e673, and started to observe hangs at a few commits prior to 0f08e673.

This is using MPICH3.3b2 release, with OSU microbenchmarks at 5.4.2

[code]

@dmitrygladkov @shefty @a-ilango

[2018-09-11 19:01] jswaro commented on #4403
[code]

[2018-09-11 19:03] jswaro commented on #4403
With FI_LOG_LEVEL=debug

[code]

[2018-09-11 20:53] soumagne commented on #4205
For reference, one of the ideas was to add a GNI provider ops_open method on a libfabric CQ to return
the underlying FD’s used by that CQ

[2018-09-11 21:09] jswaro commented on #4403
The same issue can be observed with MPICH3.3b3.

[2018-09-12 05:58] dmitrygladkov commented on #4403
@jswaro Yes, this is issue related to SAR (operates for 16K - 256K bytes range) implementation in RxM provider. Thanks for reporting this.
#4350 fixes this issue. I tried OSU benchmarks and everything is OK. Could you test, please?

[2018-09-12 13:13] #4392 closed

[2018-09-12 13:26] jswaro commented on #4403
[code]

[2018-09-12 13:38] dmitrygladkov commented on #4403
@jswaro Sorry, What the fix do you mean? When #4350 gets merged, this problem should disappear :)

[2018-09-12 13:53] jswaro commented on #4403
The fix for this issue specifically. I was assuming (perhaps in error), that #4350 handled a much larger issue and that it may take some time to be merged. If that isn't true -- then please add a 'closes #4350' to your pull request so that this issue is auto-closed when #4350 is merged. However, if #4350 isn't going to be merged soon, is there a specific part of #4350 that could be broken off into

[2018-09-12 14:27] jswaro commented on #4403
Right, fixes #4403 -- oops! Thanks for that.

[2018-09-12 14:32] dmitrygladkov commented on #4403
Sure! Thanks for the testing!

[2018-09-17 23:57] rwespetal opened #4421 "util_buf.c: adding huge page support"
I'd like to add support for huge pages to the util buf pool. I wanted to check with the community first before opening a PR since it is used by a handful of providers.

Are there any preferences on what interface should we use to allocate huge pages? I'm thinking that on Linux `mmap( ... , MAP_PRIVATE|MAP_ANONYMOUS|MAP_HUGETLB, ... )` is probably the best interface to use.

Should we change the AP

[2018-09-18 00:03] shefty commented on #4421
I would be fine having huge page support.  The code needs to be portable across different OS's.  Using Linux specific calls would be okay, as long as other platforms have some sort of fall back mechanism.

We can see what others think and maybe take the discussion to the mailing list. But I'd vote for using huge pages automatically, with a fall back.

[2018-09-18 06:52] #4278 closed

[2018-09-19 21:26] nitbhat opened #4423 "Crash on performing fi_cq_read after a de-registration operation (fi_close) with psm2 provider"
I have an application that uses the Zerocopy API in Charm++ with a libfabric (psm2 backend). I notice that when I de-register(fi_close) a buffer after the completion of an RDMA write operation (fi_write),  a subsequent 'fi_cq_read' crashes with the following stack trace:
[code]

I am running a non-threaded version of the application. And this crash is seen when the program is run on 1 physical nod

[2018-09-20 17:00] nitbhat commented on #4423
The above error seems to be an issue with the psm2 provider. (as indicated by the stack trace).

I tried the same with the verbs provider and the program ran successfully.

[2018-09-20 17:20] tonyzinger opened #4425 "prov/rxm,man/fi_rxm: applications with manual progress will hang on first data transfer without appropriate calls to fi_cq_read"
The following file contains the test case fi_info information and Libfabric debug messages that are displayed starting at the call to FI_WRITE until it hung.  The test case was killed at this point.

[FI_WRITE_hang.txt](https://github.com/ofiwg/libfabric/files/2402361/FI_WRITE_hang.txt)

[2018-09-20 18:24] rwespetal opened #4426 "Counters and FI_SELECTIVE_COMPLETION?"
Should rx/tx counters be incremented regardless of whether a completion event is written when FI_SELECTIVE_COMPLETION is enabled on an endpoint? It's a bit unclear in the documentation so I wanted to check first.

[2018-09-20 20:28] a-ilango commented on #4425
@tonyzinger can you check if the test progresses the CQ on all ranks? RxM would require manual progress for data from applications if the app doesn't explicitly request auto progress.

[2018-09-20 20:39] tonyzinger commented on #4425
@a-ilango The test will process CQ events after it returns from the FI_WRITE call.  However, in this case, the test is still in the FI_WRITE call.  It has not returned from the FI_WRITE call.   All of the ranks are hung at the same point.  I print out a debug message when the FI_WRITE returns with or without an error and this message has not been printed.

Is there something that you would like me

[2018-09-20 20:52] a-ilango commented on #4425
Hmm. I didn't realize it was hanging *in* fi_write call. What threading level does the test use? Can you please run the test with FI_LOG_LEVEL=debug (ensure libfabric is built with --enable-debug) and share the logs?

Is this a specific MPI benchmark?

[2018-09-20 21:27] j-xiong commented on #4426
As for documentation. FI_SELECTIVE_COMPLETION only appears under the section about binding completion queues to endpoints, not under the section of binding counters to endpoints (see fi_endpoint man page).

[2018-09-20 21:32] j-xiong commented on #4423
Could you clarify what is passed to fi_close(), the memory region?

[2018-09-20 21:42] j-xiong commented on #4423
What is the version of libfabric used to generate the stack trace?

[2018-09-20 23:30] j-xiong commented on #4423
@nitbhat I got more information from @yburette in an offline discussion. I think the issue is the MR being closed too early. Could you try adding FI_DELIVERY_COMPLETE flag to the write?

[2018-09-21 00:10] yburette commented on #4423
Adding the FI_DELIVERY_COMPLETE seems to solve the issue. Thank you @j-xiong!

@nitbhat, I'm sending you my changes to machine-onesided.c via email.

[2018-09-21 16:53] a-ilango commented on #4425
Can you share your test / reproducer? I'm not able to reproduce the issue with the tests or benchmarks I have.

[2018-09-21 17:51] rwespetal commented on #4426
That makes sense, thank you for the clarification.

[2018-09-21 17:51] #4426 closed

[2018-09-21 20:43] tonyzinger commented on #4425
I will look at either giving you a simplified test case or describe what the API calling sequences are in the test along with the various libfabric settings that are used..

[2018-09-21 20:54] #4054 closed

[2018-09-24 23:36] #4375 closed

[2018-09-25 20:16] jsquyres opened #4442 "core/fid_nic: better support prov_attr"
Per https://github.com/ofiwg/libfabric/pull/4433#issuecomment-424136716:

And per https://github.com/ofiwg/libfabric/pull/4433#issuecomment-424145293:

[2018-09-28 23:40] #4376 closed

[2018-10-04 13:56] swelch commented on #4310
@shefty  @a-ilango - I was looking into adding this atomic support, but there is an API issue I would like your opinion and/or suggestions on handling.

The layering of the utility provider over the core provider exposes an issue with the fi_atomicvalid(), fi_fetch_atomicvalid() and fi_compare_atomicvalid(), when mapping from the RxM endpoint to the core provider message endpoint to use in making

[2018-10-04 15:17] shefty commented on #4310
This is an RxM implementation issue, not an API problem.  RxM will need to implement full atomic support in software, or require full atomic support by the underlying MSG provider.  IMO, the first is preferred.  RxM can then check if the MSG provider has full atomic support, and if so, use that over its emulation.

In practice, we expect RxM to be used with MSG EPs that either lack full atomic sup

[2018-10-04 15:51] swelch commented on #4310
Thanks. The use of the term "API issue" on my part was not meant to imply the API was the problem, only that I had questions about the RxM implementation of those API calls; so I think we agree on that. By full atomic support, do you mean the core provider implements the API basic, fetch, and compare calls (possibly for some datatypes and operations), or that every combination of datatype and oper

[2018-10-04 15:56] shefty commented on #4310
By full I mean the complete set of atomics for all datatypes and operation.  This is what the upper libraries need.  And I don't believe that using a mix of hardware and software based atomics is able to provide the right level of guarantees.

[2018-10-05 14:57] jswaro commented on #4310
@shefty Just a few questions.

If a utility provider is providing a feature or function for a core provider, shouldn't it defer to the core provider when the core provider supports something? **Lack of being able to call the MSG EP core provider's functions for atomic operations seems to be odd from my perspective since RxM provides an emulation over a core provider's MSG endpoint.**

I can see th

[2018-10-05 16:03] shefty commented on #4310
I'm not convinced that you can mix software and hardware based solutions and still retain correctness.  I.e.. are the resulting operations still atomic with data ordering maintained.

[2018-10-05 16:11] bcernohous commented on #4310
Where does the all or nothing "require full atomic support" come from? AFAIK, no provider is required to provide all or nothing.

libfabrics provides the atomic valid APIs *so* you can check which atomics are supported by the provider.  Is RXM not able to answer that question for the underlying provider?

[2018-10-05 16:19] shefty commented on #4310
MPI requires full atomic support, so the requirement is coming from the app.  RxM targets MPI as one of its primary users, and will eventually expose support for all atomics.  An alternative is for RxM to only export what the underlying MSG provider supports.  But in all cases I'm aware of, no MSG provider will support the needs of MPI.

If we can show that mixing onload and offload atomic support

[2018-10-05 19:15] hajimefu opened #4484 "prov/psm2: Fails to build with an old libpsm2"
Observed behavior:
====

When an old libpsm2 is detected, libfabric succeeds in `configure` but fails at `make` stage.

[code]

Expected behavior:
====

libfabric should either
* Fail at configure time saying installed `libpsm2` is too old
* Succeed in building (with potentially limited feature set)

Configuration:
====

* libfabric: `master` as of today: fcf0f2ec3c7109e06e09d3650564df8d2dfa12b6 (

[2018-10-05 19:51] j-xiong commented on #4484
Could you check you LD_LIBRARY_PATH settings? It looks like configure picked up a newer libpsm2.so while the system had old psm2.h (and maybe also old libpsm2.so) installed at the default location.

[2018-10-05 20:03] j-xiong commented on #4484
Correction: LD_LIBRARY_PATH should not matter. But nevertheless it sounds the libpsm2.so and psm2.h on the system are not from the same package.

I double checked with old psm2 library locally and the configure script stopped correctly after detecting required functions are missing.

configure: recheck psm2 without psm2_am_register_handlers_2.
checking psm2.h usability... yes
checking psm2.h prese

[2018-10-05 20:05] hajimefu commented on #4484
I tested with a clean shell with minimal environment variable settings but the result was the same.
[code]

I do have a newer libpsm2 in a different location than `/usr/lib64`.  Is there any other settings that libfabric might use to search libpsm2?

[2018-10-05 20:45] j-xiong commented on #4484
Try 'ld --verbose | grep SEARCH_DIR'. Here is the output on my machine:

/local/lib"); SEARCH_DIR("/lib"); SEARCH_DIR("/usr/lib");

[2018-10-05 21:02] hajimefu commented on #4484
Oh wait... it turns out we somehow messed up libpsm2 installation in this system. Apparently we overwrote the libpsm2* files under `/usr/lib64` with newer versions but not the header files under `/usr/include`.

Now I think this issue is invalid, so I'll close it. Thank you for your help! @j-xiong

[2018-10-05 21:02] #4484 closed

[2018-10-06 01:15] swelch commented on #4310
I think it would be hard to mix emulated and native hardware atomics. Hardware atomic operation serialization is done by the destination HCA. Once you have introduced emulated atomics, I think it would be hard if not impossible from the provider level to guarantee that a node won't issue a hardware atomic to the same location that a different node has issued an emulated atomic. While that might no

[2018-10-06 17:20] jsquyres opened #4492 "Coverity builds failing on OFI CI server (flatbed2)"
Coverity builds are failing on the new OFI CI server (flatbed2), which is Ubuntu 18.04.  gcc is:

[code]

When doing a normal (non-Coverity) build, everything compiles/installs just fine.  But when doing a Coverity build, every file fails to compile with the following types of errors:

[code]

It's almost like it doesn't understand C99 types.  But I confirmed that gcc 7.3's default compile mode is

[2018-10-08 13:57] jsquyres commented on #4492
Some research around the internet (with copious help from a colleague here at Cisco) reveals that the Coverity analysis tool simply doesn't (yet?) understand gcc 7.3.x stdlib:

    https://stackoverflow.com/questions/50434236/coverity-scan-fails-to-build-stdlib-h-with-gnu-source-defined

That question is, disappointingly, from May of 2018 (i.e., several months ago).  Coverity suggests downgrading

[2018-10-08 17:02] bcernohous commented on #4310
I'm not sure how this became a discussion of mixing emulated and hardware atomics.   RxM doesn't emulate atomics, does it?   So why doesn't it support fi_atomic_valid/etc and tell us what the provider supports?  My app will decide what to do with the information, like it does for any other provider.

If RxM someday emulates atomics, then it will just reply itself to fi_atomic_valid calls.  It woul

[2018-10-08 17:05] jswaro commented on #4425
It seems to happen specifically with 3072b7c0cf87f0c692a07bba0aaf09006ab5bc2a

[2018-10-08 17:11] shefty commented on #4425
What is the progress model used by the app?

[2018-10-08 17:14] jswaro commented on #4425
Based on what I'm seeing on Tony's log file, it seems like he is using auto progress for control, and manual for data.

[2018-10-08 17:33] jswaro commented on #4425
@a-ilango @shefty
So I started looking here.

https://github.com/ofiwg/libfabric/commit/3072b7c0cf87f0c692a07bba0aaf09006ab5bc2a#diff-b6fda6081c785045cefa49f0db7e2b3dL619

Shouldn't connection management be driven by the control progress model rather than the data progress model of the application?

[2018-10-08 17:36] a-ilango commented on #4425
Posting an RMA shouldn't affect event queue entry generation. It would help to identify where exactly is the hang. Is this in rxm write call or ibv_post_send? Calling fi_write for rxm should return -FI_EAGAIN until the connection is established.

RDM endpoints don't expose connections to the app, hence we tie it with data progress.

[2018-10-08 17:37] a-ilango commented on #4425
Also, the connections are on-demand when trying to send the data.

[2018-10-08 17:46] jswaro commented on #4425
Fair enough, so what should an application do with respect to connection management if they attempt to post an RMA operation but fail?

Can we reasonably expect application to poll a CQ when no data is posted? They do not know that the underlying systems haven't done the necessary work to ensure that endpoints have been connected (if needed)?

I think at this point, all the application is aware of

[2018-10-08 17:52] a-ilango commented on #4425
Yes. If a data transfer operation fails, the app has to poll the CQ, especially if the data progress model is manual.

The ERRORS section in https://ofiwg.github.io/libfabric/master/man/fi_msg.3.html provides more details.

[2018-10-08 17:58] jswaro commented on #4425
I understand that error section well, and I was debating whether to reference it.

As an application writer, why would/should I expect FI_EAGAIN when the data structures have been freshly allocated, and no transactions should be pending? It is an odd behavior. If that is the recommendation, then sure -- easy enough to fix in Tony's application and would be an issue with the upper layer rather than

[2018-10-08 18:01] shefty commented on #4425
The local side may be waiting for flow control credits from the peer before it can begin the transfer.  That is essentially what is happening in this case.  The connection sets up the necessary credits for the transfer to occur.

[2018-10-08 18:13] a-ilango commented on #4425
I can add a note in the rxm man page.

[2018-10-08 18:19] jswaro commented on #4425
Sounds good. I'll help Tony with the modifications to his test suite, and we can use this issue to track the note to the RXM man page, or just close this.

[2018-10-08 18:30] a-ilango commented on #4425
Sounds good.

[2018-10-08 20:09] #4425 closed

[2018-10-08 21:41] jswaro commented on #4310
We may have gotten off track here. I think we would only want to expose the native hardware atomics from the verbs MSG endpoints. Applications that use providers such as GNI, or verbs MSG have always had the caveat that if software atomics were done with native hardware atomics -- then the application would be responsible for coherency.

I don't think it is being suggested to introduce OFI emulate

[2018-10-08 22:04] shefty commented on #4310
I'm saying that exposing only what verbs devices support through rxm is not useful for middleware targeting RDM EPs.  Verbs supports maybe 2 atomic operations against 1 datatype with an array size of 1, and that's only IB.  IWarp doesn't support atomics.

Exposing verbs atomics up would force a software base implementation to all middleware (all MPIs, SHMEM, etc.).  It is preferable that there be

[2018-10-08 22:40] agontarek opened #4500 "fi_atomic manpage ambiguity"
The [fi_atomic(3)](https://ofiwg.github.io/libfabric/v1.6.2/man/fi_atomic.3.html) manpage for v1.6.2 states the following in the Completions section:

This is ambiguous/inconsistent as worded. It states that **any** completion provides visibility guarantees at the target. Consider the case where the initiating endpoint has a default operation flag of `FI_TRANSMIT_COMPLETE`. The [fi_endpoint(3)](ht

[2018-10-08 23:19] shefty commented on #4500
I think you're interpreting "after a completion has been generated" to mean any completion, but it refers to the completion of the atomic operation itself.  The or clause refers to the completion of a separate operation, but that requires a fencing operation.

The API is intended to allow a peer NIC to cache the results of the atomic operation. The visibility of the results depends on how the resu

[2018-10-09 00:17] agontarek commented on #4500
I agree that the statement "after a completion has been generated" refers to the completion of the atomic operation, not any arbitrary completion.

If the default op flags are generating completion events for `FI_TRANSMIT_COMPLETE`, or even `FI_INJECT_COMPLETE`, is it not the case that the atomic operation will generate a completion for that type? In other words, if an atomic operation has a `FI_T

[2018-10-09 00:55] shefty commented on #4500
I think the confusion is stemming from completion events at the initiator versus the target.  Inject/transmit complete semantics are in reference to the initiator and provide no guarantees at the target.

The fi_atomic 'Completion' section is referring to completion events generated *at the target*.  That part can be clarified.  The requirement is that a completion event directly associated with t

[2018-10-09 05:53] byronyi commented on #3634
@KenBirman This idea looks very similar to my work on TensorFlow GPU Direct RDMA (https://github.com/tensorflow/tensorflow/pull/11392). May I know if there is any advances or work you guys are pushing? I am glad to hear that out.

[2018-10-09 14:57] songweijia commented on #3634
So far we didn't use the ODP features yet (although we still plan to). According to merged PR #3602 , Explicit ODP should already work with libfabric. I don't think Implicit ODP is supported in libfabric so far.

My two cents on the implicit ODP for libfabric: maybe using the `flag` argument in `fi_mr_reg()` would work. `fi_mr_reg()` should be able to complain if the hardware does not support this

[2018-10-09 15:14] KenBirman commented on #3634
Matt was telling me about an idea for using a slab allocator to solve this in an easy way with no changes to LibFabrics.

Basically you allocate and register a slab of bytes and then get malloc to allocate space for the objects in the slab.  Marshaling becomes easy because the bytes are right there, and the data is pinned at a known place so RDMA works.  Then the receiver can recreate the objects

[2018-10-09 15:17] KenBirman commented on #3634
By the way. The GPU RDMA work sounds very cool.  I’ll look at that... as a caution, such techniques can be hard to use.  Tight timing, fragile control mechanisms and lack of standards for hardware fencing (sequential memory consistency) combine to make things super hard to deploy.

[2018-10-09 15:38] agontarek commented on #4500
@jswaro @bcernohous

[2018-10-09 16:15] bcernohous opened #4504 "fi_atomic/FI_INJECT clarification"
I need clarification on fi_atomics and inject.

The fi_inject_atomic call is an optimized version of fi_atomic. The fi_inject_atomic
function behaves as if the FI_INJECT transfer flag were set, and FI_COMPLETION were
not. That is, the data buffer is available for reuse immediately on returning from
from fi_inject_atomic, and no completion event will be generated for this atomic.
The completion eve

[2018-10-09 16:43] byronyi commented on #3634
@KenBirman Indeed, we have been working on that for a while, and we do found several peculiar issues. For example, NIC reading from the GPU memory seems to be less performant than writing to it. Reading from GPU memory sometimes suffers from memory corruption, especially when using in conjunction of the CUDA stream API.

By the way, we are establishing a SIG in TensorFlow focusing on high performa

[2018-10-09 17:10] shefty commented on #4504
So, there's an error in the man page.  'non-const' should have said 'const'.  This problem was just raised to me a couple of days ago. In the call referenced above, comparev and msg::msg_iov should be the injected buffers.

I will update the man page.

[2018-10-09 17:28] KenBirman commented on #3634
Sure, although honestly we know much more about Azure functions and AWS Lambdas right now than about tensor flow.  Obviously there is a superficial sense in which all are similar. But the ecosystems are very different.  Tensor Flow seems like the winner for managing attached GPU or TPU clusters so we definitely agree with your focus.  But we are stretched a bit thin at Cornell and in some ways tha

[2018-10-09 17:45] byronyi commented on #3634
It would make me surprised if Azure functions and AWS Lambdas have RDMA support though. But if they do, it would be great, especially for multi-agent reinforcement learning system such as Ray by [RISELab@Berkeley](https://rise.cs.berkeley.edu/projects/ray/). They have just published in OSDI'18 and the project seems to align with the style of AWS Lambda, i.e. distributed real-time stateless computa

[2018-10-09 17:51] KenBirman commented on #3634
Agreed,  they would not have direct RDMA function.  I think of these as PaaS event handler technologies that would see an event, like meta data from a recently acquired video, and then might want to trigger some form of secondary processing like downloading to GPU and extracting some form of information because the video looks interesting.

Then you would want the RDMA to run (out of band) directl

[2018-10-09 18:20] jdinan commented on #4504
I just finished implementing the proposed nonblocking shmem_atomic_compare_swap operation in SOS and can confirm that this works with the sockets provider as described by @shefty.

[2018-10-09 18:43] bcernohous commented on #4504
'Works' in sockets is different than works across providers.  I have it working on GNI with GNI developer assurances.  But I'm not going to every provider for confirmation.

Glad for the confirmation.

[2018-10-09 18:56] jsquyres commented on #4492
I've installed gcc-6 in a Docker container and still no bueno.

https://stackoverflow.com/questions/52727644/coverity-scan-compatible-with-gcc-6-on-ubuntu-18-04-1

[2018-10-10 23:09] swelch opened #4512 "prov/rxm: rxm_conn_progress stack corruption"
@dmitrygladkov @a-ilango
When using OSU benchmarks over MPICH 3.3b3 I was seeing stack smashing detection and/or segfaults at program termination. This is first seen in commit 632421e. I have a PR that addresses this issue.

[2018-10-11 16:29] #4504 closed

[2018-10-11 16:29] #4500 closed

[2018-10-11 16:40] swelch commented on #4512
Working for me with the patch merged. Thanks.

[2018-10-11 16:40] #4512 closed

[2018-10-12 19:45] soumagne opened #4521 "prov/gni Segfault in fi_tsend when using address created from FI_SOURCE_ERR"
@jswaro @hppritcha I have not completely tracked it down yet but I'm getting segfaults with master (at least) when using FI_SOURCE_ERR generated addresses (i.e., retrieved from the err_data field and inserted using av_insert).

[2018-10-12 20:02] tonyzinger commented on #4340
I added the return code into the FI_WARN message after the call to util_av_hash_insert() in ofi_av_insert_addr() and it displayed a value of -28, which is -FI_ENOSPC.

The info message displayed was:
libfabric:ofi_rxm:av:ofi_av_insert_addr():362<warn> failed to insert addr into hash table, ret: -28

So it appears that the hash->free_list == UTIL_NO_ENTRY is true in util_av_hash_insert() so the fre

[2018-10-12 21:12] a-ilango commented on #4340
@tonyzinger PR #4502 replaces the internal hash table implementation with 'uthash'. Can you checkout the PR and try your test? Also, does it still take about 20 runs to hit the issue?

[2018-10-12 21:55] soumagne commented on #4521
I've tracked it down and it looks like there was an allocation/memory error problem, the size allocated in gnix_vc.c line 965 is the size of a struct gnix_ep_name which is 48 bytes but the size copied in gni_cq.c is sizeof(cq_priv->err_data) which is 64 bytes (because of #define GNIX_CQ_MAX_ERR_DATA_SIZE 64 in gnix_cq.h) so it's trying to copy more bytes than it's supposed to (64 > 48). Most likel

[2018-10-12 21:56] soumagne commented on #4521
Is there any reason why the GNIX_CQ_MAX_ERR_DATA_SIZE should be 64? and not sizeof(struct gnix_ep_name)?

[2018-10-13 19:43] hppritcha commented on #4521
@soumagne I'll put in a fix for this on Monday.  Thanks for narrowing this down.

[2018-10-15 00:02] soumagne commented on #4521
Thanks! One workaround I have for now actually is to explicitly set the `err_data_size` field to 48 before calling fi_cq_readerr, that way since it's taking the min(err_data_size, GNIX_CQ_MAX_ERR_DATA_SIZE) I get the right value. But I'll also be happy once you push a clean fix for it :)

[2018-10-15 16:33] jswaro opened #4525 "prov/verbs: intermittent hang during OSU_alltoall test using 20 ranks, 5 ranks per node"
Happens roughly 1 in 5 to 1 in 10 runs.

user@host:>/scratch/jswaro/libfabric> bash ~/jswaro/test.sh /scratch/jenkins/builds/libfabric/latest

# OSU MPI All-to-All Personalized Exchange Latency Test v5.4.1
# Size       Avg Latency(us)
1                      13.51
2                      13.19
4                      13.38
8                      13.58
16                     14.02
32

[2018-10-15 16:39] jsquyres commented on #4525
Which MPI implementation is this?

Do you know if it's an MPI problem or a libfabric problem?

[2018-10-15 17:37] mohanasudhan opened #4526 "minor: fi_mr_attr struct in man page is not upto date"
https://ofiwg.github.io/libfabric/master/man/fi_mr.3.html - missing **uint64_t                offset;**

`
struct fi_mr_attr {
	const struct iovec *mr_iov;
	size_t             iov_count;
	uint64_t           access;
	uint64_t           requested_key;
	void               *context;
	size_t             auth_key_size;
	uint8_t            *auth_key;
};
`

[2018-10-15 18:31] tonyzinger commented on #4340
@a-ilango I built the libfabric library with your PR #4502 fix and executed my test case about 1000 times without any errors.

[2018-10-15 19:19] jswaro commented on #4525
Here's the log, if it helps.

[code]

[2018-10-15 20:14] soumagne opened #4527 "prov/sockets Memory leaks in util_buf_grow"
I started to see recently memory leaks (using master) coming from the sockets provider, here is the backtrace:
[code]

[2018-10-15 20:35] a-ilango commented on #4525
@jswaro Which hardware are you running the test on? I tried more than 10 times and even with 50 processes on 5 nodes but couldn't reproduce it. I ran it on HFI1 verbs though. Using libfabric master with mpich v3.3b3.

Command line:
mpiexec -np 50 -ppn 10 -hosts n60,n61,n62,n63,n64 -genv MPIR_CVAR_OFI_USE_PROVIDER 'verbs;ofi_rxm' -genv FI_VERBS_MR_CACHE_ENABLE yes osu_alltoall

[2018-10-15 20:41] jswaro commented on #4525
@a-ilango 64 node cluster with Mellanox ConnectX-5s. We aren't specifying any environment variables other than the MPIR_OFI_USE_PROVIDER, LD_LIBRARY_PATH, and PATH.

HFI1 verbs?

[2018-10-15 20:41] jswaro commented on #4525
I'm not really seeing the hang using the sockets provider, but it does run really slowly with sockets.

[2018-10-15 20:47] a-ilango commented on #4525
It's Omnipath verbs.

From your logs this seems to be the issue:
`libfabric:ofi_rxm:cq:rxm_cq_read_write_error():700<warn> fi_cq_readerr: err: 5, prov_err: transport retry counter exceeded (12)`

[2018-10-15 20:49] a-ilango commented on #4525
But I think one could get the error after the connection gets closed as well.

[2018-10-15 20:51] jswaro commented on #4525
Well, that would explain the abort case to some extent, but not the hang. I may have posted the wrong log.

Given that statement above though, does the RXM provider attempt any type of retransmit when those errors are pushed up from the core provider? I'm going to guess probably not given that the underlying layer is considered reliable (RC).

[2018-10-15 21:08] a-ilango commented on #4525
RxM doesn't attempt to re-transmit since it's guaranteed that underlying provider is RC. If it's possible for you to get a debug level log for the hang that would be great. I need to find a big enough MLX5 cluster to try and reproduce the issue.

[2018-10-15 21:20] j-xiong opened #4528 "fabtests: fi_resource_freeing ignores '-p provider' option"
The fi_resource_freeing test doesn't honor the -p option (and the -f, -d options) even though the usage message says it should. The only way to select provider is to set FI_PROVIDER.

Examination of the code reveals that even though the main function parses the options and set the hints accordingly, in the test body a new hints is allocated for the fi_getinfo() call, rendering the options to be to

[2018-10-15 21:39] jswaro commented on #4525
So, the log will look similar to the above. The timeout in the command forces the application to quit after 2 minutes.

[log.txt](https://github.com/ofiwg/libfabric/files/2480589/log.txt)

I've noticed that it is much easier to get the application to hang if I try to run it on a few of the 2.4Ghz Ivybridge nodes.

I've also made the testcase faster by limiting the message size from 1B to 8192B.  F

[2018-10-15 23:45] #4526 closed

[2018-10-16 15:43] jswaro commented on #4525
Interesting. The same error exists in 1.6.1, and still exists if I've updated the MOFED installation on those nodes. I'd suspect MPICH more than anything at this point, but not ruling libfabric out yet.

[2018-10-16 21:04] a-ilango commented on #4525
That seems right as per this link, http://www.mellanox.com/related-docs/user_manuals/Ethernet_Adapters_Programming_Manual.pdf#G14.1362926

You could try with a previous stable version of MPICH.

Btw, the posted logs doesn't have any debug level logs. Is libfabric built with --enable-debug? We do have some asserts in the debug build that checks if the size of buffer posted for send is less than siz

[2018-10-16 21:13] jswaro commented on #4525
That's a great point. I did not compile with --enable debug. I will get a new log.

[2018-10-16 21:15] a-ilango commented on #4525
Please also redirect stderr to stdout so we get everything in one log.

[2018-10-16 21:33] a-ilango commented on #4340
Fixed by #4502

[2018-10-16 21:33] #4340 closed

[2018-10-18 18:02] mohanasudhan opened #4540 "mr_regv and mr_regattr test is not testing interface for MR_IOV_LIMIT=1"
Minimium size in test_size = 2 [https://github.com/ofiwg/libfabric/blob/master/fabtests/common/shared.c#L117](url)
which will skip for loop in mr_regv and mr_regattr for mr_iov_limit=1 e.g. [https://github.com/ofiwg/libfabric/blob/8d7ba6767d40884648efc5239b2a3b9ab8254d1f/fabtests/unit/mr_test.c#L160](url) and making test as passed

As few provider support mr_iov_limit=1, above tests are testing in

[2018-10-18 18:46] shefty commented on #4540
Good catch, 1 should be added to test_size.

[2018-10-18 20:00] shefty commented on #4540
Addressed by PR #4541

[2018-10-18 21:34] soumagne commented on #4527
Fixed after #4537 was merged.

[2018-10-18 23:12] #4540 closed

[2018-10-21 13:45] germanafro opened #4546 ".ibtoolize: error: AC_CONFIG_MACRO_DIRS([config]) conflicts with ACLOCAL_AMFLAGS=-I config"
any idea why this may be happening?

previously i done

then:

root@i-need-change:~/libraries/c_c++/libfabric# ./autogen.sh

[2018-10-22 16:54] jsquyres commented on #4546
This may be a silly question, but just to make sure: are automake, autoconf, and libtool all installed in the same directory?  I.e., did you apt-get autoconf and libtool, but automake is being used from some other installation tree?

[2018-10-22 17:03] germanafro commented on #4546
whew I don't really know. I'm certainly more at home on windows. how would I find that out?

[2018-10-22 17:06] jsquyres commented on #4546
What's the result of:

[code]

[2018-10-22 17:11] germanafro commented on #4546
well isnt that interesting:

I guess that would probably explain why the error occurs... now to figure out why libtool has no folder...

[2018-10-22 17:16] jsquyres commented on #4546
Github pro tip: use 3 single tick marks to indicate the beginning and end of a multi-line verbatim section (instead of prefixing each line with >).

Yeah, if you have no Libtool, Weird Things(tm) will happen.  It's odd if you did `apt-get install libtool`, but somehow you have no libtool.

🤷‍♂️

[2018-10-22 19:26] jswaro opened #4548 "prov/verbs,prov/rxm: failure in fi_poll -t counter -p "verbs;ofi_rxm" for branch master"
[code]

[2018-10-22 21:57] jswaro opened #4551 "prov/rxm; fi_av_insert using FI_AV_TABLE with NULL fi_addr fails to work as expected."
9c6f02b5644c0b0738c443754a9791b8cfbb7106 seems to break support for FI_AV_TABLE when doing an insert when the fi_addr is not provided. This causes a null pointer dereference and crash within the application.

@a-ilango

[2018-10-23 00:13] a-ilango commented on #4548
Thanks. I've opened a PR that fixes the issue.

[2018-10-23 15:18] jswaro commented on #4551
[code]

[2018-10-23 16:06] jswaro commented on #4551
@shefty @dmitrygladkov Just FYI

[2018-10-23 16:11] #4310 closed

[2018-10-23 16:25] jswaro opened #4557 "prov/verbs, prov/rxm; osu_get_latency benchmark hangs with recent changes to master"
Using master, verbs;ofi_rxm; and MPICH3.3b3. Prior to the merges yesterday, this benchmark passed. It does not now.

@a-ilango  @dmitrygladkov

CHANGES
--
Revision by dmitry.gladkov | util/buf: Remove region_list as not needed
edit | include/ofi_mem.h
edit | prov/util/src/util_buf.c
Revision by dmitry.gladkov | util/buf: Add indexing capability
edit | prov/util/src/util_av.c
edit | include/ofi_mem

[2018-10-23 16:32] jswaro commented on #4557
[log.txt](https://github.com/ofiwg/libfabric/files/2506991/log.txt)

See log.txt for debug log.

[2018-10-23 17:11] jswaro commented on #4548
closed by #4552

[2018-10-23 17:11] #4548 closed

[2018-10-23 17:16] dmitrygladkov commented on #4557
@jswaro Thanks!
I see that it can be related to my or Arun's changes.
I'll take a look tomorrow.

[2018-10-23 17:22] a-ilango commented on #4551
I'm working on a fix for this. @jswaro btw, which test found this issue? If possible it can be added to our unit testing in fabtests, otherwise I'll add one as part of fi_av_test.

[2018-10-23 17:32] jswaro commented on #4551
I believe it was a SHMEM put test, but I don't have the source for it. I'd say adding it to the fi_av_test would be ideal, because then we can catch it without depending on external frameworks such as SHMEM.

[2018-10-23 18:02] jswaro commented on #4233
@tonyzinger Does this still occur with master? What git commit is the error associated with?

[2018-10-23 18:03] jswaro commented on #4232
@tonyzinger Does this still occur with master? What commit did we first see this error?

[2018-10-23 21:49] jswaro opened #4559 "fabtests: environment variables are not propagated"
This may simply just be informative rather than a bug.

When running fabtests in our test environment, we were attempting (prior to fabtests being integrated with libfabric) to test a stable fabtest installation against multiple versions of libfabric. This was done by providing the libfabric library via LD_LIBRARY_PATH. However, we found out earlier this week that those environment variables we'd

[2018-10-23 21:54] shefty commented on #4559
I'm not following the requests.  Are you wanting the script that executes the independent tests to set certain environment variables prior to executing those tests?

[2018-10-23 21:56] jswaro commented on #4559
Yes.

Something like this perhaps?
`./runfabtests.sh -E LD_LIBRARY_PATH -E FI_LOG_LEVEL -t unit verbs 10.0.0.1 10.0.0.2`

[2018-10-23 22:00] shefty commented on #4559
These would be nice.  Not sure how difficult it would be to add.  @a-ilango - any idea on how hard this might be?  (Don't interpret this as a request to make the change.)

[2018-10-23 22:01] jswaro commented on #4559
While trying to explain it, I put a possible solution above.

[2018-10-23 22:08] a-ilango commented on #4559
It seems @jswaro 's solution should work. It would be nice to have runfabtests.sh script propagate env variables to ssh'd nodes.

[2018-10-23 22:09] jswaro commented on #4559
If no one minds, I'll draft up something and post a PR then. I would like this feature.

[2018-10-23 22:12] shefty commented on #4559
Go for it!

[2018-10-24 08:21] #4557 closed

[2018-10-24 17:18] #4559 closed

[2018-10-24 17:53] jswaro opened #4565 "prov/verbs, prov/rxm; RMA test fails during connection setup/first transfer"
[log.txt](https://github.com/ofiwg/libfabric/files/2511703/log.txt)

See log.txt for libfabric debug output.

So I'm trying to get my head wrapped around this, but I see a few concerning statements in the log file. There is a conn reject at some point in the file, followed by some verbs error completions, and flushes. I suspect that the connection reject may have caused the error completions indir

[2018-10-24 18:18] #4551 closed

[2018-10-24 21:00] a-ilango commented on #4565
I see these in the logs:
[code]
Seems like a missing / erroneous memory registration issue. What test is this?

[2018-10-24 21:01] jswaro commented on #4565
I was just looking into that. It’s a test that Tony wrote to exercise the RMA paths in a variety of different communication patterns. I’m looking to see if a flag was forgotten somewhere.

-- Jim

From: arun ilango <notifications@github.com>
Reply-To: ofiwg/libfabric <reply@reply.github.com>
Date: Wednesday, October 24, 2018 at 4:00 PM
To: ofiwg/libfabric <libfabric@noreply.github.com>
Cc: James S

[2018-10-24 22:03] jswaro commented on #4565
Here's his logic regarding memory registration. However, changing the permission of his memory registrations  (FI_READ|FI_WRITE|FI_REMOTE_WRITE|FI_REMOTE_READ) -- it doesn't seem to affect the output of his test. I'll ask him more about it tomorrow.

[code]

[2018-10-24 22:30] shefty commented on #4565
For RMA write, the source buffer needs no access (or read based on MR_LOCAL).  The target needs remote write.

For RMA read, the source buffer needs write access (based on MR_LOCAL).  The target needs remote read.

[2018-10-25 04:16] jswaro commented on #4565
Right, but giving the source buffer all of the access permissions didn't change the result. That's the confusing part.

[2018-10-25 15:15] jswaro commented on #4565
Tony structured the code differently than how I interpreted it. It seems like he has the correct flags, and may even have flags he does not need.

Implementation aside, the flags seem correct.

The remote buffer for a read operation has FI_REMOTE_READ, while the local buffer for a read operation has FI_READ (which may be unnecessary based on your comment).

[2018-10-30 19:03] mohanasudhan commented on #4319
Sorry, I completely missed this thread as I was in vacation during that time-frame.

The case will happen even if we change the size of recvwin to 1025/1023. ofi_recvwin_get_next_msg return **address** of entrytype, and moves the pointer to next slot. So the slot is not cleared at all.

Here is how I solve the case today by making 2 calls
1. ofi_recvwin_peek to fetch value *entrytype
2. ofi_recvwi

[2018-11-01 11:32] joerns commented on #3301
I would like to express my interest in this as well, in case the libfabric developers are looking for input what features are needed by users. In our case it's mostly the verbs provider and in the future hopefully psm2 that we are interested in. Thanks.

[2018-11-02 19:03] jswaro commented on #4565
We can close this. We found an issue in the application code regarding the local memory descriptor.

@a-ilango  We are seeing that information during the first RMA operation if I read the log correctly.

[2018-11-02 19:03] #4565 closed

[2018-11-04 17:38] germanafro opened #4581 "weird behavior regarding fi_av_insert() using g++ compiler"
Hello Everyone,
I'm working on my Bachelor thesis and for that I'm supposed to write a Benchmark
utilizing libfabric. [https://github.com/germanafro/Libfabric_Benchmark/tree/master/Benchmark](url)
For the first testing stage I set up my own local Ubuntu 16.04 machine and a remote server also Ubuntu 16.04 using regular ethernet. later the project will be portet to a larger system of multiple hosts

[2018-11-04 18:05] #4546 closed

[2018-11-04 19:51] germanafro opened #4582 "fi_accept() does not transition ep to active state"
apparently this is not true for 1.6.2

i had a a pep listening for incoming conn.
on connreq create active ep then do fi_accept() then fi_send()

the fi_send gave "Operation not permitted in current state"

I fixed the issue by explicitly calling fi_enable() before fi_accept()

[2018-11-05 17:31] shefty commented on #4582
Which provider were you using for this?  This sounds like a bug

[2018-11-05 18:51] shefty commented on #4581
So, there are several example applications available from fabtests.  You may want to look at these samples:

https://github.com/ofiwg/libfabric/blob/master/fabtests/benchmarks/msg_pingpong.c
https://github.com/ofiwg/libfabric/blob/master/fabtests/benchmarks/msg_bw.c

These are connected-endpoint benchmark examples for latency and bandwidth tests.

Note that fabtests support a variety of endpoint a

[2018-11-05 20:28] germanafro commented on #4581
ty - so I was simply using it wrong then.

[2018-11-05 20:28] #4581 closed

[2018-11-05 20:30] germanafro commented on #4582
that happens with the sockets provider I haven't testet for the verbs provider yet.

[2018-11-05 21:33] shefty commented on #4582
Can you test with the changes in PR #4583?  https://github.com/ofiwg/libfabric/pull/4583

[2018-11-05 21:34] shefty commented on #4582
Btw - it looks like the verbs provider should be okay.

[2018-11-05 22:23] germanafro commented on #4582
I suppose I have to compile this myself ?

[2018-11-05 22:34] germanafro commented on #4582
i Just looked into the src file sock_ep_msg.c referenced in the patch and it seems to deviate heavily from the pre-build 1.6.2 packages' file. So I guess I'm gonna try and compile from source and apply your patch and see how it goes.

[2018-11-05 22:37] shefty commented on #4582
I'll port the patch to the 1.6.x branch and open another pull request.  Just give me a few minutes.

[2018-11-05 22:43] shefty commented on #4582
Okay - try https://github.com/ofiwg/libfabric/pull/4584, which has been updated for the 1.6.x branch.  This is a 1-line patch, so you could manually edit the file/location/function in question to test.

[2018-11-05 23:02] germanafro commented on #4582
I'm not sure what's going on here
i did
`make clean && make && make install`

`ldconfig -v` gives me this for libfabric:

if this is related to the FI_version call then I'm using FI_VERSION(1, 6)

[2018-11-05 23:08] germanafro commented on #4582
alright that did the trick. TY I spend weeks figuring this out.. I almost gave up on my thesis out of frustration until it hit me and I checked whether the endpoint was actually enabled or not and it wasn't ^^

[2018-11-05 23:22] shefty commented on #4582
That's good to hear, and thanks for finding this bug.  Note that there is a mailing list ofiwg@lists.openfabrics.org that you can also mail with questions.  You'll usually get a fairly quick response.

[2018-11-05 23:22] #4582 closed

[2018-11-06 07:17] dmitrygladkov commented on #4236
@tonyzinger Could you please verify if PR #4554 fixes this issue or not?

[2018-11-09 15:50] sydidelot opened #4593 "Libfabric doesn't compile with g++ compiler and "-Werror=shadow""
Hi,
I'm trying to compile a C++ application with the libfabric interface.
When I include `rdma/fabric.h`, g++ fails with the following error message:

`pkgbuild/libfabric/include/rdma/fabric.h: In function 'int fi_alias(fid*, fid**, uint64_t)':
pkgbuild/libfabric/include/rdma/fabric.h:535:83: error: 'int fi_alias(fid*, fid**, uint64_t)' hides constructor for 'struct fi_alias' [-Werror=shadow]
 sta

[2018-11-09 21:12] tonyzinger commented on #4236
@dmitrygladkov I built PR #4554 and used it in my testing.  I executed a RMA, MESSAGE and a TAGGED MESSAGES tests.  For the RMA test the counter did not get incremented.  It was still 0.
For the MESSAGE and TAGGED MESSAGE tests, the counter was incremented for the number of transfers that I did.  However, this was only 1/2 of the value that I expected, since I had counters enabled for both FI_SEND

[2018-11-11 20:40] soumagne opened #4599 "prov/psm2 performance issue with fi_trywait()"
When using the psm2 provider with `FI_WAIT_FD` and `FI_PROGRESS_AUTO`, I am getting bad performance when entering the fi_trywait() call. If I skip that call and just wait all the time in epoll_wait on the file descriptor retrieved from fi_control(), everything looks fine. It is my understanding though that one should call fi_trywait() to potentially skip the epoll_wait() call if something is alrea

[2018-11-11 20:45] soumagne opened #4600 "prov/psm2 FI_WAIT_FD not compatible with FI_PROGRESS_MANUAL"
If I try to use `FI_PROGRESS_MANUAL` with `FI_WAIT_FD`, I am able to retrieve a file descriptor by using `fi_control()` but it does not seem to be signaled correctly, and I never wake up from a call to `epoll_wait()` once that file descriptor is added to a poll set. No error is being thrown though. If I use `FI_PROGRESS_AUTO`, signaling seems to be done correctly.

[2018-11-12 15:52] j-xiong commented on #4600
Due to the nature of how PSM2 works, no progress is going to be made when the application is blocked inside epoll_wait() in manual progress mode. Use fi_wait() instead.

[2018-11-12 16:22] j-xiong commented on #4599
Could you provide a reproducer?

[2018-11-13 12:05] sydidelot commented on #4593
Thanks for your reply, @shefty.
I had been conducting some additional tests and I've found that the cpp application I'm trying to compile automatically includes the compilation flag `-Werror=shadow` (you can get more information about shadowed variables there: https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html)
However, this `-Werror=shadow` flag is not exported when using `-Werror -Wextra -W

[2018-11-13 15:44] shefty commented on #4593
I don't know how this can be avoided without breaking apps.  We can't rename either the struct or function name.  :/

[2018-11-13 15:44] #4593 closed

[2018-11-16 14:49] tonyzinger opened #4616 "prov/verbs: a message fi_send gets a bogus CQ entry with "Message Truncated" error message"
This CQ entry with the "Message Truncated" error makes no sense.  The message size that I sent is 4 bytes and the CQ entry says that the message length is 68 bytes.  Also, the message that was sent and received contains the correct data.

I am attaching  a file that contains test output and Libfabric debug messages documenting the test case that I used to receive this inappropriate CQ event messag

[2018-11-20 19:38] a-ilango opened #4624 "fabtests: fix makefile for windows to allow two source files with same name"
The windows build for fabtests failed when there were two C files with same name (e.g. core/common.c and unit/common.c). The makefile needs to be fixed to handle this.

Relevant output from one of the Appveyor CI builds:
[code]

[2018-11-24 20:45] hppritcha commented on #4521
well this fell off my radar.  fixing now.

[2018-11-26 19:55] shefty opened #4638 "Release 1.7.0"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2018-11-26 21:31] soumagne commented on #4521
Thanks! Related to that issue though we seem to be getting memory use after free, see the trace below:
[code]

[2018-11-26 21:36] soumagne commented on #4521
This is not the same problem (PR #4637 fixes it) but another issue in that code path it looks like

[2018-11-26 21:51] soumagne commented on #4521
Also the use after free error only appears when using multiple threads, it is fine otherwise.

[2018-11-26 22:54] germanafro opened #4639 "1.5 verbs provider not showing in fi_info structure when using hints"
**Issue solved:**
`hints->domain_attr->mr_mode = FI_MR_BASIC | FI_MR_LOCAL | FI_MR_ALLOCATED | FI_MR_PROV_KEY | FI_MR_VIRT_ADDR;`
did the trick

I am really at my wits end here.

I originally had my hints set to:
[code]
those caps are said to be supported by the verbs provider(some may even be required?). But somehow I only receive the sockets provider when calling fi_getinfo().

when i run
`fi_ge

[2018-11-26 23:04] shefty commented on #4639
The behavior of NULL hints, versus a cleared hints structure differs.
[code]
When NULL is passed in for hints, this indicates that that all available providers should be returned.  This acts as a generic query mechanism.  However, when hints are provided, even if all fields are 0/null, then hints act as a filter on the output.  In your case, the key field to look at is hints::mode.  Because that f

[2018-11-26 23:08] germanafro commented on #4639
thanks again for your continued support.
you probably read the post before I edited it so you didn't get that missing info:
in my original attempt i used:
[code]
which only gave me the sockets providers - so somethign must still be missing I guess :/ I'll reiterate through the documentations. Maybe I missed something.

[2018-11-26 23:12] AddyLaddy commented on #4616
I have also started seeing that issue, I made this change to fix it;

[code]

I believe this bug was introduce in this commit;

[code]

It would be good to get the developers to confirm the bug and fix.

[2018-11-26 23:13] shefty commented on #4639
When you run fi_info -v, do  you see verbs provider responses that match your hints?  I.e. same addr_format, etc.?  Those look correct to me.  @a-ilango ?

[2018-11-26 23:15] shefty commented on #4616
@a-ilango @dmitrygladkov

[2018-11-26 23:18] a-ilango commented on #4639
Yes, the hints seems right. But then 1.5 is really old and I think there might be some bugs when parsing FI_MR_BASIC. @germanafro can you try with v1.6.2? Is there a need to use v1.5?

[2018-11-26 23:44] a-ilango commented on #4616
@AddyLaddy Yes, that's the right fix. It seems like a copy paste error in the offending commit. I can prepare a PR with the fix or if you already have it ready please open a PR.

[2018-11-26 23:57] germanafro commented on #4639
I'm working on a faculty cluster not owned or administrated by me but I'll talk to my professor to make the upgrade though that probably wont be happening today =D.

regarding fi_info -v:

I noticed FI_CONTEXT is actually deprecated and also not included in the mode bits of the shown result. however removing it did not bring any improvement and as we can see the provider still shows up with above

[2018-11-27 00:03] a-ilango commented on #4639
As a workaround you could try giving the following mode bits instead of FI_MR_BASIC:

hints->domain_attr->mr_mode = FI_MR_ALLOCATED | FI_MR_PROV_KEY | FI_MR_VIRT_ADDR

Can you try this?

[2018-11-27 00:10] germanafro commented on #4639
sadly this didn't fix the issue :/

[2018-11-27 00:13] shefty commented on #4639
You may need to OR in FI_MR_LOCAL to the mr_mode.

[2018-11-27 00:19] germanafro commented on #4639
yep... that did the trick...thank you! so is this working as intended?

 in regards to all the new flags will I have to adjust my code ?

[2018-11-27 00:38] #4639 closed

[2018-11-27 02:03] a-ilango commented on #4616
I've opened a PR to fix this issue. Fabtests posts a receive buffer that's large enough for all message sizes being tested and also large enough for control messages like sync. It may not be trivial to adjust the recv buffer size to just the right value.

I think adding a unit test where we can post a rightly sized receive buffer would be easier and it could detect this regression in the future. I

[2018-11-27 16:53] #4616 closed

[2018-11-28 03:37] AddyLaddy opened #4644 "prov/tcp;ofi_rxm: "Message truncated" errors when running multi-threaded"
I am hitting numerous issues when trying to use the "tcp;ofi_rxm" provider from a multi-threaded linux process that is sending messages (fi_tsend) with sizes from 8 to 1MiB bytes.
I see errors such as;

`libfabric:ofi_rxm:cq:rxm_cq_write_error_trunc():135<warn> Message truncated: recv buf length: 64 message length: 16384`

If I run it the application single threaded or add explicit mutexes around

[2018-11-28 13:32] dmitrygladkov commented on #4644
@AddyLaddy Thanks for reporting this.

What the `fi_info::fi_domain_attr::threading` do you set in multi-threading case?
If you don't set any value to this field, it should be thread-safe. Could you run the application with the `FI_OFI_RXM_SAR_LIMIT=0` environment variable, please?

[2018-11-28 17:36] AddyLaddy commented on #4644
Thanks Dmitry. We don't set any value for `fi_info::fi_domain_attr::threading`.
I tried with `FI_OFI_RXM_SAR_LIMIT=0` and no longer see the error.

I didn't see any mutex protection in the RXM segmentation code when I was digging yesterday. Does it need it?

[2018-11-28 19:24] AddyLaddy commented on #4644
In my experiments where I added mutex locks to the plugin that uses libfabric, I found that it would work more reliably if I made a critical region of the code segments that were calling `fi_cq_readfrom()` and `fi_trecv()`. My assumption is that these are being called independently by different threads.

[2018-11-29 14:22] dmitrygladkov commented on #4644
Addy, yes, receive SAR code (reassembling) need to be redesigned in order to have fine-grained mutex protection instead of naive approach that acquires EP and CQ locks and then reassemble message. Unfortunately, I don't have a working multi-threaded sample/test that can be used for debugging purposes. If you could help with that, it would be great.

@shefty @a-ilango what do you think about disabl

[2018-11-29 18:31] shefty commented on #4644
Disabling SAR for thread safe is reasonable.  Let's not rush a fix for this.  We can apply an update to a 1.7.1 release if it's available by then.

[2018-11-29 18:34] a-ilango commented on #4644
Sounds good. 👍

[2018-11-29 22:14] soumagne commented on #4521
It looks like there is a race where 2 error entries get created and are assigned the same error data, see the output below:
[code]

[2018-11-30 00:15] shawnccx opened #4652 "prov/sockets: max_msg_size from fi_info is illegal"
'fi_info -p sockets -v' returns illegal value for 'max_msg_size', for example:

[code]
Current code base HEAD:

[code]

[2018-11-30 17:34] #4652 closed

[2018-11-30 18:24] dmitrygx opened #4654 "util/av: Change FI_AV_TABLE behavior for handling duplicate insertions"
More details in #4650

[2018-12-01 13:14] jsquyres opened #4658 "Compile errors on systems without XRC verbs support"
libfabric master fails to build on systems that do not have XRC support (e.g., RHEL 6).  The compile errors are fairly obvious; just take any older version of `libibverbs` (before `rdma-core`) and try to compile -- you'll see the failures immediately.

The XRC code is quite pervasive in the verbs provider; I didn't want to make an attempt to make it safe to compile on XRC-less machines.

I think t

[2018-12-01 13:24] jsquyres opened #4659 "fabtests configure output: "rm: cannot remove 'core': Is a directory""
A recent change in fabtests (4c579b65055ec3145f47c071b68b1c21446b6ed5) renamed `common` to `core`.

This is resulting in a lot of configure macros emitting warnings:

[code]

because they including code to `rm -rf core` to remove stale corefiles.

These are Autoconf macros that we can't change, unfortunately.

Perhaps `core` is not a good directory name -- can it be changed?

[2018-12-01 13:33] jsquyres commented on #4659
Actually, it's even worse: a side-effect of this "can't remove core directory" problem is causing `configure` to end up leaving `confdefs.h` in the top-level directory, which causes `make distcheck` to fail, which is causing read-only files to get left on the OpenFabrics build server when it tries to make the nightly snapshot tarballs.

Bottom line: the nightly snapshot tarballs are failing to get

[2018-12-01 13:54] jsquyres commented on #4063
Looks like this was fixed long ago.

[2018-12-01 13:54] #4063 closed

[2018-12-01 15:05] #4659 closed

[2018-12-02 20:41] swelch commented on #4658
@jsquyres @shefty @jswaro - Thanks Jeff. Originally the code was setup with config "ifdefs" similar to what you are suggesting. A common consensus developed that for readability/maintenance and ease of use, that it was preferable to always have XRC available. For the travis builds updates were made to use the minimum rdma-core that included XRC support (I believe v13). So, I expect the answer is (

[2018-12-02 20:45] jsquyres commented on #4658
My $0.02 is that we definitely still need to be able to build successfully on RHEL 6 with inbox verbs.  It's old, I know, and it sucks, but a fair number of customers still use it.  ☹️   Whether or not a RHEL-6-with-inbox-verbs-build includes verbs support in libfabric is a decision I leave to others.

[2018-12-03 13:47] jswaro commented on #4658
I don't have an issue with either approach. I'd lean toward (1) over (2), but I'd propose a hybrid of (1) and (2).

Option 3: Make the verbs provider safe to compile without XRC, and add a configure flag that allows me to require that XRC is part of the build.

With option 3, I could specify something on the configure line to ensure that I build verbs if I have support for XRC -- or -- it throws a

[2018-12-03 17:04] shefty commented on #4658
When Steve merged xrc support, I went with requiring a libibverbs that had been created in the last half decade.

There are probably only a couple of definitions that are needed for xrc.  We can see if those exist and, if not, provide them.  That would allow the build to proceed.  The xrc code would just make sure it can handle the underlying libibverbs failing any xrc related queries.

[2018-12-03 17:33] swelch commented on #4658
@jswaro - Yes, in fi_ibv_init_info() we could omit verbs_msg_xrc_domain from the array used to create the infos.

[2018-12-03 18:33] swelch commented on #4658
@jsquyres: Jeff, @jswaro is going to work this issue.

[2018-12-03 20:46] jswaro commented on #4658
@jsquyres I do not have access to a RHEL system with IB/RoCE to test with. Would you be able to test a PR?

[2018-12-03 20:49] shefty commented on #4658
@jswaro - if you update the travis file to remove the verbs clone or use v12, you can force test this with travis.  Just keep that change in a separate patch and remove it prior to merging

[2018-12-03 20:52] jswaro commented on #4658
@shefty I've tested this with Ubuntu Trusty outside of Travis using the stock libibverbs. The stock libibverbs in Trusty is pre-rdma-core. I'm just hoping to avoid a run-time issue with the verbs provider with some testing over hardware. Travis doesn't have a RHEL container does it?

[2018-12-03 20:58] shefty commented on #4658
Ah - no, verbs won't work.  And all of Intel's CI uses a more up to date version of verbs

[2018-12-03 21:04] jswaro commented on #4658
If nothing else, I'll post the build log from the Ubuntu Trusty VM, and/or a log for a Travis build with the original IB stack in it. This is currently running through the Cray CI at the moment as well.

[2018-12-03 21:19] jsquyres commented on #4658
Sure -- feel free to ping me when you need compilation tests on RHEL 6.  I don't have any Mellanox hardware with which to test, however.

[2018-12-04 21:59] #4658 closed

[2018-12-07 15:45] sydidelot opened #4672 "prov/verbs(1.6.2): Regression regarding how failed Work Completions are handled during connection shutdown"
Hi,

I've recently started testing Libfabric 1.6.2 with a client/server application we are developing at DDN (I was previously using version 1.4.0).

I' found a regression in a way how Work Completions are handled in Libfabric during connection shutdown following a peer disconnection. When this happens (application killed for example), some outstanding Work Requests (WR) are never completed.
My ex

[2018-12-07 16:16] soumagne commented on #4521
No, that fix only partially fixed it... there is still an issue wrt the double free in fi_cq_readerr(), see my previous comment.

[2018-12-07 16:57] shefty commented on #4521
The goal is to publish 1.7 by end of the year.  There's time to get more fixes in.  I'm already aware of 2 other fixes that will be needed in other code.    If we can get something within the next week, I can spin an rc2.  After that even more people go on vacation.

[2018-12-07 17:06] shefty commented on #4672
Both Arun and Dmitry are out on vacation.  I think Dmitry is back next week.

I don't recall if the API specifies that posted receive operations will be flushed back to the app.  For example, I believe usNIC isn't capable of this.  But, we can at least see if it's possible to pass what failures are available through to the app.

I'd like to have this resolved prior to 1.7, with any fix also backpo

[2018-12-07 21:45] hppritcha commented on #4521
I'm working on this now.

[2018-12-08 13:08] germanafro opened #4676 "1.6 FI_SOURCE tag causes error on domain initialization"
my init
[code]
so with the verbs provider if i run
`fi_getinfo(FIVER, NULL, port, FI_SOURCE, config->hints, &fi);`
i receive

yet running without the tag
`fi_getinfo(FIVER, NULL, port, 0, config->hints, &fi);`
everything initializes(almost) fine.

[0] ep.init(): Success
[0]listening
[0]connection request: IB-0x18338657682652659712
fi_cq_sread: Resource temporarily unavailable

not sure if this is

[2018-12-08 16:14] #4521 closed

[2018-12-10 18:57] shefty commented on #4676
If you can build with the debug library or increase the debug log level, you may get more details on why the call is failing.  Without knowing the details of the hints, it'll be hard to know why the call is failing.

[2018-12-11 11:40] sydidelot opened #4678 "prov/tcp: fi_pingpong doesn't work with the provider"
While testing the current master, we've figured out that `fi_pingpong` binary included into libfabric repos doesn't work with the `tcp` provider. The client fails with the following log messages:

[code]

`tcpx_pep_listen()` fails because the socket given to  `listen` is invalid (-1).

Also, in tcpx_passive_ep(), the creation of the Passive Endpoint depends if the source address is set or not:
[co

[2018-12-11 15:22] carns commented on #4521
Fantastic, thank you @hppritcha !

[2018-12-11 17:07] shefty commented on #4678
This is a problem with rxm + tcp, correct, and not tcp used stand-alone?

[2018-12-11 17:33] sydidelot commented on #4678
Right, the problem I have described above was with rxm + tcp.

I'm currently testing with tcp stand-alone (msg endpoint type, I disable rxm when calling configure script), but the test now hangs.
That's a different issue than the one reported above. I'll try to dig into the problem when I have time.

Server: `fi_pingpong -p tcp -e msg`

*Latest log messages:*
[code]

Client: `fi_pingpong -p tcp -e

[2018-12-12 18:15] shefty commented on #4678
Hmm... on the client side, inserting the ctrl_sync() before processing the connection event seems wrong.  However, that _should_ not impact the eq_sread on the server.

My guess is that it does because the client needs to wait for the socket to connect before sending a connection message, and the app must read the eq before the connection is considered complete.

So, there's some argument that the

[2018-12-13 10:23] vkrishna commented on #4678
Yes, eq_sread would progress the connection establishment.

@sydidelot tcp used to have the thread for progress but was removed in favor of using eq waitset.

[2018-12-14 11:32] sydidelot commented on #4678
@vkrishna, I thought that the purpose of `FI_PRORESS_AUTO`  was to progress network communication without the need of calling `eq_sread()`. Shouldn't we create a progressin thread to make sure that the waitset is progressed in case of `FI_PROGRESS_AUTO`?`

[2018-12-14 16:56] shefty commented on #4678
@vkrishna is out until near the end of January.

I would really like to avoid re-inserted threads into the tcp provider.  That causes all sorts of complications.  Tcp is more like almost auto progress for connections.  It use a 2-step setup, both of which are auto, but doesn't kick off the second step until the app checks that the connection has completed (EQ read).  The EQ read is required by the

[2018-12-14 19:38] shefty commented on #4678
I have an update to pingpong that allows it to work with tcp -- also tested with udp and rxd.  However, it doesn't work with rxm over tcp.

[2018-12-14 20:08] shefty commented on #4644
PR #4680 _may_ help address this issue.  That PR fixes the locking around the progress engine which could lead to the problem being reported.

[2018-12-15 00:16] shefty commented on #4678
I now have a fix for this issue
[code]
The high-level problem is in the pingpong test.  It does an OOB address exchange, which it uses as an input hint into fi_getinfo.  However, it fails to set the address_format, which causes fi_getinfo to leave the src_addr unset.  There should probably be an EINVAL check if the address_format is 0 but src_addr/dest_addr are set on input.

Fixing that allows th

[2018-12-18 23:58] shefty commented on #4678
PR #4691 should fix the test with rxm now as well.

The automatic progress mode for tcp would need a thread

[2018-12-19 17:15] swelch opened #4694 "configure.ac should use AC_LINK_IFELSE instead of AC_TRY_LINK"
AC_LINK_IFELSE is preferred to AC_TRY_LINK these days (as noted by @jsquyres). configure.ac should be converted to use AC_LINK_IFELSE.

[2018-12-19 22:31] shefty commented on #4644
Please re-test with the tip of master or v1.7.0rc2 (out shortly).  The locking inside the rxm provider was re-worked.

[2018-12-20 02:02] AddyLaddy commented on #4644
I've re-run my reproducer against the tip of master and I can now no longer generate the issue. Thanks for fixing this!

[2018-12-20 02:02] #4644 closed

[2018-12-20 07:13] dmitrygladkov commented on #4644
@shefty @AddyLaddy Thank you!

[2018-12-21 23:21] opoplawski opened #4702 "Do not call into psm2 when not needed"
See https://bugzilla.redhat.com/show_bug.cgi?id=1659852 for more info

Basically we are seeing openmpi 3.1 + libfabric 1.6.0 + psm2 11.2.23 Fedora packages call AVX2 code on machines that do not support AVX2.  It seems that we need libfabric to not try to initialize PSM2 when not needed/available.  Thoughts?

[2018-12-21 23:32] opoplawski commented on #4702
Well, in order to provide generic packages that work across all hardware libfabric needs to be configured to use psm2.  We're trying to avoid completely dropping psm2 support from Fedora if we can.

[2018-12-21 23:38] shefty commented on #4702
Well, it's really not libfabric's responsibility to determine if some underlying library (which is installed on the system) has the necessary hardware and software to work.  That's should reside in the underlying library.  How is libfabric supposed to know that libpsm2 isn't needed when it's there and available, and libfabric was configured to include libpsm2 support?

[2018-12-27 23:05] a-ilango commented on #4659
Sorry, I was on vacation. Thanks for fixing this. Didn't realize a directory name of `core` can cause issues with autoconf.

[2019-01-03 20:36] jesternberg opened #4719 "1.7.0rc2 - invalid max inline data running in vm with roce"
testing with fi_rdm_rdma_simple or other fabtests within the rc2 repo, dmesg shows max inline data size is exceeded and client fail to connect to server.

dmesg snippet:
[  894.661096] rdma_rde: invalid max inline data = 512 > 400
[  894.661110] rdma_rde: invalid max inline data = 448 > 400
[  894.661112] rdma_rde: invalid max inline data = 416 > 400
[  894.661125] rdma_rde: invalid max inline dat

[2019-01-03 20:53] shefty commented on #4719
The verbs provider attempts to find the max inline size of the devices.  The different devices all seem to report the max size differently.  Any idea how rxe reports the size?

[2019-01-03 21:57] a-ilango commented on #4719
Yes. IIRC, there isn't a way through verbs API to find the max inline data size, so we try different sizes when creating QP until we succeed. The error messages correspond to the failed attempts. That shouldn't affect the connectivity. Something else might be going wrong.

[2019-01-03 23:07] jesternberg commented on #4719
The verbs provider attempts to find the max inline size of the devices.

Yes. IIRC, there isn't a way through verbs API to find the max inline data size, so we try different sizes when creating QP until we succeed. The error messages correspond to the failed attempts. That shouldn't affect the connectivity. Something else might be going wrong.

The errors are the only indication as to what is happ

[2019-01-03 23:11] a-ilango commented on #4719
Can you run the test with FI_LOG_LEVEL=warn? That should show fatal errors if any. If not debug level logs would be helpful if you can get it.

[2019-01-04 12:29] pierretr opened #4720 "Performance issue with PMIx"
I observe poor performance when using OpenMPI with libfabric and PMIx.
When setting FI_LOG_LEVEL to debug I get the following output:
[code]
This name server is deactivated when PMI_RANK is set but not when PMIx_RANK is set:
https://github.com/ofiwg/libfabric/blob/master/prov/psm2/src/psmx2_init.c#L72

If I manually set PMI_RANK mpi communication performances get back to normal.
Does it make sense

[2019-01-04 19:18] jswaro opened #4723 "contrib/buildrpm: Build rpm script incorrect appends options to the wrong variable"
See https://github.com/ofiwg/libfabric/blob/master/contrib/buildrpm/buildrpmLibfabric.sh#L162

@jsquyres @martinkontsek

[2019-01-04 19:25] jswaro opened #4724 "contrib/buildrpm: Add options for specifying alternative installation prefix and modulepath prefix"
@jsquyres @martinkontsek

This would be ideal for what I'm doing for PR #4722 , but I don't feel like it needs to be done immediately given that I can do what I need to do with the -r option.

What I would like -- is a -P,--prefix option for specifying the install prefix, and a -M,--modulepath option to specify alternative modulepath installations.

We could tackle this in a separate issue, but it

[2019-01-07 10:05] pierretr commented on #4720
Sorry the environment variable is PMIX_RANK and not PMIx_RANK ...

[2019-01-07 16:13] shefty commented on #4720
@j-xiong - Can you update the providers with the correct name?

[2019-01-07 18:49] #4720 closed

[2019-01-07 23:07] jesternberg commented on #4719
ulimit corrected the issue as well as rc3/repo head.

[2019-01-07 23:07] #4719 closed

[2019-01-08 02:15] #4638 closed

[2019-01-08 18:00] #4723 closed

[2019-01-08 22:38] jsquyres commented on #4724
`-P`/`--prefix` and `-M`/`--modulepath` works for me.

[2019-01-09 15:52] tonyzinger opened #4734 "prov verbs;ofi_rxm: seg faults in rxm_cq_read_write_error() after using fi_writedata() to transfer 264 bytes"
After transferring 264 or more bytes via the fi_writedata API and using the verbs:ofi_rxm provider, a segmentation fault occurs in rxm_cq_read_write_error() while trying to process the CQ event for this transaction.  If the transfer size is 256 bytes or less this problem does not occur.

This problem does not occur with the sockets provider.

The top of the stack from the core dump shows:
[code]

[2019-01-09 23:31] #4048 closed

[2019-01-14 13:25] tanghaodong25 opened #4738 "register memory for direct fabric access is time consuming"
It took more than 20 seconds to register 256 GB memory for direct fabric access with fi_mr_reg. the CPU's overhead became excessively high (close to 100%) when calling fi_mr_reg. The provider we're using is verbs. Do you think this is normal? Is there any other way to accelerate the memory registration?

[2019-01-14 13:54] dmitrygladkov commented on #4738
There are no standard ways to accelerate `fi_mr_reg`, because OFI Verbs provider depends on the `ibv_reg_mr` implementation provided by IB Verbs provider (mlx5, hfi1 or etc). But if you use Mellanox OFED, you may use experimental ODP feature for MR (https://ofiwg.github.io/libfabric/master/man/fi_verbs.7.html)

If you does the memory registration for multiple the same memory blocks (or this memory

[2019-01-14 16:14] shefty commented on #4738
This sounds normal.  The use of huge pages should help.  ODP can defer the cost of registration until the MR is accessed the first time, but the delay will still be there.

[2019-01-15 06:44] dmitrygladkov commented on #4738
Yes, I meant this

[2019-01-15 14:43] swelch commented on #4734
@dmitrygladkov - This issue was fixed with PR #4739  and should be able to be closed. Thanks.

[2019-01-15 15:38] tanghaodong25 commented on #4738
@dmitrygladkov @shefty Thanks for your prompt reply. We've tried ODP, the latency didn't improve. Actually, we register memory directly from NVDIMM, do you think the asynchronous memory registration would help?

[2019-01-15 19:31] dmitrygladkov commented on #4734
@swelch Thank you so much!

[2019-01-15 19:31] #4734 closed

[2019-01-17 01:26] benmenadue opened #4742 "v1.7.0: configure fails with `--enable-debug`"
Hi,

Configure fails on our CentOS 6 system when using the `--enable-debug` with the error
[code]
This is because it has ended up with `-fstack-protector-strong` in `CFLAGS` even though it's not supported by our GCC version; all tests after this point the fail until it reaches the libdl test which is fatal.

It looks like it does test for `-fstack-protector-strong` and correctly detect that it's u

[2019-01-17 19:09] #4742 closed

[2019-01-18 18:39] #4724 closed

[2019-01-18 19:59] sleak-lbl opened #4749 "intermittent garbled MPI message with GNI"
this might be related to / same issue as #3797

we've seen an issue where:
- on occasion (not each time)
  - using ifort+impi and I_MPI_OFI_PROVIDER=gni
  - in an application that uses MPI_ISEND and MPI_IRECV heavily
  - using OpenMP threads
  - when running on KNL nodes (we haven't observed it on our Haswell nodes, but it isn't consistently reproducible)

.. sometimes the first message passed bet

[2019-01-23 22:04] shefty opened #4758 "address sanitizer errors"
Copying issues reported in PR #4755

I managed to locally reproduce 2 ASAN errors with master (5142b253eedff8b2eb9ea606bd3c9aed0cd75015):

[code]

And

[code]

[2019-01-24 00:09] shefty commented on #4758
PR #4759 should address the first error reported above.

[2019-01-24 00:54] a-ilango commented on #4758
I'm unable to reproduce the issue after adding the address sanitizer options to CFLAGS. @shefty are you testing in RHEL or Ubuntu?

[2019-01-24 00:59] shefty commented on #4758
I'm on ubuntu, but I didn't use the sanitizer for my fix.  That was based on code inspection.  I have the santizer enabled, but I get a bazillion errors from fabtests at the moment.

[2019-01-25 14:32] swelch commented on #4233
@dmitrygladkov - Tony has confirmed this issue is not reproducible and can be closed.

[2019-01-25 16:07] #4233 closed

[2019-01-29 01:27] shefty opened #4768 "prov/tcp: Add support for fi_reject"
The provider does not support the fi_reject call, which is set to fi_no_reject.  This shows up as a memory leak with fi_cm_data test, with the handle not being freed.  This was likely just functionality that was forgotten and never got implemented.

[2019-01-29 17:26] vkrishna commented on #4768
Reject implemented (tcpx_pep_cm_ops) but the handle not getting freed.
fixed in #4770

[2019-01-29 18:34] #4768 closed

[2019-02-01 16:34] jswaro opened #4783 "FI_INJECT behavior clarification"
@shefty @swelch

There has been discussion regarding the behavior of FI_INJECT with the fi_*msg function variants.

It isn't clear how FI_INJECT affects completion behavior, and due to that fuzziness, it isn't clear how it should affect counters.

In the fi_endpoint man page, there are three separate examples of how selective completion or the lack of it affects certain transactions.

With FI_SELE

[2019-02-01 16:56] shefty commented on #4783
The FI_INJECT flag indicates that the user may re-use the transmit buffer as soon as the call returns.  It has no impact on completions and makes no mention of them.

[code]

In the example you referenced above, the EP has been configured to always generate a completion for any operation that can. The FI_COMPLETION flag is ignored.

The inject calls allow for immediate buffer re-use and always sup

[2019-02-01 16:58] shefty commented on #4783
We can fix-up the wording anywhere things aren't clear.

[2019-02-01 17:02] shefty commented on #4783
I think there is confusion on when a counter should be updated.  It should match up with the completion 'level' -- i.e. FI_INJECT_COMPLETE, FI_TRANSMIT_COMPLETE, FI_DELIVERY_COMPLETE.

[2019-02-01 17:04] jswaro commented on #4783
Ok. To avoid future discussions on topics like this, I'd like to propose that we something to that effect to the documentation. Something like 'FI_INJECT has no impact on completions' would be fine by me.

I'd like to pull those examples then since it isn't clear from an initial reading that the flag is ignored.

Right. However, the wording for counters suggests that if a CQ entry is generated, th

[2019-02-01 17:31] shefty commented on #4783
I will propose a set of changes.

[2019-02-01 17:38] bcernohous commented on #4783
I'm not aware of counters *ever* being suppressed.  Back to my previous comment 1) about "completions" vs "cq completions".

I'm not sure which example you want to pull.  If it's the third, I think it's ok.  It does not use :

FI_SELECTIVE_COMPLETION
    By default, data transfer operations generate completion entries into a completion queue after they have successfully completed. Applications can

[2019-02-01 18:32] jswaro commented on #4783
[code]
I think these two should be pulled since adding the flag has no bearing on the example. If they aren't pulled, a note could be added to indicate the FI_COMPLETION is ignored in the example.

[2019-02-01 18:49] jswaro commented on #4783
Bob, my point here is that the counter man page indicates the counter are incremented on a successful completion. We should define what that 'completion' is and what it means. My interpretation is the 'completion' is 'CQ completion' or CQ entry generation.

My interpretation of the page, is that counters are incremented whenever a CQ event would be generated.
`Counters can provide a light-weight c

[2019-02-01 18:55] bcernohous commented on #4783
There's a light weight completion that doesn't update the CQ, it's called counters.

Counters can provide a light-weight completion mechanism by suppressing the generation of a full completion event.

[2019-02-01 19:01] jswaro commented on #4783
I am aware that counters provide a mechanism to avoid the full generation of the information surrounding the completion of an asynchronous network data transfer request by allowing you to simply read a value out of a construct that indicates 'completion' as defined by the endpoint/tx context/domain.

My point, is that what is represented by that 'increment' must follow one of the existing mechanis

[2019-02-01 19:31] bcernohous commented on #4783
I think the answer is "Yes".  At least I've asserted that several times, in several ways, here and in email:

What may be newly clarified is *when* are they incremented.  And that would be when a CQ is or could be (selectively) generated.

My #3  - two scenarios (with SELECTIVE completions)

was written because Steve found a scenario where the counters were incremented at different times in a scen

[2019-02-01 19:34] jswaro commented on #4783
Right, I get that. Conceptually, I think of it as applying a specific behavior to an endpoint with that resource. In this case, I'm asking the completions to be suppressed when binding the CQ to the endpoint, and I think we can be more clear to say that completions are suppressed to the specific CQ that is being bound to the endpoint. Without that, I would intuitively think that it is the case tha

[2019-02-02 03:30] jswaro commented on #4783
I think the PR hits the right clarifications. I'm not sure there was desire for the above behaviors, but the modifications clear it up well. Thanks for making the modifications.

[2019-02-07 00:23] mshiryaev opened #4802 "verbs: fails with multiple threads and mr_cache enabled"
Hello,

Fails happen when multiple threads work on dedicated EPs in parallel and with mr_cache enabled.
Attached reproducer: [ofi_test.zip](https://github.com/ofiwg/libfabric/files/2838794/ofi_test.zip)

To reproduce execute:

on server node
FI_VERBS_MR_CACHE_ENABLE=1 FI_PROVIDER=verbs ./ofi_test 1 server_hostname port

on client node
FI_VERBS_MR_CACHE_ENABLE=1 FI_PROVIDER=verbs ./ofi_test 0 serve

[2019-02-07 15:20] swelch opened #4803 "prov/rxm: Counters for FI_INJECT operations are updated prematurely"
In RXM for cases where FI_INJECT flag is used, the associated counter is incremented upon posting the request to the core provider, not when the transfer has completed. The counter update should be done at the actual completion of the operation, even though a completion entry would not be written.

[2019-02-08 02:00] hpjeonGIT opened #4806 "undefined ucm_config_modify"
Hi,
In CentOS7.5, using gcc/4.8, I am trying to install libfabric. I met errors:
src/.libs/libfabric.so: undefined reference to `ucm_config_modify'
src/.libs/libfabric.so: undefined reference to `ucm_config_modify'
src/.libs/libfabric.so: undefined reference to `ucm_config_modify'

In prov/mlx/src/mlx_init.c:206, status = ucm_config_modify("MALLOC_HOOKS", "no") is found while I cannot find ucm_con

[2019-02-08 03:25] shefty commented on #4806
I would disable the mlx provider from the build and use verbs instead.  The API compatibility of ucx isn't guaranteed (obviously), and almost no effort is going into the mlx provider at this point.  I'll make a note to disable it from the next release.

[2019-02-08 14:02] hpjeonGIT commented on #4806
Thanks for the update. Will try to do your suggestion.

[2019-02-08 14:02] #4806 closed

[2019-02-19 18:35] a-ilango opened #4845 "prov/rxm: don't ignore EINTR on fi_eq_sread"
RxM shouldn't ignore EINTR on blocking calls. We may ignore it on a debug build to allow use of debuggers. See #4829

[2019-02-22 17:50] mshiryaev commented on #4802
@shefty , @a-ilango - did you have a chance to look at this issue?

[2019-02-22 18:30] shefty commented on #4802
I have not yet.  I will try to take a look at it in a bit to see where the locking is missing.

[2019-02-25 01:41] yurivict opened #4855 "[regression] 1.7.0 build breaks on FreeBSD: use of undeclared identifier 'FI_ENOSYS'"
[code]

[2019-02-25 17:40] shefty commented on #4855
This was fixed in master.  Opened PR #4857 to cherry pick the fix to 1.7.x

[2019-02-25 20:55] #4855 closed

[2019-02-27 16:39] shefty commented on #4802
Can you try with the changes in pull request #4867 ?

[2019-02-27 17:03] sydidelot commented on #4672
I'm closing the issue, since patch 4a1ec36 got merged.

[2019-02-27 17:03] #4672 closed

[2019-02-27 17:25] mshiryaev commented on #4802
Seems this fixed issue, at least few sequential launches work well. Thanks!
But I noticed significant increase for test timings as now all threads are serialized around single domain lock. Do you have plans to make mr_cache as per-EP object?

[2019-02-27 17:39] shefty commented on #4802
There are no plans, but I guess we could configure the cache this way.  That could result in registering the same memory at each endpoint.  It depends on whether the threads have dedicated regions or not.

If we either move the locking into the cache or modify the cache APIs, we could convert the spinlock into reader-writer locks.  We could also look at releasing the lock when registering memory (

[2019-02-27 18:22] mshiryaev commented on #4802
@shefty , thanks for fix and information. The ticket can be closed.

[2019-02-27 21:10] shefty opened #4869 "provider implementation recommendations"
Expand the man pages with recommendations for how providers should behave in response to various errors.

E.g. RDM EPs fail to send to a peer.

[2019-02-28 00:47] shefty commented on #4802
Closing, but opening new issue related to optimizing the locking

[2019-02-28 00:49] shefty opened #4873 "mr_cache: Optimize locking"
See #4802.  When multiple threads hit the cache, performance can suffer because of serialization.  Look at options mentioned in 4802 to improve performance -- move locking down, use R/W locks, release locks when registering memory, etc.

[2019-03-01 02:52] #4738 closed

[2019-03-07 20:11] chrisdolan opened #4893 "RxM: null rx_buf->conn during reprocessing recv"
Using Libfabric 1.6.2 with OpenMPI and IMB, I've experienced an intermittent crash when rx_buf->conn is null during early startup with the following stack. I've examined the code at HEAD and it looks like it might have the same issue.

As a workaround, I added `if (!rx_buf->conn) continue;` at the following line and it seems to prevent the crash. But I don't understand the code well enough to know

[2019-03-07 20:26] shefty commented on #4893
I think @a-ilango will need to look at this.  Just looking at the function in question, I would have guessed rx_buf->conn would be non-null.  I see places in the code where this appears:
[code]
There are a couple of places where the if() check is missing.  But I don't understand the code well enough to even know why that check is needed.

[2019-03-07 21:41] a-ilango commented on #4893
@chrisdolan v1.6.2 uses shared receive context by default and that's where rx_buf->conn needs to be set. There might be some serialization issues in the CQ read, AV insert path but if Open MPI uses FI_THREAD_DOMAIN, we shouldn't hit it.

Which IMB test and benchmark is this? How many ranks? I'll check if I get the issue when I enable shared receive context on master.

[2019-03-08 10:44] mkre opened #4894 "Support providers built-in or as DSOs for portable libfabric?"
We are currently in the process of creating a libfabric build which should
1. be portable, and
2. support a reasonable range of providers to be used with Open MPI.

Libfabric providers can be supported directly by libfabric or as DSOs. It seems like _direct_ provider support can cause libfabric.so to depend on some other third-party libraries, and if those are not found at runtime, it will make th

[2019-03-08 16:28] shefty commented on #4894
When building providers directly into libfabric, the dependencies are per provider.  So, if UCX is not there that will only disable the mlx provider from the build.  Other built providers, such as psm2, are unaffected.

If you build libfabric with those dependencies available, then remove the dependent libraries, then yes, you would hit the issue you're describing.  There shouldn't be any negative

[2019-03-11 07:30] mkre commented on #4894
Thanks for the prompt and helpful reply, @shefty!

[2019-03-11 07:30] #4894 closed

[2019-03-12 15:00] swelch opened #4903 "RXM fi_cq_sread() and fi_cntr_wait()"
@shefty @a-ilango:

I have a question about the RXM implementation of fi_cq_sread() and fi_cntr_wait() and their relationship to progress. Both of these calls will initiate progress when called, and as expected will then wait if the CQ is empty or the counter threshold has not been met. However, since they wait on the RXM CQ/Counter wait object in this case (not the core provider wait objects), it

[2019-03-12 17:30] shefty commented on #4903
Does the rxm wait object include the core provider wait objects, e.g. via epoll?

I don't get the question about threading.  This is a progress question.

[2019-03-12 17:49] a-ilango commented on #4903
RxM adds core provider wait objects (CQ and EQ file descriptors) to the epoll. So fi_cq_sread / fi_cntr_wait should wait on them.

[2019-03-12 19:15] swelch commented on #4903
@a-ilango - Ok, I see now where the core CQ FD is added when the message CQ is created, thank you for the clarification!

[2019-03-12 19:15] #4903 closed

[2019-03-13 21:49] tenbrugg opened #4911 "prov/gni: add fallback to default pages if huge pages cannot be used"
In gnix_mbox_allocator.c, when huge pages cannot be opened or a slab cannot be created, the function _gnix_mbox_allocator_create() just returns an error.
 It would be nice if instead of returning an error the code would fall back to using default pages. This would improve portability and robustness.

[2019-03-14 00:06] shefty opened #4912 "v1.7.1 release"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2019-03-15 17:38] #4802 closed

[2019-03-16 02:35] mshiryaev opened #4920 "tcp: multi-threaded multi-ep send-recv test fails"
Hello,

The fail happens on multi-threaded send-recv test. Each thread uses own regular EP, i-th thread on local side communicates only with i-th thread on remote side.

Reproducer:
[tcp_mep_test.zip](https://github.com/ofiwg/libfabric/files/2973376/tcp_mep_test.zip)

on server node
FI_PROVIDER=tcp ./ofi_test_pt2pt 1 <server_hostname> port

on client node
FI_PROVIDER=tcp ./ofi_test_pt2pt 0 <server

[2019-03-16 02:41] mshiryaev commented on #4920
@shefty , @vkrishna - please take a look

[2019-03-18 18:48] vkrishna commented on #4920
Good test 👍

tcp is using thread unsafe call to verify mr. Replaced it with thread safe one in PR #4921

[2019-03-18 20:06] mshiryaev commented on #4920
@vkrishna could you please clarify on which path pt2pt operations (which we use in test) call tcpx_validate_rx_rma_data function?

[2019-03-18 20:12] mshiryaev commented on #4920
although seems I see that rxm can use fi_readv from msg_ep for rndv with large messages
but it still would be great to get your clarification

[2019-03-18 21:10] vkrishna commented on #4920
Yes rxm uses rma read for large messages as a part of its rndv protocol.

As per my understanding this is the path for tsend or large message through rxm.

-rxm on process P1 sends rndv hdr to the rxm on process P2
- P2.rxm issues rma_read to get the large buffer (follow path rmx_cq_handle_comp->rxm_handle_recv_comp->rx_cq_match_rx_buf->rx_cq_handel_rx_buf->rxm_cq_handle_large_data)
-P2.rxm sends

[2019-03-19 00:47] mshiryaev commented on #4920
@vkrishna many thanks for the fix and for information. I verified fix, test works well. The issue can be closed.

[2019-03-19 17:08] #4920 closed

[2019-03-19 21:24] a-ilango opened #4926 "fabtests/runfabtests: timeout only when there's no output"
runfabtests.sh script has a fixed timeout. This should be changed to a timeout that monitors the output and expires when there's none for a certain period of time. This would enable running fi_ubertest with more test combinations that would otherwise need a much higher value of static timeout. A  higher static timeout value can increase the overall test run time. There might be some bash trick to

[2019-03-20 03:09] shefty commented on #4926
Can we just code a different timeout for ubertest as a short term fix?

[2019-03-20 23:30] a-ilango commented on #4926
Yes, that can be a short term fix.

[2019-03-20 23:31] a-ilango commented on #3426
Counters were implemented.

[2019-03-20 23:31] #3426 closed

[2019-03-20 23:32] a-ilango commented on #3134
RDM implementation internal to verbs provider (verbs/RDM) has been deprecated.

[2019-03-20 23:32] #3134 closed

[2019-03-21 01:54] #4911 closed

[2019-04-08 20:53] hppritcha opened #4963 "GNI provider needs to handle FL_ADDR_STR format better"
Turns out the GNI provider partially implements support for ```FI_ADDR_STR``` but not for the case of ```FI_SOURCE``` + ```FI_SOURCE_ERR```.

[2019-04-08 22:34] #4912 closed

[2019-04-10 14:54] jswaro opened #4969 "verbs;ofi_rxm: Registration of hugepages fails without RDMAV_HUGEPAGES_SAFE=1"
@shefty @a-ilango @swelch

The common core code for memory allocation of buffer pools utilizes hugepages if they are available. When those hugepages are used with buffer pools, then the NIC fails to register them with the NIC.

Specifically, this occurs with verbs and rxm when rxm attempts to register a buffer for transfer using space from the local buffer pool. See https://github.com/ofiwg/libfab

[2019-04-11 20:50] soumagne opened #4974 "prov/verbs misleading use of ibv_fork_init()"
As initially reported in https://github.com/mercury-hpc/mercury/issues/280 we recently discovered some weird interactions when using both MPI (MVAPICH) and libfabric with verbs;ofi_rxm on one of our systems.
After some testing, we discovered that by default the verbs provider calls `ibv_fork_init()` unless the environment variable `FI_FORK_UNSAFE`  has been set to 1.
The problem is though that in

[2019-04-11 21:26] shefty commented on #4974
@a-ilango @jswaro - fyi - we were just talking about this

[2019-04-11 21:45] a-ilango commented on #4974
https://github.com/ofiwg/libfabric/issues/1763 - this seems to be original issue that required enabling fork safety by default. I think the reason was to support more apps by default. @shefty do we still want to honor that? I think we should revert the patch if it's causing performance / functional issues.

[2019-04-11 21:46] jswaro commented on #4974
@shefty Thanks for the heads up.
@soumagne see #4969 -- related, but not directly.

I guess this doesn't surprise me. I recall a version of MPI or two that used some IBV calls to probe Infiniband devices prior to opening the communicator -- either for determine what the device is capable of, and/or determining what comm layer abstractions are available.

This comes back to the discussion in #4969

[2019-04-11 21:49] shefty commented on #4974
There seem to be other issues related to how fork safe the library is anyway.  We may not have a decent alternative here.

[2019-04-11 22:34] soumagne commented on #4974
I think requesting fork safety is very specific and it seems easier for a user to look for a `FI_FORK_SAFE` variable at the very least, knowing that it is needed and assuming that it may fail if the parent process has called into ibv before. It is definitely not intuitive to look for the opposite `FI_FORK_UNSAFE` variable where users get safety for something specific that they have not really aske

[2019-04-12 00:06] rajachan commented on #4969
For the medium term solution, [this patch](https://github.com/aws/libfabric/commit/b7c8914f90259400999289e18f8da279a9688931) might help. Providers could then opt into using huge-pages on a per-pool basis by setting the `is_mmap_region` util_buf_attr. That logic still needs some additional work around falling back to regular pages when huge-pages are depleted, but if it is useful as-is, we can send

[2019-04-12 00:20] rajachan commented on #4969
From a quick scan, it doesn't look like the verbs provider is using `util_buf_pool_create_attr`, but you might want to use that to create buf pools if you want to toggle use of huge-pages, [like this](https://github.com/aws/libfabric/blob/master/prov/rxr/src/rxr_ep.c#L2109).

[2019-04-12 20:18] shefty commented on #4974
I don't believe the original intent was for libfabric to support being usable across a fork() call.  There's an issue that an app may make a system call which could invoke fork() under the covers.  So, the app developer may not even know if fork() support is required.  I've never seen performance data that shows the difference is between the optimal/no-fork option versus safe/fork option.

Without

[2019-04-12 21:07] shefty commented on #4974
See #4973 and #4969 for related details.

Performance data is there.  Based on that data, we should disable fork support by default for performance gains.

[2019-04-16 13:07] miharulidze opened #4977 "prov/verbs: minimal OFED version requirements"
Hi folks!

Are there any requirements on Intel/Mellanox OFED version in verbs provider?

As far as I understand, there are some checks during configure. It checks that verbs headers exist on current system.

In case when we put precompiled libfabric (and if it depends on OFED version) on machine with very old OFED, it will fails without any human-readable message in debug.
Maybe it will good to ad

[2019-04-16 20:47] miharulidze commented on #4977
Found answer to this question here https://github.com/ofiwg/libfabric/issues/4702

[2019-04-16 21:02] shefty commented on #4977
lbfabric is dependent on libibverbs and librdmacm.  OFED is just some random packaging, which is usually not installed on distro systems.  I'm not aware of any run time checks that can be done against libibverbs or librdmacm.  AFAIK, neither provides runtime version data.

[2019-04-16 21:56] #4969 closed

[2019-04-27 01:50] krehm opened #4992 "prov/gni FI_SOURCE behaves as if FI_SOURCE_ERR is always selected"
In the gni provider, if FI_SOURCE is specified and FI_SOURCE_ERR is not specified, then a message from an unknown initiator should simply report FI_ADDR_NOTAVAIL and not generate an error.  However, the gni provider reports error FI_EAVAIL whether or not FI_SOURCE_ERR is not specified.

[2019-04-27 01:55] krehm commented on #4992
I have a PR ready for this, how do I get write permission to assign this to myself?

[2019-04-27 15:07] krehm opened #4994 "prov/gni: fi_setopt and fi_getopt not implemented for scalable endpoints"
Attempts to call fi_getopt() or fi_setopt() with a gni scalable endpoint fail with Function Not Implemented.   I talked to hppritcha, he believes this was just an oversight.

[2019-04-29 20:58] hppritcha commented on #4992
This issue fixed by #4993. Closing.

[2019-04-29 20:58] #4992 closed

[2019-05-02 14:41] krehm opened #5002 "prov/gni: messages larger than fi_recv buffer size corrupt adjacent memory"
There is no logic in __smsg_eager_msg_w_data() to deal with arriving messages that are larger than the matching posted receive buffer, FI_ETRUNC is not implemented.   An incoming message is matched, then __gnix_msg_copy_data_to_recv_addr() is called to memcpy the incoming message into the matched buffer using the size of the incoming message.  If that size is larger than the size of the receive bu

[2019-05-02 14:56] krehm commented on #5002
The behavior is similar for FI_MULTI_RECV buffers.  I re-enabled the gnitest rdm_multi_r::multirecv_trunc_last test which is supposed to verify that an FI_ETRUNC error is generated when a message is too large to fit in a multi-recv buffer.  I called do_multirecv_trunc_last() with a message size of 2, so two messages of size 2 bytes would be written into a multi-recv buffer of size 3 bytes.  min_mu

[2019-05-03 18:29] krehm opened #5005 "prov/gni: GNI provider no longer compiles at Cray CLE RELEASE 7.0.UP01"
Attempting to build the GNI provider on newer releases of Cray CLE fails, there is a simple bug in a configure.m4 macro file.

configure: *** Configuring gni provider
checking for CRAY_GNI_HEADERS... yes
checking for CRAY_UGNI... yes
checking for CRAY_ALPS_LLI... yes
checking for CRAY_ALPS_UTIL... yes
checking for CRAY_UDREG... yes
checking for CRAY_XPMEM... yes
checking for gni_ct_cqw_post_descri

[2019-05-03 19:35] krehm opened #5007 "fi_cq_readerr() is unable to return the initiator's FI_SOURCE value"
If the FI_SOURCE option is being used and an incoming message has an error, there is no way for fi_cq_readerr() to provide the initiator's fi_addr_t value associated with the message in error.

[2019-05-03 19:58] krehm commented on #5007
Just a bit more explanation, take the case where the incoming message is arriving from a known client, one already inserted in the AV table, but the message gets truncated to fit the receive buffer.  The fi_cq_readerr() routine shows you where in the buffer the truncated message resides, but it can't tell you the fi_addr_t of the client that sent it.