[2019-05-04 13:17] #4994 closed

[2019-05-04 17:01] #5005 closed

[2019-05-06 15:16] hppritcha commented on #5007
@krehm we could stick that info into the provider specific error message field.

[2019-05-06 15:28] shefty commented on #5007
@hppritcha - that's worth considering.  But I think it will end up being cleaner to update fi_cq_err_entry to add fi_addr_t.  The presence of the field would be determined by the API version requested by the app.

[2019-05-07 16:19] krehm opened #5015 "add fi_getopt/fi_setopt parameter to get/set alignment of MULTI-RECV messages"
From a libfabric-users email thread:

I use a multi-recv buffer to receive metadata messages from clients.   The first thing I have to do when I receive a message is memcpy it somewhere else so that it is 8-byte aligned, so that I don’t segfault when referencing fields in the message.

It would be nice if there was a fi_setopt() variable for multi-recv buffers, say FI_MIN_MSG_ALIGNMENT, which the

[2019-05-13 11:03] hppritcha commented on #5002
@krehm are you going to fix this problem?  Otherwise I'll take a look.

[2019-05-13 13:34] krehm commented on #5002
I'm not going to have time, I'm afraid.  If you could fix it, that would be great.

[2019-05-13 18:19] #4963 closed

[2019-05-13 18:19] hppritcha commented on #5002
okay I'll take a look.  may be tickling a problem the mercury crew is seeing.

[2019-05-13 18:31] krehm commented on #5002
Interesting; do they have an open issue for their problem?

[2019-05-16 10:06] hppritcha commented on #5002
sorry I didn't see your question.  No they don't yet, but they've given me core files, etc.

[2019-05-16 18:35] shefty commented on #4873
The MR cache was significantly reworked, with locking changes as a result.

[2019-05-16 18:35] #4873 closed

[2019-05-17 16:35] tenbrugg commented on #4205
Cray is interested in this feature as well.

[2019-05-20 07:07] fleapapa commented on #3301
Seems like currently only `udp` provider supports multicast. Am i correct?

[2019-05-20 15:23] shefty commented on #3301
I believe so.  Tagging @a-ilango so that he's aware multicast over verbs is wanted.

[2019-05-21 23:10] #5002 closed

[2019-05-23 00:58] bcernohous opened #5048 "prov/gni fi_av_insert/fi_av_remove"
I have two entries in my av table.  I remove them, reverse them, and insert them back.  For fun. 😉

They appear to be appended, not inserted, at indices 2 and 3 instead of 0 and 1, even though I expect the av to only be 2 entries.  Entries 0 and 1 do appear to have been removed/are junk.

fi_av_lookup      0, "0001:0x00000010:0x006b7002:01:0x6b7002:0x000000"

fi_av_lookup      1, "0001:0x00000011:

[2019-05-23 22:01] hzhou opened #5049 "PGI compiler support"
I tried to compile `libfabric` with `pgcc` version 18.10 and it doesn't seem to work but fixable. Is there a plan to support pgi compilers?

The issues I discovered:
* pgcc does not support `-Wall`
* asm(".symver "... "\n") -- it needs an explicit new line
* pgcc does not accept the tail (`,externally_visible`) in `__attribute__((visibility("default"),externally_visible))`
* it complains `imm_data

[2019-05-23 22:57] shefty commented on #5049
I wouldn't say there's a plan to support pgcc, but I doubt there would be objections if someone wanted to provide reasonable updates to support it.  It isn't included in any build testing, so there's a chance of it breaking again unless someone periodically checks it..

[2019-05-24 15:55] raffenet commented on #5049
We can set this up on the ANL CI server. We are still running nightly FreeBSD regression tests, FWIW. I should configure those to actually report to PRs at some point.

[2019-05-26 15:13] hppritcha commented on #5048
not sure if this is in correct behavior but will look into it.

[2019-05-26 15:18] hppritcha opened #5050 "prov/gni: can be better with provider error code in cq errors"
there are several places in the GNI provider where a CQ error entry is generated and the provider error code is the underlying GNI_RC code.  It would be better to return an error more familiar to libfabric consumers.

[2019-05-26 15:49] bcernohous commented on #5048
Using FI_AV_MAP works as I'd expect it to.

[2019-05-29 12:43] #5050 closed

[2019-05-29 21:02] shefty opened #5055 "v1.7.2"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2019-05-31 09:25] hppritcha commented on #4749
@sleak-lbl could you check if you're seeing this now that we addressed issue #5002

[2019-05-31 19:00] bcernohous commented on #5048
I'm questioning it myself.

I think removing an entry doesn't remove the table row.  So I insert two addresses, remove 2 addresses, add two addresses results in  4 addresses (odd math 2 - 2 + 2 = 4).  2 of which are empty.

[2019-06-05 16:59] jswaro opened #5066 "prov/rxm: connection setup with manual control/data progress takes a 'long' time to establish connections"
A test that we run has a tendency to time out during the initial stages of the test due to long periods of time of polling the CQ with no CQ events generated by the ofi_rxm provider. It was discovered that a recent modification to the ofi_rxm provider (commit: b83bcb54d92ac5ff74be3b8c66ffb78ff19b312f) changed the frequency that rxm allows the cm event queue to be polled during cq progression funct

[2019-06-05 17:01] jswaro commented on #5066
I have a PR that I will submit to address the issue. It is based on an adaptive threshold for calling connection management progression functions based on event generation feedback from the underlying provider via rxm_msg_eq_progress.

I'm not done, but here is the general idea: https://gist.github.com/jswaro/67e5f6fbd77ae5c4fc74e9c9e6ee05de

[2019-06-05 17:54] a-ilango commented on #5066
Interesting. RXM_EQ_PROGRESS_SPIN_COUNT was chosen as 10k in an arbitrary manner and it gave reasonably good performance in an all-to-all test that I was running.

I wonder if 10k spin count is too large for the specific environment where this test was run. As long as the spins complete quickly, the CM progress shouldn't take too much of wall time. 3 minutes sounds a lot. Nevertheless, I think ada

[2019-06-05 18:09] shefty commented on #5066
Relying on a spin count assumes an application level behavior, such as busy polling.  If that isn't the case, then a spin count doesn't provide a timing estimate, which is really what's desired.  We could use time stamps in place of spin counts.  I would expect that to introduce more overhead than a simple counter increment.  But the proposed patch is adding quite a bit of overhead and new code.

[2019-06-05 18:19] shefty commented on #5066
What we could test is using the existing code add a call to fi_gettime_us() in the EAGAIN path, and see how much that impacts the performance.  fi_gettime_us() calls gettimeofday() underneath.  If the impact is too high, we could also test by calling clock_gettime()  (see ft_start() in fabtests).  If either of these provide low enough overhead, they might work better than relying on a spin count.

[2019-06-05 19:33] jswaro commented on #5066
I'll drop those in and do some simple tests.

We don't need them per EP. I was following the behavior of the msg_cq_eagain_count variable from the original patch.

Progressing the CQ early is more an aspect of doing a priming read more than a tail-end. When progression is driving at a slower rate due to reduced calls to fi_cq_read, or maybe just a busier application, it makes sense to me to hit th

[2019-06-05 19:40] jswaro commented on #5066
To some extent, isn't busy polling expected with manual progress in providers where progression is not only done in software, but potentially handles operations that are not visible to the user such as software rendezvous replies?

I'd agree with that. It's hard to tell how often an application may call into progression functions, and what we really want here is a certain frequency for checking co

[2019-06-06 17:05] jswaro commented on #5066
I've been running OSU latency, OSU alltoall, and a few other tests this morning. The results between the approaches seem to be same. There is no discernible impact to latency or bandwidth with manual progress with either approach. I have verified that the mechnisms are in-use, so they function as expected. Additionally, for the failing test, connection setup times are better using the timing based

[2019-06-06 19:31] a-ilango commented on #5066
I usually run pingpong and all-to-all tests (with full subscription) to ensure there are no increased latencies. Let me run those tests against your PR on our labs to ensure everything's good.

[2019-06-10 14:41] rzambre opened #5080 "prov/psm2: Support for finer-grained locking"
I noticed that the `psm2` provider is only optimized for the `FI_THREAD_DOMAIN` threading attribute. So a multithreaded application or library (such as an MPI library) that uses multiple transmit/receive contexts within a scalable endpoint would not see any scaling in communication throughput even in the case where only one thread accesses a context. With the current implementation of the `psm2` p

[2019-06-11 14:44] #5066 closed

[2019-06-13 09:13] krehm opened #5086 "prov/gni: fi_readmsg asserts if fi_addr_t is incorrect"
If fi_readmsg is called with an incorrect fi_addr_t for the source PE, the GNI provider asserts with:

gnix_fr_free: Assertion `(fr->flags & FI_LOCAL_MR) == 0'

Function _gnix_rma() in prov/gni/src/gnix_rma.c calls _gnix_mr_reg() to register local memory and set the FI_LOCAL_MR flag.  A little farther down it calls _gnix_fc_ep_get_vc() to find the VC of the source PE for the read, but the bad fi_a

[2019-06-13 09:36] krehm commented on #5086
PR #5087 was just opened to fix this issue.

[2019-06-13 18:20] shefty opened #5090 "Release v1.8.0"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2019-06-13 18:20] shefty commented on #5086
#5087 was merged.

[2019-06-13 18:20] #5086 closed

[2019-06-13 18:24] shefty commented on #4974
Direct calls to ibv_fork_init() have been removed.  The only viable option is to use the verbs environment variable directly.  This is captured in the fi_verbs.7 man page.

[2019-06-13 18:24] #4974 closed

[2019-06-13 18:30] rajachan commented on #5090
Is the table on [this](https://github.com/ofiwg/libfabric/wiki/Provider-Feature-Matrix-master) wiki the right one to extend with EFA's caps/modes? I'll go do that if that's the case. Looks like the manpage bot overwrote some content in fi_efa's man7 since fi_efa.md was outdated, I'll fix that up too.

[2019-06-13 18:32] shefty commented on #5090
That's the correct wiki to update.  I'll create a v1.8 page from it.  The manpage bot will overwrite all man pages based on the markdown page.  So, you only need to update the .md file.  At least an empty man page must be included for new man pages (which you did) for the CI to pass the initial submission.

[2019-06-13 19:34] j-xiong commented on #5080
While it's true that locking is currently only automatically optimized for FI_THREAD_DOMAIN, it doesn't mean applications with other threading models "would not see any scaling in communication throughput" with other threading models. The locks are only used to protect critical data structures, not serializing all the operations. In fact, one can try set FI_PSM2_LOCK_LEVEL=0 to see the best possib

[2019-06-13 20:45] soumagne commented on #4974
Great, thanks!

[2019-06-13 22:30] rzambre commented on #5080
I see. My comment on scalable endpoint scaling performance was based on my experiment using `FI_PSM2_LOCK_LEVEL=1` with small message (8 bytes) transfers where I noticed all threads contending on the `av` lock (https://github.com/ofiwg/libfabric/blob/master/prov/psm2/src/psmx2.h#L1041). I didn't try with larger message sizes.

And yes, setting `FI_PSM2_LOCK_LEVEL=0` with 1 scalable endpoint (1 tx/

[2019-06-13 22:38] j-xiong commented on #5080
The av lock is more difficult to remove since the av table is a domain-scope resource and it could be updated by dynamic connection establishment even if all addresses have been inserted in advance.

[2019-06-14 17:02] hajimefu commented on #5080
Just trying to throw my random thoughts here; would it make sense to have a configuration option (such as envvar) to assert "this program will never use dynamic connection" so that the provider can avoid the av lock?

[2019-06-14 17:12] j-xiong commented on #5080
Static connection is only available with FI_AV_MAP, which doesn't work with multiple endpoints or scalable endpoint.

[2019-06-14 17:42] hajimefu commented on #5080
I see. Thank you for clarification.

[2019-06-14 17:45] shefty commented on #5080
From the link, it looks like AV_MAP is already lockless in this regard.

Is it possible to optimistically perform this check without holding a lock?
[code]
If successful, retrun the epaddr.  If false, acquire the lock, re-check, and take the next steps?

[2019-06-14 19:23] j-xiong commented on #5080
@shefty It's possible if all addresses have been inserted in advance (but how do we know?). Otherwise, during address insertion the tables could be reallocated. I looked into this in the past, but didn't come out with a good solution. Not sure if a read-write lock can really help the performance here.

[2019-06-14 19:29] shefty commented on #5080
If the array can relocate, I agree, we need the lock.  In the optimal case, the lock is held over a very small window.  The app does know that it is accessing a single resource (AV in this case) from multiple threads, so it should expect some level of serialization.  Any other solution I can think of would likely have just as much overhead or more as using a lock, and would probably end up not wor

[2019-06-19 01:59] soumagne opened #5102 "prov/tcp/rxm wrong handling of MR modes through RxM provider"
I'm not sure if that should be an RxM provider or a TCP provider issue or both but there is currently (in 1.8.0rc1) a very bad mismatch between MR modes set through hints when calling `fi_getinfo()`. For example, currently setting something other than `FI_MR_BASIC` or `FI_MR_SCALABLE` will result in an MR mode for the domain attr set to 0. This is mostly because of the routine `fi_alter_domain_att

[2019-06-19 03:13] soumagne opened #5103 "prov/tcp/rxm memory leak from asan"
This only occurs on the client side, server seems to clean up cleanly. Here is the trace:
[code]

[2019-06-19 16:01] soumagne opened #5104 "prov/tcp lock-order-inversion potential deadlock reported from tsan"
When using wait on fds, trace is below:
[code]

[2019-06-19 16:36] shefty commented on #5102
FI_MR_BASIC and FI_MR_SCALABLE are there for backwards compatibility.  If you switch to using the new mr_mode bits, then the provider can clear those bits when they are not required.  That is, if the app asks for FI_MR_BASIC, then the provider must either support that option as fully defined (use of virtual addresses, provider allocated keys, and buffers must be allocated), or fail the request.  T

[2019-06-19 19:33] shefty commented on #5103
@a-ilango - I tried to walk through the code here, but I couldn't figure out how the free is supposed to work.  rxm_conn_free() will free the allocated memory, but only if rxm_conn->msg_ep is not null.  I don't follow how free works in that case.

[2019-06-19 19:35] a-ilango commented on #5103
I'm looking at this. I have a fix for the reported issue here. I found one more leak reported by valgrind which I'm trying to fix.

The issue is rxm_conn not being freed when rxm_conn->msg_ep is NULL.

[2019-06-19 20:13] jsquyres commented on #2307
I was just reminded of this issue.  I particularly love [@shefty's last comment](https://github.com/ofiwg/libfabric/issues/2307#issuecomment-250322720).  😄

Given that we've been shipping `fi_pingpong` for a while, I'd say this issue can be closed.

[2019-06-19 20:13] #2307 closed

[2019-06-19 20:14] jsquyres commented on #5055
v1.7.2 shipped 5 days ago -- I assume the rest of this checklist got done...?  😇

[2019-06-19 20:14] soumagne commented on #5102
Hmm ok... so are you telling me that I am responsible for falling back to FI_MR_BASIC if I get a 0 in the MR mode bits field? I mean that's fine with me but I really don't think I should have to check whether providers are setting backward compatibility flags by default. I'm perfectly fine with providers clearing some of the bits that are not supported by default as long as things work :) but I wo

[2019-06-19 20:24] jsquyres commented on #5090
I have some (minor) suggestions for future libfabric releases:

1. Don't bother posting `.tar.gz` tarballs any more; just post the `.tar.bz2` file.
    * I don't think we can disable the generation of `.tar.gz` files by Automake, but there's really no point in posting them any more.
1. Don't post MD5 and SHA1 sums any more; they're too weak.
    * Using a single SHA512 sum should be sufficient the

[2019-06-19 20:43] shefty commented on #5102
I'm not saying the app is responsible for falling back to FI_MR_BASIC.  I'm saying if the app sets any of the mr_mode bits other than BASIC or SCALABLE, then it must be able to handle those bits being cleared by the provider.  Mode bits are a requirement on the application in order to achieve good performance, not the provider.

[2019-06-19 20:43] shefty commented on #5055
Close enough  :)

[2019-06-19 20:43] #5055 closed

[2019-06-19 21:20] soumagne commented on #5102
OK... well that seems pretty equivalent to me at the moment :) if I want FI_MR_BASIC behavior with the new bits, what am I supposed to do then? the tcp provider is going to clear all of the new bits anyway because it only sets FI_MR_BASIC | FI_MR_SCALABLE in the domain attributes... so basically what you're saying is that I should be prepared to be using the backward compatibility flags? What shou

[2019-06-19 21:42] soumagne commented on #5102
And I see what you mean and what I should do in that case and check for those bits before doing any operation but it still does seem odd to me and would force me to change behavior in doing RMA etc simply because a provider only supports the backward compatibility flags. Anyway I guess I'll just stick with the compatibility flags for now. I think you should document that the tcp provider only supp

[2019-06-19 23:31] shefty commented on #5102
I still think you're viewing the mode bits as opposite of their intent.  They are requirements *on the app*.  The tcp provider has *no requirements*.  The tcp provider supports all the flags.  It doesn't place additional requirements on the app.  This is equivalent to supporting the older 'FI_MR_SCALABLE' as the default.

Examples: TCP does not require that the application have physical memory bac

[2019-06-19 23:32] shefty commented on #5104
Update: We've spent a good deal of time looking into this.  There are a couple of issues that this uncovered that need to be resolved, and Venkat is working on fixes.

[2019-06-20 03:01] soumagne commented on #5103
Thanks for looking at it! Glad that was helpful.

[2019-06-20 03:01] soumagne commented on #5104
Great thanks for the update!

[2019-06-20 16:39] swelch opened #5108 "Util code remaining timeout calculation in loop can prematurely cause timeouts"
@a-ilango - In several functions (e.g. util_wait_fd_run(), ofi_cntr_wait(), ofi_cq_sreadfrom()) the timeout can be prematurely reached due to decrementing the timeout repeatedly within a loop based on the current time and start time. i.e. once there is delta between current time and start time that time is decremented from timeout every time through the loop. Instead it probably should maintain a

[2019-06-20 16:51] swelch opened #5109 "When using rxm/verbs when fi_cntr_wait() is called the receipt of EQ events is not causing progress"
@a-ilango - I see that the EQ FD is added to the counter wait object. What I'm seeing is that when fi_cntr_wait() is called, that in the call util_wait_fd_run(), fi_epoll_wait() returns 1. The loop then continues and the call wait->util_wait.wait_try() returns 0, so the code then calls fi_epoll_wait() again (which returns 1 again). This repeats until the timeout occurs.

[2019-06-20 17:31] a-ilango commented on #5109
That's weird. Are you able to see if we get any event on EQ or CQ read as part of calling the try function? If they return events, the try function should return EAGAIN and the control should exit the loop.

[2019-06-20 17:33] shefty commented on #5108
I will look into this.

[2019-06-20 19:23] soumagne commented on #5102
Thanks for the explanation, it does correct my view. Now though if I take word for word what you said:

That's exactly when problems started to occur for me because I was not passing the base address as 0, and if I do that and exchange keys etc then I get errors telling me that my RMA descriptor is not valid because `ofi_mr_map_verify()` returns `-FI_EACCES` in that case when it does that check:
[

[2019-06-20 19:32] swelch commented on #5109
That was my thought too :)

I might see the error: It looks like the Verbs message provider trywait, fi_ibv_trywait(), always just assumes we are ready to wait if the class is FI_CLASS_EQ. So I think it will return 0 regardless if the EQ FD is ready and so we will not get the EAGAIN to break out of the loop.

[2019-06-20 19:32] shefty commented on #5102
Correct.  If FI_MR_VIRT_ADDR is 0, then you should provide a base address of 0 to the peer.  Otherwise, the base address is the VA of the buffer.  You should always be able to obtain the key using fi_mr_key().  If FI_MR_PROV_KEY has not been set, though, you'll need to ensure that a new key is generated for each registration.

[2019-06-20 19:48] soumagne commented on #5102
Great thanks! that was very helpful.

[2019-06-20 19:48] #5102 closed

[2019-06-20 19:49] shefty commented on #5104
See PR #5110

[2019-06-20 20:45] a-ilango commented on #5109
Hmm. So this would happen when only EQ has events.

Yes, that should work. Either that or modify verbs EQ trywait code to check rdmacm EQ and enqueue any events to the internal software EQ. @shefty any thoughts on this?

[2019-06-20 22:15] shefty commented on #5109
Does the EQ have an existing SW queue associated with it?  If so, then trywait should return EAGAIN if there is something queued on it.

I can't think of an issue breaking out of util_wait_fd_run() if poll > 0.  I would try that approach first.

[2019-06-20 22:28] a-ilango commented on #5109
I think the reason to call trywait again was probably to avoid any spurious wakeups? I can update verbs provider EQ trywait to check the SW queue for any available events.

[2019-06-20 22:50] a-ilango commented on #5109
It seems we would also need to read events from rdmacm event channel in case the SW queue is empty. As we won't know the size of the event being received, I think it's probably better to go for the other approach (skip trywait when poll > 0).

[2019-06-20 22:53] swelch commented on #5109
We need to handle when only eq->channel RDMA CM fd is ready, that EAGAIN is returned in trywait (or return when poll > 1 and skip trywait). Is checking only the SW queue enough?

[2019-06-20 22:55] swelch commented on #5109
@a-ilango - Sorry, did not see your above post. Please disregard.

[2019-06-21 03:53] #5103 closed

[2019-06-21 14:22] #5108 closed

[2019-06-21 20:07] #5109 closed

[2019-06-24 17:35] jswaro opened #5122 "prov/rxm: rxm provider crashes while reposting recvs during MPI Finalize"
The messaging ops on the endpoint are null, so fi_recv hits a null pointer resulting in a segmentation fault.

@a-ilango Is there something that would cause the ops to change on the rxm_ep->msg_ep? This is using libfabric build from this commit: af793dae7
The problem was discovered with that build, but may have existed prior to that commit.

[code]

[2019-06-24 17:35] jswaro commented on #5122
@swelch  FYI

[2019-06-24 17:52] shefty commented on #5122
This may be a use after free condition.

[2019-06-24 17:54] jswaro commented on #5122
[code]
Taken from stack frame 0

[2019-06-24 17:57] shefty commented on #5122
The fclass is invalid, which also suggests use after free -- or access to completely corrupted memory.

[2019-06-24 18:00] a-ilango commented on #5122
@jswaro What version of mpich is this with? I'm trying to reproduce the issue.

[2019-06-24 18:06] jswaro commented on #5122
[code]

[2019-06-24 18:06] jswaro commented on #5122
The msg_ep is busted, but the ep looks sane still.

[2019-06-24 18:08] jswaro commented on #5122
@a-ilango I'll try to get you an answer regarding MPICH.

[2019-06-24 18:10] soumagne commented on #5104
Confirmed this is fixed on my end. Thanks!

[2019-06-24 18:10] #5104 closed

[2019-06-24 18:28] shefty commented on #5122
I don't see anywhere in the code where the repost_ready_list is cleaned up when the underlying msg_ep is closed.  Since MPI is in finalize, I'm guessing it is trying to clean up here, but progress may still be being driven.  I though this was a problem that we've seen before and was addressed.  But I don't see that repost_ready_list is cleaned up, so I must be confused?

FWIW, the tcp provider jus

[2019-06-24 18:39] a-ilango commented on #5122
I think this fix (https://github.com/ofiwg/libfabric/pull/4959) wasn't added to master. I'll prepare a patch.

[2019-06-24 18:49] a-ilango commented on #5122
I've opened #5123 to address this issue. @jswaro can you please verify if that fixes the issue?

[2019-06-24 18:59] jswaro commented on #5122
Definitely. I'll get back to you within the hour.

[2019-06-24 19:27] jswaro commented on #5122
Good stuff @a-ilango . Looks good, fixes the problem, and I've got a happy MPI user. All pluses in my book. Thanks for finding it.

[2019-06-24 19:29] a-ilango commented on #5122
Haha great! Thanks to @shefty for pointing the right direction.

[2019-06-24 19:55] jswaro commented on #5122
Thanks @shefty

[2019-06-29 02:09] #5122 closed

[2019-06-29 03:26] #5090 closed

[2019-07-02 11:47] Roberciiik opened #5149 "verbs: fi_getinfo returns error "No data available" on kernel 5.1"
Hi,

I'm trying to implement RDMA server using libfabric. Library works fine on kernel 4.15 but when I updated kernel to version 4.20 or 5.1 I noticed libfabric function `fi_getinfo()` returns error with message "No data available". There was no code/configuration changes between kernel updates so it looks like libfabric could not handle new environment somehow.

I'm not sure but newer kernel does

[2019-07-02 16:38] shefty commented on #5149
libfabric does not use ib_ucm, even indirectly.  What do you see when you run ibv_devinfo?  Are there devices present with links active?

[2019-07-03 08:43] Roberciiik commented on #5149
[code]

[2019-07-03 15:03] shefty commented on #5149
Is ipoib installed and configured for mlx5_0, port 1?

Can you also check the output from fi_info?

[2019-07-04 15:52] Roberciiik commented on #5149
I have not configured ipoib, but on kernel 4.15 libfabric works without any additional configuration.

I printed few field of fi_info structure for the same machine on kernel 4.15 and 4.20:
#### 4.15 hints parameter:
[code]

4.15 fi_info returned from fi_getinfo
[code]

After reboot and selection of next kernel.

4.20 hints:
[code]

4.20 fi_info returned from fi_getinfo is `null`

If you want to c

[2019-07-08 15:17] shefty commented on #5149
Can you run the fi_info command on the 4.15 and 4.20 versions?  Also, provide the output of 'ip addr'.  What rdma-core package are you using?  Is this one from the distro?

[2019-07-10 09:21] Roberciiik commented on #5149
Hi, as `fi_info` you meant utility tool from libfabric?
4.15 `fi_info` output:
[code]

4.20 `fi_info` output:
[code]

4.15 `ip a` output:
[code]

4.20 `ip a` output:

[code]

I'm not sure which rdma-core is installed but probably it is a version comming from Mellanox OFED
`find / -name *rdma_core*` output:
[code]

[2019-07-10 14:12] jswaro commented on #5149
Was rdma-core installed on the 4.x system?

[2019-07-10 16:19] shefty commented on #5149
I suspect this is an issue with the underlying RDMA software, but I still don't see the issue.  Yes, I meant the fi_info utility that you ran.  Can you re-run with "-p verbs" option (to filter out the non-verbs output) and -v?  This will produce too much output, so all I'm looking for is the src_addr.

For 5.1, can you also run with "FI_LOG_LEVEL=debug fi_info -p verbs -v".  That will produce some

[2019-07-10 16:23] jswaro commented on #5149
Possibly. What I'm getting at with my question is an issue with rdma-core that I've personally observed. There seems to be a missing function pointer from the rdma-core implementation that prevents use with the verbs provider. It works with the Mellanox OFED downstream RPMs, but not with the upstream RPMS (rdma-core).

[2019-07-10 16:42] jswaro commented on #5149
The device is a ConnectX-4, but the device label is mlx5_0. I'd be curious to know what library it is using under the covers of libibverbs, libmlx4, or libmlx5. If libmlx5, there is no function pointer defined for ibv_open_qp within the provider -- and that's the problem I've observed.

So my question relates to the content of the 4.15 system. Is it using downstream RPMS? If so, that might be why

[2019-07-11 13:52] Roberciiik commented on #5149
I'm not sure how to check the installed version of rdma-core. I think that there is rdma-core coming from OFED as my search showed. It is installed on both kernels (as it is the same machine but I change grub option to switch kernel version).

`FI_LOG_LEVEL=debug fi_info -p verbs -v` in 4.15:

[code]

`FI_LOG_LEVEL=debug fi_info -p verbs -v` for 5.1:

[code]

[2019-07-11 14:42] jswaro commented on #5149
For the RPM question,

That's from the 4.20 log output.

It may help to limit the output of debug to a specific provider. You can do that by exporting FI_LOG_PROV=verbs

[2019-07-11 19:23] shefty commented on #5149
Tagging @a-ilango to bring him into this discussion.

[2019-07-11 19:40] a-ilango commented on #5149
@jswaro how do you say the device is ConnectX-4? If it's using the wrong libmlx* library may be that needs to be fixed first.

This seems like the root cause to me as I see the following line in 5.1 kernel:
[code]

[2019-07-12 14:19] jswaro commented on #5149
The PSID of device in the logs that was provided above is for a ConnectX-4.

[2019-07-12 14:54] Roberciiik commented on #5149
As it is Ubuntu, there are no RPM packages. However I run similar command with dpkg. Looks like rdma-core and libibverbs are coming from OFED. Same versions are installed on 4.15.
[code]
And for ibverbs:
[code]

[2019-07-12 15:01] jswaro commented on #5149
Ok, those packages seem right for downstream MOFED. Can you run simple ib_write_bw tests successfully?

[2019-07-15 08:47] Roberciiik commented on #5149
Hi, I run `ib_write_bw` from `/usr/bin` on 4.15 and 5.1:
[code]

Do you know how to enable ib port? Or which device should I select to this tests?

[2019-07-16 07:11] tanghaodong25 opened #5164 "prov/psm2: psm2_finalize"
Hi,

We would like to use libfabric psm2 prov in our application but hit the eager message issue. One of our use cases is to
reinitialize psm2 in **one process**, which means call fi_fabric -> fi_close(&fabric->fid) -> fi_fabric.

The error message is:
Received eager message(s) ptype=0x1 opcode=oxcc from an unknown process.

After reading the code, we find psmx2_fini() will only be called when exi

[2019-07-16 19:55] jswaro commented on #5149
If the application is selecting mlx5_1, I wouldn't be surprised at that message. Try this

`ib_write_bw -d mlx5_0`

Add additional parameters as needed such as -x for selecting the appropriate GID if necessary.

[2019-07-16 21:29] krehm opened #5166 "prov/gni: memcpy() of SMSG data to recv or multi-recv buffer using incorrect length"
Routine __gnix_msg_copy_data_to_recv_addr() was recently changed because an incoming message larger than the matched recv or multi-recv buffer would result in buffer overflow.   The reverse problem is now occurring, the recv buffer's req->msg.cum_recv_len is now being used for the length of the memcpy(), when the incoming SMSG is only a hundred bytes long.

The memcpy() should be called with the m

[2019-07-17 14:18] krehm opened #5169 "prov/gni: problems with routine __gnix_msg_unpack_data_into_iov()"
I am unfamiliar with this code, so I will only point out what I believe are
problems with the implementation of routine __gnix_msg_unpack_data_into_iov,
and will leave any required code changes to be made by others more familiar
with the code.

The routine is written using static variables i, cum_len, and offset.  The
expectation seems to be that the routine will be called multiple times in a
row

[2019-07-17 15:05] Roberciiik commented on #5149
Hi,
Thanks for helping with device name!

So, on the same machine when 5.1 kernel is loaded, I run loopback test on two consoles:
[code]
And for client console:
[code]

Same host with 4.15 kernel loaded works correctly:
[code]
And client:
[code]

[2019-07-17 15:08] jswaro commented on #5149
Ok, so what you've got here is a content/RPM/configuration issue. The verbs provider couldn't  initialize if the underlying software stack is broken from the start. The 'ib_write_bw' test is a lower-level infiniband test provided with perftools for the purpose of simple benchmarking -- and some diagnostic usage. Since that fails, I'd say that there are kinks to be worked out that are unrelated to

[2019-07-17 15:11] jswaro commented on #5149
I'd refrained from asking earlier because it seemed strange, but what is the result of the following on your 5.1 kernel?

[code]

[2019-07-17 15:43] Roberciiik commented on #5149
[code]

[2019-07-18 02:26] #5166 closed

[2019-07-22 07:38] Roberciiik commented on #5149
Do you have any idea where I should ask for this low-level infiniband stack issue?

[2019-07-22 13:27] jswaro commented on #5149
I'd start here: https://github.com/linux-rdma/rdma-core

[2019-07-22 13:27] jswaro commented on #5149
Or contact Mellanox.

[2019-07-22 21:33] rajachan opened #5182 "prov/shm: Failing fi_rdm unit tests"
When running fabtests against the `shm` provider, I noticed it was failing the fi_rdm unit test:

[code]

With debug logs:
[code]
The shm_open() call is failing with `ENOENT`. All other fabtests are passing just fine.

[2019-07-22 21:39] aingerson commented on #5182
The shm provider fails the negative tests because it allows for any destination address as an acceptable address which gets converted into a shared memory region name. When the provider tries to "connect" to a peer with a bad address and fails, it will just wait until the peer initializes its shared memory region. With negative tests, this doesn't work since it won't detect the bad address in the

[2019-07-22 21:40] aingerson commented on #5182
We could also add a timeout of some sort to stop trying to connect to a peer after X seconds/tries

[2019-07-22 21:53] rajachan commented on #5182
Got it, that makes sense. You might want to add this test to the shm exclude list then.

[2019-07-22 21:55] aingerson commented on #5182
That's a good idea. I'll do that right now. Thanks!

[2019-07-22 22:00] aingerson commented on #5182
Just remembered why I didn't add it to the exclude file - the negative tests are just unit tests that input bogus destination addresses so there's not a great way to omit them in the exclude files since they look for arguments in each test.

[2019-07-25 17:14] krehm opened #5188 "prov/gni: CQE error posted to the wrong endpoint CQ"
My application crashed because it received a CQE error on the send CQ for an endpoint where no message had been sent.     In fact, the error was for an incoming rendezvous message landing in a multi-recv buffer.

As part of rendezvous, gni libfabric issues a PostRdma() request to retrieve the rendezvous data from the originator of the message.   If that request fails, e.g. memory permission error,

[2019-07-26 15:13] tenbrugg opened #5191 "prov/gni: regression due to 0b8cabe63 (change to FI_EADDRNOTAVAIL handling)"
The change in

0b8cabe63 prov/gni: Only generate FI_EADDRNOTAVAIL if FI_SOURCE_ERR specified

causes a regression in some cases. An error entry is no longer generated although it should be because a message came in from an unknown source, i.e a source which was not in the AV table. Backing out the above mod resolves the issue.

[2019-07-27 19:05] #5188 closed

[2019-07-30 15:42] shefty opened #5197 "segment fault regression issue for linux container"
The following report came from Honggang Li:

============
commit 8ce14923ba672cd914b900c33b1492f26de57eb8
Author: Sean Hefty <sean.hefty@intel.com>
Date:   Wed May 1 04:05:17 2019 -0700

    core/mem: Obtain a list of available huge pages in system
============

It seems this commit introduces a segment fault regression issue for
container.

After insert some copies of 'fprintf' function in the so

[2019-07-30 17:33] j-xiong commented on #5164
psm2_init / psm2_finalize are not supposed to be called more than once. The library is initialized when fi_getinfo is called the first time. There is no re-initialization in fi_fabric. The error message you saw is more likely caused by reusing endpoint id w/o cleaning up old connection status. Currently there are two possible way to work around this: one is to set FI_PSM2_DISCONNECT=1. This will l

[2019-08-02 14:44] rzambre commented on #5080
I am curious -- what is the reason `FI_AV_MAP` cannot work with multiple endpoints or scalable endpoints?

[2019-08-02 15:02] hzhou commented on #5080
@j-xiong Could you elaborate on that?

I am working with @rzambre and currently experimenting with using multiple `fi_domain` each with scalable endpoints. It scales quite nicely with specific micro-benchmark. But as I trying with an actual application where the communication pattern is more ad-hoc, I hit this weird "bug" that a single `fi_tinjectdata` may take up to a couple seconds. A further di

[2019-08-02 15:31] hzhou commented on #5080
... a further dig down reveal that `psmx2_av_query_sep` need send a am message to the dest -- which makes sense -- and it is the latency in that am message dominates the profile. That is in the midst of multiple on-going busy communication context, which again seems possible.

So back to the original question, it really become desirable to pre fetch all the av_map at init time, why that isn't poss

[2019-08-02 16:39] j-xiong commented on #5080
The mapped address in PSM2 depends on both local endpoint and remote endpoint and therefore is not unique for a destination if multiple endpoints are used. AV table is needed in order to hide the multiple mapping and create a unique address. Scalable endpoints are emulated with multiple endpoints and thus are in the same situation.

AV table is implemented with dynamic connection, with the expecta

[2019-08-02 16:55] hzhou commented on #5080
Thx @j-xiong . That makes sense. I guess once the application knows its need, it can simply send collective ping message to pre-establish all the connections, that provides a better scalability than asking libfabric to always establish connections.

My only advice is to explain this underlying mechanism better in the libfabric man pages.

[2019-08-04 08:23] tanghaodong25 commented on #5164
Great! thanks for your info, we'll try both of the suggestions in our application and give the feedback.

[2019-08-06 16:44] #5197 closed

[2019-08-06 19:47] jswaro opened #5212 "core: libfabric does not advertise supported data length for RMA writedata operations"
Verbs only supports 32 bits of immediate data. If an application attempts to send 64 bits as given by the data field, it will be truncated by the provider to 32 bits.

Some options:

- The provider must emulate the send of the 'data' field _(I see this as ridiculously expensive for a provider to support)_
- libfabric could support advertising the amount of space that a fabric provider is capable o

[2019-08-06 19:51] jswaro commented on #5212
Nevermind, missed what I was looking for in the documentation.

[2019-08-06 19:51] #5212 closed

[2019-08-10 13:41] #5191 closed

[2019-08-28 18:15] jswaro opened #5227 "prov/rxm: MPI_Finalize fails with unknown cq error"
@a-ilango This might be related to #5123

When running a 100 node job, 1 rank per node with the osu_bcast benchmark, MPI fails to complete MPI_Finalize with a warning to the log.

This test passes with XRC, but fails with RC.

I have collected a stack trace at the point that the invalid key warning is generated:
[code]

[code]

[2019-09-03 13:37] krehm opened #5232 "prov/gni: memory leak in multi-recv buffer handling"
While doing memcheck testing with valgrind, I found that a large amount of memory was being leaked when using multi-receive buffers.   The problem is in two routines, __smsg_eager_msg_w_data() and __smsg_rndzv_start().   Both routines call __handle_mrecv_req() to determine if the matched buffer is multi-receive or not.   Bool variable multi_recv is set to true if the buffer is multi-receive.  Late

[2019-09-03 17:02] krehm opened #5234 "prov/gni: progression thread exhibits high latency"
Over the past several months I have been testing gni libfabric with a client/server application, trying to find the sources of all latency that occurs with messages sent from client to server and back again.  Using a Cray-XC, I ran UGNI library ping-pong benchmarks showing that an initiator can get its send CQE back for a sent message back in just a hair over 1 usec, and a ping-pong round trip of

[2019-09-03 17:04] jswaro commented on #5234
In general, I believe those usleep calls should probably be a yield().

[2019-09-03 19:10] jswaro opened #5238 "prov/verbs,rxm: provider does not advertise FI_ORDER_RMA_* capabilities when using FI_ATOMIC"
While RXM doesn't have native atomics and cannot advertise the current set of ATOMIC orderings, it could advertise the RMA orderings.

@a-ilango @swelch

[2019-09-03 19:18] j-xiong opened #5239 "man: inconsistent statements about FI_MR_LOCAL and FI_MR_BASIC"
In the man page of fi_domain:

In the man page of fi_mr:

For reference, the current utility code for checking mr_mode bits doesn't allow FI_MR_LOCAL
to be used together with FI_MR_BASIC.

[2019-09-03 19:33] swelch commented on #5238
@jswaro - The breakout of the separate "FI_ORDER_RMA..." and "FI_ORDER_ATOMIC_..." order bits was added on 5/8/19, but RXM was not modified to make use of them when FI_ATOMIC limits the ordering. Yes, the restrictions required by FI_ATOMIC could take advantage of these bits to better advertise what can still be supported.

[2019-09-03 19:33] shefty commented on #5239
See #5236

[2019-09-03 19:34] shefty commented on #5238
I would expect RxM to pass through the RMA order bits from the underlying provider.

[2019-09-03 19:57] j-xiong commented on #5239
Thanks, that clears the confusion.

[2019-09-03 20:06] jswaro commented on #5238
[code]

[code]

[code]

In RxM init, if atomic is being requested, it strips the {R,W}a{R,W} bits.

[2019-09-03 23:26] a-ilango commented on #5238
@swelch are you planning to prepare a fix for this?

[2019-09-04 00:51] jswaro commented on #5238
Actually, I was planning to submit a PR for this. I just need to finish up some other work I have in progress.

[2019-09-04 01:23] jswaro commented on #5238
[code]

[2019-09-04 08:54] fsalem opened #5243 "[PSM2] Unhandled exception [PSM2_MQ_SENDREQS_MAX & PSM2_MQ_RECVREQS_MAX]"
While sending RDMA messages as fast as possible between client and server, I get one of these two exceptions (which are because of the same reason):
- Exhausted 1048576 MQ isend request descriptors, which usually indicates a user program error or insufficient request descriptors (PSM2_MQ_SENDREQS_MAX=1048576)
libfabric:135750:psm2:core:psmx2_fabric_close():48<info> refcnt=3
terminate called withou

[2019-09-04 12:38] carns opened #5244 "performance degradation for multithreaded verbs;ofi_rxm in 1.8.0"
I haven't been able to distill this into an easily shareable/reproducible test case, but we've encountered an extreme performance degradation (> 100x drop in throughput) when using verbs;ofi_rxm in some multithreaded scenarios in 1.8.0.  Performance is fine in 1.7.2, and performance is also fine in 1.8.0 if we run the workload in a single-threaded configuration.

The `perf` tool indicates that the

[2019-09-04 23:19] #5238 closed

[2019-09-05 12:13] carns commented on #5244
I was able to produce a proper call graph profile with help from @kevin-harms.  Here is an abridged version, in pdf form, showing the call paths that lead to spinlocks in libfabric:

https://drive.google.com/open?id=18BcdGYzzMowkYw6VoCayHLJw7MvPMwx_)

The workload that was executed to generate this caused a single process (a server daemon in this case) to issue quite a few concurrent memory regist

[2019-09-05 12:19] carns commented on #5244
I think these code locations are the key:

https://github.com/ofiwg/libfabric/blob/master/prov/util/src/util_mr_cache.c#L287
https://github.com/ofiwg/libfabric/blob/master/prov/util/src/util_mr_cache.c#L173

Naively I would guess that cache->monitor->lock simply needs to be a different kind of mutex (not a spinlock), but it's also possible that the code blocks that they protect are doing something

[2019-09-05 17:31] #5239 closed

[2019-09-05 18:04] j-xiong commented on #5243
RMA in the psm2 provider is emulated in one of two ways: for small size (up to a few kilobytes), it is done via active message. for large size, it is done using send/recv. The exception you observed should belong to the latter case.

For the large size case, completion at the initiator side is generated when the corresponding send completes. In order to ensure the data being delivered before gener

[2019-09-09 17:40] shefty commented on #5244
You can try setting the environment variable FI_MR_CACHE_COUNT = 0.  That will disable the memory registration cache.

[2019-09-09 20:58] DougSO opened #5257 "Need fi_cq_readfrom to work for connected EPs"
Using a Shared Rx context and 1 CQ with connected endpoints is very much like running connectionless: when a message is received, we don't have an easy way to determine the source of the message.  The CQ entry does not have the endpoint in it and AVs don't work with the TCP or verbs provider (thus you cannot use fi_cq_readfrom).

We need a way to get the functionality of fi_cq_readfrom() to work w

[2019-09-10 12:56] fsalem commented on #5243
Hi,

Thanks so much for your response. The server just sits idle and the client keeps writing data in its memory. Regarding the FI_DELIVERY_COMPLETE flag and according the manpage (https://ofiwg.github.io/libfabric/v1.8.0/man/fi_cq.3.html), this flag applies only to reliable endpoints, which is not the case with RDM. Please correct me if I am mistaken.

Thanks in advance

—
Best regards,
Farouk Sa

[2019-09-10 15:07] j-xiong commented on #5243
RDM is reliable endpoint and the FI_DELIVERY_COMPLETE flag applies.

If the server just sits idle, does it ask for auto progress? This can be done by setting hints->domain_attr->data_progress to FI_PROGRESS_AUTO. Progress must be made in some way to get the large size RMA protocol working.

[2019-09-10 15:40] carns commented on #5244
Thanks @shefty , I'll try that and see if it confirms the source of the problem.  The system that I was reproducing this on has been down for maintenance so I haven't been able to look at it in a few days.

[2019-09-11 15:20] lflis opened #5263 "prov/verbs: feature request - support for defining PKEYs and SL"
Some HPC sites are using QOS for Infiniband to assure priority for MPI traffic.
This requires ability for defining PKEY or SL in communication layer. PKEY defines which infiniband partition to use, SL defines Service Level field in LRH header which is used for mapping traffic classes to Virtual Lanes.

Examples:
 - DAPL  - allows seting pkey or sl via DAPL_IB_PKEY and DAPL_IB_SL environment vabiab

[2019-09-11 15:32] jswaro commented on #5263
I believe that authorization keys were design with the pkey feature in mind, as well as others.
You might also find #5148 to be a potential starting point for setting the IB service level within the provider.

[2019-09-11 15:35] lflis commented on #5263
@jswaro thanks for pointing this out. I'll have a look how this can be used for setting pkeys however ability to set SL independently might be desired in some situations

[2019-09-11 15:52] jswaro commented on #5263
No problem. Verbs doesn't currently support authorization keys but it should be relatively simple to add it. Traffic classes/Service level are a coming feature that is not fully fleshed out yet, but should work for what you need here.

[2019-09-11 17:40] shefty commented on #5263
Having QoS controls aligns with the design goals.  The traffic classes being defined now are a better fit for specifying QoS than authorization keys.

A couple of notes:  The pkey is determined based on the mapping of the IP address.  SL really needs to be a protected value, with the setting controlled by the kernel or some privileged entity.  The app can request an SL, but should not be able to s

[2019-09-11 17:54] shefty commented on #5263
If there's a mapping from the user space SL to a kernel SL, that's new since I last looked (which, granted, has been a long, long time now).  In any cast, I believe the SL can be controlled indirectly by assigning an SL to a service_id / port range at the SA.

[2019-09-11 18:05] shefty opened #5265 "v1.8.1 release"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2019-09-11 18:54] lflis commented on #5263
@shefty in the most recent OFED  (MLNX_OFED_LINUX-4.6-1.0.1.1) on Centos 7.6 there is no restriction such. When creating QPs as a user you can select any SL from 0-15, and if there's no mapping for portrange/ulp in subnet manager, ib packets will leave HCA with a desired SL number in LRH header.
Confirmed today with Intel MPI (DAPL transport) run as unprivileged user on one of our clusters

[2019-09-12 00:46] carns commented on #5244
Hi @shefty, I tried setting FI_MR_CACHE_COUNT=0 and it didn't seem to have any effect (the performance still collapsed in the multithreaded test case).  I've opened a pull request linked to this issue that just swaps out the spinlock for a mutex and now performance is as expected.

[2019-09-13 12:37] carns commented on #5244
Confirmed the `FI_MR_CACHE_MAX_COUNT=0` behavior!  My build isn't precisely 1.8.1rc1; it is a snapshot of origin/master that is very similar.  Regardless, if I set that environment variable, then it exactly matches the performance that we were seeing in 1.7.1 for this workload.

That's a welcome workaround for us.

I would be curious if there is a way to have a cache without serializing registrati

[2019-09-13 15:57] shefty commented on #5244
That's good to hear.

I've already starting thinking about how to avoid full serialization when going through the cache.  You're correct that the serialization is there to handle same and overlapping regions.   So some sort of state would need to be maintained to know if a registration is in process, and only overlapping regions need to serialize.

Locking at a per region level might work, provide

[2019-09-13 20:14] #5244 closed

[2019-09-16 18:26] wckzhang commented on #5244
I wanted to add a point:

In 1.7.0, verbs was incorrectly using the cache. The cache calls required locking around them, which verbs was not doing. Thus it was performing the operations in a non thread safe manner.

Thus the main difference in 1.7 and 1.8 is that verbs did no locking at all in 1.7 and it does locking in 1.8

I do recommend not using 1.7 for multi threaded applications due to this

[2019-09-16 18:38] shefty commented on #5244
The cache was disabled by default in 1.7.  It has other issues (like doesn't really work) even without the multi-threaded problems.  1.8 has an entirely different cache implementation and is enabled by default.

So, 1.7 should be usable as-is.  It's only the enabling of the cache that causes issues.

[2019-09-16 19:37] wckzhang commented on #5244
Ah makes sense, I forgot verbs had it disabled by default before as well.

[2019-09-18 02:06] #5232 closed

[2019-09-18 19:36] mwheinz opened #5287 "PSM2 MTL can corrupt data when messages are larger than 4g"
This was originally reported as an OMPI issue, https://github.com/open-mpi/ompi/issues/6976

Basically, PSM2 does not support messages greater than 4g in size, but the PSM2 provider in OFI does not check for this limit.

[2019-09-18 19:50] mwheinz commented on #5287
I have a test patch but it is not working quite as expected.  Any advice would be appreciated. I created pull request https://github.com/ofiwg/libfabric/pull/5288 to show the experimental patch.

[2019-09-23 18:34] yulujia opened #5296 "prov/rxm: server_sock_accept() error"
using commit: 3712eb04919fb9542659da326d295734d974013d

I ran a test we have using the tcp provider, after the clients connect/disconnect for a few cycles, the server side starts to print out a lot of messages like the following, and test gets stuck:

= = = = = = = = = = = = = = = = = = = = = =
libfabric:128018:tcp:ep_ctrl:server_sock_accept():395<warn> accept error: 24
libfabric:128018:ofi_rxm:ep

[2019-09-23 18:47] shefty commented on #5296
Updated issue title to refer to rxm provider, since that's the top level provider in use based on the log.

[2019-09-23 18:49] shefty commented on #5296
Can you describe the test in more detail, specifically the part about disconnecting?  RxM is referenced in the logs, which uses RDM endpoints.

[2019-09-23 19:04] yulujia commented on #5296
the test starts 4 server processes on 4 different nodes. on a 5th node, 16 client processes are launched. These clients obtain server address through an out-of-band mechanism (PMIx), do some business, then exit. The clients go through this (launch, do something, exit) loop for 5 or 6 cycles fine, then the server side starts to print out those messages. So the clients disconnect by simply exiting.

[2019-09-23 20:25] shefty commented on #5296
Does the test use RDM EPs?

[2019-09-23 20:57] yulujia commented on #5296
I believe so. We use Mercury, it passes  FI_EP_RDM as a hint to fi_getinro():
 https://github.com/mercury-hpc/mercury/blob/f0b9f992793be46f1c6ae47b30d1c3ccb525cfbf/src/na/na_ofi.c#L1395

[2019-09-23 21:03] shefty commented on #5296
Sounds like either an issue in the app or provider not updating the AV correctly to remove old addresses.  @a-ilango - Does rxm detect when the underlying connection to a specific peer address changes?  @yulujia - Do you know if the clients request the same local address, or are happy getting a system assigned one?

[2019-09-23 21:14] a-ilango commented on #5296
RxM can detect connection changes (assuming the underlying provider throws FI_SHUTDOWN event).

The error code: 24 (EMFILE: too many open files) suggest the server program is hitting a limit in # of open file descriptors. @yulujia can you check the "ulimit -n" on the system and try increasing it?

[2019-09-23 21:19] shefty commented on #5296
I'm guessing that the server is building up a large number of disconnected sockets inside the rxm av.  Unless something tries to use those sockets (e.g. send a message on them), I don't think anything will detect that they are no longer usable.  Increasing ulimit may just move the problem out X more connections.

[2019-09-23 21:26] a-ilango commented on #5296
If the sockets are disconnected they shouldn't count towards the ulimit, right? I think just having those "stale addresses" in AV shouldn't cause an issue.

[2019-09-23 21:31] shefty commented on #5296
The app still has a valid fd for the socket.

[2019-09-23 21:39] a-ilango commented on #5296
Sorry, I didn't realize this issue is observed in the specific commit that postpones the closing of fds. That can result in hitting the fd limit.

[2019-09-23 23:11] yulujia commented on #5296
@shefty

the clients are happy with a system assigned address. Each client process uses a different URI in each client run.

@a-ilango

ulimit -n shows me 1024. I set it to 4096 by ulimit -n 4096 and re-run the test, this time the server side doesn't print out the warning message, but on the 26-th run the client got stuck, the cient log shows this message repeatedly:

na_ofi_msg_send_unexpected():

[2019-09-23 23:27] a-ilango commented on #5296
That's weird. You could turn on logging (FI_LOG_LEVEL=warn) to see if that shows any issue.

Yes, I believe if you tried one commit before 59beba9419adf2ae2dfd7f91598fe7efe78519da you may not hit the issue.

[2019-09-24 00:20] yulujia commented on #5296
@a-ilango using commit ca7f08c03 and ulimit -n 4096, I still get a similar message on the 28-th or 29-th client run:

na_ofi_get(): fi_readmsg() failed, rc: -113(No route to host)

[2019-09-24 00:24] a-ilango commented on #5296
But you don't see the -24 error code anymore, right?

[2019-09-24 14:21] tonyzinger opened #5301 "fi_endpoint: TRANSMIT CONTEXT ATTRIBUTES: size description is wrong, should be maximum not minimum"
In the fi_endpoint man page, the TRANSMIT CONTEXT ATTRIBUTES section describes the various attributes.  For the 'size' description, it states:
    The  size of the context.  The size is specified as the minimum number of transmit
     operations that may be posted to the end-point without the operation returning -
     FI_EAGAIN.****

The statement says "minimum" when it should be "maximum" number

[2019-09-24 15:38] shefty commented on #5301
Minimum is intended.  The provider can size the endpoint larger, such as rounding up to the next power of 2.

[2019-09-24 15:47] tonyzinger commented on #5301
As an application programmer, if I try to send equal to or more than "size" messages, I receive the fi_eagain error.  This means that it is the maximum number of messages that can be sent before a receive needs to be done to accept the messages.

Yes, the provider can change this value to whatever they want to.  But this is still the maximum number of outstanding messages that can be sent at one t

[2019-09-24 16:12] yulujia commented on #5296
right, I didn't see the  -24 error code.

[2019-09-24 23:29] a-ilango commented on #5296
Can you share the logs for this test? If FI_LOG_LEVEL=warn doesn't show any issue, bump it up to FI_LOG_LEVEL=debug (libfabric needs to be configured with --enable-debug for this).

I'll work on a fix to address the -24 error.

[2019-09-25 19:38] a-ilango opened #5305 "RFC: make CQ and EP progress functions take a max_count arg"
If we make CQ and EP progress functions types take a maximum # of completions that may be needed, as an argument, the provider may be able to optimize for bandwidth by reading more completions (if available) from a lower layer. The max_count can be same as the count arg passed to fi_cq_read.

In some cases, a ofi_cq_count function may be needed to check how many completions have been accumulated s

[2019-09-25 22:07] shefty commented on #5305
This could work, but I'm just trying to understand how much it helps.  I don't see a strong drawback, and it would allow a single env var control the progress for any provider that uses the common path.

Anyway, some thoughts:

CQ progress calls EP progress for all EPs.  I don't know that passing a count from the CQ to the EP helps.  For example, we would still need to call progress on each EP, re

[2019-09-25 22:23] a-ilango commented on #5305
Actually, I would not want an env variable as apps already have control over how many completions  they want per fi_cq_read call. By re-using that arg, existing RxM env variable can be eliminated. This makes sense unless upper layer middleware wants such a run-time option.

...

No need to skip progressing an EP just because a previous EP generated enough completions. The objective of the max_coun

[2019-09-25 22:36] shefty commented on #5305
Assuming that cnt is updated after calling ep->progress(), and we stop calling ep->progress() once we have cnt completions, this changes the progress model.  So, we would need to track which ep would be the next one to call to avoid starvation.  Adding support for ofi_cq_count adds more overhead to every completion.

For closing the MSG EP, don't you just need to read everything off the CQ associa

[2019-09-26 00:36] shefty commented on #5301
In your provider's case, the minimum equals the maximum (with a possible off by 1 error).  You should be able to send at least 'size' messages before getting EAGAIN.  It's intended as a lower bound, not upper.

Note that EAGAIN can be returned for other reasons than the local queue being full. That should be indicated in the man pages in this area.

[2019-09-26 13:57] tonyzinger commented on #5301
Yes, my statement about "equal to the SIZE number of messages" was incorrect.  It should have been only "greater than" the SIZE number of messages.

After rereading the SIZE description, the problem in the documentation is using "minimum" and "without".

In the documentation, I believe it would be better worded as:
The size of the context. The size is specified as the MAXIMUM number of transmit
op

[2019-09-26 17:17] shefty commented on #5301
It may be useful to understand 2 specific examples of how size relates to HW resources.

Case 1: The size is the number of commands that can be written into a transmit queue.  Here, size is the size of the queue. Each transmit command consumes one entry.  This is the verbs HW model.

Case 2: The size is the number of iovec entries that can be written into a transmit queue.  Here, size is related t

[2019-09-27 16:05] krehm opened #5313 "prov/gni: use of –with-kdreg is incompatible with use of multiple domains"
![image](https://user-images.githubusercontent.com/20012172/65783906-70d44380-e116-11e9-8b92-a28c857aa7f3.png)

[2019-10-02 17:09] #5265 closed

[2019-10-02 18:20] #5287 closed

[2019-10-03 09:26] yilongli opened #5326 "prov/psm2: distributed deadlock when using scalable endpoint?"
Hi, I am trying to use the scalable endpoint feature in the psm2 provider but I run into a very annoying problem where a thread can take 5 seconds to send a small message. After searching the code base for keyword "5", I realize that it's the default value of `FI_PSM2_CONN_TIMEOUT`. Digging a little deeper in the source code, I figure out that the slow thread is blocked inside `psmx2_av_translate_

[2019-10-03 15:51] roblatham00 opened #5328 "switch GNI provider to use common MR code"
The GNI provider should use the common memory registration infrastructure.   Came up in discussion in this email thread: https://lists.openfabrics.org/pipermail/libfabric-users/2019-September/000558.html

[2019-10-03 16:18] shefty commented on #5326
Asking @j-xiong to look into this.  He's the best person for this code.

[2019-10-03 18:55] j-xiong commented on #5326
Although it's not ideal to make a remote query while holding the lock, the "distributed deadlock" scenario won't happen. The reason is that the active message mechanism used for the query doesn't depend on the av lock. The active message handler at the remote side can always send the reply -- it just may be a slow response if the load is heavy.

[2019-10-04 02:52] yilongli commented on #5326
Hi @j-xiong, thanks for your response. I understand that the active mechanism doesn't need the av lock but which if the remote thread responsible for running the active message handler is also blocked waiting for the av lock? For example, suppose there are two processes P1 and P2 and each process has two threads T1 and T2. When P1:T1 is in the middle of sending an active message to P2:T1, P1:T2 mi

[2019-10-04 16:04] j-xiong commented on #5326
That's a valid concern. However, unless explicitly disabled, the PSM2 library has an internal receive thread that will be able to call the AM handlers. If that thread is disabled (by setting PSM2_RCVTHREAD to 0) and OFI is set to use manual progress (i.e. the OFI level progress thread is not started), then the scenario you described can happen.

[2019-10-04 20:51] vschhabra opened #5331 "OFI Verbs does not have retry logic"
In the case of OFI Verbs there is no retry logic when a connection reject occurs. This is different from Sockets where OFI attempts retries after a connection is rejected.
out.log contains the OFI Debug trace for Verbs and outsock.log contains the trace for sockets.

[out.log](https://github.com/ofiwg/libfabric/files/3692288/out.log)

[outsock.log](https://github.com/ofiwg/libfabric/files/3692292/

[2019-10-04 22:34] jlbyrne-hpe opened #5333 "err_data handling in util_cq"
util_cq doesn't free any err_data if it is passed in; furthermore, if it were passed in we'd need to add handling similar to that exists in util_eq to make sure it was available to the consumer before being freed.

Sean Hefty suggested:
I agree that the EQ and CQ implementations should be closer aligned.

To 'fix' the CQ, I would add a new call, ofi_cq_write_error_data() that can take the err_data

[2019-10-04 23:54] shefty commented on #5257
I've started working on a patch for this.  After looking at this, IMO the best option is to define a new fi_cq_ep_entry format that can be used to report the local EP associated with a completion.  That appears to be the easiest for maintaining backwards compatibility and for apps to use.

[2019-10-05 01:35] yilongli commented on #5326
I have to disable the PSM2 receive thread for performance reason. I am not using MPI and I already have my own dedicated communication threads, so I don't need an extra communication thread to help me overlap communication and computation. I am also using manual progress for performance reason.

Any chance to fix this problem? For example, instead of using a blocking call to acquire the lock, what

[2019-10-05 02:35] j-xiong commented on #5326
The purpose of the PSM2 receive thread is not for overlapping communication with computation. It's for ensuring progress can be made when the application fails to make manual progress. The frequency that the receive thread is activated is pretty low.

The lock is in a critical path, replacing it with a loop of trylock plus progress calls can negatively impact the performance, including those appli

[2019-10-05 09:43] yilongli commented on #5326
Thanks for clarifying the purpose of the receive thread. I will have to take a closer look why it has such a significant performance cost to enable the receive thread in my application.

Yes, removing the lock from the critical path would be very desirable. On the other hand, I would like to have a temporary workaround to unblock myself. Is there a single progress call I can use after trylock? Tha

[2019-10-07 14:21] mkre opened #5335 "Libfabric hangs at startup with verbs provider"
Hi,

We are observing hangs at startup of our MPI application when Libfabric with the `verbs` provider is used across (at least) two nodes on a specific system:

- CentOS 6.5
- MOFED 2.4
- Mellanox Technologies MT27500 Family [ConnectX-3] network adapter
- Dual-socket Intel Xeon E5-2697v3 (28 processes per node)

The hang occurs both with
- Open MPI 3.1.3 with Libfabric 1.8.0, and
- Intel MPI 2019

[2019-10-07 14:43] rzambre commented on #5326
@yilongli one thing you could experiment with, if you haven't already, is setting the `HFI_NO_CPUAFFINITY=1` environment variable when you have the receive thread enabled. In my experiments, I have noticed not setting it to hurt performance.

[2019-10-08 08:58] bsteinb opened #5339 "include/osx etc. missing from fabtests release tarball"
I tried to install fabtests from the 1.8.1 release tarball on macOS, but could not. The `make` step complains about not finding `<osx/osd.h>` and indeed that file is not included in the release tarball. `include/freebsd` and `include/windows` are missing as well. Building and installing from the `v1.8.1` git tag works and allows me to run `runfabtests.sh` against the `sockets` provider with 71 pas

[2019-10-08 09:45] yilongli commented on #5326
@rzambre Thanks for your suggestion. I will give it a try when I get a chance to investigate why the receive thread hurts my performance so much.

[2019-10-08 15:17] shefty commented on #5339
Thanks - will fix.

[2019-10-08 16:19] jlbyrne-hpe opened #5340 "Progress issues in util_cq/cntr"
I see two issues:

1.)	The synchronous calls won’t execute the progress function once the they decide to sleep, so FI_PROGRESS_MANUAL does not work. This is absolutely true in util_cq, but not completely so in util_cntr since it sleeps in 50 ms intervals, but the 50 ms would be an unacceptable latency in any real use. Using the cntr wait loop as an example:

do {
                cntr->progress(cnt

[2019-10-08 22:17] a-ilango commented on #5335
You may want to try with more recent versions of the CentOS and/or MOFED. The logs show the connection requests are timing out but it's not obvious why. There could be some issue in the underlying RDMA stack.

[2019-10-09 11:21] mkre commented on #5335
Thanks, @a-ilango! Using a different MOFED version indeed does the trick. The issue seems to specific to MOFED 2.4. I have tried MOFED 1.5, 2.3 (direct predecessor of 2.4), 3.0 (direct successor of 2.4), and 4.6, and all of them are working. Strangely, Open MPI with UCX is also working with MOFED 2.4, so it seems to be an issue in the interplay of OFI/verbs and MOFED.

Are you aware of such issues

[2019-10-09 15:04] wckzhang opened #5347 "MR cache merge regions bug"
@shefty I was investigating a bug I experienced with userfault notifications when merge regions was enabled. I ended up tracking it down to these lines inside util_mr_free_entry.

[code]

Removing these lines causes the issue to disappear - which means that we are unsubscribing from regions that we still need to be receiving fault notifications from.

I have only experienced this issue with merge

[2019-10-09 16:13] shefty commented on #5347
Is this with master?  Nothing there stands out to me, which I agree is concerning and suggests that my logic is overlooking some problem.

[2019-10-09 16:13] wckzhang commented on #5347
Yes, this is with master.

[2019-10-09 16:36] wckzhang commented on #5347
We're going to upstream an ep unit test that has been catching the issue (with bounce buffers being registered during ep_bind). This unit test reproduces the issue with EFA and we will push a PR for it. We will try to get it upstreamed this week.

[2019-10-09 17:00] shefty commented on #5347
Thanks - that will help.  Btw, there is one test that tries to catch MR caching issues (see fabtest unmap_mem).  Expanding it may help catch this as well.

[2019-10-09 17:21] yulujia commented on #5296
@a-ilango @shefty have you got a fix for the -24 error?

for the -133 error, I enabled FI_LOG_LEVEL=debug and ran the test again, the ofi log is here: https://app.box.com/s/l7xsfrqxwj90dgayuoro7srcfpbp34ax

the corresponding error in the application debug log:
[code]

[2019-10-09 22:57] a-ilango commented on #5296
@yulujia can you try your test on #5348 ? That should fix the -24 error. The libfabric debug logs for the -113 error doesn't show anything problematic.

[2019-10-09 23:49] yulujia commented on #5296
@a-ilango with  #5348 I still see the -24 error:

[code]

Any suggestions on dealing with the -113 error?

[2019-10-09 23:58] a-ilango commented on #5296
I'm not sure about -113 error as libfabric logs doesn't show any issue. Can you trace where the error is coming from?

[2019-10-10 02:53] a-ilango commented on #5335
I see, so the problem is limited to MOFED 2.4. I'm not aware of such issue. We have tested OFI/verbs over only recent versions of MOFED.

[2019-10-10 05:03] rajachan commented on #5347
The unit test that William referred to is now up as PR https://github.com/ofiwg/libfabric/pull/5350

[2019-10-10 07:03] mkre commented on #5335
Okay, thanks! Could you possibly say what "recent" means? Is there any minimum MOFED version with which OFI is guaranteed to work?

[2019-10-10 18:30] mshiryaev commented on #5326
@yilongli, the receive thread frequency can be controlled by PSM2_RCVTHREAD_FREQ
https://www.intel.com/content/dam/support/us/en/documents/network-and-i-o/fabric-products/Intel_PSM2_PG_H76473_v_11_0.pdf (section 1.11.29)

[2019-10-10 22:06] a-ilango commented on #5335
@mkre I've tested with MOFED 4.6.-1, 4.5-1 and 4.2-1 and they work fine.

[2019-10-10 23:36] wckzhang commented on #5347
To give a more in-depth explanation of the bug that was being hit with merge regions enabled.

ep_open_max_simultaneous - Passes
- Opens at least as many endpoints as maximum advertised endpoints.
- Each endpoint is enabled which causes bounce buffers to allocate huge pages, which are registered by the application.
- Each buffer is munmap'd, only some of them get notifications, some of them notifi

[2019-10-11 00:18] shefty commented on #5347
Is there a chance this is specifically related to huge pages?  We're guessing what page size was used for an allocation (ofi_uffd_register).  If we guess wrong, I'm not sure what happens.  Or if a huge page can be broken by the kernel into multiple smaller pages...

[2019-10-11 01:46] wckzhang commented on #5347
I believe I disabled huge pages at one point and it still had the same problem. I will test it again.

[2019-10-11 02:14] wckzhang commented on #5347
On further investigation, huge pages disabled makes the test pass. I don't know if there's some sort of race condition involved though.

I also started printing the uffd register and unregister output (This is without huge pages). Sometimes it works, sometimes it doesn't..very strange:
[code]

[2019-10-11 02:35] yilongli commented on #5326
@mshiryaev Thank you. I am aware of that. The problem is that I don't really understand what the receive thread is doing and I have no idea how to set the thread frequency. Should I set the frequency higher to ensure low-latency communication? Besides, I already have dedicated communication threads doing busy polling, so I don't need the receive thread to help me make progress.

I am also using a

[2019-10-11 06:10] mkre commented on #5335
Awesome, thanks for your help!

[2019-10-11 06:10] #5335 closed

[2019-10-11 11:30] mshiryaev commented on #5326
@yilongli, it does receive side progressing, but this includes not only user messages but also service messages like acknowledgments. It does polling for each opened PSM2 endpoint in the loop. Just like example - if dedicated communication threads on app level are busy with other tasks, i.e. don't call poll and for example do reduction phase in mpi_allreduce, and receive thread is disabled then ha

[2019-10-11 16:33] shefty commented on #5347
I wonder if it really matters if the unregister call fails.  We've tried.  It would be nice to know why, but maybe this is an error we can skip?

[2019-10-11 18:08] wckzhang commented on #5347
We currently do just skip it...I would like to know why it fails when it really shouldn't.

[2019-10-11 18:47] shefty commented on #5347
Is there any useful error code with the failure?  I'm hoping the failure will help point back to whatever the other problem(s) might be.

[2019-10-11 18:55] wckzhang commented on #5347
Unfortunately not, it's just 22 (which it does if it's not page aligned as well).

[code]

I did find something interesting though...This failure also only happens with merge regions. If I turn merge regions off, it successfully passes the entire ep_open_close test without hitting this unregister bug. So this is also something that only appears with merge regions...odd.

[2019-10-11 20:50] zhngaj opened #5352 "prov/shm: FI_MR_VIRT_ADDR bit is dropped off if setting hints as FI_MR_BASIC"
shm provider has the default mr_mode as FI_MR_BASIC | FI_MR_SCALABLE. As per the spec, this mode is equivalent to the FI_MR_VIRT_ADDR, FI_MR_ALLOCATED, and FI_MR_PROV_KEY flags being set in later library versions. But once I set the hints to FI_MR_BASIC, FI_MR_VIRT_ADDR bit is dropped off. Therefore, the fast_rma_path can not be triggered.

Defined for compatibility – library versions 1.4 and earl

[2019-10-11 22:12] shefty opened #5353 "prov/verbs: ubertest hangs at end of tests"
The following backtrace is showing a hang in the async thread.  The main thread is hung in pthread_join() waiting for this thread to exit.
[code]

[2019-10-11 22:16] shefty commented on #5353
This is likely related to commit df435c92

[2019-10-11 22:17] shefty commented on #5352
If FI_MR_BASIC is set as an input hint, it must be returned from fi_getinfo.

[2019-10-11 23:08] zhngaj commented on #5352
Ah. I see. It's only mr_mode: [ FI_MR_VIRT_ADDR ] for shm.
False positive, so close this issue.

[2019-10-11 23:08] #5352 closed

[2019-10-12 15:27] yilongli commented on #5326
@mshiryaev Thank you for the explanation. It's very helpful.

[2019-10-14 16:28] nemequ commented on #5049
Since you're already using Travis it should be pretty straightforward to set it up, see https://github.com/nemequ/pgi-travis

[2019-10-14 18:47] shefty opened #5360 "v1.9.0 release"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [ ] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2019-10-14 18:51] shefty commented on #5347
Can you see if using the memhooks instead of userfaultfd produces a similar problem?

[2019-10-14 19:17] #5353 closed

[2019-10-14 19:22] shefty commented on #5339
So, the published release tarballs are for Linux only.  We don't actually publish release tar files for OS X or freebsd.  I don't have a way to generate those.  Windows uses a different build system.

[2019-10-14 19:57] shefty commented on #5347
I don't think we're specifying huge page support correctly.  In util_mem_monitor.c : line 355, I think we want to or in UFFD_FEATURE_MISSING_HUGETLBFS to the api.features, if we detect that huge pages are available.

[2019-10-14 20:09] shefty commented on #5347
From the kernel.org doc (https://www.kernel.org/doc/Documentation/admin-guide/mm/userfaultfd.rst):
[code]
So, if we receive an UNMAP event, we shouldn't need to unregister the memory from userfaultfd.

[2019-10-14 21:55] wckzhang commented on #5347
Using memhooks caused a hang in the ep_open_close test - I'll have to debug that.
[code]
I understood this as the ioctl call returning setting this flag. So I don't think we are supposed to set the UFFD_FEATURE_MISSING_HUGETLBFS flag ourself - I will test this.

I think you're correct on the UNMAP event. We can notify the cache without unsubscribing. Our current method of unsubscribing for UNMAP n

[2019-10-14 22:02] wckzhang commented on #5347
I verified that the ioctl call is in fact setting the uffdio_api.features flag with UFFD_FEATURE_MISSING_HUGETLBFS. So this isn't something we need to be OR'ing. We can however put a check in util_mem_monitor.c : line 370 for
[code]
if we need to do anything specific in regards to huge pages.

[2019-10-14 22:03] shefty commented on #5347
The documentation needs help.  I was looking at:
[code]
I had the same initial understanding as you, that the kernel would set this bit if it's usable.  Note that we don't check this, but then I wouldn't expect to find hugepage sizes available if it were 0.

I started down the path of removing the unsubscribing with UNMAP, but it's not that simple.  We want to unregister the entire cached region,

[2019-10-14 22:26] wckzhang commented on #5347
When you say unregister do you mean memory registration or userfault fd registration?

It is a bit of a pain that REMOVE and UNMAP require separate behavior...

[2019-10-14 22:32] shefty commented on #5347
I meant uffd unregister.  Based on the man pages, it seems that an UNMAP event results in an implicit deregistration.  So, the uffd unregister failures may be a result of that.  If you could verify this, it could be helpful.  But I'm assuming this for now.

I'm still thinking about how to handle this.  We can add uffd unregister into util_mem_monitor for the REMOVE case.  The cache would then assu

[2019-10-14 23:34] wckzhang commented on #5347
Then I don't think we care about the rest of the rest of the cached region. As long as we remove it from the cache and deregister the mr, the worst that can happen is we receive an UNMAP event for a region not in the cache. In that case, userfault fd will unregister it itself and we can just do a no-op when we don't detect anything in the cache (I hope what I just said was coherent and understanda

[2019-10-14 23:41] shefty commented on #5347
I have a patch that adds unregister in the uffd handler for REMOVE.  I removed unregister from the mr cache notify handler.

I have a follow on patch that moves the unregister in the mr cache 'free' path to the 'uncache' path.

I agree that we could drop it and never unregister at the cost of just getting additional events.  I am concerned about this error in the ioctl_userfaultfd man page:
[code]

[2019-10-14 23:43] wckzhang commented on #5347
I'm pretty sure I tested and you can register the same region twice with a fd harmlessly. I believe you're correct on the 2 fd objects.

[2019-10-14 23:51] wckzhang commented on #5347
It might be worth thinking a bit on how generic the ofi_mr_cache_notify function should be...We don't want ofi_monitor_unsubscribe to be called inside it for uffd, but we might want it to be called for other memory monitors.

[2019-10-15 07:30] joerns opened #5362 "Man page overview for v1.8.1 does not list all manpages"
Small issue on the documentation side: the page https://ofiwg.github.io/libfabric/v1.8.1/man/ does not list all man pages. For example, the pages related to fi_tcp and fi_udp are missing.

[2019-10-15 09:23] bsteinb commented on #5339
Fair enough, although it comes as a bit of a surprise, since the libfabric tarballs do build on macOS and fabtests itself builds from a git checkout. Maybe this should be added to fabtests' README or the tarballs be renamed fabtests-X.Y.Z.linux.tar.bz2?

[2019-10-15 15:04] shefty commented on #5362
thanks - will update

[2019-10-16 22:03] #5362 closed

[2019-10-16 23:44] shefty commented on #5347
I'm trying to understand the failure more.
[code]
Why are some buffers matching in 2, but not merging?  Are these matches fully within a registered region?
What is calling madvise?  Is that coming from the EFA provider?

[2019-10-16 23:47] shefty commented on #5347
I think I see where the madvise is coming from -- efa_ib_cmd_reg_mr

[2019-10-16 23:56] shefty commented on #5347
My latest wondering is if we somehow end up trying to merge regions backed by different page sizes.  From the discussion so far, if huge pages are available at all (likely?  always the case?), we should disable merging as an option.

[2019-10-17 00:48] rajachan commented on #5347
76a9f40ffe92d has more context for the madvise() in there.

[2019-10-17 15:02] wckzhang commented on #5347
I think I figured out what's happening. The huge pages are set to 2097152 for me, not 1073741824.

However, since the region has been unsubscribed to already during the fault itself, when we try to call ofi_uffd_unsubscribe -> it fails on page_sizes[0] and page_sizes[1] (4096 and 2097152), but it succeeds on page_sizes[2] (1073741824).

Since that isn't my huge page size, it should never succeed a

[2019-10-17 15:17] shefty commented on #5347
That description makes sense to me, and I agree with the proposed options for a solution.

[2019-10-18 01:00] wckzhang commented on #5347
PR 5376 merged

[2019-10-18 01:00] #5347 closed

[2019-10-18 14:09] carns opened #5381 "memory leak in rxm provider"
I have a simple workload in which a client program starts up, sends a message to a server, receives a response, then exits. If I run this in a sequential loop (so that there is never more than one client connected at a time, but as soon as one exits a new one starts up) then the server's memory consumption keeps growing.

This can be reproduced using the "tcp;ofi_rxm" provider combination.  It doe

[2019-10-18 17:19] shefty commented on #5381
Thanks for the report.

[2019-10-18 23:23] jlbyrne-hpe opened #5386 "gcc-9.2.1 stringop warnings"
gcc-9.2.1 has added warnings for possible strncpy buffer overflows and lack of NUL termination.

prov/util/src/util_shm.c: In function 'smr_map_to_endpoint':
prov/util/src/util_shm.c:199:2: warning: '__builtin_strncpy' specified bound 32 equals destination size [-Wstringop-truncation]

This code is problematic:
prov/sockets/src/sock_av.c: In function 'sock_av_insertsym':
prov/sockets/src/sock_av.c

[2019-10-18 23:38] jlbyrne-hpe opened #5387 "sock_av_insertsym may return a postiive value for error"
err_code = FI_ETOOSMALL;
...
return success > 0 ? success : err_code;

[2019-10-21 02:04] zjf2012 opened #5390 "prov/gni: scalable endpoint, failed to send to different receive context"
As tested, the send context in client side and the recv context in server cannot be changed to other contexts once client sent a message to server.

My case is server recv context, srx[0], receiving any client request and getting proper recv context, srx[i], back to client crx[0]. Then client changes its target recv context from srx[0] to srx[i]. Later communication is between client ctx[0] crx[0]

[2019-10-21 20:47] #5387 closed

[2019-10-21 20:47] #5386 closed

[2019-10-21 20:51] shefty commented on #5381
What version of libfabric are you using?  Is there a chance you can try with master?

[2019-10-21 23:20] carns commented on #5381
It was libfabric 1.8.1.  I can definitely try with master and report back, though.

[2019-10-22 18:39] shefty commented on #5381
I doubt master will have a fix if you tested with 1.8.1.  I have a guess why the leak is there based on your description, but haven't looked into details.

[2019-10-22 19:06] carns commented on #5381
It's easy enough to test (I can reproduce this on my laptop) so no harm in trying.

You are right, though, origin/master shows the same problem.

[2019-10-22 19:48] shefty commented on #5381
I'm guessing on the issue, since I don't have an easy way to reproduce this.  (I'm working on expanding a test to help find this sort of error, but it will take a while.)  Anyway, can you try the patch in PR #5398?

I believe the issue is that rxm is posting receives to the tcp provider.  When a tcp endpoint is closed, those receives are never returned back to rxm for re-use.  So, when rxm opens a

[2019-10-22 21:15] shefty commented on #5340
I'm not overly concerned about latency in a call that puts the calling thread to sleep.

For the progress, I need to consider if there's some other issue with NOT calling progress on every cq read call.  For the example you gave, we could try to drive progress when recv + PEEK is called.  That may fix your problem.  But I'm not sure if there are other progress issues lurking.  It may be that we al

[2019-10-23 20:59] carns commented on #5381
I didn't get around to testing it until just now (after merge to master) so I tested against master rather than your fork.  Unfortunately the leak still remains, I'm afraid:

[code]

I should have mentioned earlier, but to see this I have to run `valgrind --leak-check=full --show-leak-kinds=all <exe`.  The memory is still technically referenced which I stop the server, so the default valgrind opti

[2019-10-23 21:01] carns commented on #5381
This issue should probably be re-opened for now.

[2019-10-23 21:08] shefty commented on #5381
It was auto-closed after I merged the changes.  I believe that fix is still valid and needed, even if it doesn't resolve the issue by itself.

I've tried valgrind against a couple of the fabtests, but I don't see the leak.  However, those tests are not simulating the behavior that you're describing.  Based on the trace you're providing, I'm guessing that the tcp endpoint isn't being closed.  I'll

[2019-10-25 19:44] carns commented on #5381
I'm not totally sure this is related, but I'll share it adds information to the underlying problem:

https://github.com/mercury-hpc/mercury/issues/317#issuecomment-546113158

We are trying to chase down some issues with processes busy spinning indefinitely once a client has connected and then disconnected. There is at least one issue internal to one of Mercury's own transports, but it looks like t

[2019-10-25 20:00] shefty commented on #5381
Looking at the mercury issue, these look related to me.  Can you tell if mercury keeps the peer address inserted into the AV even after the peer exits?  My guess is that rxm should be detecting that the peer is gone, then removing the corresponding tcp endpoint, but is not doing so.  That part of the cleanup should occur regardless of the peer address remaining in the AV.

I'm tracking down a sepa

[2019-10-25 23:13] soumagne opened #5405 "prov/psm2 memory leaks with 1.9.0rc1"
Looks like that was a provider I had not gone through yet :) I'm getting several memory leaks from the psm2 provider with latest 1.9.0rc1, I assume it's the same with previous tags and master seems to be the same as of now. A few come from opa-psm2 but most of them are from the provider itself. Note that the same test is fine with rxm/tcp and sockets (no leaks in those cases).

On client I'm getti

[2019-10-28 01:01] soumagne commented on #5381
Yes mercury does keep the peer address in the AV. We keep everything connection less at the mercury level and we don't send any extra message to notify when a client exists. Right I also believe that part of the cleanup should occur in the rxm provider otherwise we can only do cleanup at our level if we have an extra group membership layer on top of mercury that tracks peers.

[2019-10-28 03:47] shefty commented on #5381
For this test, the AV will continue to grow.  Even if the underlying connection goes away, the app has indicated that it wants this no longer existing peer address maintained by the AV.

[2019-10-28 15:59] jswaro opened #5406 "prov/verbs: osu_alltoall fails during 4 node, 128PPN test"
Error: `ofi_impl.h:533:MPIDI_OFI_send_handler:Cannot assign requested address`
[code]

@shefty @swelch

[2019-10-28 16:39] jswaro commented on #5406
fa8923ecd9c46967130133e68a5f4ab8706b0d4c is the commit that git bisect is indicating as the start of the problem.

[2019-10-28 16:40] jswaro commented on #5406
I am a little dubious of the result from git bisect in this case. That commit seems to be fairly harmless

[2019-10-29 16:40] yulujia commented on #5296
@shefty is there any progress on this patch?

[2019-10-29 21:45] shefty commented on #5296
no update

[2019-10-29 22:20] soumagne commented on #5381
Well the main issue is that we do not "indicate" anything if we cannot tell that the peer is gone. I feel like if you are able to do cleanup, you could also potentially give us a hint that this peer address is no longer valid?

[2019-10-29 23:04] shefty commented on #5381
Maybe?  This is at least a hint of an unexpected error that's been detected, and reporting it seems reasonable.  I *think* there were patches that tried to handle this cleanup before, but were pulled because they didn't quite work and were racy.

More broadly, from the perspective of the API, RDM are unconnected endpoints.  There's no guarantee that a given provider will ever know that a peer is g

[2019-10-31 21:39] j-xiong commented on #5405
@soumagne Could you test agianst PR #5411? The leaks from the provider have been addressed.

[2019-11-04 19:39] soumagne commented on #5405
@j-xiong sorry the delay in getting back to this. I'm testing it now.

[2019-11-04 19:52] soumagne commented on #5405
Thanks! It definitely is better but still some leaks it looks like. This is with PR #5411 on client:
[code]
On server:
[code]

[2019-11-04 22:53] j-xiong commented on #5405
Thanks for the result! I have updated PR #5411 which I believe should eliminate the remaining leaks related to "psmx2_av.c:187". The single object leak for "psmx2_cq.c:2006" is more difficult to iron out. I will leave that alone for now, together with those leaks related to the PSM2 library.

[2019-11-04 23:18] soumagne commented on #5405
thanks! yes it did eliminate one but still have the one from the CQ though it looks like. Here is the result now on client:
[code]
and on server:
[code]

[2019-11-04 23:52] j-xiong commented on #5405
Thanks for the verification!

[2019-11-05 00:28] #5164 closed

[2019-11-05 19:12] #5405 closed

[2019-11-07 15:54] jswaro commented on #5406
@shefty I'm 99.99% sure that this is a Mellanox OFED 4.6.1 problem. I've recently updated our testbed from 4.5.1 to 4.6.1. We cannot replicate the problem on 4.5.1, so there seems to be something broken with MOFED. I've opened a case with them and I'm going to close this.

Depending on what you are using on the Intel internal test platforms, I thought you might find the information to be useful.

[2019-11-07 15:54] #5406 closed

[2019-11-07 15:55] jswaro commented on #5406
For what it's worth, what seems to be occurring is an exhaustion of the RDMA_PS_TCP port space. This didn't occur before, but there are no relevant changes in libfabric that would have affected this.

[2019-11-07 16:12] shefty commented on #5406
Thanks for the info

[2019-11-12 18:23] jswaro opened #5427 "prov/verbs: XRC regression with commit d38c8869"
With commit d38c8869, XRC tests hang immediately. This was noticed on Oct 8th, when master was built on our CI system.

@shefty FYI. Do you notice anything particularly strange?
@swelch  FYI. We'll need to get this fixed quickly.

[code]

[2019-11-12 18:31] shefty commented on #5427
I don't see anything in the PR that could cause this.  The xrc related changes look straightforward, which suggests that there's likely a simple fix that I'm not immediately seeing.  :)

[2019-11-12 18:31] swelch commented on #5427
@jswaro - I will take  a look.

[2019-11-12 19:25] swelch commented on #5427
@shefty - I don't see anything obvious looking at the source, I will debug and see what is going on.

[2019-11-12 19:46] swelch commented on #5427
@shefty, @jswaro - The change replacing the "hfi1"/"qib" strncmp checks with the NIC vendor ID looks to have inadvertently inverted the logic for setting the functions. Either need to remove the "!" or just swap the contents of the if/else blocks. Do you want me to prepare a patch?

[2019-11-12 20:29] shefty commented on #5427
That vendor id is for Mellanox, so the intent was the revert the logic.  Please prepare a patch, but I'm still missing something regarding the problem I think

[2019-11-12 20:37] swelch commented on #5427
Maybe best to hold off on this PR for now then. It might be better that we revert that portion of the commit. I'll dig a little deeper and see if a different change is needed.

[2019-11-12 20:47] shefty commented on #5427
I expected that using fi_ibv_post_send_track_credits / fi_ibv_poll_cq_track_credits should work in all cases.  The direct calls to ibv_post_send / ibv_poll_cq are just optimizations that skip the credit increments.  I'm still not seeing wrong with the patch, so I would look more at a change that wasn't made somewhere.  Does reverting the commit allow xrx to work?

[2019-11-12 21:14] jswaro opened #5429 "core: Indexer limit of 16 bits causes applications to fail above 64K ranks."
[code]

The error reported through warning indicates that the handle->key does not match the key, when performing a lookup, followed directly by a CQ error generated by the provider.

[2019-11-12 21:17] swelch commented on #5427
@shefty - Ok there are several problems here.

1. XRC does not seem to like the tracked versions.
2. I believe that Mellanox PCI Vendor ID is 0x15b3 not the 0x02c9 in the check.
3. The verbs provider is not correctly setting the vendor_id string consistently to how other providers are doing it.

Let me create a patch that addresses 2 and 3, then 1 is not an issue since XRC relies on Mellanox hardw

[2019-11-12 22:13] shefty commented on #5427
Do we know why xrc doesn't work with the tracked versions?  I looked through the code and nothing stood out to me.  I thought maybe xrc was taking a path that didn't call the domain send/poll handlers, but I didn't see that anywhere.

[2019-11-12 23:29] swelch commented on #5427
I don't see anything obvious either, it appears to run out of CQ credits but it looks like every post/poll call should go through the tracked versions. It will require some debug to fully understand.

[2019-11-12 23:41] shefty commented on #5427
I wonder if xrc is setting IBV_WC_RECV flag correctly.  That might explain an immediate hang.

[2019-11-13 02:48] swelch commented on #5427
@shefty - The credits check was invalid. It does not work for XRC because the underlying XRC Send QP context does not point to a message EP, so fi_ibv_post_send_track_credits() is dereferencing an invalid address/offset. The context of an XRC Send QP points to the domain that owns the initiator QP so that the QP can be shared among message EP. The message EP that creates the physical XRC Send QP c

[2019-11-13 05:37] shefty commented on #5427
I don't think it's worth fixing at this time.  It would be worth adding an assert() that xrc takes the correct path, or simply expanding the if statement that checks the vendor id to also check if xrc is in use.

[2019-11-13 12:13] sydidelot opened #5433 "Man page for fi_cq_readerr() needs some clarifition (or maybe a bug in the Verbs provider)"
Hi Libfabric's community!

I was recently chasing a bug in an application we are developing at DDN Storage, which was causing a memory corruption with the verbs provider.

The code is doing something similar to this:
[code]

As you notice, `err_event` is not memset to 0 before calling `fi_cq_readerr()`
It looks like the verbs provider tries to write some data pointed by `struct fi_cq_err_entry::er

[2019-11-13 16:32] shefty commented on #5433
The man page description is referencing the behavior of libfabric version 1.4 and prior.  Beginning at 1.5, the behavior changed in order to handle multi-threaded apps better.  Hence, err_data went from being an output only buffer to an input/output buffer.  The description for err_data is definitely not clear that it should be a user provided buffer.  I will update the man page.

[2019-11-13 16:34] #5429 closed

[2019-11-13 16:53] sydidelot commented on #5433
Thanks, @shefty !

[2019-11-13 17:08] shefty commented on #5433
See if PR #5435 helps clarify the intended behavior, or if additional wording tweaks are needed.

[2019-11-14 01:01] shefty commented on #5381
@carns - Can you try the changes in PR #5424?  That is intended to fix most of the memory leak, except for the increase in the number of AV entries.

[2019-11-14 16:48] carns commented on #5381
Thanks @shefty and all- this seems to be working great for my test case in some initial scenarios!  The memory is staying under control, and no segmentation faults so far.  CPU usage is also good.

[2019-11-15 12:55] sydidelot commented on #5433
The paragraph is clearer now. Thanks for the patch!

[2019-11-15 12:55] #5433 closed

[2019-11-15 20:46] iziemba opened #5440 "Q&A: Resource Management Enabled/Disabled"
I have been reviewing the resource management section in the fi_domain manpage, and it is not clear what type of error is classified as a resource management error which would cause an EP to be disabled.

For example, suppose a RDM/MSG EP issues an RMA operation to a target MR that does not exist. Does the resulting transmit error (CQ error) cause the EP to be disabled?

Another example, suppose a

[2019-11-15 21:16] shefty commented on #5440
Resource management is related to internal queues and transport level flow control.  It protects against overrunning hardware send and receive queues, as well as completion queues.

This will generate an error, as it's related to security.

The underlying msg ep is likely to become disabled, however the rxm ep should remain functional.

The number of retries before the transfer fails is a function

[2019-11-15 23:20] iziemba commented on #5440
Is an endpoint going disabled dependent on the endpoint type or the providers implementation of the endpoint?

[2019-11-16 01:29] shefty commented on #5440
This will be implementation dependent.  I believe today the msg ep will be disabled permanently.  However, my preference is that the rxm code reset the connection, so that future communication would be possible.

[2019-11-18 12:31] mkre opened #5444 "Segmentation fault in Open MPI MTL/ofi, possibly related to libfabric or librdmacm"
I originally reported this in https://github.com/open-mpi/ompi/issues/7136. I'm going to copy most of the relevant information from the Open MPI ticket here, but you can find more on the original ticket.

This issue happens with Open MPI 3.1.3/4.0.1 and Libfabric 1.8.0/1.8.1 on a dual-socket AMD EPYC 7601 system (shared memory).

We are seeing segmentation faults with both Open MPI 3.1.3 and 4.0.1

[2019-11-18 15:57] iziemba commented on #5440
Thanks! This has been helpful.

[2019-11-18 15:57] #5440 closed

[2019-11-18 18:48] #5427 closed

[2019-11-18 18:53] shefty commented on #5444
Where did you get the libibverbs and librdmacm libraries?

[2019-11-19 08:44] mkre commented on #5444
Those are installed from the official CentOS 7 repo:
[code]

I have tried to download and use the latest version of librdmacm (`librdmacm-22.1-3.el7.x86_64.rpm`) via `LD_LIBRARY_PATH`, which also resulted in a failure similar to the one seen in  [epyc_verbose_out_norxm.txt](https://github.com/ofiwg/libfabric/files/3858578/epyc_verbose_out_norxm.txt).

[2019-11-20 20:47] #5381 closed

[2019-11-20 21:05] shefty commented on #5444
Can you check against libfabric 2.9.0rc3?  This looks like some sort of data/stack corruption.  I haven't seen any issues myself, but I use Xeon (obviously).

[2019-11-21 13:51] mkre commented on #5444
@shefty, same problem with 1.9.0rc3. I also haven't similar issues before (mostly on Xeon systems). Is there anything else I can do?

[2019-11-21 17:17] hppritcha commented on #5328
talking with ANL crew, sounds like it may be better to just use the userfault fd part of the common MR cache.

[2019-11-21 18:48] jswaro commented on #5328
I've considered it a few times. There is not solid solution because userfaultfd isn't available until kernel 4.11, and kdreg is not a provider for the memory reg implementation in common core.

[2019-11-22 00:05] u-u-h opened #5453 "endpoint enumeration/ ipv6 endpoints unusable"
I have been trying to set up a server/multi-client use case as follows:
The server process does `fi_getinfo()` with the appropriate hints to identify all suitable endpoint candidates (basically `caps=(FI_MSG|FI_RMA|FI_TAGGED)`, `mode=FI_CONTEXT`, `ep_type=FI_EP_RDM`). Then it creates an endpoint for all of the entries and enables each of them. (I'll typically see some socket/IPv4, socket/IPv6 and

[2019-11-22 16:30] shefty commented on #5453
What provider are you using that's giving the incorrect ipv6 address?  If this is the socket provider, that sounds like a bug in the provider.  We're trying to replace the socket provider with the tcp provider.  Can you try using that provider and see if you have the same issue?

[2019-11-22 16:37] u-u-h commented on #5453
This is with sockets (in 1.8.0), yes.

Conceptually I'm trying to enumerate and open endpoints for anything that `fi_getinfo()` finds on a given node that matches my hints. For some reason the tcp provider (while fi_info shows it's available) does not yield any candidates. I'll investigate whether they're there in my initial `fi_getinfo` output too, and why they get dropped as unsuitable.

[2019-11-22 16:48] u-u-h commented on #5453
Ok, the tcp provider does not yield any suitable `fi_info` entries on my laptop (a macos one). I'm using
`hints->caps=(FI_MSG|FI_RMA|FI_TAGGED)`
`hints->mode=(FI_CONTEXT)`
`hints->ep_attr->type=FI_EP_RDM`
and version requirement `FI_VERSION(1,5)`.
That yields 7 fis:
[code]
The output from command line tool `fi_info(1)` without caps or mode requirements shows tcp entries, but none of them show a ne

[2019-11-22 16:57] shefty commented on #5453
tcp works with the rxm utility provider to support RDM endpoints, including tagged support. The tcp provider by itself only supports MSG endpoints.  If you run fi_info, you should see a provider that looks like "ofi_rxm;tcp".

[2019-11-22 17:25] u-u-h commented on #5453
I had disabled the rxm provider in my libfabric build because on tcp;ofi_rxm endpoints I get
```fi_enable failed: -78 (Function not implemented)```
(leading up to this I do `fi_ep_bind()` with av, eq, cq, mostly with default settings)

Would a more recent version than 1.8.0 work here?

[2019-11-22 17:33] shefty commented on #5444
The original post mentions a shared memory run.  What does that mean?  Are the stock CentOS drivers being used as well?  I'm not sure where to go with this at the moment.  I'll try analyzing the code from the stack trace.

[2019-11-22 17:37] shefty commented on #5453
You can try using 1.9.0rc3 (or 1.8.1, though I doubt the behavior would change).  But I would be interested to know why you see the fi_enable failure on 1.8.  That is, where in the code is this failure being returned.  I expect rxm+tcp to work in 1.8, so if it doesn't, I'd like to understand why not and fix it.

[2019-11-22 17:50] u-u-h commented on #5453
Ok, then let's debug this.
On the current build I see
[code]
That is very ... expected and not clarifying anything. I'll try to get a non-optimized build, but if you can tell me which function to break on & single-step that might be quicker. (I don't have a minimal reproducer, and the whole project build with dependencies takes a while)

[2019-11-22 17:58] shefty commented on #5453
Try breaking on rxm_ep_ctrl() in prov/rxm/src/rxm_ep.c.  You can also turn on debug logging in case that reveals the problem.  FI_LOG_LEVEL=debug.

The return code of function not implemented also suggests putting a break on fi_no_control() in src/enosys.c.  Though if we hit that break, it may not tell us much.

[2019-11-22 19:14] u-u-h commented on #5453
Going from `rxm_ep_ctrl()` -> `rxm_ep_enable_check()` I see
[code]
Then it goes into `rxm_ep_msg_cq_open(rxm_ep);`, which decides that `FI_WAIT_FD` is needed. `fi_cq_open()` succeeds.

Then I see `rxm_ep_wait_fd_add()` failing on the first of 2 cq_list entries with `-78`.
This comes from a chain of `fi_control()` calls ending in `util_wait_fd_control()`, where the code takes the `#else` path of th

[2019-11-22 19:18] u-u-h commented on #5453
The code in master of util_common.c is still the same, btw (https://github.com/ofiwg/libfabric/blob/b00579610ca0a380746884625c0c88d72eab3d73/prov/util/src/util_wait.c#L298)

[2019-11-22 19:27] shefty commented on #5453
OS X support is primarily there for development purposes.  The use of an fd wait object is one of those areas where we can't hide this from the API.  Although we have an internal implementation for epoll for systems that don't support it, we can't 'leak' that out through the API.  That's what's causing the issue here.

[2019-11-22 19:35] shefty commented on #5453
Does your application use blocking CQ calls?

[2019-11-22 19:38] u-u-h commented on #5453
same here (regarding OS X) :)

I'm not sure I understand the second sentence above regarding the fd wait object.
But: wouldn't generic BSD support be of use?

No fi_cq_s* calls at this point, no.

[2019-11-22 19:46] u-u-h commented on #5453
I'm using `FI_WAIT_UNSPEC` for eq and cq, hoping that it would select the most appropriate one for each provider. (Blindly using one of `FI_WAIT_FD`, `FI_WAIT_NONE` or `FI_WAIT_MUTEX_COND` based on the host system does not make sense, as some providers don't like some of these, right?)

[2019-11-22 19:47] shefty commented on #5453
rxm uses epoll, mixing its wait objects with that of the core provider (tcp in this case), in order to properly handle applications that want to block.  kqueue would likely work in this case, but... that's not implemented (because it's only needed for OS X, which is a low priority).

If you don't need to block on the CQ, specify FI_WAIT_NONE when creating the CQ.  That should remove the need for r

[2019-11-22 19:48] shefty commented on #5453
Yes, WAIT_UNSPEC is ideal if you're using blocking calls.  But if you don't use them, WAIT_NONE removes the extra overhead of allocating the wait objects (which will be an fd given the current implementation).

[2019-11-22 19:48] u-u-h commented on #5453
Thanks!

I seem to remember having issues with `FI_WAIT_NONE` (on GNI?) despite not using blocking calls, but maybe I'm wrong. I'll try.

[2019-11-22 20:06] u-u-h commented on #5453
Ah, here's the reason I disabled rxm in the first place:
With the rxm provider I occasionally get a segfault along the following path:
The 6th fi_info (after a couple of IN6 and IN4 tcp;ofi_rxm endpoints) looks like this:
[code]
when I do
[code]
That goes into `rxm_endpoint()`, into `rxm_ep_msg_res_open()`, `rxm_listener_open()`, which fails (need to check where exactly), then jumps to the `err:`

[2019-11-22 20:09] u-u-h commented on #5453
So I can rely on every provider to support running with `FI_WAIT_NONE`?

[2019-11-22 20:17] shefty commented on #5453
You _should_ be able to rely on the providers supporting WAIT_NONE.  There's nothing that prevents them from allocating a wait object anyway.  It looks like the gni code handles this.

Thanks for the segv report.  That definitely shouldn't happen.  I'll look into that.  Then we'll need to understand why rxm_listener_open fails.

[2019-11-22 20:28] u-u-h commented on #5453
The `err:` label is jumped to from `rxm_listener_open()` at
[code]
which returns `ret==-1`.

That is due to `tcpx_passive_ep()` receiving -1 as return value from `ret = tcpx_pep_sock_create(_pep);`

That is due to
[code]
returning -1.

Hope that helps. (Likely the deep trace is not needed to see why the `err:` cleanup should be more careful.)

[2019-11-22 23:51] shefty commented on #5453
The following patch (to be included in 1.9) should fix the segfault.

https://github.com/ofiwg/libfabric/pull/5456/commits/db96285360eeb716fc511a6188a6fba5d8c409e3

I reproduced the fault by forcing an error just above the code and confirmed that this avoids the fault.  This doesn't fix the failing coming from the socket bind() call.  It's possible that failure is coming from conflicting bind call

[2019-11-23 02:27] #5360 closed

[2019-11-23 07:04] u-u-h commented on #5453
Thanks, that fixes the segv. Let me know if I can help figuring out why the `bind()` fails.

The ipv6 straddr looks better with tcp;ofi_rxm: `fe80::aede:48ff:fe00:1122%en6:55705`, however connection setup fails.
The client does av_insert with the above address on its local endpoint `fi_sockaddr_in6://[fe80::aede:48ff:fe00:1122]:55714`, which succeeds, but then the first send operation fails: `fi_s

[2019-11-25 10:44] mkre commented on #5444
We're not running over any network, but only inside a single host.

Which drivers are you talking about exactly?

Thanks, let me know if you need any further information or if I should test anything.

Moritz

[2019-11-25 18:02] shefty commented on #5444
I don't understand what's happening at all now.  If this is only using shared memory, why is the librdmacm being accessed at all?  I was referring to the kernel RDMA drivers.

[2019-11-26 08:54] mkre commented on #5444
Maybe the `librdmacm` part of the valgrind stack trace is a red herring, and we should rather only look at the non-valgrind stack trace from [epyc_verbose_out_norxm.txt](https://github.com/ofiwg/libfabric/files/3858578/epyc_verbose_out_norxm.txt)?

Regarding the RDMA drivers, we are also using the stock CentOS `rdma-core` package (version 13.7el7).

[2019-11-26 12:29] usmanfarooq948 opened #5463 "PGI compiler Issue on Rock Cluster frontend node"
Sorry i am new to Rock Distribution. How a user can compile his application using PGI compiler. As i Know Front-end node only manages software packages on cluster as well as the submitted jobs and compute-end provide the processing power.

[2019-11-26 16:01] shefty commented on #5444
How is OMPI actually transferring data?  Is it using its own shared memory implementation?  Are the transfers going through libfabric?

[2019-11-26 16:09] mkre commented on #5444
In this case, it is using Libfabric because it is told to do so with `-mca pml cm -mca mtl ofi`. If we use Open MPI's built-in Vader transport (`-mca pml ob1 -mca btl self,vader`), everything is working fine.

[2019-11-26 16:27] shefty commented on #5444
So, the transfers are going through libfabric using the verbs provider?  And there is no use of shared memory?

[2019-11-26 16:44] rajachan commented on #5444
The OFI MTL in Open MPI does not support shared memory communication by itself, so if you run with the verbs provider, intranode communication would loopback over verbs OFI endpoints.

[2019-11-26 16:46] shefty commented on #5463
I would try posting a message to libfabric-users@lists.openfabrics.org and see if anyone subscribed to that list might be able to help.  I'm not sure anyone monitoring these issues would know.

[2019-11-29 14:00] MatthAlex opened #5465 "prov/shm: shm not used for single-node MPI runs"
Forcing shm to be opened on an MPI single-node run returns the following error:
[code]
[shm man pages](https://ofiwg.github.io/libfabric/v1.9.0/man/fi_shm.7.html) do mention

However, Intel MPI 2018.3 will correctly work with `shm`, if forced to. Defaults to using `verbs` instead if enabled.

Tested with v1.9.0 (and rc1,2,3), intel MPI 2018.3 and 2019.5.

Configuration used:
[code]
Variables used:

[2019-11-29 15:49] MatthAlex opened #5466 "prov/verbs: IPv6 link local address locks multi-node MPI execution"
Setting an IP address for Infiniband hardware to IPv4, or IPv6 link local and IPv6 global, results in positive Infiniband traffic on multi-node MPI runs. However, using only IPv6 link local, the run hangs or stalls execution. Additionally, it stalls differently (earlier) when `I_MPI_DEBUG=6` is used.

MPI is only 2 ranks across 2 nodes, pinned with `-rr`.

From what I can tell from the logs, the I

[2019-12-02 18:34] shefty opened #5467 "MPI hangs with IMB-RMA tests"
Problem occurs with Intel MPI 2019u6, rxm+verbs

[2019-12-02 18:35] shefty opened #5468 "MPI truncation error on iWarp"
Problem shows with Intel MPI over iWarp.  Problem does not show up with RoCE or IB.  Debugging suggests problem is with handling of immediate (CQ) data, likely on the MPI side.

[2019-12-02 18:37] aingerson commented on #5467
Also on rxd+verbs

[2019-12-02 18:54] shefty commented on #5465
Thanks for the report.  This sounds like it might be an MPI issue. I'll forward this report to the Intel MPI team for discussion.

[2019-12-02 18:58] shefty commented on #5466
Do you know if the same problem shows up if you use the tcp provider instead of verbs?

[2019-12-02 19:28] shefty opened #5469 "OpenSHMEM tests fail with tcp provider"
There are sporadic, but easily reproduced failures running the SOS test suite against the tcp provider.

Failures are more frequent using a debug version of libfabric, with an assertion being hit in the rxm provider.

[2019-12-03 10:50] MatthAlex commented on #5466
Indeed, the problem persists on the `tcp` provider, for both IPv6 local and local+global.
Changed configure to enable tcp, `export FI_PROVIDER="shm,tcp"`, and unset `FI_VERBS_IFACE`.
[tcp-ipv6global.txt](https://github.com/ofiwg/libfabric/files/3916147/tcp-ipv6global.txt)
[tcp-ipv6local.txt](https://github.com/ofiwg/libfabric/files/3916148/tcp-ipv6local.txt)

[2019-12-03 14:29] ddurnov commented on #5465
@MatthAlex You may try to disable RMA path with the counters on IMPI 2019 level: MPIR_CVAR_CH4_OFI_ENABLE_RMA=0

BTW, IMPI 2019 U6 is publicly available.

[2019-12-03 15:00] MatthAlex commented on #5465
Tried exporting `MPIR_CVAR_CH4_OFI_ENABLE_RMA=0` on runtime, but unfortunately:
[code]
[shm-2ranks1node.txt](https://github.com/ofiwg/libfabric/files/3917206/shm-2ranks1node.txt)
Additionally, running two ranks over two nodes with round robin pinning failed in the same way:
[shm-2ranks2nodes-rr.txt](https://github.com/ofiwg/libfabric/files/3917209/shm-2ranks2nodes-rr.txt)

Do you think update 6 wi

[2019-12-03 22:50] jlbyrne-hpe opened #5472 "fi_cntr_init globally changes wait function pointer"
If a counter is opened with FI_WAIT_NONE, fi_cntr_init() overwrites the wait function in the counter ops.
https://github.com/ofiwg/libfabric/blob/544500c2e2bf67db268291387bd5e071d890dac7/prov/util/src/util_cntr.c#L244-L247

Unfortunately, ops points to the global util_cntr_ops and it modifies the function for all counters using these ops. Instead of changing wait, the code needs to change ops to a

[2019-12-03 23:07] shefty commented on #5472
Yes, that's clearly a bug.

[2019-12-04 11:28] ddurnov commented on #5465
@MatthAlex Thanks! We are analyzing what kind of issue you have faced with. (the "shm_open error") Looks like IMPI 2019 U6 won't help here. We will let you know as soon as we get somethig here.
Please note that Intel MPI relies on own shm transport as primary one.

[2019-12-04 21:15] #5472 closed

[2019-12-04 23:58] frostedcmos opened #5478 "hfd5 parallel test suite segfaults in psm2 provider"
Using hdf5 parallel test suite with DAOS/CART/Mercury after recent updates we started seeing segfault with psm2 provider (trace below). Same test suite passes fine over ofi+sockets.

Unfortunately at this point it is unclear which exact change has caused this, as the test is not ran automatically on each update. Filing this with available information to keep track and will add more details as they

[2019-12-05 00:03] shefty commented on #5478
Do you have a known version where this worked?  1.8?

[2019-12-05 01:04] frostedcmos commented on #5478
we are in process now of finding version where it worked before

[2019-12-10 01:35] abner-ma opened #5486 "Questions about multilink"
I am curious whether for the data transmission of the link in FI_EP_MSG mode, should I use multithreading to process each link separately(I saw in the pmdk project that multithreading was used to handle multilink.), or directly use the fi_poll function to know that there is data on the link, and then traverse to get which link. Is there an epoll mode?

[2019-12-10 01:55] shefty commented on #5486
I'm not understanding the question.  Are you using multiple endpoints for communication?

OFI uses epoll when available and appropriate.  For example, it will use epoll with sockets.  But for most providers, data transfers are directly to/from user space, so there's no equivalent.

libfabric has an asynchronous transfer API.  So, you will get a receive completion when data is available.  For most

[2019-12-10 02:24] abner-ma commented on #5486
@shefty  Thank you for your  answer.
My English is bad,so let me describe the problem encountered. I want to use libfabric to implement the epoll method similar to tcp sockets. The initial idea is that a completion queue corresponds to a link. When there is data on the link, a function can let me know which completion queue corresponds to the link. Thus data from multiple links can be processed on

[2019-12-10 17:27] shefty commented on #5486
Your English is fine.  At a very high level, fi_poll is somewhat similar to epoll, except that it is non-blocking.  So you can call fi_poll to determine which completion queue has an event on it.

Note that many apps can get away with having a single completion queue, with different endpoints bound to the same CQ.  In that case, you would only need to read the CQ to know which endpoint received da

[2019-12-11 07:11] wrrobin opened #5493 "Multi-threaded OpenSHMEM test invoking remote read operation hangs with RXM provider"
Attached a re-producer. This test hangs when `shmem_int_get` is invoked with multiple threads. The hang can be avoided by any of these 3 ways:
1. Running the re-producer with single thread (T = 1 in line number 8)
2. Disabling the MR cache by running with FI_MR_CACHE_MAX_COUNT=0
3. Using Fetch AMO instead of Get RMA by passing an argument value 1
e.g. SHMEM_OFI_PROVIDER="verbs;ofi_rxm" oshrun -ppn

[2019-12-12 21:57] wzamazon opened #5495 "shm provider does not work inside a container."
I encountered this issue while try to use shm provider inside a container.

I used the following docker file to build my image:

[code]

and use command:
[code]
to build the image. then started a container using the following command:
[code]
Inside container, I run the following command to test shm:

[code]
and the output I got was:

[code]

[2019-12-12 22:05] wzamazon commented on #5495
When I run the same command with FI_LOG_LEVEL=warn. I got an message:

libfabric:23:shm:ep_ctrl:smr_progress_iov():182<warn> CMA write error

Apparently, docker containers by default turns off ptrace, which CMA rely on.

In shm provider, there is a function smr_get_ptrace_scape() which read  file /proc/sys/kernel/yama/ptrace_scope, and determine ptrace support level, that file is not available in

[2019-12-12 22:12] zhngaj commented on #5495
Instead of checking the value in /proc/sys/kernel/yama/ptrace_scope, I think we can test with a CMA systemcall like the following.
[code]
And check the errno (strerror(errno) will be `Operation not permitted`)

I feel this is a more straightforward and general approach.

[2019-12-13 16:53] jsquyres opened #5497 "Broken fi_pingpong with usnic"
It looks like 8b2b28df768b957d85ae800d7aad71b601c780c5 broke `fi_pingpong` for usnic.

It tries to add the local address into the `fi_av`.  In usnic's case, this fails, because there is no IP route from our device back to the localhost (i.e., libnl effectively returns "no route to host").

Is adding the local address to an AV strictly necessary?

If so, it is defined that this is always supposed t

[2019-12-14 00:07] aingerson commented on #5465
@MatthAlex I'm still chasing down one bug to get this working properly but could you try running this with master and see if your issues are mostly fixed?

[2019-12-14 10:32] MatthAlex commented on #5465
@aingerson I can confirm that master branch resolved the shm error, checked with 2 and 16 ranks.

On a tangent, erroneously, I did a test with two nodes. Without the <warn> logs it might be difficult to quickly discern that `shm` isn't supposed to run on >1 nodes. I contrast this to the Intel MPI 2018 behaviour, where the failure is explicit, without the need of `I_MPI_DEBUG` I believe.

[code]

[2019-12-16 06:46] Keepmoving-ZXY opened #5501 "max message size of udp provider"
These days I am writing a communicate library with libfabric, and I have some question of `udp` provier:
It seems that the when use the `udp` provider, I can't send messages above 7kb, which is to say that `fi_send` can't handle buffer length of which is greater 7kb. Does provider `udp`' have this limits? and if yes, how can I get the max message length of a provier?

[2019-12-16 14:37] MatthAlex commented on #5465
Additional testing has produced another issue. I'm logging it here for the time being since I tested `verbs` and worked, but didn't on `shm`.

During testing of Fortran coarrays, when the second rank happened to be pinned on the same package, the program was killed. If the two ranks is separate there is no issue. That means it doesn't work for >2 ranks, since a 3rd will always be placed on some pr

[2019-12-16 16:13] shefty commented on #5501
All providers have max_msg_size limits.  That limit is reported through fi_getinfo() as part of the endpoint attributes.

For UDP, the limit will be the link level MTU, minus headers.  It does not support message segmentation

[2019-12-17 02:40] aingerson commented on #5465
@MatthAlex Thanks for the update.
Could you try testing again with the changes in #5503 ? I finished chasing down a couple bugs and now the provider is working with the Intel MPI benchmarks up to 32 ranks.

[2019-12-17 05:28] Keepmoving-ZXY commented on #5501
ok, thank you.

[2019-12-17 05:28] #5501 closed

[2019-12-17 11:22] MatthAlex commented on #5465
@aingerson Testing has been successful. `shm` ran on 2 and 16 ranks (our higher-core nodes are still lacking IPoIB so I can't test).
When `FI_PROVIDERS="shm,verbs"`, `verbs` is chosen instead. Performance _seems_ margin-of-error close. Is that the intended or expected outcome? Should `shm` be forced on single nodes?

As for the coarray issue, there was no progress with #5503 . I feel that it might

[2019-12-17 17:23] aingerson commented on #5465
Thanks for testing again.

I don't think `FI_PROVIDERS` will do anything. It should be `FI_PROVIDER`
Right now there is no way to layer the shm provider with another provider (such as verbs). That is a work in progress.
What it sounds like is happening when you set `FI_PROVIDERS="shm,verbs"` is that it does not register that and instead just picks verbs for all communication which is why you're se

[2019-12-17 20:37] MatthAlex commented on #5465
Of course you are right. I _meant_ `FI_PROVIDER="shm,verbs"`, which is what I've used for testing. So, no layering between the two providers means that `verbs` will be picked first if at all available, then `shm`?

On the coarray tests, I'm attaching a log with the variables you mentioned and one with `I_MPI_DEBUG=6` and `FI_LOG_LEVEL=debug` for the same exact run. It runs to completion successful

[2019-12-17 20:47] aingerson commented on #5465
Right, if you include verbs in the `FI_PROVIDER` list, it will pick up verbs since it is the highest ranking provider in that list. The order it will pick from should be the same order as the output of `fi_info`
Really the only way to run shm is to explicitly request it using `FI_PROVIDER=shm` or set `hints->fabric_attr->prov_name="shm"` in hints. Once it is able to be layered with core providers,

[2019-12-18 00:49] yulujia opened #5507 "prov/rxm: fi_readmsg() failed, rc: -113(No route to host)"
I ran a test we have using the tcp provider, after the clients connect/disconnect for a few cycles, the server side starts to print out a lot of messages like the following, and test gets stuck:

using libfabfic commit:

```2d2b11e54 - Merge pull request #5498 from SystemFabricWorks/xrc_sidr_exchange (5 hours ago) <Sean Hefty>```
[code]

[2019-12-18 09:52] mkre commented on #5444
Thanks for chiming in, @rajachan. How do you want to proceed with this issue? Is there anything else I can provide?

[2019-12-18 16:17] jsquyres commented on #5497
@dmitrygx @shefty Any thoughts on this one, perchance?

[2019-12-18 16:28] shefty commented on #5497
I don't believe there's a reason for the test to insert its own address into the AV.

[2019-12-18 16:33] shefty commented on #5444
We are just working through several other bugs at the moment before we can get to this one.

[2019-12-18 16:48] mshiryaev opened #5508 "prov/shm: functional issue with oneCCL test"
Hello,

I noticed that there is correctness issue on CCL test with shm provider. This test starts bunch of allreduce operations in parallel, then complete them all and then do correctness check.
With bunch size=1 or with non-shm providers this test works well, but with bunch size>1 and with shm provider test fails. With larger bunch size (like 8 or 16) it is reproduced more stable.

Here are steps

[2019-12-18 16:52] jsquyres commented on #5497
The commit message says:

@dmitrygx Can you confirm that this is actually needed?  Or can we revert 8b2b28df768b957d85ae800d7aad71b601c780c5?

[2019-12-18 17:03] shefty commented on #5497
Dmitry (sadly) no longer works for Intel, so I don't know that he's tracking libfabric development at this point.  I'm guessing that he might have been tracking a bug in a provider and wanted to have a test case for it, but that's still just a guess.  The test itself doesn't seem to need this.

[2019-12-18 17:50] aingerson commented on #5508
@mshiryaev I managed to recreate the failures, even with the new changes I emailed you about. I will take a look at this. Thank you!

[2019-12-19 00:47] zhngaj commented on #5495
PR #5510

[2019-12-19 01:07] yulujia opened #5511 "prov/verbs;ofi_rxm: fi_tsend() unexpected failed, rc: -113(No route to host)"
I ran a test we have using the tcp provider, after the clients connect/disconnect for a few cycles, the server side starts to print out a lot of messages like the following, and test gets stuck:

using libfabfic commit:
```35a91a977 - Merge pull request #5438 from rajachan/efa-1.9-release-updates (5 weeks ago) <Sean Hefty>```

Same behavior using commit:
```2d2b11e54 - Merge pull request #5498 fro

[2019-12-19 06:14] dmitrygx commented on #5497
@jsquyres @shefty
Actually, I can't recall the reason for this change. Perhaps, it was introduced in order to check that RDM/DGRAM EPs support the inserting of local address into OFI AV.
I *think* it would be better to not revert the change. Hopefully, adding something like would be
better here (there are no other dependencies on `ct->fi_loca;_addr` in the PP code):
[code]
@jsquyres it has to work

[2019-12-19 16:13] u-u-h commented on #5453
@shefty Any insight into this? After the segfault is fixed by db96285 I can enumerate a dozen endpoints with disjoint port numbers on the server and client side (running on the same physical node), and while inserting the AV succeeds, the first `fi_send()` fails with a non-EAGAIN error (see above).
Should I open a separate issue for this maybe?

[2019-12-19 16:24] shefty commented on #5453
I have not had time to look into this bug.  I asked another developer to check on it, so I'll follow up with him to see where he's at.  If the issues look different from the app's viewpoint, then, please open separate issues for them.

[2019-12-19 16:41] u-u-h commented on #5453
Ok.
The user experience is the same as initially, except that I can now enumerate the ofi_rxm;tcp provider endpoints (no segfault anymore in using that provider): AV insert succeeds, `fi_send()` fails with `-65 No route`.

Some endpoints still end up having a port of 0 (all coming from the sockets provider), and some candidates are unusable (`fi_endpoint()` fails with -1), but I can deal with that

[2019-12-19 17:33] jsquyres commented on #5497
@dmitrygx Yes, your patch works.  Thanks!

The usnic provider only supports remote communications -- it does not support loopback communications.  That's why we set FI_REMOTE_COMM.

Does that answer your question, or are you asking something deeper?

[2019-12-19 19:08] mwheinz commented on #5478
Question: Is the DAOS library multi-threaded?

[2019-12-19 20:11] #5497 closed

[2019-12-19 20:24] frostedcmos commented on #5478
Multi-threading in daos is mostly done via usage of argobots.
Numerous cart tests and samples use pthreads for multi-threading.

DAOS performs all communications via CaRT that provides higher level interfaces for various operations such as broadcast/incast, group/rank management and others.  CaRT itself is built on top of mercury (https://mercury-hpc.github.io/)

DAOS -> Cart -> mercury -> libfabr

[2019-12-20 18:18] jlbyrne-hpe opened #5520 "shm provider has multiple issues with signal handlers"
The shm provider registers signal handlers in its init routine and this causes changes to application behavior even if the provider is not being used. The signal handler's attempt to re-register the original handler and raise a signal is interesting --- I hadn't considered this --- but the fact the only one old sigaction is used for all signals is a bug.

The signal handlers should only be registe

[2019-12-20 18:20] jlbyrne-hpe commented on #5520
...problems *can* probably be solved...

[2019-12-20 20:15] rajachan commented on #5520
You are right, the old_sigaction is not signal-specific. Like you say, the simplest fix would be to have separate objects for each signal's old_sigaction.

How so? The only action taken in these handlers is to cleanup the shm files, which would be a no-op if shm is not used. Are you seeing some case where these handlers are interfering with applications in some way? There was one case with SIGBUS

[2019-12-20 21:06] jlbyrne-hpe commented on #5520
Yes, I  had a tester not using shm and had registered a handler for SIGTERM and was not getting the signal delivered because of the bug, but the larger argument I'd make is that, ideally, a provider that isn't being used should have no side-effects on application execution.  I believe this is impossible in the strictest sense because of the way fi_getinfo() works, but it is a goal we should strive

[2019-12-24 10:27] Keepmoving-ZXY opened #5522 "benchmark tools of libfabric"
Today I run `fi_pingpong` with `usnic` provider, and below is result:
[code]
And I find I can not see transport speed of data which size is larger than 1k , and I want to see transport speed of data which size is more that 1k , so I add a `-S 2000` parameter into command line such as:
[code]
But I received an error as below:
[code]
It seems that I can't send data size of which is over 1k with usni

[2019-12-24 10:31] Keepmoving-ZXY commented on #5522
And I also very confused why libfabric is designed to limit size of message the send interface (such as `fi_send`) can process,  can you explain it to me?

[2019-12-24 23:58] jsquyres commented on #5522
The usnic provider only provides `FI_EP_DGRAM` -- i.e., unreliable datagrams.  Specifically, is uses UDP as its transport, and sets its max message size to the MTU of the Ethernet network which it is using.  In short: usnic is basically OS-bypass UDP.

Hence, if you have an MTU of 1500, your max message size is going to be somewhere around 1480 -- it will return an error if you try to send a messa

[2019-12-25 00:33] Keepmoving-ZXY commented on #5522
ok, thank you for so much info, Merry  Christmas!

[2020-01-02 23:40] yulujia opened #5527 "prov/psm2: segfault during shutdown when using the nameserver"
using this commit: 86340704a
my test segfaults with this back trace:
[code]
the test uses the ofi+psm2 provider, uses the nameserver to resolve addresses. I launched 8 processes on one node using orterun, each process creates 8 basic endpoints. The test sometimes runs to completion successfully, then during shutdown some processes (usually 2 out of 8) hits this segfault.  Other times the test shut

[2020-01-02 23:54] shefty commented on #5522
Assuming the original issue was resolved here.

[2020-01-02 23:54] #5522 closed

[2020-01-07 17:09] j-xiong commented on #5527
Could you provide a reproducer?

[2020-01-07 17:30] jlbyrne-hpe opened #5530 "Potential fabric/domain locking issue in util_getinfo()"
`

               fabric = ofi_fabric_find(&fabric_info);
                if (fabric) {
                        FI_DBG(prov, FI_LOG_CORE, "Found opened fabric\n");
                        (*info)->fabric_attr->fabric = &fabric->fabric_fid;

                        fastlock_acquire(&fabric->lock);
                        item = dlist_find_first_match(&fabric->domain_list,

[2020-01-07 18:37] shefty commented on #5530
fabric->lock is protecting the domain list.  The util_fabric_lock protects the fabric list.  The 'issue' is that ofi_fabric_find() doesn't take a reference on the fabric object.

As soon as we release either lock, the fabric and domain could be destroyed and we can return an fi_info structure that references deleted objects.  Holding references would help against accessing freed memory, but the ap

[2020-01-07 19:27] shefty commented on #5511
Is there a reproducer available for this, so that I can try to duplicate the issue?

[2020-01-07 19:35] shefty commented on #5507
Is there a way I can reproduce this problem?

Can you see if you can reproduce the issue using an updated fi_rdm test, with the -C option?  That will connect multiple EPs to the server side.

[2020-01-07 23:47] #5530 closed

[2020-01-09 20:35] rwespetal opened #5542 "Handling the case where core providers use another core provider?"
We're looking for some advice on how we should handle the case where a core provider would like to load and use another core provider.

This is related to PR #5536 where we ran into an app that set `FI_PROVIDER=efa` and failed to load EFA due to the issue mentioned in the PR. For that app, shared memory is done at a higher level so it's okay to disable the SHM provider. However, we've found other

[2020-01-09 21:39] shefty commented on #5542
I had a several thoughts on this, but after typing a story, I decided to trim it down.

I believe this feature is desirable and will become used more once we have it.
I don't think we want to load providers unconditionally or change current filtering.

We can use an internal getinfo flag (e.g. OFI_CORE_PROV_ONLY / OFI_GETINFO_INTERNAL), along with a provider name to force load a provider into a hi

[2020-01-09 22:05] rwespetal commented on #5542
Thanks, that seems reasonable to me. I'll work on a patch for this.

[2020-01-10 03:21] rwespetal commented on #5542
I opened #5547 with one approach to this - let me know if that matches what you were thinking or not.

[2020-01-10 15:31] joerns opened #5548 "C++ programs do not compile with libfabric 1.9.0"
Upgrading from libfabric 1.7 to 1.9 I notice that C++ programs including libfabric headers do not compile anymore. Consider this test program:

[code]

This will compile with gcc:
[code]

But not with g++:
[code]
I think you can't forward-declare an enum and need to put the full declaration there.

I am using gcc 8.3.

Thanks, Jörn

[2020-01-10 16:52] shefty commented on #5548
This should be fixed in the upstream master.  I'll check that the fix was picked into the 1.9.x branch.

[2020-01-10 16:56] shefty commented on #5548
The fix was cherry-picked.  It won't be available until we release 1.10 or 1.9.1, however.

[2020-01-11 09:03] joerns commented on #5548
Thanks Sean, I'll wait for the new release then :+1:

[2020-01-11 09:03] #5548 closed

[2020-01-11 13:49] bfaccini commented on #5520
Are there any plans to implement a per-signal/handler backup/restore in shm provider ?
Current lack is causing a real problem when you want to implement your own and different signal handlers inside an application using libfabric.

[2020-01-13 16:33] shefty commented on #5520
This should be handled somehow.

[2020-01-13 16:58] rajachan commented on #5520
Agreed, I will write up a fix for this.

Raghu

On Jan 13, 2020 8:34 AM, Sean Hefty <notifications@github.com> wrote:

This should be handled somehow.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/ofiwg/libfabric/issues/5520?email_source=notifications&email_token=AAFVKUES6LJBZB3PIRJBBWDQ5SJVJA5CNFSM4J6BERUKYY3PNVWWK3TUL52HS4

[2020-01-13 20:46] jswaro opened #5554 "userfaultfd mem monitor implementation hangs on free()"
@shefty @swelch

When running an MPI application with libfabric master, we see a hang in the application. This occurs with a 4.12.14.150.x SLE 15 SP0 kernel. Userfaultfd is advertising all features except the lowest bit (0x7e).

The main application thread is stuck in kernel space, waiting for a completion for the event in the userfault FD code. The thread cannot be interrupted or woken up without

[2020-01-13 20:54] shefty commented on #5554
The uffd thread is waiting on a lock acquired by the mlx5 library? Are there other threads running?  Can you determine which thread is holding that lock?

[2020-01-13 20:59] jswaro commented on #5554
Two threads in total. The uffd thread is waiting on a lock in glibc's free function is how I'm interpretting it at the moment. The main application thread is also in a call to the free function, but I can see that it is stuck waiting for a completion from user space. I am assuming that the main thread is waiting for the uffd thread to read the FD to issue the completion for kernel-space uffd, but

[2020-01-13 21:00] #5542 closed

[2020-01-13 21:06] shefty commented on #5554
See this line here:

https://github.com/linux-rdma/rdma-core/blob/master/providers/mlx5/verbs.c#L517

There is a free() call made in fi_dereg_mr().  The fi_dereg_mr() call can be made by the uffd thread itself as part of removing a cached entry that may have changed.  If that freed memory is being monitored as part of a larger region that is cached, I believe this will cause the hang you're seeing

[2020-01-13 21:07] jsquyres opened #5555 "Fix clang atomic operation alignment compiler warnings"
The `.travis` file is currently not building with `-Werror` because of several warnings emitted by the clang compiler with respect to the atomic operations in Libfabric.  Here's output from MacOS building Libfabric v1.9.0rc3-172-ga8cec0932.

[code]

[code]

[2020-01-13 21:07] shefty commented on #5554
@rajachan - tagging AWS, so that they are aware of this potential issue.

[2020-01-13 21:11] jswaro commented on #5554
I agree. To prevent the uffd from freeing memory, should some of these uffd event's be offloaded to EQ/CQ processing queues so that they are eventually processed by a non-uffd thread? Not ideal, but just thinking out lout.

[2020-01-13 21:19] rajachan commented on #5554
cc: @ofiwg/aws-efa-team

[2020-01-13 21:46] jswaro commented on #5554
@shefty Commenting out the notify for unmap allows the application to run to completion.

[2020-01-13 21:49] shefty commented on #5554
That has the potential of corrupting the application data.  You can try using the other memory monitor.

[2020-01-13 21:50] jswaro commented on #5554
I'm not suggesting it as a fix. I added the comment to support what you were saying above, and copied below.

[2020-01-13 22:25] shefty commented on #5554
@jswaro - ah, got it.  thanks.  I think we're going to need an additional queue/thread for processing notifications.  Maybe the EQ could work for that, but I'm not sure if that's the best approach to take, since it mixes EQ processing with internal event handling.  I wouldn't throw it out either, since it should avoid introducing an extra thread, and the queue already exists.

[2020-01-13 22:29] jswaro commented on #5554
I am contemplating the use of a secondary thread for the uffd handler, built around pthread_cond wait, and a freestack. It shouldn't be too disruptive since it will be sleeping until events are generated, and we'll end up reusing a fair amount of existing code from the util provider to make it. I think we need the additional thread to keep memory mappings with the device consistent as much as poss

[2020-01-13 22:32] shefty commented on #5554
I think that's a reasonable option.  The problem is making sure that we don't lose events, given that we can't have the uffd thread allocate memory when its freestack is empty.

[2020-01-13 22:35] jswaro commented on #5554
I was thinking we could put the uffd thread to sleep when it isn't able to enqueue the event into the freestack, and that would allow the event thread to process events and put them back into the freestack for use. We could signal the uffd thread, or simply hold the uffd.monitor.lock and allow it to be 'signaled' via mutex unlock. That could potentially avoid the nasty problem of memory allocation

[2020-01-13 22:43] shefty commented on #5554
We can't put the uffd thread to sleep or block it, or we can end up in the same situation.  If the event handling calls alloc/free, that can trigger another event, which the uffd thread must respond to.

[2020-01-13 22:45] jswaro commented on #5554
Ok. I'll give it some thought to how we can avoid the alloc/dealloc issue.

[2020-01-13 23:56] shefty commented on #5554
The monitor can still invoke the notification callback, and the callback can still perform the work of searching for cached registrations.  It will just need to defer any cleanup to another thread or work queue.  This should be able to avoid needing to allocate additional structures, since the cached registration entry can be used for that purpose.

As a proposal, we can try adding a flush_list to

[2020-01-14 15:56] jswaro commented on #5554
I had given thought to an approach like that, but my concern relates to my earlier statement copied below. If the processing is deferred to an internal queue in the MR cache, it might not be processed until some time later unless we can get a new thread to interact with registered MR caches to push those events asynchonously of the uffd and application theads .

[2020-01-14 16:15] shefty commented on #5554
If the local app frees memory while a remote peer is trying to RDMA into it, that's really an application level issue.  My bigger concern is that we cannot match an entry in the cache after the VA to PA might change.  That would result in data corruption that it outside the scope of the application.  To avoid that, we need the memory monitor to have most of the same behavior.

Specifically, the mo

[2020-01-14 16:44] jswaro commented on #5554
Agreed. As a personal preference, I would rather have an application observe a CQ error on a data transaction to a stale buffer instead of a 'successful' completion. It's a hard problem to solve correctly, and it's a race. Any attempt to defer the operation increases the likelihood of the stale data transfer scenario.

[2020-01-14 16:47] jswaro commented on #5554
A 'stale' flag in the registration struct should suffice right?

[2020-01-14 16:59] shefty commented on #5554
A stale flag might, but then the flag would need to be included as part of the sorting of entries.  This was why I suggested removing any found entries from the rbtree and storing them on a flush list.  Whether another thread processes the flush list or we do it on the next cache access shouldn't matter for correctness.

[2020-01-14 17:04] jswaro commented on #5554
I think making this work with the existing structures might require new functions which do no invoke free or malloc in the underlying data structures. rbtPrune or something similarly named that removes an entry from the tree without freeing the entry and leaving that to the application to manage?

[2020-01-14 18:03] shefty commented on #5554
A prune type call might work, or the rbtree can be updated so that the structure being inserted / removed provides the necessary storage for maintaining the tree (if it doesn't do that already).

[2020-01-14 20:24] wckzhang commented on #5554
@shefty Originally, I imagined that we could have a queue that ofi_monitor_notify would push to. We would handle events in this queue whenever we had a mr cache call. I thought this was in my original code, but maybe it got lost when it became util code. This matches your flush_list proposal pretty similarly. I think what we have to be careful of is how we hold the locks. For example, we can't hol

[2020-01-14 20:30] wckzhang commented on #5554
The current design of the uffd_handler requires that uffd.monitor.lock be hold

[2020-01-14 20:34] wckzhang commented on #5554
Reading more comments...

I believe that anytime we call free within uffd.monitor.lock can result in a deadlock situation. The uffd thread won't be able to progress, and the faulting thread won't be able to wake up. This means that we either cannot protect our tree, or we risk a deadlock with only the monitor lock. We may need another lock, but will require more thinking.

[2020-01-14 21:26] shefty commented on #5554
I think we will need an additional lock around the cleanup list, which is unfortunate.

[2020-01-14 21:42] jswaro commented on #5554
I've started writing something to queue the events in the monitor and progress them on mr cache function entry.  We could still use another thread to flush the stale entries, but it wouldn't be strictly necessary.

[2020-01-14 22:05] wckzhang commented on #5554
One question I have is: Why is this memory being monitored? I don't see why the verbs_mr memory is being monitored. Are you registering the verbs_mr for some reason (I don't believe it can be a stale entry since the userfaultfd would catch it by the time it's malloc'd again)?

[2020-01-14 22:09] jswaro commented on #5554
I'm not sure that the mr memory is. Sean's explanation above suggested to me that you generally cannot call free or malloc from the uffd context.

[2020-01-14 23:02] jswaro commented on #5554
I don't think that is true.

If the free is within the context of the user application thread. If free occurs from the user thread, while holding the lock, uffd cannot read the events until we let the lock go. Once we let the lock go, uffd can read the event, and we push the event into a deferred queue in the mr cache -- avoiding any free or malloc calls in the process.

The free cannot happen wit

[2020-01-14 23:23] shefty commented on #5554
From the viewpoint of the application or middleware, it is trying to send data over the fabric.  To do so requires that the memory be registered with the device.  However, the application has no concept of this requirement.  The result is that the provider registers the memory for the application (an expensive operation), then performs the transfer.  If the app issues another transfer that uses th

[2020-01-14 23:45] shefty commented on #5554
What we really need is a rbtree implementation that doesn't call free() as part of delete...

[2020-01-14 23:56] wckzhang commented on #5554
As far as I understand, it's preferable not to call malloc/free/mmap in the userfault thread to reduce risk, but it doesn't cause any issues if the memory being freed was not registered with the userfault fd. Memory that is not registered with the userfault fd won't even notify the poll function for userfault fd. Thus, this situation can only occur with memory that has been registered with the use

[2020-01-15 00:08] shefty commented on #5554
It's true that as long as we haven't registered the memory being freed with the uffd, we're okay, but it's not easy to figure out if memory has been registered or not.  uffd registration requires aligning on page boundaries.  If a user's data transfer buffer shares the same page as some other structure (such as a mr_cache entry structure), then attempting to free that other structure can cause iss

[2020-01-15 00:38] wckzhang commented on #5554
As far as I understand, memory registrations pin pages, so they are technically page aligned as well.

If a user's data transfer buffer shares the same page as another structure, calling free on that structure wouldn't cause an unmap event to fire off if the transfer buffer is still part of that page.

It may be possible that there is a situation where

1. Allocate two buffers, A & B which exist o

[2020-01-15 01:19] shefty commented on #5554
Registered buffers will pin the entire page, but the accessible region will start at the virtual address specified by the app.

A single physical page may back multiple malloc calls.  Take this scenario: app calls malloc, library calls malloc, app performs a transfer, app calls free, the library calls free.  This can result in an unmap event as a result of the library free call.

We can't predict

[2020-01-15 16:11] jswaro commented on #5554
Generally speaking, we probably should avoid memory management function calls entirely within the context of the uffd thread. It is going to be difficult to handle these error cases without overcomplicating the code. Even with assumptions we can make about some systems, such as explicit huge pages, we run the risk of failure with other systems such as transparent huge pages.

It could help, but it

[2020-01-15 16:45] shefty commented on #5554
Correct, the deregistration must still be deferred.  I'll update rbmap to remove the free from the delete call.  That's needed, so we can safely remove entries from the cache from within the uffd notification callback.  The entries can then be moved to a flush list for deferred cleanup.

As for the locking, we can make this work with a single uffd lock.  The general proposal would follow a flow li

[2020-01-15 17:24] jswaro commented on #5554
I'll get that PR up for general review. It is not complete though.

[2020-01-15 17:57] wckzhang commented on #5554
That proposal looks okay to me.

[2020-01-15 18:35] jswaro commented on #5554
Fine to me as well.

[2020-01-15 20:10] jswaro commented on #5554
This is going to require some modification to the rbtree functions. The search function runs indefinitely, finding the same entry over and over again. This occurs even if you add logic to the search function for checking to see if the entry has been marked stale. To me, this means we need a function that returns the memory to be freed later to the upper layer, so that we can mark the entry stale,

[2020-01-15 22:19] shefty commented on #5554
I have the rbtree update.  Fixing up the cache flushing / cleanup isn't too hard, but will take some code unraveling.

The bigger issue is dealing with registration when we have a cache miss, and being able to do that without holding the monitor lock in a way that's also not racy...

[2020-01-15 22:22] jswaro commented on #5554
Can you post it to my PR, or send me a diff? I've been working on an rbtree change, so I'll drop my changes and pull yours in.

[2020-01-16 16:20] shefty commented on #5554
I'm pushing changes as I make them to: #5562 .  I *think* the next step in that series would be to restructure ofi_mr_cache_flush (and the underlying calls), to flush the lru_list without holding the monitor lock.

What I would like to do is have the flush_list be cleaned up as part of ofi_mr_cache_flush (or some subcall), and call that function for deferred cleanup.  I'm still working out how to

[2020-01-17 19:55] #5486 closed

[2020-01-17 21:55] shefty commented on #5493
Given that disabling the cache is a work-around, this may be related to #5554 .  Setting the cache to use the memhooks monitor may also provide a work-around.

[2020-01-18 18:05] nufosmatic opened #5568 "Does there exist a summary on using fl_pingpong to demonstrate shm and tcp?"
Does there exist a summary on using fl_pingpong to demonstrate shm and tcp? Sockets looks to be easy. I finally got verbs to dance for me. But shm and tcp just have kicked my collective for days now. Using 1.6.1 but I have 1.9.0 on-deck.

[2020-01-18 23:15] nufosmatic commented on #5568
The shm provider only supports an RDM endpoint, but fi_pingpong does not map "unspecified" to a default, and therefore "unspecified" != RDM, and  fi_getinfo() returns -61 No data available. The right way to invoke shm is:

fi_pingpong -p shm -e RDM &
fi_pingpong -p shm -e RDM localhost &

This creates an endpoint that can receive connectionless traffic, but I don't see how endpoints with different

[2020-01-18 23:36] nufosmatic commented on #5568
In 1.6.1 TCP looks to be all broken and unusable. in 1.9.0 TCP can be used with fi_pingpong as long as you specify MSG or RDM. In sockets, "domain" maps to the interface, but this does not appear to work for TCP in 1.9.0 - but FI_TCP_IFACE= will take care of that.

I've answered my own question, thank you.

NUFOSMATIC's LAW OF THE STUPID QUESTION: Until you ask somebody, you won't find the answer

[2020-01-19 00:25] shefty commented on #5568
For simple validation testing, please use one of the fabtests, such as fi_msg_pingpong or fi_rdm_pingpong.  fi_pingpong basically receives no testing or maintenance.

I did not understand your comment regarding specifying endpoints with different roles.

Note that there is a libfabric-users mailing list that you can post to as well.  And there's no need to wait days before asking questions.  We do

[2020-01-19 15:24] nufosmatic commented on #5568
Thank you. I think that I'm in a good place now. I'm actually evaluating the difficulty of creating a new provider for hardware not currently supported. I'm actually there now.

PS: this is some of the best quality code I have seem in my meager 35 years of professional programming. The docs are open-source-ish, and IMHO tend to talk in jargon, but once one gets used to the jargon, the ordeal gets

[2020-01-19 15:27] nufosmatic commented on #5568
This is not an exhaustive list of successful and unsuccessful fi_pingpong runs, but it's a better start than I had. Hopefully it saves some other person some days.

20200118 - nufosmatic@nufosmatic.com

1.6.1

In 1.6.1 fl_pingpong, verbs does not default to FI_MSG, which is the only
endpoint supported, and appears broken.

nufosmatic@system1:libfabric-1.6.1$ build*/bin/fi_pingpong -p verbs
[error]

[2020-01-19 15:27] #5568 closed

[2020-01-19 15:28] nufosmatic commented on #5568
This is not an exhaustive set of fl_pingpong successful and unsuccessful runs, but perhaps somebody else will not lose two days trying to figure this out.

20200118 - nufosmatic@nufosmatic.com

1.6.1

In 1.6.1 fl_pingpong, verbs does not default to FI_MSG, which is the only
endpoint supported, and appears broken.

nufosmatic@system1:libfabric-1.6.1$ build*/bin/fi_pingpong -p verbs
[error] util/pin

[2020-01-20 09:27] Keepmoving-ZXY opened #5569 "How to let libfabric usnic provider bind a specific address ?"
Today I want to let usnic provider bind a specific address due to the ip address and port comes from upper layer, I can't change them, so I write below code:
[code]
When run these code, I find `fi_getinfo` return error number `-61`, meaning `No data available`. `10.0.0.4` is the ip of usnic device, this is what I can make sure. So I am very confused to this problem, could tell me how to let usnic

[2020-01-20 09:57] #5569 closed

[2020-01-20 16:13] u-u-h commented on #5453
@shefty Any news on this? Anything I can try help getting this to work?
This is a blocking issue for my application.

[2020-01-21 11:44] krehm commented on #5511
yulujia, could you do a grep on the above server log for "fi_tsend", does the very first failure report "(Cannot allocate memory)"?    Could you try rerunning the program, but first set the environ variable RDMAV_HUGEPAGES_SAFE=1 in the server yml file before starting the server?   (See my recent post on the daos reflector, I have been chasing a similar problem.)

[2020-01-21 11:58] krehm commented on #5511
Sorry, forget my last statement.  While the symptoms I am seeing match yours, my problem can only happen with infiniband.

[2020-01-21 16:11] shefty commented on #5453
@nikhilnanal - Have you been able to make any headway looking into this problem?  (Is the the issue that you were looking at?)

Does your code attempt to mix ipv4 and ipv6 addressing in any way?  E.g. inserting both into the same AV, or mixing them between a client and server?

[2020-01-21 17:23] shefty commented on #5569
Since you closed this, I'm assuming that you resolved the issue?

[2020-01-22 01:14] Keepmoving-ZXY commented on #5569
Yes, I have resolved this issue.

[2020-01-23 19:59] shefty commented on #5554
Fixed by #5562

[2020-01-23 19:59] #5554 closed

[2020-01-23 20:01] shefty commented on #5493
@wrrobin - Can you re-test with the latest master?  PR #5562 added a fix to the MR cache that was causing hangs.

[2020-01-24 13:54] u-u-h commented on #5453
I guess I should try to build a minimal reproducer for you to look at, as I'm not sure what constitutes 'mixing' in your view, but that is an effort I've tried to avoid for a while now.
I'm creating endpoints for every entry in the fi_info list that I find, and then try to insert all addresses that the remote end has handed over OOB until one is accepted in an endpoint. In doing so I check that th

[2020-01-24 16:33] shefty commented on #5453
By mixing, I meant are you ever trying to insert IPv4 and IPv6 addresses into the same AV.  Or attaching an IPv4 endpoint and and IPv6 endpoint to the same local AV.

You said that you allocate 1 endpoint for every fi_info that is returned.  Do those endpoints share the same resources, such as domain, AV, CQ, etc.?

Also, are you limiting yourself to a single provider?  I can help look at problems

[2020-01-26 18:00] wrrobin commented on #5493
@shefty I am still seeing the same issue with the latest master. Disabling the MR cache still solves the problem.

[2020-01-27 18:01] shefty commented on #5493
Thanks for testing and reporting back.

[2020-01-28 18:27] krehm opened #5580 "program deadlocks with ofi_uffd_handler()"
Looking for some advice.  I am running daos_test on CentOS 7 with 'verbs;ofi_rxm'.  I have set RDMAV_HUGEPAGES_SAFE=1.   The program makes several calls to ucm_set_event_handler() from openmpi3, two calls from function mca_pml_ucx_open() in mca_pml_ucx.so and  two from function component_init() in mca_osc_ucx.so.   I don't actually know what the handlers are, haven't found the code yet.  Don't kno

[2020-01-28 19:40] shefty commented on #5580
Can you please retest with the tip of master?  Specifically, there's a series of changes ending with commit

3d01df7716d099ba222f99865345d6767ae9e686

added about a week ago that should address this issue.

[2020-01-28 20:50] krehm commented on #5580
That does seem to fix the problem.   Doesn't this open a tiny window in which the NIC could write to the memory that has just been unmapped?

You can close this ticket, and thanks for the quick response!

[2020-01-28 23:06] shefty commented on #5580
It doesn't open a window that didn't already exists.  A peer application could always target a region that the local process has freed, but which still holds a registration.  Calling free on memory doesn't necessarily result in that memory being unmapped.  That is dependent on the behavior of the memory manager.  The unmap could happen at a much later than free, and from another thread.

Because w

[2020-01-29 11:48] krehm commented on #5580
I was concerned more about FI_CONTEXT/FI_CONTEXT2 where the NIC is allowed to scribble at the front of an allocated context.   Not sure if scribbling could happen after the unmap but before the NIC is notified that the memory is no longer registered.   But the fi_getinfo man page seems to imply that the NIC can only use those bytes while an operation is in progress, so maybe there is no risk here.

[2020-01-29 17:58] shefty commented on #5580
Correct, the NIC should not modify FI_CONTEXT after generating a completion.  That's separate from MR caching though.  Attempting to modify FI_CONTEXT outside of the operation being in progress could definitely corrupt memory.

[2020-01-29 17:58] #5580 closed

[2020-01-30 06:05] TBRTechSAT opened #5585 ""fi_version" symbol not exported"
The "fi_version" export is missing in the "libfabric.def" file.

[2020-01-30 06:08] biddisco opened #5586 "autogen errors on cray xc50 CLE 7.0UP01"
Using tag for v7, v8, v9 and for master I get
[code]
The system reports
[code]
I can comment out the CLE check and build libfabric as usual.

[2020-01-30 15:52] dylanede opened #5588 "Equivalent to FI_WAIT_FD for Windows"
Currently, `util_wait_fd_control` returns `-FI_NOSYS` on Windows because it does not have support for epoll (`HAVE_EPOLL` is undefined). From my initial investigations into using libfabric, I have found that this stops wait sets from being usable with RxD over UDP on Windows, since RxD depends on the underlying provider supporting `FI_WAIT_FD`. Perhaps support for [Win32 I/O Completion Ports](http

[2020-01-30 16:44] shefty commented on #5588
I agree that the best option for windows is I/O completion ports, and it would require API changes.  Windows has been a relatively low priority with most of the current developers.  The API changes themselves may not be too bad, but it would take some effort to update the internal implementation to support I/O completion ports.

Just thinking... maybe windows could be made to work with an option l

[2020-01-31 10:26] dylanede opened #5590 "Windows `ofi_recvmsg_udp` returns error codes incorrectly"
I have found that when `WSARecvMsg` fails with `SOCKET_ERROR` (-1), for example due to the socket not being ready to receive (`WSA_IO_PENDING`), `ofi_recvmsg_udp` returns this 32-bit error code cast without sign extension to a 64-bit integer, producing 4294967295. Since this is positive, `udpx_ep_progress` treats this as success and produces a completion event for receiving a message of length 429

[2020-01-31 10:38] hhirtz opened #5591 "fi_av_insertsvc hangs with UDP;ofi_rxd"
Hi, if I understand correctly `fi_av_insertsvc`[(1)] inserts a network address from a node+service (e.g. IP address + UDP port) by performing a lookup. However it hangs when I use it, the bound event queue doesn't receive any event.

Example: https://gist.github.com/hhirtz/a6da413262a0819207927948566a4c99
If compiled with `-DUSESVC` (to use `fi_av_insertsvc` instead of `fi_av_insert` with a `struc

[2020-01-31 10:48] hhirtz commented on #5591
When the address vector isn't bound to an event queue, the example with `fi_av_insertsvc` segfaults, but works fine with `fi_av_insert`:

[code]

`ofi_bufpool_get_ibuf` tries to dereference `poll->region_table` but it's null.

[2020-01-31 10:57] dylanede commented on #5590
Further investigation shows that the error that `WSARecvMsg` is failing with is `WSAEOPNOTSUPP`, which would suggest that the socket has not been set up properly.

[2020-01-31 11:30] dylanede commented on #5590
Other problems in `msghdr` (corresponding to `WSAMSG`):

* msg_iovlen, which corresponds to `dwBufferCount`, has the wrong size. It should be an unsigned 32-bit int instead of `size_t`
* `iovec` is used in lieu of `WSABUF` from the Win32 API, but the layout doesn't match:
  * `iovec` is pointer to data followed by `size_t` length
  * `WSABUF` is unsigned 32-bit length followed by pointer to data
*

[2020-01-31 11:47] dylanede commented on #5590
After correcting the layout of the structure as per my previous comment I am now successfully receiving messages. I'll submit a PR.

[2020-01-31 16:27] shefty commented on #5590
Thanks for the information.  I'll wait for your PR.

[2020-01-31 16:28] shefty commented on #5591
I'm not sure why the API call matters, but thanks for the report.  We'll have to look into this.

[2020-02-01 01:38] zhngaj opened #5595 "prov/shm: fi_ubertest failed with master branch"
I ran fabtests with master branch (HEAD 70c2f242f) with shm provider, and it's failing with fi_ubertest. Just want to double check if I was missing something option or it's expected.
[code]

[code]

[shm-master.log](https://github.com/ofiwg/libfabric/files/4142028/shm-master.log)

[2020-02-03 15:19] tonyzinger opened #5596 "ofi_rxm: Seg Fault in rxm_ep_send_common.constprop when sending a message greater than 131072 bytes"
This problem occurs whenever the nessage transfer size is greater than 131072 bytes in length (128K bytes).  The application was setting the domain->attr->mr_mode to FI_MR_BASIC.

The application was passing a NULL parameter for the desc on the fi_send API call.

The test case was using the provider: verbs;ofi_rxm.

This problem occurs at least when using the SEND and SENDDATA APIs.

The traceback

[2020-02-03 16:21] aingerson commented on #5595
We run shm with the ubertest on our CI so I wouldn't expect to see any failures. One thing to note though is that the total time for shm running the ubertest usually exceeds the default timeout for runfabtests.sh (120). When we run our CI we change the default to 300 seconds to let shm run to completion. I'm seeing it currently run at 135 seconds so try increasing to at least ~150 and see if that

[2020-02-03 16:23] aingerson commented on #5595
Also, the shm tests do not work with the negative tests. You can disable them with the -N argument

[2020-02-03 17:00] zhngaj commented on #5595
We discussed the negative tests before, so I'm aware of it.
Thanks for your clarification for ubertest.

[2020-02-03 17:28] nufosmatic opened #5597 "1.9.0 - fi_pingpong -p shm ... - allocates a buffer too small for address"
I can't tell if this is a bug in provider shm or in the app fi_pingpong. The prov/shm/src/smr_ep.c::smr_getname() returns the correct size of the address, but then pingpong.c::pp_send_name() allocates a buffer with no accommodation for the NUL terminal character.

Workaround is to increment the "addrlen" acquired from smr_getname() before using it for allocation or further accommodation.

Doesn't

[2020-02-03 17:42] aingerson commented on #5597
This issue was fixed a couple months ago here with commit cc93726c9e10979d89b75b033aba34661f20a326
Make sure you're running on master.

[2020-02-03 18:09] shefty commented on #5596
We don't want these sort of checks in the fast path operation, as they are coding errors, not run time.  A segfault is appropriate.

[2020-02-03 18:39] zhngaj commented on #5595
Verified it's just a timeout issue, so close it.

[2020-02-03 18:39] #5595 closed

[2020-02-03 18:44] rajachan commented on #5595
We're making some updates to the AWS-CI infrastructure today, which will start running shm in the single-node matrix. This was long time coming, but was blocked on some other CI work.

[2020-02-03 18:47] jswaro commented on #5596
Since assertions are compiled out for production builds anyway, an assertion or #if debug option doesn't seem like a bad compromise.

I understand your perspective on this, and agree for the most part. I think there is value in returning clear information about the problem to the user that isn't really conveyed by a segfault.

```assert(desc || !(info->mr_mode & FI_LOCAL_MR));```

Thoughts?

[2020-02-03 19:46] tonyzinger opened #5599 "VERBS;OFI_RXM: Data corruption when using multi-receive message using fi_sendmsg API"
When transferring data using the multi-receive flag on the fi_sendmsg API, a data corruption problem occurs.

The data corruption occurs in Rank 0 when it receives the data from Rank 5 during the 33 (0x21) transfer, which is the 9th fi_sendmsg request. Each fi_sendmsg request has 4 iovs, i.e. transfers.

The test does not fail all of the time but it does fail frequently enough.

I am attaching the

[2020-02-03 19:52] shefty commented on #5596
Yes, an assertion driving segfault would be ideal here.

[2020-02-03 20:09] shefty commented on #5599
I've confirmed that there are issues with the multi-recv handling in rxm.  I've merged several patches last week that help address this, and more are on the way.  (I know that there is an issue handling expected messages when posting a multi-recv buffer.)  At least one fix that was applied changed reposting multi-recv buffers to the _head_ of the receive queue, rather than the tail.

Can you test

[2020-02-03 20:11] tonyzinger commented on #5599
I will get the latest master and try my test.

[2020-02-04 18:45] gbtitus opened #5601 "verbs;ofi_rxm: should either stop advertising FI_DELIVERY_COMPLETE or support it"
If I include `FI_DELIVERY_COMPLETE` in my `fi_getinfo()` `hints->tx_attr->op_flags`, on an InfiniBand-based system with a libfabric that includes the verbs and ofi_rxm providers, then verbs;ofi_rxm is included in the returned provider list.  But based on an email conversation (libfabric-users@lists.openfabrics.org or ofiwg@lists.openfabrics.org, Jan 28-29 2020, Subject: "no perf effect from FI_MOR

[2020-02-04 19:52] shefty commented on #5601
Based on previous attempts, we must continue to report FI_DELIVERY_COMPLETE incorrectly, or most/all MPIs will break.  :(  True support for FI_DELIVERY_COMPLETE is required.  Maybe an environment variable could be used to disable real delivery complete semantics until apps can update to the semantics that they really need.

[2020-02-04 21:02] gbtitus commented on #5601
I'm slightly puzzled by this.  Those MPIs surely aren't depending upon full `FI_DELIVERY_COMPLETE` semantics, because the provider doesn't provide that.  Are they "breaking" because they end up either not finding a provider at all or finding one that doesn't actually use the IB network hardware and so cannot deliver the performance they expect?  If so, it seems they could easily switch to asking f

[2020-02-04 22:06] shefty commented on #5601
They were asking for FI_DELIVERY_COMPLETE, so they would not find a provider.

[2020-02-04 22:32] gbtitus commented on #5601
Understood, but is there anything deep (i.e., other than fear, uncertainty, and doubt) that would prevent them from asking for `FI_TRANSMIT_COMPLETE` instead?  They can't have a functional dependence on full delivery_complete semantics, because they're not getting it.  Are we just stuck waiting for them to change this one token in their sources and do releases, and then for all their older release

[2020-02-05 01:08] shefty commented on #5601
Yes, we're pretty much stuck waiting for them to change and older releases to trickle out.  I'm 100% certain that breaking MPI will result in years of bug reports.

[2020-02-05 16:24] jolivier23 opened #5606 "configure is not finding specified libpsm2"
We are using --enable-psm2=/path/to/psm2 locally and seeing that the system installed psm2 is being picked up and checked by the configure script rather than the version in the path.

The issue is our path contains lib64 but psm2 is being built into lib.  The configure checks are only checking the existence of the directory and therefore are placing lib64 version in the path for the check but sinc

[2020-02-05 17:58] iziemba opened #5607 "verbs;ofi_rxm FI_MR_SCALABLE and FI_MR_LOCAL both being set"
The following is the output of running `fi_info -v`:

[code]

Should both FI_MR_SCALABLE and FI_MR_LOCAL be set? Note that running `fi_info -p "verbs" -v` will only set FI_MR_LOCAL, FI_MR_VIRT_ADDR, FI_MR_ALLOCATED, FI_MR_PROV_KEY.

[2020-02-05 18:34] shefty commented on #5607
This is wrong.  SCALABLE/BASIC should not be mixed with the updated MR_xxx bits, or other flags.

I believe the provider is reporting that it can support all of those options.  Something in the utility code should strip out the BASIC/SCALABLE bits when the version is > 1.4, unless the app has specifically requested one on input.

[2020-02-05 19:39] iziemba commented on #5607
Thanks. I think I see what the issue is. I'll open a PR.

[2020-02-05 23:10] zhngaj opened #5609 "prov/shm: Fast path is triggered even though CMA is not available"
We noted that fi_rma_bw failed with read and write with error ‘Operation not permitted’.
This is because fast path is triggered, while our CI has ptrace protection turned on (CMA is not permitted) for Ubuntu.

I think one more check should be added to disable fast path if ptrace protection turned on (or CMA not available).

[code]

[2020-02-06 21:10] zhngaj commented on #5520
#5613

[2020-02-07 20:51] bcernohous commented on #5601
So giving them a provider that does not actually provide FI_DELIVERY_COMPLETE is the answer?

Do they, or do they not, require FI_DELIVERY_COMPLETE?

[2020-02-07 21:10] shefty commented on #5601
MPI does not.

[2020-02-10 12:34] Keepmoving-ZXY opened #5624 "Does openmpi's reduce operation support usnic btl?"
OpenMPI suport reduce operation such as `allreduce` and so  on, and these days I am working on cisco usnic technology, and I have known that OpenMPI has usnic btl, so can OpenMPI use usnic btl to transfer bytes during reduce operation?

[2020-02-10 16:04] gbtitus commented on #5601
Even for MPI-3 one-sided communication?  I'm far from an MPI expert.  Are the guarantees about when an MPI-3 one-sided PUT is visible on the target defined in such a way that an MPI library would choose to use something other than `FI_DELIVERY_COMPLETE`, in a libfabric-based implementation?

[2020-02-10 16:18] shefty commented on #5601
I don't know the details.  I'm not an MPI developer.  I know that when we tried to fix this by removing support, it broke the MPIs.  I also know that no hardware I'm aware of supports this level of completion, so there are ways to work around it.  This is likely limited to one-sided MPI RMA operations, which has maybe one broad user (nwchem?).  So nearly all MPIs applications would be unaffected.

[2020-02-10 16:45] jsquyres commented on #5624
Yes.

[2020-02-10 16:58] jswaro commented on #5601
We have a responsibility as maintainers and developers of a libfabric provider to advertise what we can support as accurately as possible. It is up to MPI and other upper-layer frameworks to write to what is provided by libfabric, if any provider meets the requirements of the framework.

@shefty is stating the changing the advertised delivery model would cause problems with MPI support for the for

[2020-02-10 17:47] bcernohous commented on #5601
Then they can fall back to not requiring FI_DELIVERY_COMPLETE and libfabrics can stop pretending.

Anyone writing something new and relying on accurate information from the provider is screwed.

[2020-02-10 17:54] gbtitus commented on #5601
Well, sure, but if libfabric just drops it on them with no warning they and their users are both going to be upset.  And there's not a really good way to warn them, because libfabric has the not-at-all-uncommon problem of not knowing who all is using it.

[2020-02-10 18:10] bcernohous commented on #5601
And somehow the status quo will lead to a fix in MPI?

[2020-02-10 19:00] gbtitus commented on #5601
No, I think the question is just how best to get the change made first in the provider's direct users, that is the MPI implementations.  If we don't do that we run the risk of breaking the applications, which would be unfortunate because they (1) pay the bills and (2) don't know this situation exists and couldn't do anything about it if they did.

[2020-02-10 19:05] shefty commented on #5601
The answer is that libfabric should be updated to support the desired semantic.  As free, open source software, anyone can contribute that fix.

[2020-02-10 19:35] bcernohous commented on #5601
Are you asking for a fix to fi_getinfo to provide accurate attributes?

Or a fix to provide a semantic (FI_DELIVERY_COMPLETE) that hardware doesn't provide and MPI doesn't actually need?

[2020-02-10 19:45] shefty commented on #5601
To provide a correct implementation of delivery_complete.

[2020-02-10 20:06] biddisco commented on #5586
Building again on master branch, this problem went away. I can only assume that something was wrong with my setup. Closing for now and will reopen if it comes back.

[2020-02-10 20:06] #5586 closed

[2020-02-11 00:03] Keepmoving-ZXY commented on #5624
This is my script:
[code]
and during run, OpenMPI's `allreduce` operation is needed. When running, this script will case a segment fault, error message is:
[code]
It seems that OpenMPI choose `knem` to run intra-node communication, do you know how to change my script to let OpenMPI use usnic to run intra-node communication?

[2020-02-11 00:43] shefty commented on #5624
usnic does not support intra-node communication

[2020-02-11 03:51] Keepmoving-ZXY commented on #5624
ok, I will try run OpenMPI in two servers.

[2020-02-11 05:46] Keepmoving-ZXY commented on #5624
This is my two server run scripts:
[code]
This is just a test that whether tcp btl is used or not,  but I find that OpenMPI is using ucx to communicate, do you know how to let OpenMPI use tcp btl?

[2020-02-11 15:25] jsquyres commented on #5624
We might want to move this question -- or at least future Open MPI questions -- to an Open MPI area.  Libfabric is one of the family of transports that Open MPI can use, but Open MPI is technically a different project with a different set of developers (although some of the developers overlap, like me).

A few points in no particular order:

1. @shefty is correct that usNIC does not support commun

[2020-02-11 18:56] tonyzinger commented on #5599
I have tried using Libfabric from the tip of master.  However, I am seeing a different problem.
I executed my test case using 4 ranks in an All-to-All communication pattern sending 12 transfers.
Rank 0 did not receive all of the messages/data from rank 2.  It received the first 4 transfers. But
transfer 5 through 12 did not arrive.  Also, for rank 0 I did not receive the corresponding target CQ
ev

[2020-02-12 00:41] Keepmoving-ZXY commented on #5624
ok, thank you for explain, I will have a try  and if any problem I will ask at OpenMPI's github repo.

[2020-02-12 00:41] #5624 closed

[2020-02-12 08:18] Keepmoving-ZXY commented on #5624
It seems that add `--mca pml ob1` can't disable ucx, and I have post this question to OpenMPI's github, see https://github.com/open-mpi/ompi/issues/7388

[2020-02-12 17:25] aingerson commented on #5609
Fixed by PR #5614

[2020-02-12 17:25] #5609 closed

[2020-02-12 17:27] aingerson commented on #5520
@jlbyrne-hpe Can you confirm that #5613 fixed your issue?

[2020-02-12 17:29] aingerson commented on #5495
Fixed by #5510 and #5614

[2020-02-12 17:29] #5495 closed

[2020-02-13 01:47] zhngaj opened #5636 "prov/shm: smr_map_add return value issue"
https://github.com/ofiwg/libfabric/blob/3c35d62af6e043fbdb09502fc3b725bad240d9eb/prov/util/src/util_shm.c#L285

This looks like an issue, and it should directly return `ret` IMO.
Is there any particular reason we return in this way?

[2020-02-13 02:21] aingerson commented on #5636
The reason behind this was to allow for the case where the peer has not been initialized yet and hasn't created the shared memory region yet so shm_open will return ENOENT. If this happens, we don't want to return an error to the user, but just postpone the mapping when the application initiates it's first send. On every shm send, we call shm_verify_peer which tries to map it again if it wasn't ma

[2020-02-13 18:26] zhngaj commented on #5636
I see your point, and it sounds reasonable to me.
My concern is that the shm region mapping could never be successful if the user passes the wrong address (the corresponding shm file name does not exist at all). In this case, if warn level log is enabled, it will keep dumping the `shm:av:smr_map_to_region():197<warn> mmap error` to the user's log file, which could potentially use up all the file s

[2020-02-13 18:47] shefty commented on #5636
Retry counters aren't useful.  Many apps spin on retrying failed operations.  If we're concerned about logging space, I would look at adding a couple of new logging functions, similar to what the linux kernel has.  E.g. FI_WARN_ONCE and FI_LOG_RATE_LIMITED.  I haven't looked at how the linux kernel implements similar calls, but some sort of static var might do it.

[2020-02-14 16:51] dylanede commented on #5590
I'm currently waiting on approval from work to make the PR.

[2020-02-15 00:38] shefty opened #5644 "v1.9.1 release"
Update this procedure with any new providers.  Copy/paste markdown as new issue for each new release, and update as necessary.

## Make a perfect tarball

- For libfabric:
  - [x] For new minor releases, make stable v1.Y.x branch
  - [x] Cherry-pick relevant commits from master
  - [x] Update the libfabric version number in `configure.ac` to the final release version
  - [x] Update the version num

[2020-02-15 20:17] yurivict opened #5646 "error: use of undeclared identifier 'ENODATA'"
[code]

Version 1.9.0
FreeBSD 12

[2020-02-16 18:55] krehm opened #5647 "Remove requirement for RMDAV_HUGEPAGES_SAFE for verbs;ofi_rxm configs?"
I have been testing with daos using infiniband and verbs;ofi_rxm, and because nodes may have hugepages configured I have to always define RDMAV_HUGEPAGES_SAFE to prevent ibv_reg_mr() failures, with the added performance penalty described by James Swaro in PR 4973.  Looking at the code, it seems like a small change to ofi_rxm would get rid of the need for RDMAV_HUGEPAGES_SAFE.

The problem is in ro

[2020-02-17 04:18] yimin-zhao opened #5648 "Error: MPIDI_OFI_handle_cq_error: Cannot allocate memory"
Hi there,

I met an issue when I tried to run an MPI application.

*Command Line:*
[code]

*Error Message:*
[code]

*OS Info:*
`Centos 7.6 Kernel 4.20`

*fi_info --version:*
[code]

*MPI version:*
`Intel(R) MPI Library, Version 2019 Update 6  Build 20191024`

The memory of my machines are sufficient, they have over 300GB, so I guess it barely can run out of those memories. Since it threw the error

[2020-02-18 16:18] zhngaj commented on #5636
Add FI_WARN_ONCE in PR #5642

[2020-02-18 21:07] rajachan commented on #5648
Which provider are you running with? I don't know how Intel MPI implements the probe, but looking at that call trace, I wonder if this has to do with the use of FI_PEEK and the error completion read after failing to find a message. Running the app with `FI_LOG_LEVEL=debug` might give some hints on why the call failed.

[2020-02-19 19:30] frostedcmos opened #5653 "ofi+verbs;ofi_rxm segfault in vrb_poll_cq()"
When running single node test with 5 servers / 1 client using CaRT with ofi+verbs provider a frequent segfault is observed.
OFI: 955f3a07dd011fb1dbfa6b6c772ada03d5af320e

Program terminated with signal 11, Segmentation fault.
#0  0x00007f711e707222 in vrb_poll_cq () from /home/aaoganez/github/liwei/cart/install/Linux/lib/libfabric.so.1
Missing separate debuginfos, use: debuginfo-install glibc-2.17

[2020-02-19 23:54] frostedcmos commented on #5653
Recompiled with --enable-debug and got a bit better trace this time. Looks like ctx->ep is NULL at the point of failure. The issue is much harder to reproduce with libfabric debug enabled

Core was generated by `tests/iv_server -v 3'.
Program terminated with signal 11, Segmentation fault.
#0  0x00007f21b4f8f267 in vrb_poll_cq (cq=0x25a0bb0, wc=0x7f21b041f250) at prov/verbs/src/verbs_cq.c:242
242

[2020-02-20 18:00] shefty commented on #5647
I think what we might want is an environment variable to disable huge pages by default.  If that variable is set, then ofi_get_hugepage_size() can just return -FI_ENOENT.  That should provide the proper fallback everywhere.

[2020-02-20 18:52] frostedcmos commented on #5653
Similar failure is seen on the client side:
Core was generated by `tests/iv_client -o shutdown -r 4 -o shutdown -r 3 -o shutdown -r 2 -o shutdown'.
Program terminated with signal 11, Segmentation fault.
#0  0x00007f40776af267 in vrb_poll_cq (cq=0x6c4b90, wc=0x7f4072d42da0) at prov/verbs/src/verbs_cq.c:242
242                     ctx->ep->tx_credits++;
Missing separate debuginfos, use: debuginfo-in

[2020-02-21 02:00] zhngaj opened #5656 "prov/shm: RMA read operation fails if CMA is not available."
The RMA read operation with shm provider (e.g., `fi_rma_bw -e rdm -o read -p "shm"` in fabtests) fails if CMA is not available.
This is because no matter what the message size is, the local endpoint always calls `smr_format_iov`, and the remote endpoint has to call `smr_progress_iov`. If CMA is not available, `smr_progress_iov` will fail.

Tested with master [5ef6249](https://github.com/ofiwg/libf

[2020-02-21 03:30] Keepmoving-ZXY opened #5657 "how to capture packet send by usNIC?"
Is there any tools that enable me capture packet sent by `usNIC`, and I also want to know that can `wireshark` parse packet sent by `usNIC`?

[2020-02-21 14:31] krehm commented on #5647
Hmmm, so this is a new environ variable?  So if set, libfabric itself could never use hugepages; I thought hugepage support was added to libfabric for better performance, reduced TLB misses.   One could never un-set the new variable with verbs;ofi_rxm because then the failure I reported here would just happen again.  Non-verbs;ofi_rxm callers would want to unset the variable.  This would have to b

[2020-02-21 17:11] shefty commented on #5647
RDMAV_HUGEPAGES_SAFE is a requirement coming from libibverbs.  Until that is removed, if huge pages are used at all, then it must be set.  See https://linux.die.net/man/3/ibv_fork_init

[code]

[2020-02-21 19:31] zhngaj opened #5659 "prov/shm: RMA write failed in fi_ubertest #49"
### Failure
RMA write failed in fi_ubertest (test 49)

[code]

### To reproduce
1. checkout master branch commit [5ef62492e](https://github.com/ofiwg/libfabric/commit/5ef62492e43ccd2cc87927848b6cba482472d8b7)

2. run server/client command:
Server: FI_SHM_DISABLE_CMA=1 /path/to/libfabric/fabtests/install/bin/fi_ubertest -x
Client: FI_SHM_DISABLE_CMA=1 /path/to/libfabric/fabtests/install/bin/fi_uber

[2020-02-21 20:30] shefty commented on #5657
@jsquyres for the first question ?

Wireshark should be able to parse the packets, which are just UDP/IP.

[2020-02-21 21:22] jsquyres commented on #5657
There are not, sorry.

usNIC is OS Bypass.  By definition, OS tools will not see usNIC traffic.

Your best bet is to run your outbound traffic through an inline analyzer (e.g., even routing through another node running Linux where you can capture the traffic going from one port to another).

[2020-02-21 23:25] Keepmoving-ZXY commented on #5657
ok, I will configure port mirroring on switch.

[2020-02-22 00:36] shefty commented on #5653
Do you know if this occurs at the end of the test that you're running?  If you can display the contents of 'wc' when you hit this, it could help isolate the problem.

I'll work on a change that might help.

[2020-02-22 01:23] frostedcmos commented on #5653
When servers crash it does appear to happen towards the end of the test when servers are instructed to shutdown/finalize. It's unclear at which stage client crashed as the test does following: launch 5 servers, client is then launched sequentially number of times with different arguments, each one sending specific RPC to the server; only 1 client is active at any given time. Segfault on client sid

[2020-02-22 01:28] shefty commented on #5653
I think PR #5661 may fix the issue.  When the work completion status is an error, most of the other fields are uninitialized.  However, we're relying on the opcode to be valid, when it's not.

[2020-02-22 01:30] shefty commented on #5653
From your report:
[code]
this is the problem area.  A 'flush_err' status is related to a posted receive operation.  But the opcode indicates send.  That results in the null-dereference that you're hitting.

[2020-02-22 01:37] frostedcmos commented on #5653
I've just tried it out using (git fetch origin pull/5661/head:TEST) and using that local branch, and so far in 20 runs have not hit the segfault issue anymore.

In addition, a different problem of test taking extremely long time to complete (20seconds per rpc) seems to be also resolved now

[2020-02-22 12:12] yimin-zhao commented on #5648
Thanks for your information. Somehow I just don't encounter this error anymore, so I just close this issue here.

[2020-02-22 12:12] #5648 closed

[2020-02-22 13:33] #5657 closed

[2020-02-24 16:40] vschhabra commented on #5331
This issue seems to be related to an MR_CACHE Issue. When cache is disabled, the connection reject does not occur. Closing this issue and opening a new one with related information.

[2020-02-24 16:47] vschhabra opened #5662 "MR_CACHE userfaultfd leads to connection rejects on verbs."
When using Verbs provider, we are seeing connection rejects leading to a failure of communication.

Client:
libfabric:172083:ofi_rxm:ep_ctrl:rxm_conn_handle_reject():1143<warn>connection reject:
 no reject error data (cm_data) was found (data length expected: 2
 found: 0)

On Server we see:

libfabric:180424:core:mr:ofi_monitor_subscribe():205<warn>
Failed (ret = -14) to monitor addr=0x7fb20404178

[2020-02-24 16:47] #5331 closed

[2020-02-24 21:46] aingerson commented on #5656
@zhngaj Working on fixing this btw

[2020-02-24 22:54] jswaro opened #5665 "regression: f7819ca to 66d0475, getinfo failing"
commit fa08835bc7b67fb24e60f8f041426e94843dea5c (origin/master, origin/HEAD, master)
Merge: f7819caa2 66d0475ed
Author: aingerson <alexia.ingerson@intel.com>
Date:   Mon Feb 24 12:44:21 2020 -0800

    Merge pull request #5628 from aingerson/directed_recv

    fabtests/getinfo_test, prov/psm2, rxm, rxd, shm, udp, verbs, sockets, efa: test capability sets

Tests running fi_send* and fi_inject* vari

[2020-02-24 22:55] jswaro commented on #5665
@aingerson @shefty

[2020-02-24 22:55] jswaro commented on #5665
Our testing only runs with ofi-rxm+verbs to help narrow it down.

[2020-02-24 23:05] shefty commented on #5665
It would help to know what tests you see failing.  The fabtests are passing with verbs + rxm locally for us.

[2020-02-25 00:19] shefty commented on #5662
Email communication indicated that using the memhooks cache monitor also worked.

[2020-02-25 00:39] shefty commented on #5662
pull request #5666 changes the default memory monitor option until the usefaultfd problem can be resolved.

[2020-02-25 00:58] zhngaj commented on #5659
PR #5667 to fix this issue

[2020-02-25 07:12] #5653 closed

[2020-02-25 07:26] shefty commented on #5659
shm reports that it does not require FI_MR_VIRT_ADDR.  The fi_getinfo call should return with this bit cleared.  Check the non-cma path to ensure that it is using 0-based offsets for RMA.

[2020-02-25 17:16] jswaro commented on #5665
Understood. I wanted to put out the notice last night, then finish adding details this morning.

Fabtests are passing, but multiple applications are failing for us. I have a UPC application that fails to find a provider, in additional to our internal tests (SFT, @tonyzinger).

I can't provide the SFT tests, but I can probably provide the upc test code. MPI does pass. I don't believe we normally ru

[2020-02-25 17:18] jswaro commented on #5665
Understood. I wanted to put out the notice last night, then finish adding details this morning.

Fabtests are passing, but multiple applications are failing for us. I have a UPC application that fails to find a provider, in additional to our internal tests (SFT, @tonyzinger).

I can't provide the SFT tests, but I can probably provide the upc test code. MPI does pass. I don't believe we normally ru

[2020-02-25 17:59] zhngaj commented on #5659
Thanks for your comment, @shefty

You are correct. In this case, I think fi_ubertest 49 needs to use 0-based offsets for RMA even though it requests FI_MR_VIRT_ADDR via hints.
Looking at the function ft_fw_update_info https://github.com/ofiwg/libfabric/blob/b5a1f96f9605eeeae299f2c12cd762c2694195de/fabtests/ubertest/uber.c#L273, it seems that mr_mode update is missing. If this looks reasonable, I c

[2020-02-25 18:25] tonyzinger commented on #5665
Here is the hints information that the SFT Message test is using to select a provider via the fi_getinfo API:
fi_info:
    caps: [ FI_MSG, FI_RECV, FI_SEND, FI_DIRECTED_RECV ]
    mode: [ FI_CONTEXT, FI_LOCAL_MR ]
    addr_format: FI_FORMAT_UNSPEC
    src_addrlen: 0
    dest_addrlen: 0
    src_addr: (null)
    dest_addr: (null)
    handle: (nil)
    fi_tx_attr:
        caps: [ FI_MSG, FI_SEND, FI_

[2020-02-25 21:40] jswaro commented on #5665
Results:
[code]

test.c
[code]

[2020-02-25 21:41] jswaro commented on #5665
I'll look into later tomorrow, but it's here if you want a reproducer.

[2020-02-26 00:43] rwespetal commented on #5662
Does turning on `FI_LOG_LEVEL=warn` give any useful information? I see a print in `ofi_uffd_register` that should give the errno for the failed userfaultfd registration.

Can we have providers override the default if the caching mechanism is not explicitly set? We'd like to keep userfaultfd enabled for EFA.

[2020-02-26 04:49] shefty commented on #5662
I assume the errno is -14.  The monitor can still be set through the environment variable.  Does that work for you?  I'm also okay letting a provider change the default.

[2020-02-26 14:43] aingerson commented on #5665
Sorry for the late reply, I was OOO yesterday.
One thing that immediately jumps out at me is that it seems like your test is requesting tx_attr->caps FI_DIRECTED_RECV which is only an rx_attr. The patch that was merged fixed this in the rxm provider.

[2020-02-26 15:34] tonyzinger commented on #5665
In the SFT Message test case, I have the following caps set in the hints:
     caps: [ FI_MSG, FI_RECV, FI_SEND ]
     fi_tx_attr: caps: [ FI_MSG, FI_SEND, FI_SOURCE ]
     fi_rx_attr: caps: [ FI_MSG, FI_RECV, FI_SOURCE ]
And it still does not find a provider.

[2020-02-26 15:37] aingerson commented on #5665
@tonyzinger FI_SOURCE is also only a receive side capability

[2020-02-26 15:52] tonyzinger commented on #5665
@aingerson Removing the FI_SOURCE capability from the fi_tx_attr resolved the problem.  Along with removing FI_DIRECTED_RECV from the fi_tx_attr caps. The SFT Message test is now passing again.  Thanks for the help.

[2020-02-26 16:10] jswaro commented on #5665
I see, test case failure on our end. I need to reach out to the UPC contributor and see if they are doing something similar.

[2020-02-26 16:21] shefty commented on #5665
Yeah, the definition of which caps were tx vs rx was not clearly defined before.  We're trying to fix that.

[2020-02-26 16:25] jswaro commented on #5665
Thanks for the help and explanation of the changes. Our tests should be passing again and the UPC contributor has been notified of the changes so that they can fix them if they haven't already by now.

[2020-02-26 16:41] zhngaj commented on #5659
I opened another PR #5672 to update the test_info's mr_mode bit with the one returned from the provider.

[2020-02-26 17:35] sdvormwa opened #5674 "Rx and Tx caps are being expanded incorrectly"
In issue #5665, it was noted by @aingerson and @shefty that FI_DIRECTED_RECV | FI_RECV (and presumably also FI_REMOTE_READ | FI_REMOTE_WRITE) shouldn't be set in tx_attrs->caps and that FI_SEND (and presumably also FI_READ | FI_WRITE) shouldn't be set in rx_attrs->caps.  Should users be allowed to specify FI_MSG (similarly FI_RMA) in these?  That seems to be valid per my reading of the man-pages (

[2020-02-26 17:40] aingerson commented on #5674
FI_MSG and FI_RMA (as well as FI_TAGGED and FI_ATOMIC) can be either a tx or rx capability. You are correct in the sense that FI_MSG alone implies SEND | RECV but that applies only to the info->caps case. In the tx_attr and rx_attr caps, it only refers to those capability bits that are applicable in each case.

[2020-02-26 17:51] sdvormwa commented on #5674
I use fi_dupinfo() to duplicate the info returned by the provider and then the only change I make is to explicitly set tx_attrs->caps and rx_attrs->caps to 'FI_RMA|FI_MSG' and pass this new structure to fi_endpoint().  With the changes mentioned in #5665, this now fails to create an endpoint.  Are you saying that this should work?

Looking at the before and after with fi_tostr(), the only changes

[2020-02-26 18:00] shefty commented on #5674
Please see the updated man page for the list of rx/tx caps:
https://ofiwg.github.io/libfabric/master/man/fi_endpoint.3.html
From what you describe with FI_MSG | FI_RMA, this should work, assuming that the provider supports MSG and RMA and those caps are also listed in fi_info:caps.

I'm assuming you had the tx/rx switched in your last comment.

[2020-02-26 18:03] shefty commented on #5665
Re-opening issue.  We want to fix the tx/rx caps because we are seeing confusion.  But if the change is breaking current applications, then we may want to re-think the approach.

[2020-02-26 18:12] shefty commented on #5674
Can you provide the info:caps, tx:caps, and rx:caps for the case that used to work, but is now failing?

I want to understand if we need to ignore invalid caps, rather than rejecting them, so that we don't break existing apps.